{
  "openapi": "3.0.1",
  "info": {
    "title": "Qwen Image Editing",
    "version": "1.0.0",
    "description": "Ali image editing capability document. The public unified endpoint is `/v1/images/edits`, limited to image editing models in the current final Ali whitelist.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Qwen Image",
      "description": "Image editing and image-to-image capabilities for Qwen models"
    }
  ],
  "paths": {
    "/v1/images/edits": {
      "post": {
        "summary": "Qwen Image Editing",
        "description": "For the image editing models in the final Ali whitelist: `qwen-image-2.0-pro` and `wan2.7-image-pro`.\n\nSupports single-image editing and multi-image fusion. Public fields: `model`, `image`, `prompt`, `n`, `size`, `response_format`, `seed`, `watermark`, `prompt_extend`, and `negative_prompt`. Both JSON and `multipart/form-data` are supported.",
        "operationId": "aliImageToImage",
        "tags": [
          "Qwen Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              },
              "examples": {
                "single_image_edit": {
                  "summary": "Single image editing",
                  "value": {
                    "model": "qwen-image-2.0-pro",
                    "prompt": "Change the background to a beach scene",
                    "n": 2,
                    "size": "1536*1024",
                    "watermark": false,
                    "response_format": "url"
                  }
                },
                "multi_image_fusion": {
                  "summary": "Multi-image fusion",
                  "value": {
                    "model": "qwen-image-2.0-pro",
                    "prompt": "The girl in image 1 wears the black dress from image 2, sitting in the pose from image 3",
                    "n": 2,
                    "size": "1024*1536",
                    "prompt_extend": true,
                    "watermark": false,
                    "response_format": "url"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditFormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, returns image editing result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Bad request",
                    "value": {
                      "error": {
                        "message": "Request body is invalid or contains unsupported values",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Authentication failed, for example because the token is missing or invalid."
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "request_too_large": {
                    "summary": "Request body too large",
                    "value": {
                      "error": {
                        "message": "Request body is too large; reduce the input and try again",
                        "type": "api_error",
                        "code": "read_request_body_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The request body is too large."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Quota exceeded or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient quota for this request",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Rate limits were hit or the account ran out of quota."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing error",
                    "value": {
                      "error": {
                        "message": "Internal request processing failed",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The server failed while processing the request."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "Bad upstream response",
                    "value": {
                      "error": {
                        "message": "Upstream service returned an invalid response",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service returned an invalid response."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service unavailable",
                    "value": {
                      "error": {
                        "message": "No available channel for the requested model",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service is temporarily unavailable, or no channel is currently available for this model."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ImageEditRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen-image-2.0-pro",
              "wan2.7-image-pro"
            ],
            "description": "Image editing model name."
          },
          "prompt": {
            "type": "string",
            "description": "Image editing prompt describing desired effect. Supports Chinese and English, max 800 characters."
          },
          "n": {
            "type": "integer",
            "description": "Number of images to generate. qwen-image-2.0, qwen-image-edit-max/plus series support 1-6, qwen-image-edit supports 1 only.",
            "minimum": 1,
            "maximum": 6,
            "default": 1
          },
          "size": {
            "type": "string",
            "description": "Output resolution in format `width*height`. Total pixels between 512*512 and 2048*2048.",
            "example": "1024*1024"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "description": "Response format.",
            "default": "url"
          },
          "seed": {
            "type": "integer",
            "description": "Random seed, range [0, 2147483647]."
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add watermark.",
            "default": false
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "Whether to enable prompt intelligent rewriting.",
            "default": true
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt."
          },
          "extra": {
            "type": "object",
            "description": "Extended parameters containing input and parameters fields.",
            "properties": {
              "input": {
                "type": "object",
                "description": "Alibaba Bailian native input format with messages array."
              },
              "parameters": {
                "type": "object",
                "description": "Alibaba Bailian native parameters."
              }
            }
          }
        }
      },
      "ImageEditFormRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "image"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Qianwen image editing model name.",
            "enum": [
              "qwen-image-2.0-pro",
              "wan2.7-image-pro"
            ]
          },
          "prompt": {
            "type": "string",
            "description": "Image editing prompt."
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "Input image file. Supports multiple images using image[] or image[0], image[1], etc."
          },
          "n": {
            "type": "integer",
            "description": "Number of images to generate."
          },
          "size": {
            "type": "string",
            "description": "Output resolution."
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "default": "url"
          },
          "watermark": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of creation time (seconds)."
          },
          "data": {
            "type": "array",
            "description": "List of generated images.",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Additional result metadata. Returned fields may vary by capability."
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Image download URL. Valid for 24 hours."
          },
          "b64_json": {
            "type": "string",
            "description": "Base64 encoded image data."
          },
          "revised_prompt": {
            "type": "string",
            "description": "Optimized prompt."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Error type, such as `invalid_request_error`, `api_error`, or another upstream-compatible error type."
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
