{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan Reference-to-Video",
    "version": "1.0.0",
    "description": "Wan reference-to-video capability document. The public unified endpoint is `/v1/videos` for creating asynchronous video generation tasks.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan Video",
      "description": "Wan reference-to-video capability"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Wan reference-to-video",
        "description": "For Wan reference-to-video models. The current project implementation exposes Ali `wan2.7-r2v`. After submission, query task status with `GET /v1/videos/{task_id}`.\n\nPublic fields: `model`, `subject_reference`, `prompt`, `seconds`, `size`, `prompt_extend`, `watermark`, and `seed`. `subject_reference` must not be mixed with `image` or `images`.",
        "operationId": "aliReferenceToVideo",
        "tags": [
          "Wan Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferenceToVideoRequest"
              },
              "examples": {
                "reference_to_video": {
                  "summary": "Basic reference-to-video request",
                  "value": {
                    "model": "wan2.7-r2v",
                    "prompt": "Have the character wave to the camera and walk forward slowly.",
                    "seconds": "5",
                    "size": "1080P",
                    "subject_reference": [
                      {
                        "type": "character",
                        "image": [
                          "https://example.com/assets/subject-reference.png"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful, returns video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Bad request",
                    "value": {
                      "error": {
                        "message": "Request body is invalid or contains unsupported values",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Authentication failed, for example because the token is missing or invalid."
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "request_too_large": {
                    "summary": "Request body too large",
                    "value": {
                      "error": {
                        "message": "Request body is too large; reduce the input and try again",
                        "type": "api_error",
                        "code": "read_request_body_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The request body is too large."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Quota exceeded or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient quota for this request",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Rate limits were hit or the account ran out of quota."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing error",
                    "value": {
                      "error": {
                        "message": "Internal request processing failed",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The server failed while processing the request."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "Bad upstream response",
                    "value": {
                      "error": {
                        "message": "Upstream service returned an invalid response",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service returned an invalid response."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service unavailable",
                    "value": {
                      "error": {
                        "message": "No available channel for the requested model",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service is temporarily unavailable, or no channel is currently available for this model."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Query Ali Video Generation Task Status",
        "description": "Query video generation task status and results by task ID.\n\nTask status flow: PENDING → RUNNING → SUCCEEDED/FAILED.",
        "operationId": "aliQueryVideoStatus",
        "tags": [
          "Ali Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Video generation task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful, returns task status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task not found or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "not_found": {
                    "summary": "Task not found",
                    "value": {
                      "error": {
                        "message": "Task not found or expired",
                        "type": "api_error",
                        "code": "task_not_found",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Authentication failed, for example because the token is missing or invalid."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Quota exceeded or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient quota for this request",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Rate limits were hit or the account ran out of quota."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing error",
                    "value": {
                      "error": {
                        "message": "Internal request processing failed",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The server failed while processing the request."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "Bad upstream response",
                    "value": {
                      "error": {
                        "message": "Upstream service returned an invalid response",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service returned an invalid response."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service unavailable",
                    "value": {
                      "error": {
                        "message": "No available channel for the requested model",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service is temporarily unavailable, or no channel is currently available for this model."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Task unique identifier."
          },
          "task_id": {
            "type": "string",
            "description": "Task ID (same as id)."
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string",
            "description": "Model name used."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled"
            ],
            "description": "Task status."
          },
          "progress": {
            "type": "integer",
            "description": "Task progress (percentage)."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of creation time (seconds)."
          }
        }
      },
      "VideoTaskQueryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled"
            ],
            "description": "Task status."
          },
          "progress": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "completed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of completion time (seconds), returned only on success."
          },
          "video_url": {
            "type": "string",
            "description": "Generated video download URL. Valid for 24 hours, please save promptly. Returned only when status is succeeded."
          },
          "metadata": {
            "type": "object",
            "description": "Task detailed metadata.",
            "properties": {
              "orig_prompt": {
                "type": "string",
                "description": "Original input prompt."
              },
              "actual_prompt": {
                "type": "string",
                "description": "Optimized prompt (when prompt_extend enabled)."
              },
              "video_duration": {
                "type": "integer",
                "description": "Video duration in seconds."
              },
              "SR": {
                "type": "integer",
                "description": "Resolution level (returned by 2.2 models)."
              },
              "video_ratio": {
                "type": "string",
                "description": "Video aspect ratio (returned by 2.1 models)."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Error type, such as `invalid_request_error`, `api_error`, or another upstream-compatible error type."
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "ReferenceToVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "subject_reference"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.7-r2v"
            ],
            "description": "Wan reference-to-video model. The current project implementation exposes `wan2.7-r2v`."
          },
          "subject_reference": {
            "type": "array",
            "description": "Subject reference input. Must not be mixed with `image` or `images`.",
            "items": {
              "$ref": "#/components/schemas/VideoSubjectReference"
            }
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing desired video content. Supports Chinese and English, max 800 characters."
          },
          "seconds": {
            "type": "string",
            "description": "Video duration in seconds as a string. Current default is `\"5\"`.",
            "default": "5"
          },
          "size": {
            "type": "string",
            "enum": [
              "720P",
              "1080P"
            ],
            "description": "Video resolution tier. The current `wan2.7-r2v` implementation defaults to 1080P. Options: 720P, 1080P.",
            "default": "1080P"
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "Whether to enable prompt optimization. The project forwards this field upstream.",
            "default": false
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark to the generated video.",
            "default": false
          },
          "seed": {
            "type": "integer",
            "description": "Random seed in range [0, 2147483647]."
          }
        }
      },
      "VideoSubjectReference": {
        "type": "object",
        "required": [
          "type",
          "image"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Subject reference type, for example `character`."
          },
          "image": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of subject reference image URLs. The current implementation requires at least one image."
          }
        }
      }
    }
  }
}
