{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan First-Frame to Video Compatibility View",
    "version": "1.0.0",
    "description": "First-frame image-to-video documentation for Wan models. The public endpoint is `/v1/videos` and creates asynchronous generation tasks.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan Video",
      "description": "Image-to-video capabilities for Wan models"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Wan First-Frame to Video",
        "description": "Compatibility view for Wan first-frame image-to-video requests. This document keeps the legacy single-image public shape under `/v1/videos`.\n\nPublic fields: `model`, `image`, `prompt`, `seconds`, `size`, `prompt_extend`, `watermark`, `seed`, and `negative_prompt`. For channel-specific latest capabilities, use the dedicated capability document.",
        "operationId": "aliFirstFrameToVideo",
        "tags": [
          "Wan Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirstFrameVideoRequest"
              },
              "examples": {
                "first_frame_video": {
                  "summary": "First frame to video",
                  "value": {
                    "model": "first-frame-video-model",
                    "image": "https://example.com/first-frame.jpg",
                    "prompt": "Realistic style, a black kitten curiously looking at the sky, camera moving up from eye level to top-down",
                    "seconds": "5",
                    "size": "720P",
                    "prompt_extend": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful, returns video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Bad request",
                    "value": {
                      "error": {
                        "message": "Request body is invalid or contains unsupported values",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Authentication failed, for example because the token is missing or invalid."
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "request_too_large": {
                    "summary": "Request body too large",
                    "value": {
                      "error": {
                        "message": "Request body is too large; reduce the input and try again",
                        "type": "api_error",
                        "code": "read_request_body_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The request body is too large."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Quota exceeded or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient quota for this request",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Rate limits were hit or the account ran out of quota."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing error",
                    "value": {
                      "error": {
                        "message": "Internal request processing failed",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The server failed while processing the request."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "Bad upstream response",
                    "value": {
                      "error": {
                        "message": "Upstream service returned an invalid response",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service returned an invalid response."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service unavailable",
                    "value": {
                      "error": {
                        "message": "No available channel for the requested model",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service is temporarily unavailable, or no channel is currently available for this model."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Query Ali Video Generation Task Status",
        "description": "Query video generation task status and results by task ID.\n\nTask status flow: PENDING → RUNNING → SUCCEEDED/FAILED.",
        "operationId": "aliQueryVideoStatus",
        "tags": [
          "Ali Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Video generation task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful, returns task status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task not found or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "not_found": {
                    "summary": "Task not found",
                    "value": {
                      "error": {
                        "message": "Task not found or expired",
                        "type": "api_error",
                        "code": "task_not_found",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Authentication failed, for example because the token is missing or invalid."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Quota exceeded or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient quota for this request",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Rate limits were hit or the account ran out of quota."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing error",
                    "value": {
                      "error": {
                        "message": "Internal request processing failed",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The server failed while processing the request."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "Bad upstream response",
                    "value": {
                      "error": {
                        "message": "Upstream service returned an invalid response",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service returned an invalid response."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service unavailable",
                    "value": {
                      "error": {
                        "message": "No available channel for the requested model",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service is temporarily unavailable, or no channel is currently available for this model."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "FirstFrameVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "image"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "First-frame image-to-video model identifier for this compatibility view."
          },
          "image": {
            "type": "string",
            "description": "First frame image URL. Supports HTTP/HTTPS publicly accessible addresses."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing desired video content. Supports Chinese and English, max 800 characters."
          },
          "seconds": {
            "type": "string",
            "description": "String form of the video duration in seconds. Currently fixed at `\"5\"`.",
            "default": "5"
          },
          "size": {
            "type": "string",
            "enum": [
              "480P",
              "720P",
              "1080P"
            ],
            "description": "Video resolution for the compatibility view. Options: 480P, 720P, 1080P.",
            "default": "1080P"
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "Whether to enable prompt intelligent rewriting.",
            "default": true
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add watermark to video.",
            "default": false
          },
          "seed": {
            "type": "integer",
            "description": "Random seed, range [0, 2147483647]."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt describing content to avoid. Max 500 characters."
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Task unique identifier."
          },
          "task_id": {
            "type": "string",
            "description": "Task ID (same as id)."
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string",
            "description": "Model name used."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled"
            ],
            "description": "Task status."
          },
          "progress": {
            "type": "integer",
            "description": "Task progress (percentage)."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of creation time (seconds)."
          }
        }
      },
      "VideoTaskQueryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled"
            ],
            "description": "Task status."
          },
          "progress": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "completed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of completion time (seconds), returned only on success."
          },
          "video_url": {
            "type": "string",
            "description": "Generated video download URL. Valid for 24 hours, please save promptly. Returned only when status is succeeded."
          },
          "metadata": {
            "type": "object",
            "description": "Task detailed metadata.",
            "properties": {
              "orig_prompt": {
                "type": "string",
                "description": "Original input prompt."
              },
              "actual_prompt": {
                "type": "string",
                "description": "Optimized prompt (when prompt_extend enabled)."
              },
              "video_duration": {
                "type": "integer",
                "description": "Video duration in seconds."
              },
              "SR": {
                "type": "integer",
                "description": "Resolution level (returned by 2.2 models)."
              },
              "video_ratio": {
                "type": "string",
                "description": "Video aspect ratio (returned by 2.1 models)."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Error type, such as `invalid_request_error`, `api_error`, or another upstream-compatible error type."
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
