{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan 2.7 Image-to-Video",
    "version": "1.0.0",
    "description": "Customer-facing channel document for Ali `wan2.7-i2v`. The public unified endpoint is `/v1/videos`.\n\nThis document covers only the fields currently implemented by the project for the official `wan2.7-i2v` capability: `model`, `prompt`, `image`, `images`, `media`, `seconds`, and `size`. The project accepts legacy `image` / `images` inputs for compatibility and maps them to the upstream `input.media` protocol.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan 2.7 Video",
      "description": "Ali wan2.7-i2v multimodal image-to-video capability"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Create Wan 2.7 Image-to-Video Task",
        "description": "Submit an asynchronous Ali `wan2.7-i2v` generation task.\n\nThe project supports two input styles:\n- Compatibility style: use `image` for first-frame generation, or `images` with exactly 2 items for first-frame plus last-frame generation.\n- Latest style: use top-level `media`, which maps to the upstream `input.media` protocol.\n\nImplemented official `media.type` values are `first_frame`, `last_frame`, `driving_audio`, and `first_clip`.\n\nSupported `media` combinations in the current project implementation:\n- `first_frame`\n- `first_frame + driving_audio`\n- `first_frame + last_frame`\n- `first_frame + last_frame + driving_audio`\n- `first_clip`\n- `first_clip + last_frame`\n\n`prompt` is optional for this channel capability. `size` supports only `720P` and `1080P`. `seconds` supports integer strings from `2` to `15`.",
        "operationId": "aliWan27I2VCreate",
        "tags": [
          "Wan 2.7 Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Wan27VideoRequest"
              },
              "examples": {
                "wan27_multimodal": {
                  "summary": "Use media with first frame and driving audio",
                  "value": {
                    "model": "wan2.7-i2v",
                    "prompt": "The portrait gradually starts speaking with subtle head motion.",
                    "media": [
                      {
                        "type": "first_frame",
                        "url": "https://example.com/assets/portrait.png"
                      },
                      {
                        "type": "driving_audio",
                        "url": "https://example.com/assets/voice.mp3"
                      }
                    ],
                    "seconds": "8",
                    "size": "720P"
                  }
                },
                "wan27_compatibility_image": {
                  "summary": "Use legacy single image compatibility field",
                  "value": {
                    "model": "wan2.7-i2v",
                    "image": "https://example.com/assets/first-frame.png",
                    "prompt": "The camera slowly pushes in and the character blinks.",
                    "seconds": "5",
                    "size": "1080P"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful. Returns the unified OpenAI-style video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters, such as unsupported `media` combinations or invalid `size` / `seconds` values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid request",
                    "value": {
                      "error": {
                        "message": "unsupported wan2.7-i2v media combination",
                        "type": "invalid_request_error",
                        "code": "invalid_request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or insufficient quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Query Wan 2.7 Image-to-Video Task",
        "description": "Query the latest status of an asynchronous `wan2.7-i2v` task by public task ID.",
        "operationId": "aliWan27I2VQuery",
        "tags": [
          "Wan 2.7 Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Public video task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Current task state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid task ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task not found or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "Wan27VideoRequest": {
        "type": "object",
        "required": [
          "model"
        ],
        "anyOf": [
          {
            "required": [
              "image"
            ]
          },
          {
            "required": [
              "images"
            ]
          },
          {
            "required": [
              "media"
            ]
          }
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.7-i2v"
            ],
            "description": "Ali wan2.7-i2v model."
          },
          "prompt": {
            "type": "string",
            "description": "Optional text prompt. When omitted, generation relies entirely on the provided media inputs."
          },
          "image": {
            "type": "string",
            "description": "Compatibility field for single first-frame input. The project maps it to upstream `media: [{type: first_frame, url: ...}]`."
          },
          "images": {
            "type": "array",
            "description": "Compatibility field for first-frame plus last-frame input. Must contain exactly 2 items in order: `[first_frame, last_frame]`.",
            "items": {
              "type": "string"
            },
            "minItems": 2,
            "maxItems": 2
          },
          "media": {
            "type": "array",
            "description": "Latest multimodal input style for `wan2.7-i2v`. Use this field for official upstream combinations such as first frame + driving audio or first clip continuation.",
            "items": {
              "$ref": "#/components/schemas/Wan27MediaInput"
            }
          },
          "seconds": {
            "type": "string",
            "description": "Video duration in string form. Supported values are integer strings from `2` to `15`.",
            "default": "5"
          },
          "size": {
            "type": "string",
            "enum": [
              "720P",
              "1080P"
            ],
            "description": "Output resolution tier for the current project implementation.",
            "default": "1080P"
          }
        }
      },
      "Wan27MediaInput": {
        "type": "object",
        "required": [
          "type",
          "url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "first_frame",
              "last_frame",
              "driving_audio",
              "first_clip"
            ],
            "description": "Media input type."
          },
          "url": {
            "type": "string",
            "description": "Publicly accessible media URL."
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public task ID."
          },
          "task_id": {
            "type": "string",
            "description": "Public task ID alias."
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string",
            "description": "Model name."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress",
              "completed",
              "failed",
              "unknown"
            ],
            "description": "Unified video task status."
          },
          "progress": {
            "type": "integer",
            "description": "Task progress percentage."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds."
          }
        }
      },
      "VideoTaskQueryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VideoTaskResponse"
          },
          {
            "type": "object",
            "properties": {
              "completed_at": {
                "type": "integer",
                "format": "int64",
                "description": "Completion timestamp when the task reaches a terminal state."
              },
              "metadata": {
                "type": "object",
                "description": "Additional unified metadata. On success, `metadata.url` usually contains the downloadable result URL.",
                "additionalProperties": true
              },
              "error": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
