{
  "openapi": "3.0.1",
  "info": {
    "title": "Qwen image edit",
    "version": "1.0.0",
    "description": "Ali Qwen image edit capability documentation. The unified API endpoint is `/v1/images/edits`. This document describes the public gateway contract for `qwen-image-2.0-pro`, `qwen-image-edit-max`, `qwen-image-edit-plus`, and `qwen-image-edit`: `input.messages[].content[]` carries 1-3 input images and 1 edit instruction, and `parameters` controls negative prompt, count, watermark, and random seed.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API server endpoint"
    }
  ],
  "tags": [
    {
      "name": "Qwen Image",
      "description": "Qwen image edit capability"
    }
  ],
  "paths": {
    "/v1/images/edits": {
      "post": {
        "summary": "Qwen image edit",
        "description": "Calls Ali `qwen-image-2.0-pro`, `qwen-image-edit-max`, `qwen-image-edit-plus`, and `qwen-image-edit` models to perform image editing.\n\nThe `input.messages[0].content[]` array must contain 1-3 `image` objects (input image URL or Base64) and 1 `text` object (edit instruction). The `parameters` field controls negative prompt `negative_prompt`, count `n`, watermark `watermark`, and random seed `seed`. Note: `qwen-image-edit` series does not support `size` and `prompt_extend` parameters.",
        "operationId": "aliQwenImageEdit",
        "tags": [
          "Qwen Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              },
              "examples": {
                "basic_edit": {
                  "summary": "Basic image edit",
                  "value": {
                    "model": "qwen-image-edit",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "image": "https://example.com/input.png"
                            },
                            {
                              "text": "Change the background to a seaside sunset scene"
                            }
                          ]
                        }
                      ]
                    },
                    "parameters": {
                      "n": 1,
                      "watermark": false
                    }
                  }
                },
                "multi_image_edit": {
                  "summary": "Multi-image edit",
                  "value": {
                    "model": "qwen-image-edit-max",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "image": "https://example.com/input1.png"
                            },
                            {
                              "image": "https://example.com/input2.png"
                            },
                            {
                              "text": "Merge the characters from both images into the same scene"
                            }
                          ]
                        }
                      ]
                    },
                    "parameters": {
                      "n": 1,
                      "negative_prompt": "low quality, blurry",
                      "watermark": false,
                      "seed": 0
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Returns the image edit result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g. missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider returned an abnormal response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Upstream provider is temporarily unavailable, or no available channel for the current model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "ImageEditRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen-image-2.0-pro",
              "qwen-image-edit-max",
              "qwen-image-edit-plus",
              "qwen-image-edit"
            ],
            "description": "Image edit model name."
          },
          "input": {
            "$ref": "#/components/schemas/QwenImageEditInput"
          },
          "parameters": {
            "$ref": "#/components/schemas/QwenImageEditParameters"
          }
        }
      },
      "QwenImageEditInput": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "description": "Currently only single-turn messages are supported.",
            "items": {
              "$ref": "#/components/schemas/QwenImageEditMessage"
            }
          }
        }
      },
      "QwenImageEditMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "Fixed to `user`."
          },
          "content": {
            "type": "array",
            "minItems": 2,
            "maxItems": 4,
            "description": "Contains 1-3 `image` objects and 1 `text` object.",
            "items": {
              "$ref": "#/components/schemas/QwenImageEditContentItem"
            }
          }
        }
      },
      "QwenImageEditContentItem": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "Input image URL or Base64. Supports 1-3 images."
          },
          "text": {
            "type": "string",
            "description": "Edit instruction. Only 1 supported."
          }
        }
      },
      "QwenImageEditParameters": {
        "type": "object",
        "properties": {
          "negative_prompt": {
            "type": "string",
            "maxLength": 500,
            "description": "Negative prompt. Maximum 500 characters."
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "default": 1,
            "description": "Number of output images. `qwen-image-edit` series supports 1-6; other models are fixed at 1."
          },
          "watermark": {
            "type": "boolean",
            "default": false,
            "description": "Whether to add a watermark. Disabled by default."
          },
          "seed": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 2147483647,
            "description": "Random seed. Range [0, 2147483647]."
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "output": {
            "$ref": "#/components/schemas/ImageOutput"
          },
          "usage": {
            "$ref": "#/components/schemas/ImageUsage"
          },
          "request_id": {
            "type": "string",
            "description": "Request ID."
          },
          "code": {
            "type": "string",
            "description": "Error code. Only returned when the request fails."
          },
          "message": {
            "type": "string",
            "description": "Error message. Only returned when the request fails."
          }
        }
      },
      "ImageOutput": {
        "type": "object",
        "properties": {
          "choices": {
            "type": "array",
            "description": "List of generation results.",
            "items": {
              "$ref": "#/components/schemas/ImageChoice"
            }
          }
        }
      },
      "ImageChoice": {
        "type": "object",
        "properties": {
          "finish_reason": {
            "type": "string",
            "description": "Finish reason. `stop` on success."
          },
          "message": {
            "$ref": "#/components/schemas/ImageChoiceMessage"
          }
        }
      },
      "ImageChoiceMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Role. Fixed to `assistant`."
          },
          "content": {
            "type": "array",
            "description": "List of generated content items.",
            "items": {
              "$ref": "#/components/schemas/ImageChoiceContentItem"
            }
          }
        }
      },
      "ImageChoiceContentItem": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "Image URL. PNG format. Valid for 24 hours."
          }
        }
      },
      "ImageUsage": {
        "type": "object",
        "properties": {
          "image_count": {
            "type": "integer",
            "description": "Number of generated images."
          },
          "width": {
            "type": "integer",
            "description": "Image width."
          },
          "height": {
            "type": "integer",
            "description": "Image height."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "request_id": {
            "type": "string",
            "description": "Request ID."
          }
        }
      }
    }
  }
}
