{
  "openapi": "3.0.1",
  "info": {
    "title": "阿里语音合成",
    "version": "1.0.0",
    "description": "阿里通道语音合成能力文档。公开统一入口为 `/v1/audio/speech`，当前项目已实现 `qwen3-tts-instruct-flash` 的官方字段子集。\n\n本文档只描述项目当前已实现、且与阿里官方能力一致的字段：`model`、`input`、`voice`、`instructions`、`optimize_instructions`、`language_type`。\n\n流式输出遵循阿里 HTTP 官方语义：客户端需要在请求头中显式设置 `X-DashScope-SSE: enable`。本通道不公开 `stream_format` 字段。\n\n项目计费说明：网关会把上游 `usage.characters` 映射到统一 usage 的 `prompt_tokens_details.audio_tokens`，并保留 `usage.output_tokens -> usage.completion_tokens_details.audio_tokens`；同时会把阿里原始 usage 与归一化 usage 快照写入 consume_detail，便于计费回溯。"
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Ali Audio",
      "description": "阿里语音合成能力"
    }
  ],
  "paths": {
    "/v1/audio/speech": {
      "post": {
        "summary": "阿里语音合成",
        "description": "调用阿里 `qwen3-tts-instruct-flash` 生成语音。\n\n响应约定：\n- 非流式返回阿里官方 JSON 响应；\n- 流式返回 `text/event-stream`，透传阿里 SSE 数据。",
        "operationId": "aliAudioSpeech",
        "tags": [
          "Ali Audio"
        ],
        "parameters": [
          {
            "name": "X-DashScope-SSE",
            "in": "header",
            "required": false,
            "description": "阿里官方 HTTP 流式开关。传 `enable` 时返回 `text/event-stream`。",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliSpeechRequest"
              },
              "examples": {
                "basic": {
                  "summary": "非流式请求",
                  "value": {
                    "model": "qwen3-tts-instruct-flash",
                    "input": "请用略快的语速介绍这款产品。",
                    "voice": "Cherry",
                    "instructions": "语速较快，带有上扬语调。",
                    "optimize_instructions": false,
                    "language_type": "Chinese"
                  }
                },
                "stream": {
                  "summary": "流式请求",
                  "value": {
                    "model": "qwen3-tts-instruct-flash",
                    "input": "Today is a wonderful day to build something people love.",
                    "voice": "Cherry",
                    "language_type": "English"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "调用成功。非流式时返回阿里官方 JSON；流式时返回阿里 SSE 数据。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliSpeechResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "阿里 SSE 事件流。每个事件体可解析为阿里语音响应片段 JSON。"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "AliSpeechRequest": {
        "type": "object",
        "required": [
          "model",
          "input",
          "voice"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen3-tts-instruct-flash"
            ]
          },
          "input": {
            "type": "string",
            "description": "待合成文本。"
          },
          "voice": {
            "type": "string",
            "description": "系统音色名称。当前仅支持本枚举中的音色。",
            "enum": [
              "Cherry",
              "Serena",
              "Ethan",
              "Chelsie",
              "Momo",
              "Vivian",
              "Moon",
              "Maia",
              "Kai",
              "Nofish",
              "Bella",
              "Eldric Sage",
              "Mia",
              "Mochi",
              "Bellona",
              "Vincent",
              "Bunny",
              "Neil",
              "Elias",
              "Arthur",
              "Nini",
              "Seren",
              "Pip",
              "Stella"
            ]
          },
          "instructions": {
            "type": "string",
            "description": "风格控制指令。默认值：无默认值，不设置不生效,长度限制：长度不得超过 1600 Token,支持语言：仅支持中文和英文"
          },
          "optimize_instructions": {
            "type": "boolean",
            "description": "是否优化 `instructions`。显式 `false` 也会保留并透传。"
          },
          "language_type": {
            "type": "string",
            "description": "语言类型。",
            "enum": [
              "Auto",
              "Chinese",
              "English",
              "German",
              "Italian",
              "Portuguese",
              "Spanish",
              "Japanese",
              "Korean",
              "French",
              "Russian"
            ]
          }
        }
      },
      "AliSpeechResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer",
            "description": "HTTP 状态码。"
          },
          "request_id": {
            "type": "string",
            "description": "阿里请求 ID。"
          },
          "code": {
            "type": "string",
            "description": "错误码。成功时通常为空字符串。"
          },
          "message": {
            "type": "string",
            "description": "错误信息。成功时通常为空字符串。"
          },
          "output": {
            "type": "object",
            "properties": {
              "text": {
                "nullable": true
              },
              "finish_reason": {
                "type": "string"
              },
              "choices": {
                "nullable": true
              },
              "audio": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "流式片段中的 Base64 音频数据。非流式通常为空字符串。"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "完整音频文件下载地址。"
                  },
                  "id": {
                    "type": "string",
                    "description": "音频对象 ID。"
                  },
                  "expires_at": {
                    "type": "integer",
                    "description": "音频 URL 过期时间戳。"
                  }
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "input_tokens": {
                "type": "integer"
              },
              "output_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              },
              "characters": {
                "type": "integer",
                "description": "输入字符数。`qwen3-tts-instruct-flash` 结算时主要关注该字段。"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "required": [
          "message",
          "type",
          "param",
          "code"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "param": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}
