{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedream Image Generation",
    "version": "1.0.0",
    "description": "Image capability documentation for the Seedream model family. The public endpoint is `/v1/images/generations` and covers text-to-image, image-to-image, and sequential image workflows.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Seedream Image",
      "description": "Image generation capabilities for Seedream models"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "summary": "Seedream Image Generation",
        "description": "For Seedream image models.\n\nSupported models include `seedream-5-0-260128`, `seedream-4-5-251128`, and `seedream-4-0-250828`. This document covers `model`, `prompt`, `image`, `size`, `seed`, `sequential_image_generation`, `sequential_image_generation_options`, `response_format`, and `watermark`. Generated file links are typically temporary and should be downloaded promptly.",
        "operationId": "byteplusImageGenerations",
        "tags": [
          "Seedream Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              },
              "examples": {
                "text_to_image": {
                  "summary": "Text to image",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "prompt": "A cute corgi running on grass, sunny day, realistic style",
                    "size": "2048x2048",
                    "response_format": "url"
                  }
                },
                "image_to_image": {
                  "summary": "Image to image",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "prompt": "Transform the image into Studio Ghibli animation style",
                    "image": "https://example.com/input.jpg",
                    "size": "2048x2048"
                  }
                },
                "sequential_images": {
                  "summary": "Sequential image generation",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "prompt": "A set of four seasons landscape illustrations, spring summer autumn winter",
                    "sequential_image_generation": "auto",
                    "response_format": "url"
                  }
                },
                "multi_image_reference": {
                  "summary": "Multi-image reference generation",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "prompt": "Combine the styles of these images to generate a new landscape",
                    "image": [
                      "https://example.com/ref1.jpg",
                      "https://example.com/ref2.jpg"
                    ]
                  }
                },
                "sequential_images_with_limit": {
                  "summary": "Limit sequential image count",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "prompt": "A set of four seasons landscape illustrations, spring summer autumn winter",
                    "sequential_image_generation": "auto",
                    "sequential_image_generation_options": {
                      "max_images": 3
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, returns image generation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Bad request",
                    "value": {
                      "error": {
                        "message": "Request body is invalid or contains unsupported values",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Authentication failed, for example because the token is missing or invalid."
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "request_too_large": {
                    "summary": "Request body too large",
                    "value": {
                      "error": {
                        "message": "Request body is too large; reduce the input and try again",
                        "type": "api_error",
                        "code": "read_request_body_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The request body is too large."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Quota exceeded or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient quota for this request",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Rate limits were hit or the account ran out of quota."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing error",
                    "value": {
                      "error": {
                        "message": "Internal request processing failed",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The server failed while processing the request."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "Invalid service response",
                    "value": {
                      "error": {
                        "message": "The model service returned an invalid response",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The model service returned an invalid response."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service unavailable",
                    "value": {
                      "error": {
                        "message": "No available channel for the requested model",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The model service is temporarily unavailable, or the requested model is not currently available."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedream-5-0-260128",
              "seedream-4-5-251128",
              "seedream-4-0-250828"
            ],
            "description": "Image generation model name. Supported models include `seedream-5-0-260128`, `seedream-4-5-251128`, and `seedream-4-0-250828`."
          },
          "prompt": {
            "type": "string",
            "description": "Image generation prompt. Recommended max 300 Chinese characters or 600 English words."
          },
          "image": {
            "anyOf": [
              {
                "type": "string",
                "description": "Single reference image URL or Base64."
              },
              {
                "type": "array",
                "description": "Multiple reference images (2-14) for multi-image fusion/sequential generation.",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "maxItems": 14
              }
            ],
            "description": "Reference images. The public Seedream models currently documented here support 1-14 reference images."
          },
          "size": {
            "type": "string",
            "description": "Output image size.\n- seedream-5-0-260128: supports 2K/3K or custom (total pixels 3686400-10404496, aspect ratio 1/16-16)\n- seedream-4-5-251128: supports 2K/4K or custom (total pixels 3686400-16777216, aspect ratio 1/16-16)\n- seedream-4-0-250828: supports 1K/2K/4K or custom (total pixels 921600-16777216, aspect ratio 1/16-16)",
            "example": "2048x2048"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "description": "Response format.",
            "default": "url"
          },
          "seed": {
            "type": "integer",
            "description": "Random seed. Supported by some Seedream models. Range [-1, 2147483647].",
            "default": -1
          },
          "sequential_image_generation": {
            "type": "string",
            "enum": [
              "auto",
              "disabled"
            ],
            "description": "Sequential image generation switch. auto for auto mode, disabled for single image. Supported by the Seedream models currently documented here.",
            "default": "disabled"
          },
          "sequential_image_generation_options": {
            "type": "object",
            "description": "Sequential image generation options. Effective only when `sequential_image_generation=auto`.",
            "properties": {
              "max_images": {
                "type": "integer",
                "description": "Maximum number of images allowed for this request. Range 1-15, and the sum of reference images plus generated images must not exceed 15.",
                "minimum": 1,
                "maximum": 15,
                "default": 15
              }
            }
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add watermark.",
            "default": true
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of creation time (seconds)."
          },
          "data": {
            "type": "array",
            "description": "List of generated images. May contain multiple images in sequential generation.",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Additional result metadata. Returned fields may vary by capability."
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Image download URL. Valid for 24 hours, please save promptly."
          },
          "b64_json": {
            "type": "string",
            "description": "Base64 encoded image data."
          },
          "size": {
            "type": "string",
            "description": "Image size (widthxheight). Only seedream-5.0-lite/4.5/4.0 return this."
          },
          "error": {
            "type": "object",
            "description": "Single image generation error info.",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Error type, such as `invalid_request_error` or `api_error`."
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
