{
  "openapi": "3.0.1",
  "info": {
    "title": "Vidu Image-to-Video",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top"
    }
  ],
  "paths": {
    "/vidu/v1/videos/img2video": {
      "post": {
        "summary": "Vidu Image-to-Video",
        "operationId": "viduImageToVideoEn",
        "description": "Convert images to videos using the Vidu model. After submission, query status via `GET /vidu/v1/videos/{task_id}`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageToVideoRequest"
              },
              "examples": {
                "basic_image_to_video": {
                  "summary": "Basic image-to-video",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/image.png"
                    ],
                    "prompt": "Animate the scene in the image"
                  }
                },
                "with_audio": {
                  "summary": "Image-to-video with audio (q3 model)",
                  "value": {
                    "model": "viduq3-pro",
                    "images": [
                      "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAE..."
                    ],
                    "audio": true,
                    "audio_type": "all",
                    "duration": 5
                  }
                },
                "with_recommended_prompt": {
                  "summary": "With recommended prompt",
                  "value": {
                    "model": "viduq3-pro-fast",
                    "images": [
                      "https://example.com/character.jpg"
                    ],
                    "is_rec": true,
                    "resolution": "720p"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful, returns a video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageToVideoResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Submission successful",
                    "value": {
                      "task_id": "your_task_id_here",
                      "state": "created",
                      "model": "viduq3-pro",
                      "images": [
                        "https://prod-ss-images.s3.cn-northwest-1.amazonaws.com.cn/vidu-maas/template/image2video.png"
                      ],
                      "prompt": "The astronaut waved and the camera moved up.",
                      "duration": 5,
                      "seed": 123456789,
                      "resolution": "1080p",
                      "movement_amplitude": "auto",
                      "payload": "",
                      "off_peak": false,
                      "credits": 10,
                      "created_at": "2025-01-01T15:41:31.968916Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid parameters",
                    "value": {
                      "code": "bad_request_body",
                      "message": "Request body format error or invalid field values",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "code": "access_denied",
                      "message": "Invalid token",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded or insufficient quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Insufficient quota",
                    "value": {
                      "code": "insufficient_user_quota",
                      "message": "Insufficient account quota, please try again later",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "server_error": {
                    "summary": "Server error",
                    "value": {
                      "code": "internal_server_error",
                      "message": "Internal server error, please try again later",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "ImageToVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "images"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "viduq3-pro-fast",
              "viduq3-turbo",
              "viduq3-pro"
            ],
            "description": "Video generation model name.\n- **viduq3-pro-fast**: Efficiently generate high-quality audio and video content with faster generation speed and high cost-effectiveness\n- **viduq3-turbo**: Compared to viduq3-pro, the generation speed is faster\n- **viduq3-pro**: Supports audio-video synchronization, supports storyboard video generation"
          },
          "images": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "items": {
              "type": "string"
            },
            "description": "An image to be used as the start frame of the generated video.\n- Only accepts 1 image\n- Accepts public URL or Base64 format\n- Supported formats: png, jpeg, jpg, webp\n- The aspect ratio of the images must be between 1:4 and 4:1\n- Single image limited to 50MB\n- HTTP request body should not exceed 20MB\n- Base64 format example: `data:image/png;base64,{base64_encode}`"
          },
          "prompt": {
            "type": "string",
            "maxLength": 5000,
            "description": "Text prompt for describing video generation content.\nNote: If the recommended prompt feature is enabled (is_rec=true), the model will ignore the manually entered prompt parameter."
          },
          "voice_id": {
            "type": "string",
            "description": "Voice ID, used to determine the voice character in the video. **Q3 series models are not effective**.\nThe system will automatically recommend a suitable voice, and you can also clone any voice through the Voice Cloning API."
          },
          "is_rec": {
            "type": "boolean",
            "default": false,
            "description": "Whether to use the recommended prompt.\n- **true**: Yes, the system will automatically generate and apply a recommended prompt. Number of recommended prompts = 1\n- **false**: No, the video will be generated based on the user-provided prompt\nNote: When the recommended prompt feature is enabled, each task will consume an additional 10 credits."
          },
          "bgm": {
            "type": "boolean",
            "default": false,
            "description": "Whether to add background music to the generated video. **Ineffective for q3 model**.\n- **true**: The system will automatically add a suitable BGM, no time limit, system automatically adapts\n- **false**: Do not add background music\nNote: BGM does not take effect when the duration of the q2 model is 9 or 10 seconds; BGM is not available in q3 models."
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "Whether to use direct audio-video generation capability.\n- **false**: No direct audio-video generation, outputs silent video\n- **true**: Direct audio-video generation required, outputs video with sound (including dialogue and sound effects)\nNote 1: The voice_id parameter takes effect only when this parameter is true\nNote 2: When this parameter is true, staggered mode is not supported (q3 model supports staggered mode)\nNote 3: When model is q3, the default value for this parameter is true"
          },
          "audio_type": {
            "type": "string",
            "enum": [
              "all",
              "speech_only",
              "sound-effect_only"
            ],
            "default": "all",
            "description": "Audio type, required when audio is true.\n- **all**: Sound effects + vocals\n- **speech_only**: Vocal only\n- **sound-effect_only**: Sound effects only\nNote: Currently, this parameter only supports audio splitting for q2, q1, and 2.0 series models."
          },
          "duration": {
            "type": "integer",
            "description": "Video duration in seconds. Default values vary by model:\n- **viduq3-pro-fast, viduq3-pro, viduq3-turbo**: default 5, available: 1-16"
          },
          "seed": {
            "type": "integer",
            "description": "Random seed.\n- Defaults to a random seed number\n- Manually set values will override the default random seed"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "540p",
              "720p",
              "1080p"
            ],
            "description": "Resolution (based on model & duration):\n- **viduq3-pro-fast (1-16s)**: default 720p, options: 720p, 1080p\n- **viduq3-pro, viduq3-turbo (1-16s)**: default 720p, options: 540p, 720p, 1080p"
          },
          "movement_amplitude": {
            "type": "string",
            "enum": [
              "auto",
              "small",
              "medium",
              "large"
            ],
            "default": "auto",
            "description": "The movement amplitude of objects in the frame.\n- Default: auto\n- Accepted values: auto, small, medium, large\nNote: Modifying this parameter is ineffective for q2, q3 models."
          },
          "payload": {
            "type": "string",
            "maxLength": 1048576,
            "description": "Transparent transmission parameters.\nNo processing, only data transmission, with a maximum length of 1048576 characters."
          },
          "off_peak": {
            "type": "boolean",
            "default": false,
            "description": "Off peak mode.\n- **true**: Off peak generate mode\n- **false**: Normal generate mode\nThe off_peak mode consumes lower points (see Pricing for details). Tasks submitted in off peak mode will be generated within 48 hours. Tasks that are not completed will be automatically cancelled and their points will be refunded. We also support cancel off_peak tasks."
          }
        }
      },
      "ImageToVideoResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Task ID."
          },
          "state": {
            "type": "string",
            "enum": [
              "created",
              "queueing",
              "processing",
              "success",
              "failed"
            ],
            "description": "Task processing state:\n- **created**: Task created successfully\n- **queueing**: Task in queue\n- **processing**: Task processing\n- **success**: Generation successful\n- **failed**: Task failed"
          },
          "model": {
            "type": "string",
            "description": "Model parameter used for this call."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt used for this call."
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Images used for this call."
          },
          "duration": {
            "type": "integer",
            "description": "Video duration parameter used for this call."
          },
          "audio": {
            "type": "boolean",
            "description": "Whether to use audio for this call."
          },
          "audio_type": {
            "type": "string",
            "description": "Audio type parameter used for this call."
          },
          "seed": {
            "type": "integer",
            "description": "Random seed parameter used for this call."
          },
          "resolution": {
            "type": "string",
            "description": "Resolution parameter used for this call."
          },
          "movement_amplitude": {
            "type": "string",
            "description": "Camera movement amplitude parameter used for this call."
          },
          "payload": {
            "type": "string",
            "description": "Payload parameter used for this call."
          },
          "off_peak": {
            "type": "boolean",
            "description": "Off-peak mode parameter used for this call."
          },
          "credits": {
            "type": "integer",
            "description": "Credits consumed for this call."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Task creation time."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error description message."
          },
          "data": {
            "type": "object",
            "nullable": true,
            "description": "Additional error data (optional)."
          }
        }
      }
    }
  }
}
