{
  "openapi": "3.0.1",
  "info": {
    "title": "Moonshot 对话补全",
    "version": "1.0.0",
    "description": "Moonshot Chat Completion 的 C 端双语 OpenAPI 文档。公开统一入口为 `/v1/chat/completions`，兼容 OpenAI Chat Completions 风格请求。\n\n本文档基于 `docs/channels/moonshot/chat.html` 的官方 chat 页面，并结合当前网关 Moonshot 通道的实际实现裁剪，只描述这份官方页面中出现且项目当前已实现的字段子集：`model`、`messages`、`max_tokens`、`max_completion_tokens`、`temperature`、`top_p`、`n`、`presence_penalty`、`frequency_penalty`、`response_format`、`stop`、`thinking`、`stream`、`stream_options.include_usage`、`prompt_cache_key`。\n\n当前内置模型列表以 Kimi K2 系列为主，实际可用模型仍取决于你的通道配置。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Moonshot Chat",
      "description": "Moonshot/Kimi 对话补全能力"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Moonshot 对话补全",
        "description": "调用 Moonshot/Kimi 的 chat completions 能力。\n\n当前网关内置的 Moonshot 模型包括 `kimi-k2.5`、`kimi-k2-0905-preview`、`kimi-k2-turbo-preview`、`kimi-k2-thinking`、`kimi-k2-thinking-turbo`。\n\n公开字段：`model`、`messages`、`max_tokens`、`max_completion_tokens`、`temperature`、`top_p`、`n`、`presence_penalty`、`frequency_penalty`、`response_format`、`stop`、`thinking`、`stream`、`stream_options.include_usage`、`prompt_cache_key`。",
        "operationId": "moonshotChatCompletions",
        "tags": [
          "Moonshot Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "basic_chat": {
                  "summary": "基础文本对话",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是一个简洁专业的助手。"
                      },
                      {
                        "role": "user",
                        "content": "请用三句话解释什么是上下文缓存。"
                      }
                    ],
                    "max_completion_tokens": 512
                  }
                },
                "json_mode": {
                  "summary": "JSON 输出模式",
                  "value": {
                    "model": "kimi-k2-turbo-preview",
                    "messages": [
                      {
                        "role": "user",
                        "content": "请输出一个 JSON，对象中包含 summary 和 keywords 字段。"
                      }
                    ],
                    "response_format": {
                      "type": "json_object"
                    },
                    "stream": false
                  }
                },
                "thinking_stream": {
                  "summary": "思考模式与流式返回",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "分析一下向量数据库和全文检索的主要差异。"
                      }
                    ],
                    "thinking": {
                      "type": "enabled"
                    },
                    "stream": true,
                    "stream_options": {
                      "include_usage": true
                    },
                    "prompt_cache_key": "session-42"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "调用成功。非流式模式返回 JSON；流式模式返回 SSE 事件流。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "success": {
                    "summary": "非流式成功响应",
                    "value": {
                      "id": "cmpl-1305b94c570f447fbde3180560736287",
                      "object": "chat.completion",
                      "created": 1698999575,
                      "model": "kimi-k2.5",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "上下文缓存用于复用相似请求的前缀计算结果，从而降低延迟与成本。"
                          },
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 19,
                        "completion_tokens": 13,
                        "total_tokens": 32
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE 数据流。每个 `data:` 事件都可按 Moonshot/OpenAI 兼容的 Chat Completions Chunk 解析；结束时通常返回 `data: [DONE]`。"
                },
                "examples": {
                  "stream": {
                    "summary": "流式响应片段",
                    "value": "data: {\"id\":\"cmpl-1305b94c570f447fbde3180560736287\",\"object\":\"chat.completion.chunk\",\"created\":1698999575,\"model\":\"kimi-k2.5\",\"choices\":[{\"index\":0,\"delta\":{\"role\":\"assistant\",\"content\":\"你好\"},\"finish_reason\":null}]}\n\ndata: {\"id\":\"cmpl-1305b94c570f447fbde3180560736287\",\"object\":\"chat.completion.chunk\",\"created\":1698999575,\"model\":\"kimi-k2.5\",\"choices\":[{\"index\":0,\"delta\":{},\"finish_reason\":\"stop\"}],\"usage\":{\"prompt_tokens\":19,\"completion_tokens\":13,\"total_tokens\":32}}\n\ndata: [DONE]\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "error": {
                        "message": "Invalid request: messages is required",
                        "type": "invalid_request_error",
                        "code": "invalid_request_error"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "模型不存在或无访问权限。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "not_found": {
                    "summary": "模型不存在",
                    "value": {
                      "error": {
                        "message": "Not found the model kimi-unknown or Permission denied",
                        "type": "resource_not_found_error",
                        "code": "resource_not_found_error"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "达到速率限制或上游引擎过载。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "速率限制",
                    "value": {
                      "error": {
                        "message": "Your account request reached organization max RPM",
                        "type": "rate_limit_reached_error",
                        "code": "rate_limit_reached_error"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "description": "Moonshot chat completions 请求体。",
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。当前网关内置的 Moonshot 模型包括 `kimi-k2.5`、`kimi-k2-0905-preview`、`kimi-k2-turbo-preview`、`kimi-k2-thinking`、`kimi-k2-thinking-turbo`。实际可用模型仍取决于通道配置。",
            "example": "kimi-k2.5"
          },
          "messages": {
            "type": "array",
            "description": "对话消息列表。每项都包含 `role` 和 `content`。`content` 可以是字符串，也可以是多模态内容分片数组。",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "max_tokens": {
            "type": "integer",
            "deprecated": true,
            "description": "已废弃。Moonshot 官方建议改用 `max_completion_tokens`。"
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "生成的最大输出 token 数。如果生成达到上限仍未结束，`finish_reason` 会是 `length`；否则通常为 `stop`。",
            "minimum": 1
          },
          "temperature": {
            "type": "number",
            "description": "采样温度，取值范围 `[0, 1]`。注意：`kimi-k2.5` 不支持修改该参数。",
            "minimum": 0,
            "maximum": 1
          },
          "top_p": {
            "type": "number",
            "description": "核采样阈值。通常建议与 `temperature` 二选一调优。注意：`kimi-k2.5` 使用固定默认值，不能修改。",
            "minimum": 0,
            "maximum": 1
          },
          "n": {
            "type": "integer",
            "description": "为每条输入生成多少个候选结果。Moonshot 官方说明一般不超过 5；`kimi-k2.5` 的默认值为 1，且不可修改。",
            "minimum": 1
          },
          "presence_penalty": {
            "type": "number",
            "description": "存在惩罚，取值范围 `[-2, 2]`。`kimi-k2.5` 不支持修改该参数。",
            "minimum": -2,
            "maximum": 2
          },
          "frequency_penalty": {
            "type": "number",
            "description": "频率惩罚，取值范围 `[-2, 2]`。`kimi-k2.5` 不支持修改该参数。",
            "minimum": -2,
            "maximum": 2
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "stop": {
            "description": "停止词。可以是单个字符串，也可以是字符串数组。官方要求最多 5 个字符串，每个字符串不超过 32 字节。",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "maxItems": 5
              }
            ]
          },
          "thinking": {
            "$ref": "#/components/schemas/ThinkingConfig"
          },
          "stream": {
            "type": "boolean",
            "description": "是否启用流式输出。",
            "default": false
          },
          "stream_options": {
            "$ref": "#/components/schemas/StreamOptions"
          },
          "prompt_cache_key": {
            "type": "string",
            "description": "用于缓存相似请求的响应，以提高缓存命中率。多轮对话或 Agent 场景建议设置稳定值。"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "聊天消息对象。",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ],
            "description": "消息角色。Moonshot 官方 chat 页面只列出 `system`、`user`、`assistant`。"
          },
          "content": {
            "description": "消息内容。可以直接是字符串，也可以是多模态内容分片数组。",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ]
          }
        }
      },
      "ContentPart": {
        "type": "object",
        "required": [
          "type"
        ],
        "description": "多模态内容分片。只有在使用 Moonshot 官方支持的视觉模型时才会生效。",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url",
              "video_url"
            ],
            "description": "内容分片类型。"
          },
          "text": {
            "type": "string",
            "description": "文本内容。当 `type` 为 `text` 时使用。"
          },
          "image_url": {
            "$ref": "#/components/schemas/ImageURLPart"
          },
          "video_url": {
            "$ref": "#/components/schemas/VideoURLPart"
          }
        }
      },
      "ImageURLPart": {
        "type": "object",
        "required": [
          "url"
        ],
        "description": "图片输入对象。官方说明 `url` 支持 base64 数据，也支持 `ms://<file_id>` 格式。",
        "properties": {
          "url": {
            "type": "string",
            "description": "图片地址、base64 数据或 `ms://<file_id>`。"
          }
        }
      },
      "VideoURLPart": {
        "type": "object",
        "required": [
          "url"
        ],
        "description": "视频输入对象。官方说明 `url` 支持 base64 数据，也支持 `ms://<file_id>` 格式。",
        "properties": {
          "url": {
            "type": "string",
            "description": "视频地址、base64 数据或 `ms://<file_id>`。"
          }
        }
      },
      "ResponseFormat": {
        "type": "object",
        "description": "输出格式控制。设置为 `{\"type\":\"json_object\"}` 可启用 JSON 模式。",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "json_object"
            ],
            "default": "text",
            "description": "输出格式类型。"
          }
        }
      },
      "ThinkingConfig": {
        "type": "object",
        "description": "思考模式配置。Moonshot 官方说明该字段仅对 `kimi-k2.5` 有效。",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "default": "enabled",
            "description": "是否启用思考。"
          }
        }
      },
      "StreamOptions": {
        "type": "object",
        "description": "流式响应附加选项。",
        "properties": {
          "include_usage": {
            "type": "boolean",
            "default": false,
            "description": "若为 `true`，在 `data: [DONE]` 前额外返回一个带总 usage 的 chunk。"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "非流式对话补全响应。",
        "properties": {
          "id": {
            "type": "string",
            "description": "响应 ID。"
          },
          "object": {
            "type": "string",
            "example": "chat.completion",
            "description": "对象类型。"
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix 时间戳（秒）。"
          },
          "model": {
            "type": "string",
            "description": "实际使用的模型。"
          },
          "choices": {
            "type": "array",
            "description": "候选结果列表。",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "description": "单个候选结果。",
        "properties": {
          "index": {
            "type": "integer",
            "description": "候选下标。"
          },
          "message": {
            "$ref": "#/components/schemas/ResponseMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "生成结束原因，例如 `stop` 或 `length`。"
          }
        }
      },
      "ResponseMessage": {
        "type": "object",
        "description": "模型返回的消息。",
        "properties": {
          "role": {
            "type": "string",
            "description": "消息角色，通常为 `assistant`。"
          },
          "content": {
            "type": "string",
            "description": "模型生成的文本内容。"
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Token 使用统计。",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "输入 token 数。"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "输出 token 数。"
          },
          "total_tokens": {
            "type": "integer",
            "description": "总 token 数。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "description": "统一错误响应。",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "错误信息。"
              },
              "type": {
                "type": "string",
                "description": "错误类型。"
              },
              "code": {
                "type": "string",
                "description": "错误码。"
              }
            }
          }
        }
      }
    }
  }
}
