{
  "openapi": "3.0.1",
  "info": {
    "title": "HappyHorse 1.1 Text to Video",
    "version": "1.0.0",
    "description": "Aliyun HappyHorse `happyhorse-1.1-t2v` text-to-video capability documentation. The unified API endpoint is `/ali/api/v1/services/aigc/video-generation/video-synthesis`, used to create asynchronous video generation tasks. Generates physically realistic and smoothly moving video content from a text prompt.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API server endpoint"
    }
  ],
  "tags": [
    {
      "name": "HappyHorse Video",
      "description": "Aliyun HappyHorse video generation capability"
    }
  ],
  "paths": {
    "/ali/api/v1/services/aigc/video-generation/video-synthesis": {
      "post": {
        "summary": "Create happyhorse-1.1-t2v text-to-video task",
        "description": "Submit an asynchronous Aliyun HappyHorse `happyhorse-1.1-t2v` text-to-video task.\n\nAfter submitting a task, query its status via `GET /ali/api/v1/tasks/{task_id}`.",
        "operationId": "aliHappyHorse11T2VCreate",
        "tags": [
          "HappyHorse Video"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Request content type. This parameter must be set to application/json."
          },
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Asynchronous processing configuration parameter. HTTP requests only support async mode and must be set to enable. Missing this header will raise the error: \"current user api does not support synchronous calls\"."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HappyHorse11T2VRequest"
              },
              "examples": {
                "text_to_video": {
                  "summary": "Text to video",
                  "value": {
                    "model": "happyhorse-1.1-t2v",
                    "input": {
                      "prompt": "一座由硬纸板和瓶盖搭建的微型城市，在夜晚焕发出生机。一列硬纸板火车缓缓驶过，小灯点缀其间，照亮前路。"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted successfully. Returns a video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                },
                "example": {
                  "output": {
                    "task_status": "PENDING",
                    "task_id": "0385dc79-5ff8-4d82-bcb6-xxxxxx"
                  },
                  "request_id": "4909100c-7b5a-9f92-bfe5-xxxxxx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g. missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/ali/api/v1/tasks/{task_id}": {
      "get": {
        "summary": "Query happyhorse-1.1-t2v video task status",
        "description": "Query the status and result of a video generation task by task ID.\n\nTask status flow: PENDING (queued) -> RUNNING (processing) -> SUCCEEDED (success) / FAILED (failure).",
        "operationId": "aliHappyHorse11T2VQuery",
        "tags": [
          "HappyHorse Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Video generation task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful. Returns the task status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task does not exist or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "HappyHorse11T2VRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "happyhorse-1.1-t2v"
            ],
            "description": "Model name. Available value: `happyhorse-1.1-t2v`."
          },
          "input": {
            "$ref": "#/components/schemas/HappyHorse11T2VInput"
          },
          "parameters": {
            "$ref": "#/components/schemas/HappyHorse11T2VParameters"
          }
        }
      },
      "HappyHorse11T2VInput": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the desired video content. Supports input in any language, up to 5000 non-Chinese characters or 2500 Chinese characters. Excess content will be automatically truncated.",
            "maxLength": 5000
          }
        }
      },
      "HappyHorse11T2VParameters": {
        "type": "object",
        "properties": {
          "resolution": {
            "type": "string",
            "enum": [
              "720P",
              "1080P"
            ],
            "description": "Specifies the resolution tier of the generated video.\n- `720P`\n- `1080P`: default value.",
            "default": "1080P"
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "4:5",
              "5:4",
              "9:21",
              "21:9"
            ],
            "description": "Specifies the aspect ratio of the generated video.\n- `16:9`: default value.\n- `9:16`\n- `1:1`\n- `4:3`\n- `3:4`\n- `4:5`\n- `5:4`\n- `9:21`\n- `21:9`",
            "default": "16:9"
          },
          "duration": {
            "type": "integer",
            "description": "Specifies the duration of the generated video in seconds. An integer in the range [3, 15]. Default: 5.",
            "minimum": 3,
            "maximum": 15,
            "default": 5
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark on the generated video. The watermark is positioned at the bottom-right corner with the fixed text \"Happy Horse\".\n- `true`: default value, add watermark.\n- `false`: no watermark.",
            "default": true
          },
          "seed": {
            "type": "integer",
            "description": "Random seed, range [0, 2147483647]. When unspecified, the system auto-generates a random seed. For better reproducibility, set a fixed seed. Note: due to the probabilistic nature of model generation, the same seed does not guarantee identical results every time.",
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Task ID. Valid for 24 hours for querying."
              },
              "task_status": {
                "type": "string",
                "description": "Task status.\n\nEnum values:\n- PENDING: Task queued\n- RUNNING: Task processing\n- SUCCEEDED: Task completed successfully\n- FAILED: Task failed\n- CANCELED: Task canceled\n- UNKNOWN: Task does not exist or status unknown"
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "Unique request ID. Can be used for request tracing and issue diagnosis."
          },
          "code": {
            "type": "string",
            "description": "Error code. Only returned when the request fails."
          },
          "message": {
            "type": "string",
            "description": "Error message. Only returned when the request fails."
          }
        }
      },
      "VideoTaskQueryResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Video generation task ID."
              },
              "task_status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ],
                "description": "Task status.\n- `PENDING`: Task queued\n- `RUNNING`: Task processing\n- `SUCCEEDED`: Task completed successfully\n- `FAILED`: Task failed\n- `CANCELED`: Task canceled\n- `UNKNOWN`: Task does not exist or status unknown",
                "x-enum-descriptions": {
                  "PENDING": "Task queued",
                  "RUNNING": "Task processing",
                  "SUCCEEDED": "Task completed successfully",
                  "FAILED": "Task failed",
                  "CANCELED": "Task canceled",
                  "UNKNOWN": "Task does not exist or status unknown"
                }
              },
              "video_url": {
                "type": "string",
                "description": "Download URL for the generated video. Returned only when the task succeeds."
              },
              "orig_prompt": {
                "type": "string",
                "description": "Original input prompt."
              },
              "submit_time": {
                "type": "string",
                "description": "Task submission time."
              },
              "scheduled_time": {
                "type": "string",
                "description": "Task scheduling time."
              },
              "end_time": {
                "type": "string",
                "description": "Task end time."
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "duration": {
                "type": "number",
                "description": "Video duration in seconds."
              },
              "input_video_duration": {
                "type": "number",
                "description": "Input video duration in seconds."
              },
              "output_video_duration": {
                "type": "number",
                "description": "Output video duration in seconds."
              },
              "video_count": {
                "type": "integer",
                "description": "Number of generated videos."
              },
              "SR": {
                "type": "integer",
                "description": "Resolution tier."
              },
              "ratio": {
                "type": "string",
                "description": "Video aspect ratio."
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "Request ID."
          },
          "code": {
            "type": "string",
            "description": "Error code. Only returned when the request fails."
          },
          "message": {
            "type": "string",
            "description": "Error message. Only returned when the request fails."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "request_id": {
            "type": "string",
            "description": "Request ID."
          }
        }
      }
    }
  }
}