{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan Reference-to-Video",
    "version": "1.0.0",
    "description": "Customer-facing channel document for Ali `wan2.7-r2v`. The public unified endpoint is `/v1/videos`.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan 2.7 Video",
      "description": "Ali wan2.7-r2v reference-to-video capability"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Create Wan Reference-to-Video Task",
        "description": "Submit an asynchronous Ali `wan2.7-r2v` generation task.\n\nThis capability uses the top-level `media` array as the public multimodal input. Supported `media.type` values are `reference_image`, `reference_video`, and `first_frame`.\n\nCurrent public rules:\n- `prompt` is required;\n- include at least one `reference_image` or `reference_video` item;\n- you may provide at most five `reference_image` / `reference_video` items in total;\n- `first_frame` is optional and can appear at most once;\n- `size` supports only `720P` and `1080P`;\n- `ratio` supports `16:9`, `9:16`, `1:1`, `4:3`, and `3:4`;\n- `seconds` accepts integer strings from `2` to `15`, but when any `reference_video` is included the allowed range is `2` to `10`.\n\nPrompt referencing follows the submitted `media` order. Refer to image references as `Image 1`, `Image 2`, and to video references as `Video 1`, `Video 2`, counting separately within each media type.",
        "operationId": "aliReferenceToVideoCreate",
        "tags": [
          "Wan 2.7 Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferenceToVideoRequest"
              },
              "examples": {
                "reference_to_video": {
                  "summary": "Single image reference",
                  "value": {
                    "model": "wan2.7-r2v",
                    "prompt": "Image 1 walks toward the camera and waves with a relaxed smile.",
                    "media": [
                      {
                        "type": "reference_image",
                        "url": "https://example.com/assets/subject-reference.png"
                      }
                    ],
                    "seconds": "5",
                    "size": "1080P",
                    "ratio": "16:9",
                    "prompt_extend": true,
                    "watermark": false
                  }
                },
                "reference_to_video_multimodal": {
                  "summary": "Mixed image, video, voice, and first frame references",
                  "value": {
                    "model": "wan2.7-r2v",
                    "prompt": "Video 1 sits at the table and starts speaking. Image 1 walks into frame from the left, while the first frame keeps the opening composition stable.",
                    "negative_prompt": "blurry, distorted hands, low quality",
                    "prompt_extend": false,
                    "watermark": true,
                    "seed": 42,
                    "media": [
                      {
                        "type": "reference_image",
                        "url": "https://example.com/assets/character-a.png",
                        "reference_voice": "https://example.com/assets/character-a-voice.mp3"
                      },
                      {
                        "type": "reference_video",
                        "url": "https://example.com/assets/character-b.mp4"
                      },
                      {
                        "type": "first_frame",
                        "url": "https://example.com/assets/opening-frame.png"
                      }
                    ],
                    "seconds": "8",
                    "size": "720P",
                    "ratio": "9:16"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful. Returns the unified OpenAI-style video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters, such as missing reference media, unsupported `media.type`, invalid `size` / `ratio` / `seconds`, or incompatible field combinations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid request",
                    "value": {
                      "code": "invalid_request",
                      "message": "wan2.7-r2v requires at least one reference_image or reference_video",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g. missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "code": "access_denied",
                      "message": "Invalid token",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request body too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "request_too_large": {
                    "summary": "Request body too large",
                    "value": {
                      "code": "read_request_body_failed",
                      "message": "Request body too large, please reduce the input and retry",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Insufficient quota or rate limited",
                    "value": {
                      "code": "insufficient_user_quota",
                      "message": "Insufficient account quota, please try again later",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing failure",
                    "value": {
                      "code": "gen_relay_info_failed",
                      "message": "Internal processing failed, please try again later",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The upstream provider returned an abnormal response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "Upstream provider response error",
                    "value": {
                      "code": "bad_response_status_code",
                      "message": "The upstream provider returned an invalid response",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "The upstream provider is temporarily unavailable, or no channel is currently available for this model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service temporarily unavailable",
                    "value": {
                      "code": "get_channel_failed",
                      "message": "No available channel for the current model, please try again later",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Query Wan Reference-to-Video Task",
        "description": "Query the latest status of an asynchronous `wan2.7-r2v` task by public task ID.",
        "operationId": "aliReferenceToVideoQuery",
        "tags": [
          "Wan 2.7 Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Public video task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Current task state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, such as a nonexistent task or invalid task ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "task_not_exist": {
                    "summary": "Task not found",
                    "value": {
                      "code": "task_not_exist",
                      "message": "task_not_exist",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g. missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "code": "access_denied",
                      "message": "Invalid token",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Task not found or expired. Note: the current project implementation usually returns 400 task_not_exist for this case.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "not_found": {
                    "summary": "Task not found",
                    "value": {
                      "code": "task_not_exist",
                      "message": "Task does not exist or has expired",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Insufficient quota or rate limited",
                    "value": {
                      "code": "insufficient_user_quota",
                      "message": "Insufficient account quota, please try again later",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing failure",
                    "value": {
                      "code": "get_task_failed",
                      "message": "Internal processing failed, please try again later",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The upstream provider returned an abnormal response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "Upstream provider response error",
                    "value": {
                      "code": "bad_response_status_code",
                      "message": "The upstream provider returned an invalid response",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "The upstream provider is temporarily unavailable, or no channel is currently available for this model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service temporarily unavailable",
                    "value": {
                      "code": "get_channel_failed",
                      "message": "No available channel for the current model, please try again later",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "ReferenceToVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "media"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.7-r2v"
            ],
            "description": "Ali wan2.7-r2v model."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the desired video. Use `Image x` and `Video x` references when multiple reference media items are provided."
          },
          "size": {
            "type": "string",
            "enum": [
              "720P",
              "1080P"
            ],
            "description": "Output resolution tier for the current public implementation.",
            "default": "1080P"
          },
          "seconds": {
            "type": "string",
            "description": "Video duration (seconds) as a string. Default is `\"5\"`.Range: [2, 15] for reference videos containing video, [2, 10] for reference videos without video.",
            "default": "5",
            "enum": [
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15"
            ]
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4"
            ],
            "description": "Output aspect ratio.",
            "default": "16:9"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Optional negative prompt describing content that should not appear in the generated video."
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "Whether to enable prompt rewriting. The default value is `true`."
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark. The default value is `false`.",
            "default": false
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2147483647,
            "description": "Random seed. If omitted, the system generates one automatically."
          },
          "media": {
            "type": "array",
            "description": "Public multimodal input for `wan2.7-r2v`. Include one or more `reference_image` or `reference_video` items, optionally plus one `first_frame` item.",
            "items": {
              "$ref": "#/components/schemas/ReferenceToVideoMediaInput"
            }
          }
        }
      },
      "ReferenceToVideoMediaInput": {
        "type": "object",
        "required": [
          "type",
          "url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "reference_image",
              "reference_video",
              "first_frame"
            ],
            "description": "Reference media type."
          },
          "url": {
            "type": "string",
            "description": "Publicly accessible media URL."
          },
          "reference_voice": {
            "type": "string",
            "description": "Optional voice reference URL. Use it with `reference_image` or `reference_video` when the generated speaker voice should follow that reference."
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public task ID."
          },
          "task_id": {
            "type": "string",
            "description": "Public task ID alias."
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string",
            "description": "Model name."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress",
              "completed",
              "failed",
              "unknown"
            ],
            "description": "Unified video task status."
          },
          "progress": {
            "type": "integer",
            "description": "Task progress percentage."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds."
          }
        }
      },
      "VideoTaskQueryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VideoTaskResponse"
          },
          {
            "type": "object",
            "properties": {
              "completed_at": {
                "type": "integer",
                "format": "int64",
                "description": "Completion timestamp when the task reaches a terminal state."
              },
              "metadata": {
                "type": "object",
                "description": "Additional unified metadata. On success, `metadata.url` usually contains the downloadable result URL.",
                "additionalProperties": true
              },
              "error": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code.",
            "example": "invalid_request"
          },
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "data": {
            "nullable": true,
            "description": "Additional error data. Currently usually null."
          }
        }
      }
    }
  }
}
