{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan 2.7 Video Continuation",
    "version": "1.0.0",
    "description": "Ali `wan2.7-i2v` video continuation capability documentation. The unified API endpoint is `/v1/videos`.\n\nThis document covers the video continuation scenario and uses the top-level `media` array to express the upstream provider's new `input.media` protocol.\n\nSupported `media.type` values for this scenario are `first_clip` and `last_frame`.\n\nSupported `media` combinations:\n- `first_clip`\n- `first_clip + last_frame`\n\nThe `prompt` field is optional for this capability. `size` only supports `720P` and `1080P`. `seconds` only supports integer strings from `2` to `15`. Also supports official fields `negative_prompt`, `prompt_extend`, `watermark`, and `seed`.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API server endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan 2.7 Video",
      "description": "Ali wan2.7-i2v video continuation capability"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Create Wan 2.7 Video Continuation task",
        "description": "Submit an asynchronous Ali `wan2.7-i2v` video continuation task.\n\nUse `first_clip` to specify the initial video segment, optionally paired with `last_frame` for an end frame reference.\n\nSupported `media` combinations:\n- `first_clip`\n- `first_clip + last_frame`\n\nThe `prompt` field is optional for this capability. `size` only supports `720P` and `1080P`. `seconds` only supports integer strings from `2` to `15`. Also supports official fields `negative_prompt`, `prompt_extend`, `watermark`, and `seed`.",
        "operationId": "aliWan27I2VVideoContinuation",
        "tags": [
          "Wan 2.7 Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Wan27VideoContinuationRequest"
              },
              "examples": {
                "first_clip_only": {
                  "summary": "First clip only",
                  "value": {
                    "model": "wan2.7-i2v",
                    "prompt": "The character continues walking naturally forward, maintaining the same style as the input clip.",
                    "media": [
                      {
                        "type": "first_clip",
                        "url": "https://example.com/assets/input.mp4"
                      }
                    ],
                    "seconds": "5",
                    "size": "1080P"
                  }
                },
                "first_clip_with_last_frame": {
                  "summary": "First clip + last frame",
                  "value": {
                    "model": "wan2.7-i2v",
                    "prompt": "The character transitions naturally from walking to a standing pose.",
                    "media": [
                      {
                        "type": "first_clip",
                        "url": "https://example.com/assets/input.mp4"
                      },
                      {
                        "type": "last_frame",
                        "url": "https://example.com/assets/end-pose.png"
                      }
                    ],
                    "seconds": "5",
                    "size": "1080P"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted successfully. Returns an OpenAI-compatible video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters, e.g. unsupported `media` combination, or `size` / `seconds` out of supported range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid request",
                    "value": {
                      "error": {
                        "message": "unsupported wan2.7-i2v media combination",
                        "type": "invalid_request_error",
                        "code": "invalid_request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Query Wan 2.7 Video Continuation task",
        "description": "Query the latest status of a `wan2.7-i2v` video continuation asynchronous task by its public task ID.",
        "operationId": "aliWan27I2VVideoContinuationQuery",
        "tags": [
          "Wan 2.7 Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Public video task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Current task status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid task ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task does not exist or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "Wan27VideoContinuationRequest": {
        "type": "object",
        "required": [
          "model",
          "media"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.7-i2v"
            ],
            "description": "Model name. Available value: `wan2.7-i2v`."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the desired video content and visual characteristics. Supports Chinese and English, up to 5000 characters (each character or letter counts as one). Excess characters will be automatically truncated."
          },
          "size": {
            "type": "string",
            "enum": [
              "720P",
              "1080P"
            ],
            "description": "Specifies the output resolution tier for controlling video clarity (total pixels).\n\nThe model automatically scales to a similar total pixel count based on the selected resolution tier. The video aspect ratio will attempt to stay consistent with the input material (first frame or first clip).",
            "default": "1080P"
          },
          "seconds": {
            "type": "string",
            "description": "Video duration as a string. Supports integer strings from `2` to `15`.",
            "default": "5",
            "enum": [
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15"
            ]
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt describing content you do not want in the video. Supports Chinese and English, up to 500 characters. Excess characters will be automatically truncated. Example: `low resolution, worst quality, deformed, extra fingers, bad proportions`."
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "Whether to enable intelligent prompt rewriting. When enabled, a large language model rewrites the input prompt intelligently, significantly improving results for short prompts but increasing processing time. `true` (default): enable. `false`: disable."
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark. The watermark is positioned at the bottom-right corner with the text 'AI生成'. `false` (default): no watermark. `true`: add watermark.",
            "default": false
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2147483647,
            "description": "Random seed, range [0, 2147483647]. When unspecified, the system auto-generates a random seed. For better reproducibility, set a fixed seed. Note: due to the probabilistic nature of model generation, the same seed does not guarantee identical results every time."
          },
          "media": {
            "type": "array",
            "description": "List of media assets (images, audio, video) for video generation. Each element is a media object with `type` and `url`.\n\nSupported combinations (invalid combinations will return an error):\n- **First clip only**: `first_clip`\n- **First clip + last frame**: `first_clip` + `last_frame`\n\nEach `type` can appear at most once in the array.",
            "items": {
              "$ref": "#/components/schemas/Wan27MediaInput"
            }
          }
        }
      },
      "Wan27MediaInput": {
        "type": "object",
        "required": [
          "type",
          "url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "first_clip",
              "last_frame"
            ],
            "description": "Media asset type.\n- `first_clip`: First video clip.\n- `last_frame`: Last frame image.\n\nEach type can appear at most once per request (e.g. cannot include two `first_clip` entries)."
          },
          "url": {
            "type": "string",
            "description": "Media asset URL. Supports images, audio, and video.\n\n**Video** (type=`first_clip`)\n\nVideo file URL. The model generates continuation content based on this video. The upper limit of the continuation duration is controlled by the `duration` parameter.\n\nFor example: when `duration=15` and the input video is 3 seconds, the model generates 12 seconds of continuation, the final output video has a total duration of 15 seconds, and is billed for 15 seconds.\n\nVideo restrictions:\n\n- Formats: MP4, MOV.\n- Duration: 2~10s.\n- Resolution: width and height range [240, 4096] pixels.\n- Aspect ratio: 1:8 ~ 8:1.\n- File size: up to 100MB.\n\nSupported input formats:\n\nPublic URL:\n\nSupports HTTP and HTTPS protocols.\n\nExample: `https://xxx/xxx.mp4`.\n\nTemporary URL:\n\nSupports OSS protocol. Must obtain the temporary URL via file upload.\n\nExample: `oss://dashscope-instant/xxx/xxx.mp4`.\n\n**Image** (type=`last_frame`): Last frame URL, or Base64 encoded data.\n\nImage restrictions:\n- Formats: JPEG, JPG, PNG (no alpha channel), BMP, WEBP.\n- Resolution: width and height range [240, 8000] pixels.\n- Aspect ratio: 1:8 ~ 8:1.\n- File size: up to 20MB.\n\nSupported input formats:\n\nPublic URL:\n\nSupports HTTP or HTTPS protocols.\n\nExample: `https://xxx/xxx.png`.\n\nTemporary URL:\n\nSupports OSS protocol. Must obtain the temporary URL via file upload.\n\nExample: `oss://dashscope-instant/xxx/xxx.png`.\n\nBase64 encoded image string:\n\nData format: data:{MIME_type};base64,{base64_data}.\n\nExample: data:image/png;base64,GDU7MtCZzEbTbmRZ...... (truncated for demonstration).\n\nBase64 encoded data format\n\nFormat: data:{MIME_type};base64,{base64_data}.\n\n{base64_data}: The Base64 encoded string of the image file.\n\n{MIME_type}: The media type of the image, corresponding to the file format.\n\nImage format to MIME Type mapping:\n\n| Image Format | MIME Type |\n| --- | --- |\n| JPEG | image/jpeg |\n| JPG | image/jpeg |\n| PNG | image/png |\n| BMP | image/bmp |\n| WEBP | image/webp |"
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public task ID."
          },
          "task_id": {
            "type": "string",
            "description": "Backward-compatible alias for the public task ID."
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string",
            "description": "Model name."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress",
              "completed",
              "failed",
              "unknown"
            ],
            "description": "Unified video task status."
          },
          "progress": {
            "type": "integer",
            "description": "Task progress percentage."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Creation time as a Unix timestamp (seconds)."
          }
        }
      },
      "VideoTaskQueryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VideoTaskResponse"
          },
          {
            "type": "object",
            "properties": {
              "completed_at": {
                "type": "integer",
                "format": "int64",
                "description": "Completion timestamp when the task reaches a terminal state."
              },
              "metadata": {
                "type": "object",
                "description": "Additional unified metadata. On success, `metadata.url` typically contains the result download URL.",
                "additionalProperties": true
              },
              "error": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
