{
  "openapi": "3.0.1",
  "info": {
    "title": "Vidu 首尾帧生视频",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai"
    }
  ],
  "paths": {
    "/vidu/v1/videos/start-end2video": {
      "post": {
        "summary": "Vidu 首尾帧生视频",
        "operationId": "viduStartEndToVideo",
        "description": "使用 Vidu 模型基于首尾帧生成视频。提供起始帧和结束帧两张图片，AI 将生成中间过渡动画。提交任务后，请通过 `GET /vidu/v1/videos/{task_id}` 查询状态。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartEndToVideoRequest"
              },
              "examples": {
                "basic_start_end_video": {
                  "summary": "基础首尾帧生视频",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/start_frame.png",
                      "https://example.com/end_frame.png"
                    ],
                    "prompt": "一个人从站立到坐下的动作",
                    "duration": 5
                  }
                },
                "with_audio_generation": {
                  "summary": "带音频生成的首尾帧视频（q3 模型）",
                  "value": {
                    "model": "viduq3-pro",
                    "images": [
                      "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAE...",
                      "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAF..."
                    ],
                    "audio": true,
                    "prompt": "角色说话并做出手势",
                    "duration": 8,
                    "resolution": "1080p"
                  }
                },
                "with_recommended_prompt": {
                  "summary": "使用推荐提示词的首尾帧视频",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/frame1.jpg",
                      "https://example.com/frame2.jpg"
                    ],
                    "is_rec": true,
                    "seed": 42,
                    "off_peak": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功，返回视频任务对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartEndToVideoResponse"
                },
                "examples": {
                  "success": {
                    "summary": "提交成功",
                    "value": {
                      "task_id": "your_task_id_here",
                      "state": "created",
                      "model": "viduq3-pro",
                      "images": [
                        "https://prod-ss-images.s3.cn-northwest-1.amazonaws.com.cn/vidu-maas/template/startend2video-1.jpeg",
                        "https://prod-ss-images.s3.cn-northwest-1.amazonaws.com.cn/vidu-maas/template/startend2video-2.jpeg"
                      ],
                      "prompt": "The camera zooms in on the bird, which then flies to the right. The bird flight is smooth and natural, with a red light effect following and surrounding it from behind.",
                      "duration": 5,
                      "seed": 123456789,
                      "resolution": "1080p",
                      "audio": true,
                      "off_peak": false,
                      "credits": 10,
                      "created_at": "2025-01-01T15:41:31.968916Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "code": "bad_request_body",
                      "message": "请求体格式错误或字段取值非法",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "code": "access_denied",
                      "message": "无效的令牌",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "触发速率限制或账户额度不足。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足",
                    "value": {
                      "code": "insufficient_user_quota",
                      "message": "当前账户额度不足，请稍后重试",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器内部错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "server_error": {
                    "summary": "服务器错误",
                    "value": {
                      "code": "internal_server_error",
                      "message": "服务器内部错误，请稍后重试",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "StartEndToVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "images"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "viduq3-turbo",
              "viduq3-pro"
            ],
            "description": "视频生成模型名称。\n- **viduq3-turbo**: 相比 viduq3-pro，生成速度更快\n- **viduq3-pro**: 支持音画同步，支持分镜视频生成"
          },
          "images": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "string"
            },
            "description": "两张图片：第一张为起始帧，第二张为结束帧。\n注意事项：\n1. 支持公网 URL 或 Base64 格式\n2. 宽高比必须接近：起始帧与结束帧的宽高比必须在 0.8~1.25 之间\n3. 支持格式：png, jpeg, jpg, webp\n4. 单张图片最大 50MB\n5. HTTP 请求体不超过 20MB，且必须包含适当的内容类型字符串\n6. Base64 格式示例：`data:image/png;base64,{base64_encode}`"
          },
          "prompt": {
            "type": "string",
            "maxLength": 5000,
            "description": "文本提示词，用于描述视频生成内容，最大长度 5000 字符。\n注意：如果启用了 is_rec 参数使用推荐提示词，模型将忽略此手动输入的提示词。"
          },
          "is_rec": {
            "type": "boolean",
            "default": false,
            "description": "是否使用推荐提示词。\n- **true**: 是，系统将自动生成并应用推荐提示词来创建视频。推荐提示词数量 = 1\n- **false**: 否，将根据用户提供的提示词生成视频\n注意：启用推荐提示词功能时，每个任务将额外消耗 10 积分。"
          },
          "duration": {
            "type": "integer",
            "description": "视频时长（秒）。不同模型的默认值和可用范围：\n- **viduq3-pro, viduq3-turbo**: 默认 5，可用 1-16\n- **viduq2-pro-fast, viduq2-pro, viduq2-turbo**: 默认 5，可用 1-8\n- **viduq1, viduq1-classic**: 默认 5，可用 5\n- **vidu2.0**: 默认 4，可用 4, 8"
          },
          "seed": {
            "type": "integer",
            "description": "随机种子。\n- 默认为随机种子数\n- 手动设置值将覆盖默认随机种子"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "360p",
              "540p",
              "720p",
              "1080p"
            ],
            "description": "分辨率（基于模型和时长）。\n- **viduq3-pro, viduq3-turbo (1-16s)**: 默认 720p，可选 540p, 720p, 1080p\n- **viduq2-pro-fast (1-8s)**: 默认 720p，可选 720p, 1080p\n- **viduq2-pro, viduq2-turbo (1-8s)**: 默认 720p，可选 540p, 720p, 1080p\n- **viduq1, viduq1-classic (5s)**: 默认 1080p，可选 1080p\n- **vidu2.0 (4s)**: 默认 360p，可选 360p, 720p, 1080p\n- **vidu2.0 (8s)**: 默认 720p，可选 720p"
          },
          "movement_amplitude": {
            "type": "string",
            "enum": [
              "auto",
              "small",
              "medium",
              "large"
            ],
            "default": "auto",
            "description": "画面中物体的运动幅度。\n- 默认值：auto\n- 可选值：auto, small, medium, large\n注意：修改此参数对 q2、q3 模型无效。"
          },
          "bgm": {
            "type": "boolean",
            "default": false,
            "description": "是否为生成的视频添加背景音乐。\n- 默认值：false\n- 可选值：true, false\n当设置为 true 时，系统将自动添加合适的背景音乐。\n背景音乐无时长限制，系统自动适配。\n注意：q2 模型在时长为 9 或 10 秒时不生效；q3 模型不支持此参数。"
          },
          "audio": {
            "type": "boolean",
            "default": true,
            "description": "是否使用直接音视频生成能力。\n- **false**: 不进行直接音视频生成，输出无声视频\n- **true**: 需要音画同步，输出有声视频（包括对话和音效）\n注意 1：仅 q3 模型支持此参数"
          },
          "payload": {
            "type": "string",
            "maxLength": 1048576,
            "description": "透传参数。\n不做处理，仅做数据透传，最大长度 1048576 字符。"
          },
          "off_peak": {
            "type": "boolean",
            "default": false,
            "description": "错峰模式。\n- **true**: 错峰生成模式\n- **false**: 正常生成模式\n说明：\n1. 错峰模式消耗更低积分（详见定价说明）\n2. 错峰模式下提交的任务将在 48 小时内生成，未完成的任务将自动取消并退还积分\n3. 支持取消错峰任务\n4. 除 q3 外的其他直接音视频生成功能"
          }
        }
      },
      "StartEndToVideoResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "任务 ID。"
          },
          "state": {
            "type": "string",
            "enum": [
              "created",
              "queueing",
              "processing",
              "success",
              "failed"
            ],
            "description": "任务处理状态：\n- **created**: 任务创建成功\n- **queueing**: 任务排队中\n- **processing**: 任务处理中\n- **success**: 生成成功\n- **failed**: 任务失败"
          },
          "model": {
            "type": "string",
            "description": "本次调用使用的模型参数。"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "本次调用使用的图片列表（首帧和尾帧）。"
          },
          "prompt": {
            "type": "string",
            "description": "本次调用使用的文本提示词。"
          },
          "duration": {
            "type": "integer",
            "description": "本次调用使用的视频时长参数。"
          },
          "seed": {
            "type": "integer",
            "description": "本次调用使用的随机种子参数。"
          },
          "resolution": {
            "type": "string",
            "description": "本次调用使用的分辨率参数。"
          },
          "bgm": {
            "type": "boolean",
            "description": "本次调用使用的背景音乐参数。"
          },
          "movement_amplitude": {
            "type": "string",
            "description": "本次调用使用的镜头运动幅度参数。"
          },
          "payload": {
            "type": "string",
            "description": "本次调用使用的透传参数。"
          },
          "off_peak": {
            "type": "boolean",
            "description": "本次调用使用的错峰模式参数。"
          },
          "credits": {
            "type": "integer",
            "description": "本次调用消耗的积分。"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "任务创建时间。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "错误代码。"
          },
          "message": {
            "type": "string",
            "description": "错误描述信息。"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "description": "附加的错误数据（可选）。"
          }
        }
      }
    }
  }
}
