{
  "openapi": "3.0.1",
  "info": {
    "title": "Streaming Response",
    "version": "1.0.0",
    "description": "seedream-5-0-lite/4.5/4.0 supports streaming output mode. When you call the image generation API and set **stream** to `true`, the server will push events to the client in real time via Server-Sent Events (SSE) while generating the response. This section describes the various events pushed by the server.\n\nOnly `seedream-5-0-lite`, `seedream-4-5`, and `seedream-4-0` support streaming responses.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API server"
    }
  ],
  "tags": [
    {
      "name": "Seedream API Compat",
      "description": "Seedream streaming response API"
    }
  ],
  "paths": {
    "/byteplus/api/v3/images/generations": {
      "post": {
        "summary": "Streaming Response Events",
        "description": "seedream-5-0-lite/4.5/4.0 supports streaming output mode. When you call the image generation API and set **stream** to `true`, the server will push events to the client in real time via Server-Sent Events (SSE) while generating the response.\n\nThe server will push the following events:\n\n| Event Name | Trigger Condition | Description |\n|---|---|---|\n| `image_generation.partial_succeeded` | Any image generated successfully | Pushes the generation result for a single image |\n| `image_generation.partial_failed` | Any image generation failed | Pushes the failure reason |\n| `image_generation.completed` | All images processed | Pushes usage information and marks the stream end |\n| `error` | Request error occurred | Returns error information |",
        "operationId": "seedreamStreaming",
        "tags": [
          "Seedream API Compat"
        ],
        "responses": {
          "200": {
            "description": "SSE streaming response. Response type is `text/event-stream`.\n\n## image_generation.partial_succeeded\n\n> Currently only seedream-5-0-lite/4.5/4.0 supports streaming response.\n\nReturned when any image is generated successfully in streaming response mode.\n\n| Field | Type | Description |\n|---|---|---|\n| `type` | string | Should be `image_generation.partial_succeeded` |\n| `model` | string | The model ID used for this request, format is `<model name>-<version>` |\n| `created` | integer | Unix timestamp (seconds) of when this request was created |\n| `image_index` | integer | The index of the image corresponding to this event in the request, starting from `0`. The counter increments by 1 for both `image_generation.partial_succeeded` and `image_generation.partial_failed` events regardless of success or failure |\n| `url` | string | Download URL of the image for this event. Returned when the `response_format` is set to `url` |\n| `b64_json` | string | Base64-encoded image data for this event. Returned when the `response_format` is set to `b64_json` |\n| `size` | string | Image dimensions in pixels, format `<width pixels>×<height pixels>`, e.g. `2048×2048` |\n\n## image_generation.partial_failed\n\n> Currently only seedream-5-0-lite/4.5/4.0 supports streaming response.\n\nReturned when any image generation fails in streaming response mode.\n\n- If the failure reason is content moderation failure: the next image generation task will still proceed, i.e., it does not affect the generation flow of other images in the same request.\n- If the failure reason is an internal service error (500): the next image generation task will not proceed.\n\n| Field | Type | Description |\n|---|---|---|\n| `type` | string | Should be `image_generation.partial_failed` |\n| `model` | string | The model ID used for this request, format is `<model name>-<version>` |\n| `created` | integer | Unix timestamp (seconds) of when this request was created |\n| `image_index` | integer | The index of the image corresponding to this event in the request, starting from `0`. The counter increments by 1 for both `image_generation.partial_succeeded` and `image_generation.partial_failed` events regardless of success or failure |\n| `error` | object | The error reason for this event |\n| `error.code` | string | Error code |\n| `error.message` | string | Error message |\n\n## image_generation.completed\n\n> Currently only seedream-5-0-lite/4.5/4.0 supports streaming response.\n\nReturned when all images (whether successful or failed) have been processed. This is the last response event of the streaming response.\n\n| Field | Type | Description |\n|---|---|---|\n| `type` | string | Should be `image_generation.completed` |\n| `model` | string | The model ID used for this request, format is `<model name>-<version>` |\n| `created` | integer | Unix timestamp (seconds) of when this request was created |\n| `tools` | array of object | Tools configured for model invocation in this request |\n| `tools[].type` | string | The type of tool configured. `web_search` is the web search tool |\n| `usage` | object | Usage information for this request |\n| `usage.generated_images` | integer | Number of images successfully generated by the model, excluding failed ones. Billing is based on the number of successfully generated images |\n| `usage.output_tokens` | integer | Number of tokens consumed for the generated images. Calculated as `sum(image_width*image_height)/256` rounded down |\n| `usage.total_tokens` | integer | Total number of tokens consumed for this request. Currently input tokens are not counted, so it matches `output_tokens` |\n| `usage.tool_usage` | object | Usage information for tools used |\n| `usage.tool_usage.web_search` | integer | Number of times the web search tool was called, only returned when web search is enabled |\n\n## error\n\nError information returned when an error occurs in this request.\n\n| Field | Type | Description |\n|---|---|---|\n| `error` | object | Error information returned for this request |\n| `error.code` | string | Error code |\n| `error.message` | string | Error message |",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE streaming text. Each line starts with `event:` or `data:`, with events separated by blank lines."
                },
                "examples": {
                  "seedream-5.0-streaming-output": {
                    "summary": "seedream-5.0 streaming output",
                    "value": "event: image_generation.partial_succeeded\ndata: {\"type\":\"image_generation.partial_succeeded\",\"model\":\"seedream-5-0-260128\",\"created\":1757396757,\"image_index\":0,\"url\":\"https://...\",\"size\":\"2496x1664\"}\n\nevent: image_generation.partial_succeeded\ndata: {\"type\":\"image_generation.partial_succeeded\",\"model\":\"seedream-5-0-260128\",\"created\":1757396785,\"image_index\":1,\"url\":\"https://...\",\"size\":\"2496x1664\"}\n\nevent: image_generation.partial_succeeded\ndata: {\"type\":\"image_generation.partial_succeeded\",\"model\":\"seedream-5-0-260128\",\"created\":1757396825,\"image_index\":2,\"url\":\"https://...\",\"size\":\"2496x1664\"}\n\nevent: image_generation.completed\ndata: {\"type\":\"image_generation.completed\",\"model\":\"seedream-5-0-260128\",\"created\":1757396825,\"usage\":{\"generated_images\":3,\"output_tokens\":48672,\"total_tokens\":48672}}\n\ndata: [DONE]\n"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PartialSucceededEvent": {
        "type": "object",
        "description": "Returned when any image is generated successfully in streaming response mode.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Should be `image_generation.partial_succeeded`.",
            "enum": [
              "image_generation.partial_succeeded"
            ]
          },
          "model": {
            "type": "string",
            "description": "The model ID used for this request, format is `<model name>-<version>`."
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp (seconds) of when this request was created."
          },
          "image_index": {
            "type": "integer",
            "description": "The index of the image corresponding to this event in the request, starting from `0`. The counter increments by 1 for both `image_generation.partial_succeeded` and `image_generation.partial_failed` events regardless of success or failure."
          },
          "url": {
            "type": "string",
            "description": "Download URL of the image for this event. Returned when the `response_format` is set to `url`."
          },
          "b64_json": {
            "type": "string",
            "description": "Base64-encoded image data for this event. Returned when the `response_format` is set to `b64_json`."
          },
          "size": {
            "type": "string",
            "description": "Image dimensions in pixels, format `<width pixels>×<height pixels>`, e.g. `2048×2048`."
          }
        }
      },
      "PartialFailedEvent": {
        "type": "object",
        "description": "Returned when any image generation fails in streaming response mode.\n\n- If the failure reason is content moderation failure: the next image generation task will still proceed, i.e., it does not affect the generation flow of other images in the same request.\n- If the failure reason is an internal service error (500): the next image generation task will not proceed.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Should be `image_generation.partial_failed`.",
            "enum": [
              "image_generation.partial_failed"
            ]
          },
          "model": {
            "type": "string",
            "description": "The model ID used for this request, format is `<model name>-<version>`."
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp (seconds) of when this request was created."
          },
          "image_index": {
            "type": "integer",
            "description": "The index of the image corresponding to this event in the request, starting from `0`. The counter increments by 1 for both `image_generation.partial_succeeded` and `image_generation.partial_failed` events regardless of success or failure."
          },
          "error": {
            "type": "object",
            "description": "The error reason for this event.",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code. See the error code documentation."
              },
              "message": {
                "type": "string",
                "description": "Error message."
              }
            }
          }
        }
      },
      "CompletedEvent": {
        "type": "object",
        "description": "Returned when all images (whether successful or failed) have been processed. This is the last response event of the streaming response.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Should be `image_generation.completed`.",
            "enum": [
              "image_generation.completed"
            ]
          },
          "model": {
            "type": "string",
            "description": "The model ID used for this request, format is `<model name>-<version>`."
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp (seconds) of when this request was created."
          },
          "tools": {
            "type": "array",
            "description": "Tools configured for model invocation in this request.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of tool configured. `web_search` is the web search tool.",
                  "enum": [
                    "web_search"
                  ]
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "Usage information for this request.",
            "properties": {
              "generated_images": {
                "type": "integer",
                "description": "Number of images successfully generated by the model, excluding failed ones. Billing is based on the number of successfully generated images."
              },
              "output_tokens": {
                "type": "integer",
                "description": "Number of tokens consumed for the generated images. Calculated as `sum(image_width*image_height)/256` rounded down."
              },
              "total_tokens": {
                "type": "integer",
                "description": "Total number of tokens consumed for this request. Currently input tokens are not counted, so it matches `output_tokens`."
              },
              "tool_usage": {
                "type": "object",
                "description": "Usage information for tools used.",
                "properties": {
                  "web_search": {
                    "type": "integer",
                    "description": "Number of times the web search tool was called, only returned when web search is enabled."
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error information returned when an error occurs in this request.",
        "properties": {
          "error": {
            "type": "object",
            "description": "Error information returned for this request.",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code. See the error code documentation."
              },
              "message": {
                "type": "string",
                "description": "Error message."
              }
            }
          }
        }
      }
    }
  }
}