{
  "openapi": "3.0.1",
  "info": {
    "title": "Image Generation API",
    "version": "1.0.0",
    "description": "This article describes the API for calling Image Generation models such as Seedream 5.0 lite, including input/output parameters, value ranges, notes, etc., for your reference when using the interface.\n\nThe unified endpoint is `/byteplus/api/v3/images/generations`, supporting models such as `seedream-5-0-260128`, `seedream-4-5-251128`, `seedream-4-0-250828`. Parameters supported by each model may differ; see the model compatibility notes in each field description for details.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Seedream API Compat",
      "description": "Seedream image generation interface"
    }
  ],
  "paths": {
    "/byteplus/api/v3/images/generations": {
      "post": {
        "summary": "Image Generation",
        "description": "Call the Image Generation model to generate images based on text prompts. Supports Text-to-Image, Image-to-Image, multi-image fusion, batch sequential generation, and other modes.\n\nOverview of Image Generation capabilities supported by different models:\n- **seedream 5.0/4.5/4.0**: Generate sequential images (requires `sequential_image_generation` set to `auto`)\n  - Multi-image to sequential: Generate a set of content-related images based on multiple reference images (2-14) + text prompt (number of input reference images + number of final generated images ≤ 15)\n  - Single image to sequential: Generate a set of content-related images based on a single reference image + text prompt (up to 14 images)\n  - Text to sequential: Generate a set of content-related images based on text prompt (up to 15 images)\n- **seedream 5.0/4.5/4.0**: Generate single image (set `sequential_image_generation` to `disabled`)\n  - Multi Image-to-Image: Generate a single image based on multiple reference images (2-14) + text prompt\n  - Single Image-to-Image: Generate a single image based on a single reference image + text prompt\n  - Text-to-Image: Generate a single image based on text prompt",
        "operationId": "seedreamImageCreate",
        "tags": ["Seedream API Compat"],
        "Query Video Generation TaskBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageCreateRequest"
              },
              "examples": {
                "seedream-5.0-Text-to-Image": {
                  "summary": "seedream-5.0-Text-to-Image",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Vibrant close-up editorial portrait, model with sharp eyes, wearing a sculptural hat, rich color blocking, sharp eye focus, shallow depth of field, Vogue magazine cover aesthetic, medium format, strong studio lighting.",
                    "size": "2K",
                    "output_format": "png",
                    "watermark": false
                  }
                },
                "seedream-5.0-Image-to-Image": {
                  "summary": "seedream-5.0-Image-to-Image",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Keep the model's pose and the flowing shape of the liquid-like clothing unchanged, change the clothing material from silver metal to completely transparent water (or glass), and change the lighting from reflective to refractive.",
                    "image": "https://example.com/reference.png",
                    "size": "2K",
                    "output_format": "png",
                    "watermark": false
                  }
                },
                "seedream-5.0-multi-image-fusion": {
                  "summary": "seedream-5.0-multi-image-fusion",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Replace the clothing in image 1 with the clothing in image 2",
                    "image": ["https://example.com/photo1.png", "https://example.com/photo2.png"],
                    "size": "2K",
                    "output_format": "png",
                    "watermark": false
                  }
                },
                "seedream-5.0-multi-reference-to-sequential": {
                  "summary": "seedream-5.0-multi-reference-to-sequential",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Generate a set of 4 coherent illustrations centered on the four seasons of the same courtyard corner, showcasing the unique colors, elements, and atmosphere of each season in a unified style.",
                    "image": ["https://ark-project.tos-cn-beijing.volces.com/doc_image/seedream4_imagesToimages_1.png", "https://ark-project.tos-cn-beijing.volces.com/doc_image/seedream4_imagesToimages_2.png"],
                    "sequential_image_generation": "auto",
                    "sequential_image_generation_options": {
                      "max_images": 3
                    },
                    "size": "2K",
                    "output_format": "png",
                    "response_format": "url",
                    "watermark": false
                  }
                },
                "seedream-5.0-streaming-output": {
                  "summary": "seedream-5.0-streaming-output",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Reference image 1, generate 4 images, the person in the images wearing sunglasses, riding a motorcycle, wearing a hat, and holding a lollipop respectively.",
                    "image": "https://ark-project.tos-cn-beijing.volces.com/doc_image/seedream4_imageToimages_1.png",
                    "sequential_image_generation": "auto",
                    "sequential_image_generation_options": {
                      "max_images": 4
                    },
                    "size": "2K",
                    "stream": true,
                    "output_format": "png",
                    "watermark": false
                  }
                },
                "seedream-5.0-web-search": {
                  "summary": "seedream-5.0-web-search",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Create a 5-day weather forecast chart for Shanghai, using a modern flat illustration style, clearly showing the daily weather, temperature, and outfit recommendations.",
                    "size": "2048x2048",
                    "tools": [{"type": "web_search"}],
                    "output_format": "png",
                    "response_format": "url",
                    "watermark": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, returns the image generation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageCreateResponse"
                },
                "examples": {
                  "Single Image": {
                    "summary": "Single Image",
                    "value": {
                      "model": "seedream-5-0-260128",
                      "created": 1757321139,
                      "data": [
                        {
                          "url": "https://...",
                          "size": "3104x1312"
                        }
                      ],
                      "usage": {
                        "generated_images": 1,
                        "output_tokens": 0,
                        "total_tokens": 0
                      }
                    }
                  },
                  "Single Image — Base64 Format": {
                    "summary": "Single Image — Base64 Format",
                    "value": {
                      "model": "seedream-5-0-260128",
                      "created": 1757321139,
                      "data": [
                        {
                          "b64_json": "iVBORw0KGgoAAAANSUhEUgAA..."
                        }
                      ],
                      "usage": {
                        "generated_images": 1,
                        "output_tokens": 0,
                        "total_tokens": 0
                      }
                    }
                  },
                  "多图": {
                    "summary": "Multiple Images Output",
                    "value": {
                      "model": "seedream-4-0-250828",
                      "created": 1757321139,
                      "data": [
                        {
                          "url": "https://example.com/generated-image-1.jpg",
                          "size": "2048x2048"
                        },
                        {
                          "url": "https://example.com/generated-image-2.jpg",
                          "size": "2048x2048"
                        }
                      ],
                      "usage": {
                        "generated_images": 2,
                        "output_tokens": 0,
                        "total_tokens": 0
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "When `stream` is `true`, the response type is `text/event-stream`, pushing events in real time via the SSE protocol. Each line starts with `event:` or `data:`, and events are separated by blank lines."
                },
                "examples": {
                  "seedream-5.0-streaming-output": {
                    "summary": "seedream-5.0-streaming-output",
                    "value": "event: image_generation.partial_succeeded\ndata: {\"type\":\"image_generation.partial_succeeded\",\"model\":\"seedream-5-0-260128\",\"created\":1757396757,\"image_index\":0,\"url\":\"https://...\",\"size\":\"2496x1664\"}\n\nevent: image_generation.partial_succeeded\ndata: {\"type\":\"image_generation.partial_succeeded\",\"model\":\"seedream-5-0-260128\",\"created\":1757396785,\"image_index\":1,\"url\":\"https://...\",\"size\":\"2496x1664\"}\n\nevent: image_generation.partial_succeeded\ndata: {\"type\":\"image_generation.partial_succeeded\",\"model\":\"seedream-5-0-260128\",\"created\":1757396825,\"image_index\":2,\"url\":\"https://...\",\"size\":\"2496x1664\"}\n\nevent: image_generation.completed\ndata: {\"type\":\"image_generation.completed\",\"model\":\"seedream-5-0-260128\",\"created\":1757396825,\"usage\":{\"generated_images\":3,\"output_tokens\":48672,\"total_tokens\":48672}}\n\ndata: [DONE]\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Query Video Generation Task parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_Query Video Generation Task": {
                    "summary": "Parameter Error",
                    "value": {
                      "error": {
                        "code": "bad_Query Video Generation Task_body",
                        "message": "Invalid Query Video Generation Task body format or field value"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, for example, no token provided or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Insufficient quota or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient account quota, please try again later",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error occurred while processing the Query Video Generation Task.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing failure",
                    "value": {
                      "error": {
                        "message": "Internal service processing failure, please try again later",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass in the Query Video Generation Task header as `Authorization: Bearer <token>`."
      }
    },
    "schemas": {
      "ImageCreateRequest": {
        "type": "object",
        "required": ["model", "prompt"],
        "properties": {
          "model": {
            "type": "string",
            "enum": ["seedream-5-0-260128", "seedream-4-5-251128", "seedream-4-0-250828"],
            "description": "The Image Generation model name.\n\nSupported models:\n- `seedream-5-0-260128` (newest, recommended)\n- `seedream-4-5-251128` (supports 4K and strong text rendering)\n- `seedream-4-0-250828` (maintenance status, most economical 4K option)",
            "example": "seedream-5-0-260128"
          },
          "prompt": {
            "type": "string",
            "description": "The prompt for generating images. Supports both Chinese and English. It is recommended not to exceed 300 Chinese characters or 600 English words. If the prompt is too long, the information may be diluted, causing the model to ignore details and focus only on key points, resulting in missing elements in the image.",
            "example": "Vibrant close-up editorial portrait, model with sharp eyes, wearing a sculptural hat, rich color blocking."
          },
          "image": {
            "oneOf": [
              {
                "type": "string",
                "description": "The input image information. Supports URL or Base64 encoding."
              },
              {
                "type": "array",
                "description": "Multiple input image information. Supports URL or Base64 encoding.",
                "items": {
                  "type": "string"
                },
                "maxItems": 14
              }
            ],
            "description": "The input image information. Supports URL or Base64 encoding. seedream 5.0/4.5/4.0 supports single image or multiple image input.\n\n- Image URL: Ensure the image URL is accessible.\n- Base64 encoding: Use the format `data:image/<format>;base64,<base64_encoded>`. Note: `<format>` must be lowercase, e.g., `data:image/png;base64,<base64_image>`.\n\nNotes:\n- Requirements for passing a single image:\n  - Image formats: jpeg, png (seedream 5.0/4.5/4.0 additionally supports webp, bmp, tiff, gif, heic, heif formats)\n  - Aspect ratio (width/height) range: [1/16, 16] (applicable models: seedream 5.0/4.5/4.0)\n  - Width and height (px) > 14\n  - File size: no more than 30MB\n  - Total pixels: no more than 6000×6000 = 36000000 px (this is a limit on the pixel product of width and height for a single image, not a limit on individual width or height values)\n- seedream 5.0/4.5/4.0 supports up to 14 reference images."
          },
          "size": {
            "type": "string",
            "enum": ["1K", "2K", "3K", "4K"],
            "description": "Specifies the size information of the generated image. Different models support different size methods.\n\n**seedream-5-0-260128**:\nSupports the following two methods for specifying the generated image size. They cannot be used together.\n\n* Method 1 | Specify the pixel width and height of the generated image:\n  * Default: `2048x2048`\n  * Total pixel range: [`2560x1440` (3686400), `4096x4096` (16777216)]\n  * Aspect ratio range: [1/16, 16]\n\n  > Note: When using Method 1, both the total pixel range and aspect ratio range must be satisfied. The total pixel is a limit on the product of width and height of a single image, not a limit on individual width or height values.\n  > * Valid example: `3750x1250`\n    Total pixel value 3750x1250=4687500, within the [3686400, 16777216] range; aspect ratio 3750/1250=3, within the [1/16, 16] range. Therefore, this example value is valid.\n  > * Invalid example: `1500x1500`\n    Total pixel value 1500x1500=2250000, does not meet the minimum requirement of 3686400; aspect ratio 1500/1500=1, although within the [1/16, 16] range, it does not satisfy both constraints simultaneously. Therefore, this example value is invalid.\n\n* Method 2 | Specify the resolution of the generated image, and describe the aspect ratio, image shape, or image purpose in the prompt using natural language. The model will determine the final image size.\n  * Available values: `2K`, `3K`, `4K`\n\n  Note: When using Method 2 and describing a specific aspect ratio in the prompt, the actual pixel width and height mapped by the model are as follows:\n\n  | Resolution | Aspect Ratio | Pixel Dimensions |\n  |---|---|---|\n  | 2K | 1:1 | 2048x2048 |\n  | | 4:3 | 2304x1728 |\n  | | 3:4 | 1728x2304 |\n  | | 16:9 | 2848x1600 |\n  | | 9:16 | 1600x2848 |\n  | | 3:2 | 2496x1664 |\n  | | 2:3 | 1664x2496 |\n  | | 21:9 | 3136x1344 |\n  | 3K | 1:1 | 3072x3072 |\n  | | 4:3 | 3456x2592 |\n  | | 3:4 | 2592x3456 |\n  | | 16:9 | 4096x2304 |\n  | | 9:16 | 2304x4096 |\n  | | 3:2 | 3744x2496 |\n  | | 2:3 | 2496x3744 |\n  | | 21:9 | 4704x2016 |\n  | 4K | 1:1 | 4096x4096 |\n  | | 4:3 | 4704x3520 |\n  | | 3:4 | 3520x4704 |\n  | | 16:9 | 5504x3040 |\n  | | 9:16 | 3040x5504 |\n  | | 3:2 | 4992x3328 |\n  | | 2:3 | 3328x4992 |\n  | | 21:9 | 6240x2656 |\n\n**seedream-4-5-251128**:\nSupports the following two methods for specifying the generated image size. They cannot be used together.\n\n* Method 1 | Specify the pixel width and height of the generated image:\n  * Default: `2048x2048`\n  * Total pixel range: [`2560x1440` (3686400), `4096x4096` (16777216)]\n  * Aspect ratio range: [1/16, 16]\n\n  > Note: When using Method 1, both the total pixel range and aspect ratio range must be satisfied. The total pixel is a limit on the product of width and height of a single image, not a limit on individual width or height values.\n  > * Valid example: `3750x1250`\n    Total pixel value 3750x1250=4687500, within the [3686400, 16777216] range; aspect ratio 3750/1250=3, within the [1/16, 16] range. Therefore, this example value is valid.\n  > * Invalid example: `1500x1500`\n    Total pixel value 1500x1500=2250000, does not meet the minimum requirement of 3686400; aspect ratio 1500/1500=1, although within the [1/16, 16] range, it does not satisfy both constraints simultaneously. Therefore, this example value is invalid.\n\n* Method 2 | Specify the resolution of the generated image, and describe the aspect ratio, image shape, or image purpose in the prompt using natural language. The model will determine the final image size.\n  * Available values: `2K`, `4K`\n\n  Note: When using Method 2 and describing a specific aspect ratio in the prompt, the actual pixel width and height mapped by the model are as follows:\n\n  | Resolution | Aspect Ratio | Pixel Dimensions |\n  |---|---|---|\n  | 2K | 1:1 | 2048x2048 |\n  | | 4:3 | 2304x1728 |\n  | | 3:4 | 1728x2304 |\n  | | 16:9 | 2848x1600 |\n  | | 9:16 | 1600x2848 |\n  | | 3:2 | 2496x1664 |\n  | | 2:3 | 1664x2496 |\n  | | 21:9 | 3136x1344 |\n  | 4K | 1:1 | 4096x4096 |\n  | | 4:3 | 4704x3520 |\n  | | 3:4 | 3520x4704 |\n  | | 16:9 | 5504x3040 |\n  | | 9:16 | 3040x5504 |\n  | | 3:2 | 4992x3328 |\n  | | 2:3 | 3328x4992 |\n  | | 21:9 | 6240x2656 |\n\n**seedream-4-0-250828**:\nSupports the following two methods for specifying the generated image size. They cannot be used together.\n\n* Method 1 | Specify the pixel width and height of the generated image:\n  * Default: `2048x2048`\n  * Total pixel range: [`1280x720` (921600), `4096x4096` (16777216)]\n  * Aspect ratio range: [1/16, 16]\n\n  > Note: When using Method 1, both the total pixel range and aspect ratio range must be satisfied. The total pixel is a limit on the product of width and height of a single image, not a limit on individual width or height values.\n  > * Valid example: `1600x600`\n    Total pixel value 1600x600=960000, within the [921600, 16777216] range; aspect ratio 1600/600=8/3, within the [1/16, 16] range. Therefore, this example value is valid.\n  > * Invalid example: `800x800`\n    Total pixel value 800x800=640000, does not meet the minimum requirement of 921600; aspect ratio 800/800=1, although within the [1/16, 16] range, it does not satisfy both constraints simultaneously. Therefore, this example value is invalid.\n\n* Method 2 | Specify the resolution of the generated image, and describe the aspect ratio, image shape, or image purpose in the prompt using natural language. The model will determine the final image size.\n  * Available values: `1K`, `2K`, `4K`\n\n  Note: When using Method 2 and describing a specific aspect ratio in the prompt, the actual pixel width and height mapped by the model are as follows:\n\n  | Resolution | Aspect Ratio | Pixel Dimensions |\n  |---|---|---|\n  | 1K | 1:1 | 1024x1024 |\n  | | 4:3 | 1152x864 |\n  | | 3:4 | 864x1152 |\n  | | 16:9 | 1280x720 |\n  | | 9:16 | 720x1280 |\n  | | 3:2 | 1248x832 |\n  | | 2:3 | 832x1248 |\n  | | 21:9 | 1512x648 |\n  | 2K | 1:1 | 2048x2048 |\n  | | 4:3 | 2304x1728 |\n  | | 3:4 | 1728x2304 |\n  | | 16:9 | 2848x1600 |\n  | | 9:16 | 1600x2848 |\n  | | 3:2 | 2496x1664 |\n  | | 2:3 | 1664x2496 |\n  | | 21:9 | 3136x1344 |\n  | 4K | 1:1 | 4096x4096 |\n  | | 4:3 | 4704x3520 |\n  | | 3:4 | 3520x4704 |\n  | | 16:9 | 5504x3040 |\n  | | 9:16 | 3040x5504 |\n  | | 3:2 | 4992x3328 |\n  | | 2:3 | 3328x4992 |\n  | | 21:9 | 6240x2656 |",
            "default": "2048x2048",
            "example": "2K"
          },
          "sequential_image_generation": {
            "type": "string",
            "enum": ["auto", "disabled"],
            "description": "Controls whether to enable sequential image generation.\n- `auto`: Auto-judgment mode. The model autonomously determines whether to return sequential images and how many images to include based on the user's prompt.\n- `disabled`: Disable sequential image generation. The model will only generate a single image.\n\nOnly seedream 5.0/4.5/4.0 support this parameter.",
            "default": "disabled"
          },
          "sequential_image_generation_options": {
            "type": "object",
            "description": "Configuration for sequential image generation. Only takes effect when `sequential_image_generation` is set to `auto`.\n\nOnly seedream 5.0/4.5/4.0 support this parameter.",
            "properties": {
              "max_images": {
                "type": "integer",
                "description": "Specifies the maximum number of images that can be generated in this request.\n- Value range: [1, 15]\n\nNote: The actual number of images that can be generated is affected by both `max_images` and the number of input reference images. Number of input reference images + number of final generated images ≤ 15.",
                "minimum": 1,
                "maximum": 15,
                "default": 15
              }
            }
          },
          "tools": {
            "type": "array",
            "description": "Configures the tools to be called by the model.\n\nOnly `seedream-5-0-260128` supports this parameter.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["web_search"],
                  "description": "Specifies the tool type to use.\n- `web_search`: Web search functionality.\n\nNotes:\n- When web search is enabled, the model autonomously determines whether to search the internet (e.g., products, weather) based on the user's prompt, improving the timeliness of generated images, though it may increase latency.\n- The actual number of searches can be queried via the `usage.tool_usage.web_search` field. If it is 0, no search was performed."
                }
              },
              "required": ["type"]
            },
            "example": [{"type": "web_search"}]
          },
          "stream": {
            "type": "boolean",
            "description": "Controls whether to enable streaming output mode.\n- `false`: Non-streaming output mode. Wait for all images to be generated before returning all information at once.\n- `true`: Streaming output mode. Returns the result of each image in real time. This mode is effective for both single image generation and sequential image generation scenarios.\n\nOnly seedream 5.0/4.5/4.0 support streaming response. See the \"Streaming Response\" documentation for details.",
            "default": false
          },
          "guidance_scale": {
            "type": "number",
            "description": "Controls the consistency between the model output and the prompt, i.e., the freedom of the generated image. Also known as text weight. The larger the value, the lower the model freedom and the stronger the correlation with the user's input prompt.\n- Value range: [1, 10]\n\n**seedream 5.0/4.5/4.0 do not support this parameter**.",
            "minimum": 1,
            "maximum": 10,
            "example": 5
          },
          "output_format": {
            "type": "string",
            "enum": ["jpeg", "png"],
            "description": "Specifies the file format of the generated image.\n- Supported values: png, jpeg\n- Only `seedream-5-0-260128` supports this parameter.\n- For seedream 4.5/4.0 models, the generated image format defaults to jpeg and cannot be customized.",
            "default": "jpeg"
          },
          "response_format": {
            "type": "string",
            "enum": ["url", "b64_json"],
            "description": "Specifies the return format of the generated image. Supports the following two return methods:\n- `url`: Returns the image download link. The link is valid for 24 hours after image generation. Please download the image in time.\n- `b64_json`: Returns image data as a Base64-encoded string in JSON format.",
            "default": "url"
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark to the generated image.\n- `false`: Do not add a watermark.\n- `true`: Add an \"AIGeneration\" watermark identifier at the bottom right corner of the image.",
            "default": true
          },
          "optimize_prompt_options": {
            "type": "object",
            "description": "Configuration for prompt optimization.\n\nOnly seedream 5.0/4.5/4.0 support this parameter.",
            "properties": {
              "mode": {
                "type": "string",
                "enum": ["standard", "fast"],
                "description": "Sets the mode for prompt optimization.\n- `standard`: Standard mode, higher quality generated content but longer processing time.\n- `fast`: Fast mode, shorter processing time but average quality. Currently not supported by seedream 5.0/4.5.",
                "default": "standard"
              }
            }
          }
        }
      },
      "ImageCreateResponse": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "The model ID used for this request (model name-version)."
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "The Unix timestamp (seconds) of the creation time for this request."
          },
          "data": {
            "type": "array",
            "description": "Output image information.\n\nNote: In the sequential image generation scenario with seedream 5.0/4.5/4.0 models, when an image fails during sequential image generation:\n- If the failure reason is content moderation rejection: It will continue to request the next image generation task, meaning it does not affect the generation flow of other images within the same request.\n- If the failure reason is an internal service error (500): It will not continue to request the next image generation task.",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "tools": {
            "type": "array",
            "description": "Configured model tools for this request.",
            "items": {
              "type": "object",
              "properties": {
                  "type": {
                    "type": "string",
                    "description": "The configured tool type.\n- `web_search`: Web search tool."
                  }
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "Usage information for this request.",
            "properties": {
              "generated_images": {
                "type": "integer",
                "description": "The number of successfully generated images. Images that failed to generate are not included. Billing is based on the number of successfully generated images."
              },
              "output_tokens": {
                "type": "integer",
                "description": "Number of tokens spent on the generated image. Calculation logic: sum(image width × image height) / 256, then rounded."
              },
              "total_tokens": {
                "type": "integer",
                "description": "Total number of tokens consumed for this request. Input tokens are not currently counted, so this matches the output_tokens value."
              },
              "tool_usage": {
                "type": "object",
                "description": "Usage information for tools used.",
                "properties": {
                  "web_search": {
                    "type": "integer",
                    "description": "The number of times the web search tool was called. Only returned when web search is enabled."
                  }
                }
              }
            }
          },
          "error": {
            "type": "object",
            "description": "Error information for this request, if an error occurred.",
            "properties": {
              "code": {
                "type": "string",
                "description": "See Error code."
              },
              "message": {
                "type": "string",
                "description": "Error message."
              }
            }
          }
        }
      },
      "ImageData": {
        "type": "object",
        "description": "Information about a successfully or failed image generation.",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL of the generated image. Returned when `response_format` is set to `url`. The link will expire 24 hours after generation. Please save the image in time.\n\nIt is recommended to configure the data subscription feature provided by Volcano Engine TOS to automatically transfer your model inference outputs to your own TOS bucket for long-term backup or further processing."
          },
          "b64_json": {
            "type": "string",
            "description": "The Base64-encoded image data. Returned when `response_format` is set to `b64_json`."
          },
          "size": {
            "type": "string",
            "description": "Only supported by seedream 5.0/4.5/4.0. The pixel dimensions of the image, in the format <width>x<height>, e.g., 2048×2048."
          },
          "error": {
            "type": "object",
            "description": "Error information for a failed image generation.",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code for a failed image generation. See Error code."
              },
              "message": {
                "type": "string",
                "description": "Error message for a failed image generation."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code."
              },
              "message": {
                "type": "string",
                "description": "Error message."
              },
              "type": {
                "type": "string",
                "description": "Error type."
              },
              "param": {
                "type": "string",
                "description": "The name of the parameter that triggered the error."
              }
            }
          }
        }
      }
    }
  }
}
