{
  "openapi": "3.0.1",
  "info": {
    "title": "Image Generation API",
    "version": "1.0.0",
    "description": "This document describes the API for image generation models such as Seedream 5.0 lite, including input and output parameters, value ranges, notes, etc., for your reference when using the interface.\n\nThe unified endpoint is `/byteplus/api/v3/images/generations`, supporting `seedream-5-0-260128`, `seedream-4-5-251128`, `seedream-4-0-250828` and other models. Parameters supported vary by model; see the model compatibility notes in each field description for details.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Seedream API Compat",
      "description": "Seedream image generation interface"
    }
  ],
  "paths": {
    "/byteplus/api/v3/images/generations": {
      "post": {
        "summary": "Image Generation",
        "description": "Call the image generation model to generate images based on text prompts. Supports text-to-image, image-to-image, multi-image fusion, and sequential batch generation modes.\n\nCapabilities supported by different models:\n- **seedream 5.0/4.5/4.0**: Generate image sets (requires `sequential_image_generation` set to `auto`)\n  - Multi-image to image set: Generate a set of contextually related images based on multiple reference images (2-14) + text prompt (reference image count + final generated image count ≤ 15)\n  - Single image to image set: Generate a set of contextually related images based on a single reference image + text prompt (up to 14 images)\n  - Text to image set: Generate a set of contextually related images based on a text prompt (up to 15 images)\n- **seedream 5.0/4.5/4.0**: Generate a single image (set `sequential_image_generation` to `disabled`)\n  - Multi-image to single image: Generate a single image based on multiple reference images (2-14) + text prompt\n  - Single image to single image: Generate a single image based on a single reference image + text prompt\n  - Text to single image: Generate a single image based on a text prompt",
        "operationId": "seedreamImageCreate",
        "tags": ["Seedream API Compat"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageCreateRequest"
              },
              "examples": {
                "seedream-5.0-text-to-image": {
                  "summary": "seedream-5.0-text-to-image",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Vibrant close-up editorial portrait with sharp eyes, sculptural hat, rich color blocking, sharp focus on eyes, shallow depth of field, Vogue editorial aesthetic, medium format, strong studio lighting.",
                    "size": "2K",
                    "output_format": "png",
                    "watermark": false
                  }
                },
                "seedream-5.0-image-to-image": {
                  "summary": "seedream-5.0-image-to-image",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Keep the model's pose and the flowing shape of the liquid dress unchanged, change the dress material from silver metal to completely transparent clear water (or glass), and change the lighting from reflection to refraction.",
                    "image": "https://example.com/reference.png",
                    "size": "2K",
                    "output_format": "png",
                    "watermark": false
                  }
                },
                "seedream-5.0-multi-image-fusion": {
                  "summary": "seedream-5.0-multi-image-fusion",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Replace the outfit from image 1 with the outfit from image 2",
                    "image": ["https://example.com/photo1.png", "https://example.com/photo2.png"],
                    "sequential_image_generation": "disabled",
                    "size": "2K",
                    "output_format": "png",
                    "watermark": false
                  }
                },
                "seedream-5.0-multi-reference-to-image-set": {
                  "summary": "seedream-5.0-multi-reference-to-image-set",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Generate a set of 4 coherent illustrations centered on the same courtyard in four seasons, showcasing each season's unique colors, elements, and atmosphere in a unified style",
                    "size": "2K",
                    "sequential_image_generation": "auto",
                    "sequential_image_generation_options": {
                      "max_images": 4
                    },
                    "stream": false,
                    "output_format": "png",
                    "response_format": "url",
                    "watermark": false
                  }
                },
                "seedream-5.0-streaming": {
                  "summary": "seedream-5.0-streaming",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Based on reference image 1, generate four images showing the person wearing sunglasses, riding a motorcycle, wearing a hat, and holding a lollipop",
                    "image": "https://ark-project.tos-cn-beijing.volces.com/doc_image/seedream4_imageToimages_1.png",
                    "sequential_image_generation": "auto",
                    "sequential_image_generation_options": {
                      "max_images": 4
                    },
                    "size": "2K",
                    "stream": true,
                    "output_format": "png",
                    "watermark": false
                  }
                },
                "seedream-5.0-web-search": {
                  "summary": "seedream-5.0-web-search",
                  "value": {
                    "model": "seedream-5-0-260128",
                    "prompt": "Create a weather forecast image for Shanghai for the next 5 days, using a modern flat illustration style, clearly showing daily weather, temperature, and outfit recommendations.",
                    "size": "2048x2048",
                    "tools": [{"type": "web_search"}],
                    "output_format": "png",
                    "response_format": "url",
                    "watermark": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully called, returns image generation results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageCreateResponse"
                },
                "examples": {
                  "single_image": {
                    "summary": "Single Image",
                    "value": {
                      "model": "seedream-5-0-260128",
                      "created": 1757321139,
                      "data": [
                        {
                          "url": "https://...",
                          "size": "3104x1312"
                        }
                      ],
                      "usage": {
                        "generated_images": 1,
                        "output_tokens": 0,
                        "total_tokens": 0
                      }
                    }
                  },
                  "single_image_base64": {
                    "summary": "Single Image — Base64 Format",
                    "value": {
                      "model": "seedream-5-0-260128",
                      "created": 1757321139,
                      "data": [
                        {
                          "b64_json": "iVBORw0KGgoAAAANSUhEUgAA..."
                        }
                      ],
                      "usage": {
                        "generated_images": 1,
                        "output_tokens": 0,
                        "total_tokens": 0
                      }
                    }
                  },
                  "multiple_images": {
                    "summary": "Multiple Image Output",
                    "value": {
                      "model": "seedream-4-0-250828",
                      "created": 1757321139,
                      "data": [
                        {
                          "url": "https://example.com/generated-image-1.jpg",
                          "size": "2048x2048"
                        },
                        {
                          "url": "https://example.com/generated-image-2.jpg",
                          "size": "2048x2048"
                        }
                      ],
                      "usage": {
                        "generated_images": 2,
                        "output_tokens": 0,
                        "total_tokens": 0
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "When `stream` is `true`, the response type is `text/event-stream`, which pushes events in real-time via the SSE protocol. Each line starts with `event:` or `data:`, and events are separated by blank lines."
                },
                "examples": {
                  "seedream-5.0-streaming": {
                    "summary": "seedream-5.0-streaming",
                    "value": "event: image_generation.partial_succeeded\ndata: {\"type\":\"image_generation.partial_succeeded\",\"model\":\"seedream-5-0-260128\",\"created\":1757396757,\"image_index\":0,\"url\":\"https://...\",\"size\":\"2496x1664\"}\n\nevent: image_generation.partial_succeeded\ndata: {\"type\":\"image_generation.partial_succeeded\",\"model\":\"seedream-5-0-260128\",\"created\":1757396785,\"image_index\":1,\"url\":\"https://...\",\"size\":\"2496x1664\"}\n\nevent: image_generation.partial_succeeded\ndata: {\"type\":\"image_generation.partial_succeeded\",\"model\":\"seedream-5-0-260128\",\"created\":1757396825,\"image_index\":2,\"url\":\"https://...\",\"size\":\"2496x1664\"}\n\nevent: image_generation.completed\ndata: {\"type\":\"image_generation.completed\",\"model\":\"seedream-5-0-260128\",\"created\":1757396825,\"usage\":{\"generated_images\":3,\"output_tokens\":48672,\"total_tokens\":48672}}\n\ndata: [DONE]\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid Parameters",
                    "value": {
                      "error": {
                        "code": "bad_request_body",
                        "message": "Invalid request body format or field value"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g., no token provided or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Insufficient Quota or Rate Limited",
                    "value": {
                      "error": {
                        "message": "Current account quota insufficient, please retry later",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal Processing Failed",
                    "value": {
                      "error": {
                        "message": "Internal service processing failed, please retry later",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "ImageCreateRequest": {
        "type": "object",
        "required": ["model", "prompt"],
        "properties": {
          "model": {
            "type": "string",
            "enum": ["seedream-5-0-260128", "seedream-4-5-251128", "seedream-4-0-250828"],
            "description": "Image generation model name.\n\nSupported models:\n- `seedream-5-0-260128` (latest, recommended)\n- `seedream-4-5-251128` (supports 4K and strong text rendering)\n- `seedream-4-0-250828` (maintenance status, most economical 4K option)",
            "example": "seedream-5-0-260128"
          },
          "prompt": {
            "type": "string",
            "description": "The prompt used for image generation, supports Chinese and English. Recommended not to exceed 300 Chinese characters or 600 English words. Too many words may cause information to be scattered, and the model may ignore details and focus only on the key points, resulting in missing elements in the image.",
            "example": "Vibrant close-up editorial portrait with sharp eyes, sculptural hat, rich color blocking."
          },
          "image": {
            "oneOf": [
              {
                "type": "string",
                "description": "Input image information, supports URL or Base64 encoding."
              },
              {
                "type": "array",
                "description": "Input multiple image information, supports URL or Base64 encoding.",
                "items": {
                  "type": "string"
                },
                "maxItems": 14
              }
            ],
            "description": "Input image information, supports URL or Base64 encoding. seedream 5.0/4.5/4.0 supports single or multiple image input.\n\n- Image URL: Ensure the image URL is accessible.\n- Base64 encoding: Follow this format `data:image/<image_format>;base64,<Base64_encoding>`. Note that `<image_format>` must be lowercase, e.g., `data:image/png;base64,<base64_image>`.\n\nNotes:\n- Requirements for a single image:\n  - Image formats: jpeg, png (seedream 5.0/4.5/4.0 additionally supports webp, bmp, tiff, gif, heic, heif formats)\n  - Aspect ratio (width/height) range: [1/16, 16] (applicable models: seedream 5.0/4.5/4.0)\n  - Width/height length (px) > 14\n  - Size: no more than 30MB\n  - Total pixels: no more than 6000×6000 = 36000000 px (limits the product of width and height pixel values of a single image, not the individual width or height values)\n- seedream 5.0/4.5/4.0 supports up to 14 reference images."
          },
          "size": {
            "type": "string",
            "enum": ["1K", "2K", "3K", "4K"],
            "description": "Specifies the size information of the generated image. Different models support different size methods.\n\n**seedream-5-0-260128**:\n- Method 1 | Specify the resolution of the generated image, and describe the image aspect ratio, shape, or purpose in natural language in the prompt; the model determines the final image size. Options: `2K`, `3K`, `4K`\n- Method 2 | Specify the width and height pixel values of the generated image:\n  - Default: `2048x2048`\n  - Total pixel range: [`2560x1440=3686400`, `4096x4096=16777216`]\n  - Aspect ratio range: [`1/16`, `16`]\n\nRecommended width and height pixel values:\n\n| Resolution | Aspect Ratio | Width x Height Pixels |\n|---|---|---|\n| 2K | 1:1 | 2048x2048 |\n| | 4:3 | 2304x1728 |\n| | 3:4 | 1728x2304 |\n| | 16:9 | 2848x1600 |\n| | 9:16 | 1600x2848 |\n| | 3:2 | 2496x1664 |\n| | 2:3 | 1664x2496 |\n| | 21:9 | 3136x1344 |\n| 3K | 1:1 | 3072x3072 |\n| | 4:3 | 3456x2592 |\n| | 3:4 | 2592x3456 |\n| | 16:9 | 4096x2304 |\n| | 9:16 | 2304x4096 |\n| | 2:3 | 2496x3744 |\n| | 3:2 | 3744x2496 |\n| | 21:9 | 4704x2016 |\n| 4K | 1:1 | 4096x4096 |\n| | 3:4 | 3520x4704 |\n| | 4:3 | 4704x3520 |\n| | 16:9 | 5504x3040 |\n| | 9:16 | 3040x5504 |\n| | 2:3 | 3328x4992 |\n| | 3:2 | 4992x3328 |\n| | 21:9 | 6240x2656 |\n\n**seedream-4-5-251128**:\n- Method 1 | Specify the resolution of the generated image. Options: `2K`, `4K`\n- Method 2 | Specify the width and height pixel values of the generated image:\n  - Default: `2048x2048`\n  - Total pixel range: [`2560x1440=3686400`, `4096x4096=16777216`]\n  - Aspect ratio range: [`1/16`, `16`]\n\nRecommended width and height pixel values:\n\n| Resolution | Aspect Ratio | Width x Height Pixels |\n|---|---|---|\n| 2K | 1:1 | 2048x2048 |\n| | 4:3 | 2304x1728 |\n| | 3:4 | 1728x2304 |\n| | 16:9 | 2848x1600 |\n| | 9:16 | 1600x2848 |\n| | 3:2 | 2496x1664 |\n| | 2:3 | 1664x2496 |\n| | 21:9 | 3136x1344 |\n| 4K | 1:1 | 4096x4096 |\n| | 3:4 | 3520x4704 |\n| | 4:3 | 4704x3520 |\n| | 16:9 | 5504x3040 |\n| | 9:16 | 3040x5504 |\n| | 2:3 | 3328x4992 |\n| | 3:2 | 4992x3328 |\n| | 21:9 | 6240x2656 |\n\n**seedream-4-0-250828**:\n- Method 1 | Specify the resolution of the generated image. Options: `1K`, `2K`, `4K`\n- Method 2 | Specify the width and height pixel values of the generated image:\n  - Default: `2048x2048`\n  - Total pixel range: [`1280x720=921600`, `4096x4096=16777216`]\n  - Aspect ratio range: [`1/16`, `16`]\n\nRecommended width and height pixel values:\n\n| Resolution | Aspect Ratio | Width x Height Pixels |\n|---|---|---|\n| 1K | 1:1 | 1024x1024 |\n| | 4:3 | 1152x864 |\n| | 3:4 | 864x1152 |\n| | 16:9 | 1280x720 |\n| | 9:16 | 720x1280 |\n| | 3:2 | 1248x832 |\n| | 2:3 | 832x1248 |\n| | 21:9 | 1512x648 |\n| 2K | 1:1 | 2048x2048 |\n| | 4:3 | 2304x1728 |\n| | 3:4 | 1728x2304 |\n| | 16:9 | 2848x1600 |\n| | 9:16 | 1600x2848 |\n| | 3:2 | 2496x1664 |\n| | 2:3 | 1664x2496 |\n| | 21:9 | 3136x1344 |\n| 4K | 1:1 | 4096x4096 |\n| | 3:4 | 3520x4704 |\n| | 4:3 | 4704x3520 |\n| | 16:9 | 5504x3040 |\n| | 9:16 | 3040x5504 |\n| | 2:3 | 3328x4992 |\n| | 3:2 | 4992x3328 |\n| | 21:9 | 6240x2656 |\n\nNotes:\n- When using Method 2, both the total pixel range and the aspect ratio range must be satisfied. Total pixel is the product limit of the width and height pixel values of a single image, not the individual width or height limits.\n- Valid example: `3750x1250` (total pixel value 4687500, within range; aspect ratio 3, within [1/16, 16])\n- Invalid example: `1500x1500` (total pixel value 2250000, below the minimum requirement)",
            "default": "2048x2048",
            "example": "2K"
          },
          "sequential_image_generation": {
            "type": "string",
            "enum": ["auto", "disabled"],
            "description": "Controls whether the image set feature is disabled.\n- `auto`: Auto-judgment mode. The model autonomously determines whether to return an image set and the number of images in the set based on the user's prompt.\n- `disabled`: Disables the image set feature. The model generates only one image.\n\nOnly supported by seedream 5.0/4.5/4.0.",
            "default": "disabled"
          },
          "sequential_image_generation_options": {
            "type": "object",
            "description": "Configuration for the image set feature. Only effective when `sequential_image_generation` is set to `auto`.\n\nOnly supported by seedream 5.0/4.5/4.0.",
            "properties": {
              "max_images": {
                "type": "integer",
                "description": "Specifies the maximum number of images that can be generated in this request.\n- Range: [1, 15]\n\nNote: The actual number of images that can be generated is affected by both `max_images` and the number of input reference images. Input reference image count + final generated image count ≤ 15.",
                "minimum": 1,
                "maximum": 15,
                "default": 15
              }
            }
          },
          "tools": {
            "type": "array",
            "description": "Configures the tools to be called by the model.\n\nOnly supported by `seedream-5-0-260128`.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["web_search"],
                  "description": "Specifies the tool type to use.\n- `web_search`: Web search functionality.\n\nNotes:\n- After enabling web search, the model autonomously determines whether to search the internet (e.g., products, weather) based on the user's prompt, improving the timeliness of generated images but also increasing latency.\n- The actual number of searches can be queried via the field `usage.tool_usage.web_search`; if 0, no search was performed."
                }
              },
              "required": ["type"]
            },
            "example": [{"type": "web_search"}]
          },
          "stream": {
            "type": "boolean",
            "description": "Controls whether to enable streaming output mode.\n- `false`: Non-streaming output mode. Waits for all images to be fully generated before returning all information at once.\n- `true`: Streaming output mode. Returns the result of each image in real-time as it is generated. Effective for both single image and image set generation scenarios.\n\nOnly seedream 5.0/4.5/4.0 supports streaming responses. See the 'Streaming Response' document for details.",
            "default": false
          },
          "guidance_scale": {
            "type": "number",
            "description": "Controls the consistency between the model output and the prompt, i.e., the degree of freedom in image generation. Also known as text weight. The larger the value, the less freedom the model has and the stronger the correlation with the user's input prompt.\n- Range: [1, 10]\n\n**seedream 5.0/4.5/4.0 does not support this parameter.**",
            "minimum": 1,
            "maximum": 10,
            "example": 5
          },
          "output_format": {
            "type": "string",
            "enum": ["jpeg", "png"],
            "description": "Specifies the file format of the generated image.\n- Options: png, jpeg\n- Only supported by `seedream-5-0-260128`.\n- The default output format for seedream 4.5/4.0 models is jpeg and does not support custom settings.",
            "default": "jpeg"
          },
          "response_format": {
            "type": "string",
            "enum": ["url", "b64_json"],
            "description": "Specifies the return format of the generated image. Supports the following two return methods:\n- `url`: Returns the image download link. The link is valid for 24 hours after image generation. Please download the image promptly.\n- `b64_json`: Returns the image data in JSON format as a Base64-encoded string.",
            "default": "url"
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark to the generated image.\n- `false`: No watermark added.\n- `true`: Adds an 'AI-generated' watermark in the bottom-right corner of the image.",
            "default": true
          },
          "optimize_prompt_options": {
            "type": "object",
            "description": "Configuration for the prompt optimization feature.\n\nOnly supported by seedream 5.0/4.5/4.0.",
            "properties": {
              "mode": {
                "type": "string",
                "enum": ["standard", "fast"],
                "description": "Sets the mode for the prompt optimization feature.\n- `standard`: Standard mode, produces higher quality content with longer processing time.\n- `fast`: Fast mode, produces content with shorter processing time but average quality. Currently not supported by seedream 5.0/4.5.",
                "default": "standard"
              }
            }
          }
        }
      },
      "ImageCreateResponse": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "The model ID used for this request (model name-version)."
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "The Unix timestamp (in seconds) of when this request was created."
          },
          "data": {
            "type": "array",
            "description": "Information about the output images.\n\nNote: In image set generation scenarios with seedream 5.0/4.5/4.0 models, when a specific image generation fails during image set generation:\n- If the failure is due to content review failure: The next image generation task will still proceed, i.e., it does not affect the generation flow of other images in the same request.\n- If the failure is due to an internal service error (500): The next image generation task will not proceed.",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "tools": {
            "type": "array",
            "description": "The model tools configured for this request.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of tool configured.\n- `web_search`: Web search tool."
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "Usage information for this request.",
            "properties": {
              "generated_images": {
                "type": "integer",
                "description": "The number of images successfully generated by the model, excluding failed generations. Billing is based only on the number of successfully generated images."
              },
              "output_tokens": {
                "type": "integer",
                "description": "The number of tokens consumed by the generated images. Calculation logic: sum(image width × image height) / 256, rounded down."
              },
              "total_tokens": {
                "type": "integer",
                "description": "The total number of tokens consumed by this request. Input tokens are currently not counted, so this value is consistent with `output_tokens`."
              },
              "tool_usage": {
                "type": "object",
                "description": "Usage information for tools used.",
                "properties": {
                  "web_search": {
                    "type": "integer",
                    "description": "The number of times the web search tool was called. Only returned when web search is enabled."
                  }
                }
              }
            }
          },
          "error": {
            "type": "object",
            "description": "If an error occurred in this request, the corresponding error information.",
            "properties": {
              "code": {
                "type": "string",
                "description": "Please refer to the error codes."
              },
              "message": {
                "type": "string",
                "description": "Error message."
              }
            }
          }
        }
      },
      "ImageData": {
        "type": "object",
        "description": "Information about a successfully generated or failed image.",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL of the image. Returned when `response_format` is set to `url`. This link will expire 24 hours after generation. Please save the image promptly.\n\nIt is recommended to configure the data subscription feature of Volcengine TOS to automatically transfer your model inference outputs to your own TOS bucket for long-term backup or reprocessing."
          },
          "b64_json": {
            "type": "string",
            "description": "The Base64-encoded information of the image. Returned when `response_format` is set to `b64_json`."
          },
          "size": {
            "type": "string",
            "description": "Only supported by seedream 5.0/4.5/4.0. The width and height pixel values of the image, in the format <width>x<height>, e.g., 2048x2048."
          },
          "error": {
            "type": "object",
            "description": "Error information for a specific failed image generation.",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code for the specific image generation error. Please refer to the error codes."
              },
              "message": {
                "type": "string",
                "description": "Error message for the specific image generation error."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code."
              },
              "message": {
                "type": "string",
                "description": "Error message."
              },
              "type": {
                "type": "string",
                "description": "Error type."
              },
              "param": {
                "type": "string",
                "description": "The parameter name that triggered the error."
              }
            }
          }
        }
      }
    }
  }
}