{
  "openapi": "3.0.1",
  "info": {
    "title": "Kling Omni Image Task - Submit Task",
    "version": "1.0.0",
    "description": "Submit a Kling native omni image task via `/kling/v1/images/omni-image`. Task results may contain `images` or `series_images`."
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": ""
    }
  ],
  "tags": [
    {
      "name": "Kling",
      "description": "Kling native async task endpoints"
    }
  ],
  "paths": {
    "/kling/v1/images/omni-image": {
      "post": {
        "summary": "Kling omni image task",
        "description": "Submit a Kling native omni image task via `/kling/v1/images/omni-image`. Task results may contain `images` or `series_images`.",
        "operationId": "createKlingOmniImage",
        "tags": [
          "Kling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingRequest"
              },
              "examples": {
                "request": {
                  "summary": "Request example",
                  "value": {
                    "model_name": "kling-image-o1",
                    "prompt": "Create a three-frame product storyboard",
                    "result_type": "single"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or rejected by upstream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "KlingRequest": {
        "type": "object",
        "required": [
          "model_name",
          "prompt"
        ],
        "properties": {
          "model_name": {
            "type": "string",
            "description": "Model name",
            "enum": [
              "kling-image-o1"
            ]
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt, can include positive and negative descriptions\n\n- Prompts can be templated to meet different image generation needs\n- Must not exceed 2500 characters\n- Reference images using the <<<>>> format, e.g.: <<<image_1>>>",
            "maxLength": 2500
          },
          "image_list": {
            "type": "array",
            "description": "Reference image list, passed as key:value pairs:\n\n```json\n\"image_list\": [{ \"image\": \"image_url\" }]\n```\n\n- Supports image Base64 encoding or image URL (must be accessible)\n- Supported image formats: `.jpg` / `.jpeg` / `.png`\n- Image file size must not exceed **10MB**, image dimensions must be at least **300px**, aspect ratio between **1:2.5 ~ 2.5:1**\n- The total of reference elements and reference images must not exceed **10**\n- The `image_url` value must not be empty",
            "items": {
              "type": "object",
              "required": [
                "image"
              ],
              "properties": {
                "image": {
                  "type": "string",
                  "description": "Image URL or Base64 string."
                }
              }
            }
          },
          "element_list": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "element_id"
              ],
              "properties": {
                "element_id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Element ID from the element library."
                }
              }
            },
            "description": "Element reference list, configured based on element IDs in the element library\n\n- Passed as key:value pairs:\n`\"element_list\":[{ \"element_id\": 829836802793406551 }]`\n\n- The total of reference elements and reference images must not exceed 10"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "1k",
              "2k"
            ],
            "description": "Generated image resolution",
            "default": "1K"
          },
          "result_type": {
            "type": "string",
            "description": "Toggle between single image / series image output",
            "enum": [
              "single"
            ],
            "default": "single"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "3:2",
              "2:3",
              "21:9",
              "auto"
            ],
            "default": "auto",
            "description": "Aspect ratio of generated images (width:height)\n\nValues: `16:9` `9:16` `1:1` `4:3` `3:4` `3:2` `2:3` `21:9` `auto`\n\n- `auto`: intelligently selects aspect ratio based on input content"
          },
          "n": {
            "type": "integer",
            "description": "Number of images to generate\n\n- Range: [1, 9]\n- When result_type is series, this parameter has no effect",
            "minimum": 1,
            "maximum": 9,
            "default": 1
          },
          "series_amount": {
            "oneOf": [
              {
                "type": "integer",
                "minimum": 2,
                "maximum": 9
              },
              {
                "type": "string",
                "enum": [
                  "auto"
                ]
              }
            ],
            "description": "Number of images in the generated series\n\nValues: 2 3 4 5 6 7 8 9 auto\n\n- auto: intelligently selects the number of images based on input content\n- When using auto, it consumes concurrency quota equal to the actual number generated\n- When result_type is single, this parameter has no effect"
          },
          "watermark_info": {
            "type": "object",
            "description": "Whether to also generate a watermarked result.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "true to generate watermarked result, false to not generate."
              }
            }
          },
          "callback_url": {
            "type": "string",
            "description": "Callback notification URL for this task. If configured, the server will proactively notify when the task status changes."
          },
          "external_task_id": {
            "type": "string",
            "description": "Custom task ID\n\n- User-defined task ID; providing one does not override the system-generated task ID, but the task can be queried using this ID\n- Must be unique per user"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "description": "Error details returned by the gateway or upstream provider."
          }
        }
      },
      "SubmitResponse": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "Kling response code. 0 indicates the task has been accepted."
          },
          "message": {
            "type": "string",
            "description": "Kling response message."
          },
          "request_id": {
            "type": "string",
            "description": "Upstream request identifier (if provided)."
          },
          "data": {
            "type": "object",
            "required": [
              "task_id",
              "task_status"
            ],
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Public task ID generated by this gateway. The upstream task ID is not exposed."
              },
              "task_status": {
                "type": "string",
                "description": "Initial task status.",
                "example": "submitted"
              },
              "task_info": {
                "type": "object",
                "properties": {
                  "external_task_id": {
                    "type": "string",
                    "description": "External task ID provided by the client, or the public task ID injected by the gateway."
                  }
                }
              },
              "created_at": {
                "type": "integer",
                "format": "int64",
                "description": "Creation time in milliseconds."
              },
              "updated_at": {
                "type": "integer",
                "format": "int64",
                "description": "Update time in milliseconds."
              }
            }
          }
        }
      }
    }
  }
}
