{
  "openapi": "3.0.1",
  "info": {
    "title": "Kling Omni Image Task - Query Task Status",
    "version": "1.0.0",
    "description": "Query Kling native omni image task status via `/kling/v1/images/omni-image/{task_id}`."
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": ""
    }
  ],
  "tags": [
    {
      "name": "Kling",
      "description": "Kling native async task endpoints"
    }
  ],
  "paths": {
    "/kling/v1/images/omni-image/{task_id}": {
      "get": {
        "summary": "Query Kling task status",
        "description": "Returns the persisted Kling native task response. The task_id path parameter is the public task ID returned by the submit endpoint.",
        "operationId": "createKlingOmniImageStatus",
        "tags": [
          "Kling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "description": "Data exchange format"
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "Image generation task ID. Request path parameter; provide the value directly in the request path.\n- Choose either external_task_id (set when creating the task) or task_id for querying\n- Must be unique per user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "FetchResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Error code; see error codes for details."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "request_id": {
            "type": "string",
            "description": "Request ID, system-generated, used for request tracking and troubleshooting."
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Task ID, system-generated."
              },
              "task_status": {
                "type": "string",
                "enum": [
                  "submitted",
                  "processing",
                  "succeed",
                  "failed"
                ],
                "description": "Task status. Enum values: submitted, processing, succeed, failed."
              },
              "task_status_msg": {
                "type": "string",
                "description": "Task status message. When the task fails, shows the failure reason (e.g., triggered platform content moderation)."
              },
              "task_info": {
                "type": "object",
                "description": "Task creation parameter information.",
                "properties": {
                  "external_task_id": {
                    "type": "string",
                    "description": "Client-provided custom task ID."
                  }
                }
              },
              "task_result": {
                "type": "object",
                "description": "Task result.",
                "properties": {
                  "result_type": {
                    "type": "string",
                    "description": "Result type."
                  },
                  "images": {
                    "type": "array",
                    "description": "List of generated images.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "index": {
                          "type": "integer",
                          "description": "Image index."
                        },
                        "url": {
                          "type": "string",
                          "description": "Generated image URL, anti-leech format (Note: for information security, generated images/videos will be cleaned up after 30 days; please save them promptly)."
                        },
                        "watermark_url": {
                          "type": "string",
                          "description": "Watermarked image download URL, anti-leech format."
                        }
                      }
                    }
                  },
                  "series_images": {
                    "type": "array",
                    "description": "Series image list.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "index": {
                          "type": "integer",
                          "description": "Series image index."
                        },
                        "url": {
                          "type": "string",
                          "description": "Generated image URL, anti-leech format (Note: for information security, generated images/videos will be cleaned up after 30 days; please save them promptly)."
                        },
                        "watermark_url": {
                          "type": "string",
                          "description": "Watermarked image download URL, anti-leech format."
                        }
                      }
                    }
                  }
                }
              },
              "watermark_info": {
                "type": "object",
                "description": "Watermark information.",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the image contains a watermark."
                  }
                }
              },
              "final_unit_deduction": {
                "type": "string",
                "description": "Final unit deduction value for the task."
              },
              "created_at": {
                "type": "integer",
                "format": "int64",
                "description": "Task creation time, Unix timestamp in milliseconds."
              },
              "updated_at": {
                "type": "integer",
                "format": "int64",
                "description": "Task update time, Unix timestamp in milliseconds."
              }
            }
          }
        },
        "example": {
          "code": 0,
          "message": "string",
          "request_id": "string",
          "data": {
            "task_id": "string",
            "task_status": "succeed",
            "task_status_msg": "string",
            "task_info": {
              "external_task_id": "string"
            },
            "task_result": {
              "result_type": "single",
              "images": [
                {
                  "index": 0,
                  "url": "string",
                  "watermark_url": "string"
                }
              ],
              "series_images": [
                {
                  "index": 0,
                  "url": "string",
                  "watermark_url": "string"
                }
              ]
            },
            "watermark_info": {
              "enabled": false
            },
            "final_unit_deduction": "string",
            "created_at": 1722769557708,
            "updated_at": 1722769557708
          }
        }
      }
    }
  }
}
