{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan 首帧图生视频兼容视图",
    "version": "1.0.0",
    "description": "Wan 系列首帧图生视频能力文档。公开统一入口为 `/v1/videos`，用于创建异步视频生成任务。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Wan Video",
      "description": "Wan 系列图生视频能力"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Wan 首帧图生视频",
        "description": "Wan 首帧图生视频的兼容视图文档，保留 `/v1/videos` 的历史单图输入形态。\n\n公开字段：`model`、`image`、`prompt`、`seconds`、`size`、`prompt_extend`、`watermark`、`seed`、`negative_prompt`。如需查看渠道最新能力，请使用独立能力文档。",
        "operationId": "aliFirstFrameToVideo",
        "tags": [
          "Wan Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirstFrameVideoRequest"
              },
              "examples": {
                "first_frame_video": {
                  "summary": "首帧图生视频",
                  "value": {
                    "model": "first-frame-video-model",
                    "image": "https://example.com/first-frame.jpg",
                    "prompt": "写实风格，一只黑色小猫好奇地看向天空，镜头从平视逐渐上升，最后俯拍它的好奇的眼神。",
                    "seconds": "5",
                    "size": "720P",
                    "prompt_extend": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功，返回视频任务对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "error": {
                        "message": "请求体格式错误或字段取值非法",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "error": {
                        "message": "无效的令牌",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "鉴权失败，例如未提供令牌或令牌无效。"
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "request_too_large": {
                    "summary": "请求体过大",
                    "value": {
                      "error": {
                        "message": "请求体过大，请缩小输入后重试",
                        "type": "api_error",
                        "code": "read_request_body_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "请求体过大。"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足或速率受限",
                    "value": {
                      "error": {
                        "message": "当前账户额度不足，请稍后重试",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "触发速率限制或账户额度不足。"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "内部处理失败",
                    "value": {
                      "error": {
                        "message": "服务内部处理失败，请稍后重试",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "服务端处理请求时发生内部错误。"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "上游响应异常",
                    "value": {
                      "error": {
                        "message": "上游服务返回了无效响应",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "上游服务返回异常响应。"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "服务暂不可用",
                    "value": {
                      "error": {
                        "message": "当前模型暂时无可用渠道，请稍后重试",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "上游服务暂不可用，或当前模型暂无可用渠道。"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "查询 Ali 视频生成任务状态",
        "description": "根据任务 ID 查询视频生成任务的状态和结果。\n\n任务状态流转：PENDING（排队中）→ RUNNING（处理中）→ SUCCEEDED（成功）/ FAILED（失败）。",
        "operationId": "aliQueryVideoStatus",
        "tags": [
          "Ali Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "视频生成任务 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功，返回任务状态。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "404": {
            "description": "任务不存在或已过期。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "not_found": {
                    "summary": "任务不存在",
                    "value": {
                      "error": {
                        "message": "任务不存在或已过期",
                        "type": "api_error",
                        "code": "task_not_found",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "error": {
                        "message": "无效的令牌",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "鉴权失败，例如未提供令牌或令牌无效。"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足或速率受限",
                    "value": {
                      "error": {
                        "message": "当前账户额度不足，请稍后重试",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "触发速率限制或账户额度不足。"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "内部处理失败",
                    "value": {
                      "error": {
                        "message": "服务内部处理失败，请稍后重试",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "服务端处理请求时发生内部错误。"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "上游响应异常",
                    "value": {
                      "error": {
                        "message": "上游服务返回了无效响应",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "上游服务返回异常响应。"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "服务暂不可用",
                    "value": {
                      "error": {
                        "message": "当前模型暂时无可用渠道，请稍后重试",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "上游服务暂不可用，或当前模型暂无可用渠道。"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "FirstFrameVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "image"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "首帧图生视频兼容视图中的模型标识。"
          },
          "image": {
            "type": "string",
            "description": "首帧图像 URL。支持 HTTP/HTTPS 公网可访问地址。"
          },
          "prompt": {
            "type": "string",
            "description": "文本提示词，描述期望的视频内容。支持中英文，长度不超过 800 个字符。"
          },
          "seconds": {
            "type": "string",
            "description": "视频生成时长（秒）的字符串形式。当前固定为 `\"5\"`。",
            "default": "5"
          },
          "size": {
            "type": "string",
            "enum": [
              "480P",
              "720P",
              "1080P"
            ],
            "description": "兼容视图支持的分辨率档位。可选值：480P、720P、1080P。",
            "default": "1080P"
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "是否开启提示词智能改写。开启后会自动优化输入提示词。",
            "default": true
          },
          "watermark": {
            "type": "boolean",
            "description": "是否在视频中添加水印。",
            "default": false
          },
          "seed": {
            "type": "integer",
            "description": "随机数种子，取值范围 [0, 2147483647]。"
          },
          "negative_prompt": {
            "type": "string",
            "description": "反向提示词，描述不希望在视频中看到的内容。长度不超过 500 个字符。"
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "任务唯一标识。"
          },
          "task_id": {
            "type": "string",
            "description": "任务 ID（与 id 相同）。"
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string",
            "description": "使用的模型名称。"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled"
            ],
            "description": "任务状态。"
          },
          "progress": {
            "type": "integer",
            "description": "任务进度（百分比）。"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "创建时间的 Unix 时间戳（秒）。"
          }
        }
      },
      "VideoTaskQueryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled"
            ],
            "description": "任务状态。"
          },
          "progress": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "completed_at": {
            "type": "integer",
            "format": "int64",
            "description": "完成时间的 Unix 时间戳（秒），仅在成功时返回。"
          },
          "video_url": {
            "type": "string",
            "description": "生成视频的下载链接。有效期 24 小时，请及时保存。仅在状态为 succeeded 时返回。"
          },
          "metadata": {
            "type": "object",
            "description": "任务的详细元数据。",
            "properties": {
              "orig_prompt": {
                "type": "string",
                "description": "原始输入提示词。"
              },
              "actual_prompt": {
                "type": "string",
                "description": "优化后的提示词（开启 prompt_extend 时）。"
              },
              "video_duration": {
                "type": "integer",
                "description": "视频时长（秒）。"
              },
              "SR": {
                "type": "integer",
                "description": "分辨率档位（2.2 模型返回）。"
              },
              "video_ratio": {
                "type": "string",
                "description": "视频比例（2.1 模型返回）。"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "错误类型，例如 `invalid_request_error`、`api_error` 或上游兼容错误类型。"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
