{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan 2.7 图生视频",
    "version": "1.0.0",
    "description": "面向客户的 Ali `wan2.7-i2v` 渠道文档，统一公开入口为 `/v1/videos`。\n\n本文档只描述项目当前已经实现并对外开放的官方能力字段：`model`、`prompt`、`image`、`images`、`media`、`seconds`、`size`。为了兼容历史调用方式，项目仍接受 `image` / `images`，并在内部映射为上游新版 `input.media` 协议。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Wan 2.7 Video",
      "description": "Ali wan2.7-i2v 多模态图生视频能力"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "创建 Wan 2.7 图生视频任务",
        "description": "提交一个异步的 Ali `wan2.7-i2v` 生成任务。\n\n项目当前支持两种输入风格：\n- 兼容风格：使用 `image` 表示单首帧输入，或使用 `images` 且长度必须为 2，表示首帧 + 尾帧。\n- 新版风格：使用顶层 `media` 数组，对应上游新版 `input.media` 协议。\n\n当前项目已实现的官方 `media.type` 包括 `first_frame`、`last_frame`、`driving_audio`、`first_clip`。\n\n当前项目支持的 `media` 组合为：\n- `first_frame`\n- `first_frame + driving_audio`\n- `first_frame + last_frame`\n- `first_frame + last_frame + driving_audio`\n- `first_clip`\n- `first_clip + last_frame`\n\n本能力下 `prompt` 为可选字段。`size` 仅支持 `720P` 与 `1080P`。`seconds` 仅支持 `2` 到 `15` 的整数字符串。",
        "operationId": "aliWan27I2VCreate",
        "tags": [
          "Wan 2.7 Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Wan27VideoRequest"
              },
              "examples": {
                "wan27_multimodal": {
                  "summary": "使用首帧 + 驱动音频",
                  "value": {
                    "model": "wan2.7-i2v",
                    "prompt": "人物从静态肖像逐渐开始自然开口说话。",
                    "media": [
                      {
                        "type": "first_frame",
                        "url": "https://example.com/assets/portrait.png"
                      },
                      {
                        "type": "driving_audio",
                        "url": "https://example.com/assets/voice.mp3"
                      }
                    ],
                    "seconds": "8",
                    "size": "720P"
                  }
                },
                "wan27_compatibility_image": {
                  "summary": "使用历史兼容 image 字段",
                  "value": {
                    "model": "wan2.7-i2v",
                    "image": "https://example.com/assets/first-frame.png",
                    "prompt": "镜头缓慢推进，人物轻轻眨眼。",
                    "seconds": "5",
                    "size": "1080P"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功，返回统一的 OpenAI 风格视频任务对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数非法，例如 `media` 组合不受支持，或 `size` / `seconds` 超出项目当前支持范围。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "非法请求",
                    "value": {
                      "error": {
                        "message": "unsupported wan2.7-i2v media combination",
                        "type": "invalid_request_error",
                        "code": "invalid_request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "请求频率过高或额度不足。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端处理失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "查询 Wan 2.7 图生视频任务",
        "description": "根据公开任务 ID 查询 `wan2.7-i2v` 异步任务的最新状态。",
        "operationId": "aliWan27I2VQuery",
        "tags": [
          "Wan 2.7 Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "公开视频任务 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "当前任务状态。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "任务 ID 非法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "任务不存在或已过期。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "Wan27VideoRequest": {
        "type": "object",
        "required": [
          "model"
        ],
        "anyOf": [
          {
            "required": [
              "image"
            ]
          },
          {
            "required": [
              "images"
            ]
          },
          {
            "required": [
              "media"
            ]
          }
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.7-i2v"
            ],
            "description": "Ali wan2.7-i2v 模型。"
          },
          "prompt": {
            "type": "string",
            "description": "可选文本提示词。未提供时，生成过程将主要依赖输入媒体素材。"
          },
          "image": {
            "type": "string",
            "description": "单首帧兼容字段。项目会将其映射为上游 `media: [{type: first_frame, url: ...}]`。"
          },
          "images": {
            "type": "array",
            "description": "首帧 + 尾帧兼容字段。必须恰好包含 2 个元素，顺序为 `[首帧, 尾帧]`。",
            "items": {
              "type": "string"
            },
            "minItems": 2,
            "maxItems": 2
          },
          "media": {
            "type": "array",
            "description": "新版多模态输入字段。当前用于承接 `wan2.7-i2v` 官方新版协议，例如首帧 + 音频、首段视频续写等。",
            "items": {
              "$ref": "#/components/schemas/Wan27MediaInput"
            }
          },
          "seconds": {
            "type": "string",
            "description": "视频时长的字符串形式。当前支持 `2` 到 `15` 的整数字符串。",
            "default": "5"
          },
          "size": {
            "type": "string",
            "enum": [
              "720P",
              "1080P"
            ],
            "description": "当前项目实现支持的输出分辨率档位。",
            "default": "1080P"
          }
        }
      },
      "Wan27MediaInput": {
        "type": "object",
        "required": [
          "type",
          "url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "first_frame",
              "last_frame",
              "driving_audio",
              "first_clip"
            ],
            "description": "媒体素材类型。"
          },
          "url": {
            "type": "string",
            "description": "公网可访问的媒体素材地址。"
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "公开任务 ID。"
          },
          "task_id": {
            "type": "string",
            "description": "公开任务 ID 的兼容别名。"
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string",
            "description": "模型名称。"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress",
              "completed",
              "failed",
              "unknown"
            ],
            "description": "统一的视频任务状态。"
          },
          "progress": {
            "type": "integer",
            "description": "任务进度百分比。"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix 秒级时间戳。"
          }
        }
      },
      "VideoTaskQueryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VideoTaskResponse"
          },
          {
            "type": "object",
            "properties": {
              "completed_at": {
                "type": "integer",
                "format": "int64",
                "description": "任务进入终态后的完成时间戳。"
              },
              "metadata": {
                "type": "object",
                "description": "额外的统一元数据。成功时通常会在 `metadata.url` 中返回结果下载地址。",
                "additionalProperties": true
              },
              "error": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
