{
  "openapi": "3.0.1",
  "info": {
    "title": "HappyHorse-1.1-图生视频",
    "version": "1.0.0",
    "description": "阿里云 HappyHorse `happyhorse-1.1-i2v` 图生视频能力文档。平台统一接口端点为 `/ali/api/v1/services/aigc/video-generation/video-synthesis`，用于创建异步视频生成任务。以首帧图片为基础，支持通过文本描述进行引导，生成物理真实、运动流畅的视频。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "baze平台 API 服务端点"
    }
  ],
  "tags": [
    {
      "name": "HappyHorse Video",
      "description": "阿里云 HappyHorse happyhorse-1.1-i2v 图生视频能力"
    }
  ],
  "paths": {
    "/ali/api/v1/services/aigc/video-generation/video-synthesis": {
      "post": {
        "summary": "创建 happyhorse-1.1-i2v 图生视频任务",
        "description": "提交一个异步的阿里云 HappyHorse `happyhorse-1.1-i2v` 图生视频任务。\n\n提交任务后，请通过 `GET /ali/api/v1/tasks/{task_id}` 查询任务状态。",
        "operationId": "aliHappyHorse11I2VCreate",
        "tags": [
          "HappyHorse Video"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "请求内容类型。此参数必须设置为 application/json。"
          },
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "异步处理配置参数。HTTP 请求只支持异步，必须设置为 enable。缺少此请求头将报错：\"current user api does not support synchronous calls\"。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HappyHorse11I2VRequest"
              },
              "examples": {
                "图生视频-基于首帧": {
                  "summary": "图生视频-基于首帧",
                  "value": {
                    "model": "happyhorse-1.1-i2v",
                    "input": {
                      "prompt": "一只猫在草地上奔跑",
                      "media": [
                        {
                          "type": "first_frame",
                          "url": "https://cdn.translate.alibaba.com/r/wanx-demo-1.png"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 5
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功，返回视频任务对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                },
                "example": {
                  "output": {
                    "task_status": "PENDING",
                    "task_id": "0385dc79-5ff8-4d82-bcb6-xxxxxx"
                  },
                  "request_id": "4909100c-7b5a-9f92-bfe5-xxxxxx"
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败，例如未提供令牌或令牌无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "触发速率限制或账户额度不足。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端处理请求时发生内部错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/ali/api/v1/tasks/{task_id}": {
      "get": {
        "summary": "查询 happyhorse-1.1-i2v 图生视频任务状态",
        "description": "根据任务 ID 查询视频生成任务的状态和结果。\n\n任务状态流转：PENDING（排队中）→ RUNNING（处理中）→ SUCCEEDED（成功）/ FAILED（失败）。",
        "operationId": "aliHappyHorse11I2VQuery",
        "tags": [
          "HappyHorse Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "视频生成任务 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功，返回任务状态。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "任务不存在或已过期。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "HappyHorse11I2VRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "happyhorse-1.1-i2v"
            ],
            "description": "模型名称。可选值：`happyhorse-1.1-i2v`。"
          },
          "input": {
            "$ref": "#/components/schemas/HappyHorse11I2VInput"
          },
          "parameters": {
            "$ref": "#/components/schemas/HappyHorse11I2VParameters"
          }
        }
      },
      "HappyHorse11I2VInput": {
        "type": "object",
        "required": [
          "media"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "文本提示词。用于描述期望生成的视频内容。支持任何语言输入，长度不超过 5000 个非中文字符或 2500 个中文字符，超过部分将自动截断。",
            "maxLength": 5000
          },
          "media": {
            "type": "array",
            "description": "输入媒体列表。用于指定视频生成所需的图像。有且仅有1张首帧图像。",
            "minItems": 1,
            "maxItems": 1,
            "items": {
              "$ref": "#/components/schemas/MediaItem"
            }
          }
        }
      },
      "MediaItem": {
        "type": "object",
        "required": [
          "type",
          "url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "first_frame"
            ],
            "description": "媒体素材类型。可选值为：\n- `first_frame`：首帧。"
          },
          "url": {
            "type": "string",
            "description": "媒体素材 URL。传入图像（type=first_frame）首帧URL，或 Base64 编码数据。\n\n图像限制：\n- 格式：JPEG、JPG、PNG、WEBP。\n- 分辨率：宽和高不小于 300 像素。\n- 宽高比：1:2.5 ～ 2.5:1。\n- 文件大小：不超过 20MB。\n\n支持输入的格式：\n1. 公网URL：支持 HTTP 或 HTTPS 协议。示例值：https://xxx/xxx.png。\n2. Base64 编码图像后的字符串：数据格式 `data:{MIME_type};base64,{base64_data}`。示例值：data:image/png;base64,GDU7MtCZzEbTbmRZ......\n\n**Base64 编码数据格式**\n\n格式：`data:{MIME_type};base64,{base64_data}`。\n\n- `{base64_data}`：图像文件经过 Base64 编码后的字符串。\n- `{MIME_type}`：图像的媒体类型，需与文件格式对应。\n\n**图像格式与 MIME Type 对应表**\n\n| 图像格式 | MIME Type |\n| --- | --- |\n| JPEG | image/jpeg |\n| JPG | image/jpeg |\n| PNG | image/png |\n| WEBP | image/webp |"
          }
        }
      },
      "HappyHorse11I2VParameters": {
        "type": "object",
        "properties": {
          "resolution": {
            "type": "string",
            "enum": [
              "720P",
              "1080P"
            ],
            "description": "指定生成的视频分辨率档位，用于控制视频的清晰度（总像素）。模型根据选择的分辨率档位，自动缩放至相近总像素。输出的视频宽高比与输入首帧近似一致。\n- `720P`\n- `1080P`：默认值。",
            "default": "1080P"
          },
          "duration": {
            "type": "integer",
            "description": "指定生成视频的时长，单位为秒。取值为 [3, 15] 之间的整数。默认值为 5。",
            "minimum": 3,
            "maximum": 15,
            "default": 5
          },
          "watermark": {
            "type": "boolean",
            "description": "是否在生成的视频上添加水印标识。水印位于视频右下角，文案固定为 \"Happy Horse\"。\n- `true`：默认值，添加水印。\n- `false`：不添加水印。",
            "default": true
          },
          "seed": {
            "type": "integer",
            "description": "随机数种子，取值范围为 [0, 2147483647]。未指定时，系统自动生成随机种子。若需提升生成结果的可复现性，建议固定 seed 值。请注意，由于模型生成具有概率性，即使使用相同 seed，也不能保证每次生成结果完全一致。",
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "任务ID。查询有效期24小时。"
              },
              "task_status": {
                "type": "string",
                "description": "任务状态。\n\n枚举值：\n- PENDING：任务排队中\n- RUNNING：任务处理中\n- SUCCEEDED：任务执行成功\n- FAILED：任务执行失败\n- CANCELED：任务已取消\n- UNKNOWN：任务不存在或状态未知"
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "请求唯一标识。可用于请求明细溯源和问题排查。"
          },
          "code": {
            "type": "string",
            "description": "请求失败的错误码。请求成功时不会返回此参数。"
          },
          "message": {
            "type": "string",
            "description": "请求失败的详细信息。请求成功时不会返回此参数。"
          }
        }
      },
      "VideoTaskQueryResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "视频生成任务 ID。"
              },
              "task_status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ],
                "description": "任务状态。\n- `PENDING`：任务排队中\n- `RUNNING`：任务处理中\n- `SUCCEEDED`：任务执行成功\n- `FAILED`：任务执行失败\n- `CANCELED`：任务已取消\n- `UNKNOWN`：任务不存在或状态未知",
                "x-enum-descriptions": {
                  "PENDING": "任务排队中",
                  "RUNNING": "任务处理中",
                  "SUCCEEDED": "任务执行成功",
                  "FAILED": "任务执行失败",
                  "CANCELED": "任务已取消",
                  "UNKNOWN": "任务不存在或状态未知"
                }
              },
              "video_url": {
                "type": "string",
                "description": "生成视频的下载链接。仅在任务成功时返回。"
              },
              "orig_prompt": {
                "type": "string",
                "description": "原始输入提示词。"
              },
              "submit_time": {
                "type": "string",
                "description": "任务提交时间。"
              },
              "scheduled_time": {
                "type": "string",
                "description": "任务调度时间。"
              },
              "end_time": {
                "type": "string",
                "description": "任务结束时间。"
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "duration": {
                "type": "number",
                "description": "视频时长（秒）。"
              },
              "input_video_duration": {
                "type": "number",
                "description": "输入视频时长（秒）。"
              },
              "output_video_duration": {
                "type": "number",
                "description": "输出视频时长（秒）。"
              },
              "video_count": {
                "type": "integer",
                "description": "生成视频数量。"
              },
              "SR": {
                "type": "integer",
                "description": "分辨率档位。"
              },
              "ratio": {
                "type": "string",
                "description": "视频宽高比。"
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID。"
          },
          "code": {
            "type": "string",
            "description": "请求失败的错误码。请求成功时不会返回此参数。"
          },
          "message": {
            "type": "string",
            "description": "请求失败的详细信息。请求成功时不会返回此参数。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "错误码。"
          },
          "message": {
            "type": "string",
            "description": "错误信息。"
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID。"
          }
        }
      }
    }
  }
}