{
  "openapi": "3.0.1",
  "info": {
    "title": "mimo-v2.5-pro",
    "version": "1.0.0",
    "description": "MIMO 对话补全文档",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "MIMO Chat",
      "description": "MIMO 文本对话"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "mimo-v2.5-pro",
        "description": "调用 MIMO chat completions 能力",
        "operationId": "mimoChatCompletions_mimo_v2_5_pro",
        "tags": [
          "MIMO Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "default": {
                  "summary": "基础文本对话",
                  "value": {
                    "model": "mimo-v2.5-pro",
                    "messages": [
                      {
                        "content": "你是MiMo",
                        "role": "system"
                      },
                      {
                        "content": "介绍你自己",
                        "role": "user"
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "temperature": 1,
                    "top_p": 0.95,
                    "stream": false,
                    "frequency_penalty": 0,
                    "presence_penalty": 0,
                    "thinking": {
                      "type": "disabled"
                    },
                    "tool_choice": "auto"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "调用成功。非流式模式返回 JSON；流式模式返回 SSE 事件流。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "success": {
                    "summary": "非流式成功响应",
                    "value": {
                      "id": "test",
                      "object": "chat.completion",
                      "created": 1782805310,
                      "model": "mimo-v2.5-pro",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "你好！我是MiMo"
                          },
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 10,
                        "completion_tokens": 5,
                        "total_tokens": 15
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE 数据流。每个 `data:` 事件都可按 DeepSeek/OpenAI 兼容的 Chat Completions Chunk 解析；结束时通常返回 `data: [DONE]`。当请求设置 `stream_options.include_usage=true` 时，结束前会额外返回带 `usage` 的 chunk。"
                },
                "examples": {
                  "stream": {
                    "summary": "流式响应片段",
                    "value": "data: {\"id\":\"chatcmpl_bp_123\",\"object\":\"chat.completion.chunk\",\"created\":1742342400,\"model\":\"deepseek-v4-pro\",\"choices\":[{\"index\":0,\"delta\":{\"role\":\"assistant\",\"content\":\"正在调用天气工具\"},\"finish_reason\":null}],\"usage\":{\"prompt_tokens\":48,\"completion_tokens\":6,\"total_tokens\":54}}\n\ndata: {\"id\":\"chatcmpl_bp_123\",\"object\":\"chat.completion.chunk\",\"created\":1742342401,\"model\":\"deepseek-v4-pro\",\"choices\":[{\"index\":0,\"delta\":{\"tool_calls\":[{\"index\":0,\"id\":\"call_weather\",\"type\":\"function\",\"function\":{\"name\":\"get_weather\",\"arguments\":\"{\\\"city\\\":\\\"Beijing\\\"}\"}}]},\"finish_reason\":\"tool_calls\"}],\"usage\":{\"prompt_tokens\":48,\"completion_tokens\":22,\"total_tokens\":70}}\n\ndata: [DONE]\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "error": {
                        "message": "messages is required",
                        "type": "invalid_request_error",
                        "param": "messages",
                        "code": "bad_request_body"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败，例如未提供令牌或令牌无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "error": {
                        "message": "无效的令牌",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "触发速率限制或账户额度不足。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足或速率受限",
                    "value": {
                      "error": {
                        "message": "当前账户额度不足，请稍后重试",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务端处理请求时发生内部错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "内部处理失败",
                    "value": {
                      "error": {
                        "message": "服务内部处理失败，请稍后重试",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "description": "DeepSeek chat completions 请求体。",
        "properties": {
          "model": {
            "type": "string",
            "description": "使用的模型的 ID",
            "enum": [
              "mimo-v2.5-pro"
            ],
            "example": "mimo-v2.5-pro"
          },
          "messages": {
            "type": "array",
            "description": "对话的消息列表。",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "thinking": {
            "$ref": "#/components/schemas/ThinkingConfig"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "如果设置为 true，将会以 SSE（server-sent events）的形式以流式发送消息增量。消息流以 `data: [DONE]` 结尾。"
          },
          "stop": {
            "description": "一个 string 或最多包含 16 个 string 的 list，在遇到这些词时，API 将停止生成更多的 token。",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1.5,
            "default": 1,
            "description": "采样温度"
          },
          "top_p": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 1,
            "default": 1,
            "description": "核采样概率"
          },
          "tools": {
            "type": "array",
            "description": "模型可能会调用的 tool 的列表。目前，仅支持 function 作为工具。使用此参数来提供以 JSON 作为输入参数的 function 列表。最多支持 128 个 function。",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            }
          },
          "tool_choice": {
            "$ref": "#/components/schemas/ToolChoice"
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "最大生成 token 数"
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "description": "频率惩罚"
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "description": "存在惩罚"
          }
        }
      },
      "Message": {
        "description": "对话的消息列表中的单条消息。根据 role 的不同，分为 system、user、assistant、tool 四种消息类型。",
        "oneOf": [
          {
            "$ref": "#/components/schemas/SystemMessage"
          },
          {
            "$ref": "#/components/schemas/UserMessage"
          },
          {
            "$ref": "#/components/schemas/AssistantRequestMessage"
          },
          {
            "$ref": "#/components/schemas/ToolMessage"
          }
        ]
      },
      "SystemMessage": {
        "title": "System message",
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "System message。该消息的发起角色为 system。",
        "properties": {
          "content": {
            "type": "string",
            "description": "system 消息的内容。"
          },
          "role": {
            "type": "string",
            "enum": [
              "system"
            ],
            "description": "该消息的发起角色，其值为 system。"
          },
          "name": {
            "type": "string",
            "description": "可以选填的参与者的名称，为模型提供信息以区分相同角色的参与者。"
          }
        }
      },
      "UserMessage": {
        "title": "User message",
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "User message。该消息的发起角色为 user。",
        "properties": {
          "content": {
            "type": "string",
            "description": "user 消息的内容。"
          },
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "该消息的发起角色，其值为 user。"
          },
          "name": {
            "type": "string",
            "description": "可以选填的参与者的名称，为模型提供信息以区分相同角色的参与者。"
          }
        }
      },
      "AssistantRequestMessage": {
        "title": "Assistant message",
        "type": "object",
        "required": [
          "role"
        ],
        "description": "Assistant message。该消息的发起角色为 assistant。",
        "properties": {
          "content": {
            "type": "string",
            "nullable": true,
            "description": "assistant 消息的内容。"
          },
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ],
            "description": "该消息的发起角色，其值为 assistant。"
          },
          "name": {
            "type": "string",
            "description": "可以选填的参与者的名称，为模型提供信息以区分相同角色的参与者。"
          },
          "prefix": {
            "type": "boolean",
            "description": "(Beta) 设置此参数为 true，来强制模型在其回答中以此 assistant 消息中提供的前缀内容开始。"
          },
          "reasoning_content": {
            "type": "string",
            "nullable": true,
            "description": "(Beta) 用于思考模式下在对话前缀续写功能下，作为最后一条 assistant 思维链内容的输入。使用此功能时，prefix 参数必须设置为 true。"
          }
        }
      },
      "ToolMessage": {
        "title": "Tool message",
        "type": "object",
        "required": [
          "role",
          "content",
          "tool_call_id"
        ],
        "description": "Tool message。该消息的发起角色为 tool。",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "tool"
            ],
            "description": "该消息的发起角色，其值为 tool。"
          },
          "content": {
            "type": "string",
            "description": "tool 消息的内容。"
          },
          "tool_call_id": {
            "type": "string",
            "description": "此消息所响应的 tool call 的 ID。"
          }
        }
      },
      "ThinkingConfig": {
        "type": "object",
        "description": "控制思考模式与非思考模式的转换。",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "default": "enabled",
            "description": "如果设为 enabled，则使用思考模式。如果设为 disabled，则使用非思考模式。"
          }
        }
      },
      "StreamOptions": {
        "type": "object",
        "description": "流式输出相关选项。只有在 stream 参数为 true 时，才可设置此参数。",
        "properties": {
          "include_usage": {
            "type": "boolean",
            "description": "如果设置为 true，在流式消息最后的 `data: [DONE]` 之前将会传输一个额外的块。此块上的 usage 字段显示整个请求的 token 使用统计信息，而 choices 字段将始终是一个空数组。所有其他块也将包含一个 usage 字段，但其值为 null。"
          }
        }
      },
      "ToolDefinition": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "description": "函数工具定义。",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "tool 的类型。目前仅支持 function。"
          },
          "function": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "要调用的 function 名称。必须由 a-z、A-Z、0-9 字符组成，或包含下划线和连字符，最大长度为 64 个字符。"
              },
              "description": {
                "type": "string",
                "description": "function 的功能描述，供模型理解何时以及如何调用该 function。"
              },
              "parameters": {
                "type": "object",
                "description": "function 的输入参数，以 JSON Schema 对象描述。省略 parameters 会定义一个参数列表为空的 function。",
                "additionalProperties": true
              },
              "strict": {
                "type": "boolean",
                "default": false,
                "description": "如果设置为 true，API 将在函数调用中使用 strict 模式，以确保输出始终符合函数的 JSON schema 定义。该功能为 Beta 功能。"
              }
            }
          }
        }
      },
      "ToolChoice": {
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "auto"
            ]
          }
        ],
        "description": "工具选择"
      },
      "ResponseFormat": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ]
          }
        },
        "description": "响应格式"
      },
      "ToolCallMessage": {
        "type": "object",
        "required": [
          "id",
          "type",
          "function"
        ],
        "description": "消息中的工具调用对象。",
        "properties": {
          "id": {
            "type": "string",
            "description": "tool 调用的 ID。"
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "tool 的类型。目前仅支持 function。"
          },
          "function": {
            "type": "object",
            "description": "模型调用的 function。",
            "required": [
              "name",
              "arguments"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "模型调用的 function 名。"
              },
              "arguments": {
                "type": "string",
                "description": "要调用的 function 的参数，由模型生成，格式为 JSON。请注意，模型并不总是生成有效的 JSON，并且可能会臆造出你函数模式中未定义的参数。在调用函数之前，请在代码中验证这些参数。"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "DeepSeek chat completions 成功响应。",
        "properties": {
          "id": {
            "type": "string",
            "description": "该对话的唯一标识符。"
          },
          "object": {
            "type": "string",
            "description": "对象的类型，其值为 chat.completion。"
          },
          "created": {
            "type": "integer",
            "description": "创建聊天完成时的 Unix 时间戳（以秒为单位）。"
          },
          "model": {
            "type": "string",
            "description": "生成该 completion 的模型名。"
          },
          "system_fingerprint": {
            "type": "string",
            "description": "该指纹代表模型运行的后端配置。"
          },
          "choices": {
            "type": "array",
            "description": "模型生成的 completion 的选择列表。",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ChatCompletionChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "该 completion 在模型生成的 completion 的选择列表中的索引。"
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "模型停止生成 token 的原因。`stop` 表示模型自然停止生成或遇到 stop 序列；`length` 表示输出长度达到了模型上下文长度限制或 max_tokens 的限制；`content_filter` 表示输出内容因触发过滤策略而被过滤；`tool_calls` 表示模型调用了工具；`insufficient_system_resource` 表示系统推理资源不足，生成被打断。"
          },
          "logprobs": {
            "$ref": "#/components/schemas/ChoiceLogprobs"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ],
            "description": "生成这条消息的角色。"
          },
          "content": {
            "type": "string",
            "description": "该 completion 的内容。"
          },
          "reasoning_content": {
            "type": "string",
            "description": "仅适用于思考模式。内容为 assistant 消息中在最终答案之前的推理内容。"
          },
          "tool_calls": {
            "type": "array",
            "description": "模型生成的 tool 调用，例如 function 调用。",
            "items": {
              "$ref": "#/components/schemas/ToolCallMessage"
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "该对话补全请求的用量信息。",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "用户 prompt 所包含的 token 数。该值等于 prompt_cache_hit_tokens + prompt_cache_miss_tokens。"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "模型 completion 产生的 token 数。"
          },
          "total_tokens": {
            "type": "integer",
            "description": "该请求中，所有 token 的数量（prompt + completion）。"
          },
          "prompt_cache_hit_tokens": {
            "type": "integer",
            "description": "用户 prompt 中，命中上下文缓存的 token 数。"
          },
          "prompt_cache_miss_tokens": {
            "type": "integer",
            "description": "用户 prompt 中，未命中上下文缓存的 token 数。"
          },
          "completion_tokens_details": {
            "type": "object",
            "description": "completion tokens 的详细信息。",
            "properties": {
              "reasoning_tokens": {
                "type": "integer",
                "description": "推理模型所产生的思维链 token 数量。"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "错误描述。"
          },
          "type": {
            "type": "string",
            "description": "错误类型。"
          },
          "param": {
            "type": "string",
            "description": "关联字段名。"
          },
          "code": {
            "type": "string",
            "description": "错误码。"
          }
        }
      }
    }
  }
}