{
  "openapi": "3.0.1",
  "info": {
    "title": "mimo-v2.5-pro",
    "version": "1.0.0",
    "description": "MIMO 对话补全文档",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "baze API 服务端点"
    }
  ],
  "tags": [
    {
      "name": "MIMO 对话",
      "description": "MIMO 文本对话"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "mimo-v2.5-pro",
        "description": "调用 MIMO 对话补全能力",
        "operationId": "mimoChatCompletions_mimo_v2_5_pro_zh",
        "x-capability": "chat",
        "tags": [
          "MIMO 对话"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "基础调用": {
                  "summary": "基础文本对话",
                  "value": {
                    "model": "mimo-v2.5-pro",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是 MiMo，由小米开发的 AI 助手。今天是 2025 年 12 月 16 日，星期二。你的知识截止日期为 2024 年 12 月。"
                      },
                      {
                        "role": "user",
                        "content": "请介绍一下你自己"
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "temperature": 1,
                    "top_p": 0.95,
                    "stream": false,
                    "stop": null,
                    "frequency_penalty": 0,
                    "presence_penalty": 0,
                    "thinking": {
                      "type": "disabled"
                    }
                  }
                },
                "流式响应": {
                  "summary": "流式对话响应",
                  "value": {
                    "model": "mimo-v2.5-pro",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是 MiMo，由小米开发的 AI 助手。今天是 2025 年 12 月 16 日，星期二。你的知识截止日期为 2024 年 12 月。"
                      },
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "请介绍一下你自己"
                          }
                        ]
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "stream": true
                  }
                },
                "函数调用": {
                  "summary": "带函数调用的对话",
                  "value": {
                    "model": "mimo-v2.5-pro",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是 MiMo，由小米开发的 AI 助手。今天是 2025 年 12 月 16 日，星期二。你的知识截止日期为 2024 年 12 月。"
                      },
                      {
                        "role": "user",
                        "content": "波士顿今天天气怎么样？"
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_current_weather",
                          "description": "获取指定位置的当前天气",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string",
                                "description": "城市和省份，例如 北京"
                              },
                              "unit": {
                                "type": "string",
                                "enum": [
                                  "celsius",
                                  "fahrenheit"
                                ]
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ],
                    "tool_choice": "auto"
                  }
                },
                "结构化输出": {
                  "summary": "结构化输出（JSON 模式）",
                  "value": {
                    "model": "mimo-v2.5-pro",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是 MiMo，由小米开发的 AI 助手。今天是 2025 年 12 月 16 日，星期二。你的知识截止日期为 2024 年 12 月。"
                      },
                      {
                        "role": "user",
                        "content": "我叫张三，今年28岁，邮箱是 zhangsan@test.com，生日是 1996 年 5 月 12 日。请按以下 JSON 格式返回结果。注意：生日必须为 YYYY-MM-DD 格式。{\"name\": \"string or null\", \"age\": \"int or null\", \"email\": \"string or null\", \"birthday\": \"string or null\"}"
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "response_format": {
                      "type": "json_object"
                    }
                  }
                },
                "深度思考": {
                  "summary": "深度思考模式",
                  "value": {
                    "model": "mimo-v2.5-pro",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是 MiMo，由小米开发的 AI 助手。今天是 2025 年 12 月 16 日，星期二。你的知识截止日期为 2024 年 12 月。"
                      },
                      {
                        "role": "user",
                        "content": "请用三句话介绍机器学习。"
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "thinking": {
                      "type": "enabled"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功。非流式模式返回 JSON；流式模式返回 SSE 事件流。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "基础调用": {
                    "summary": "非流式成功响应",
                    "value": {
                      "id": "8b51f9e0515949cb8207fbd35ea6ea5c",
                      "choices": [
                        {
                          "finish_reason": "stop",
                          "index": 0,
                          "message": {
                            "content": "你好！我是 MiMo，由小米 LLM Core 团队创建的小米 AI 助手。我来这里聊天、回答问题以及协助各种任务——无论是提供信息、集思广益，还是进行友好的对话。有什么问题尽管问我，我会尽力帮忙！😊",
                            "role": "assistant",
                            "tool_calls": null
                          }
                        }
                      ],
                      "created": 1776848906,
                      "model": "mimo-v2.5-pro",
                      "object": "chat.completion",
                      "usage": {
                        "completion_tokens": 72,
                        "prompt_tokens": 57,
                        "total_tokens": 129,
                        "completion_tokens_details": {
                          "reasoning_tokens": 0
                        },
                        "prompt_tokens_details": null
                      }
                    }
                  },
                  "函数调用": {
                    "summary": "函数调用响应",
                    "value": {
                      "id": "8778784df68043e39a2df03258ddeaa5",
                      "choices": [
                        {
                          "finish_reason": "tool_calls",
                          "index": 0,
                          "message": {
                            "content": "",
                            "role": "assistant",
                            "tool_calls": [
                              {
                                "id": "call_b837e211b7764dab9b56f4d8",
                                "function": {
                                  "arguments": "{\"location\": \"Boston, MA\", \"unit\": \"celsius\"}",
                                  "name": "get_current_weather"
                                },
                                "type": "function"
                              }
                            ],
                            "reasoning_content": "The user is asking about the current weather in Boston. I should use the get_current_weather function to get this information. Boston could refer to Boston, MA. I'll call the function with location \"Boston, MA\" and use celsius as the unit since that's more commonly used in many places, but actually the user didn't specify a unit. Looking at the function parameters, I can choose celsius or fahrenheit. Since Boston is in the US, maybe fahrenheit would be more appropriate? Actually, I should just pick a default or ask. But the instructions say not to ask about optional parameters if there are defaults. There's no default specified in the schema, so I should choose one. I'll go with celsius as it's more standard internationally. Let me call the function."
                          }
                        }
                      ],
                      "created": 1776849125,
                      "model": "mimo-v2.5-pro",
                      "object": "chat.completion",
                      "usage": {
                        "completion_tokens": 196,
                        "prompt_tokens": 349,
                        "total_tokens": 545,
                        "completion_tokens_details": {
                          "reasoning_tokens": 161
                        },
                        "prompt_tokens_details": null
                      }
                    }
                  },
                  "结构化输出": {
                    "summary": "结构化输出响应",
                    "value": {
                      "id": "f88d3e6c6b0043b09871487b5c52e4b4",
                      "choices": [
                        {
                          "finish_reason": "stop",
                          "index": 0,
                          "message": {
                            "content": "{\"name\": \"Zhang San\", \"age\": 28, \"email\": \"zhangsan@test.com\", \"birthday\": \"1996-05-12\"}",
                            "role": "assistant",
                            "tool_calls": null
                          }
                        }
                      ],
                      "created": 1776850034,
                      "model": "mimo-v2.5-pro",
                      "object": "chat.completion",
                      "usage": {
                        "completion_tokens": 41,
                        "prompt_tokens": 145,
                        "total_tokens": 186,
                        "completion_tokens_details": {
                          "reasoning_tokens": 0
                        },
                        "prompt_tokens_details": null
                      }
                    }
                  },
                  "深度思考": {
                    "summary": "深度思考响应",
                    "value": {
                      "id": "7f2cc80f34b541c49f5fcd40ad34bc73",
                      "choices": [
                        {
                          "finish_reason": "stop",
                          "index": 0,
                          "message": {
                            "content": "Machine learning is a field of artificial intelligence that enables computers to learn from data and improve their performance without being explicitly programmed for every task. It uses algorithms to identify patterns and make decisions or predictions based on input information. This approach powers everything from personalized recommendations to advanced medical diagnostics.",
                            "role": "assistant",
                            "tool_calls": null,
                            "reasoning_content": "Hmm, the user is asking for a concise introduction to machine learning in exactly three sentences. This seems straightforward but requires careful wording to cover the core concepts without oversimplifying or overcomplicating.\n\nI should start with the basic definition, then mention how it learns from data, and end with its purpose and real-world relevance. The response should flow naturally from \"what it is\" to \"how it works\" to \"why it matters.\"\n\nKeeping it neutral and factual works best here—no need for examples or jargon. Just three clear, standalone sentences that collectively give a solid overview."
                          }
                        }
                      ],
                      "created": 1776850089,
                      "model": "mimo-v2.5-pro",
                      "object": "chat.completion",
                      "usage": {
                        "completion_tokens": 179,
                        "prompt_tokens": 60,
                        "total_tokens": 239,
                        "completion_tokens_details": {
                          "reasoning_tokens": 121
                        },
                        "prompt_tokens_details": null
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionChunk"
                },
                "examples": {
                  "流式响应": {
                    "summary": "流式响应 SSE 事件",
                    "value": "data: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"object\":\"chat.completion.chunk\",\"created\":1776849042,\"model\":\"mimo-v2.5-pro\",\"choices\":[{\"index\":0,\"delta\":{\"role\":\"assistant\",\"content\":\"\",\"reasoning_content\":null,\"tool_calls\":null},\"logprobs\":null,\"finish_reason\":null,\"matched_stop\":null}],\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[{\"delta\":{\"content\":null,\"role\":null,\"tool_calls\":null,\"reasoning_content\":\"Okay, the user\"},\"finish_reason\":null,\"index\":0}],\"created\":1776849042,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[{\"delta\":{\"content\":null,\"role\":null,\"tool_calls\":null,\"reasoning_content\":\" is asking\"},\"finish_reason\":null,\"index\":0}],\"created\":1776849042,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[{\"delta\":{\"content\":null,\"role\":null,\"tool_calls\":null,\"reasoning_content\":\" me\"},\"finish_reason\":null,\"index\":0}],\"created\":1776849042,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":null}\n\n...\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[{\"delta\":{\"content\":\"'m ready\",\"role\":null,\"tool_calls\":null,\"reasoning_content\":null},\"finish_reason\":null,\"index\":0}],\"created\":1776849044,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[{\"delta\":{\"content\":\" to help!\",\"role\":null,\"tool_calls\":null,\"reasoning_content\":null},\"finish_reason\":null,\"index\":0}],\"created\":1776849044,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"object\":\"chat.completion.chunk\",\"created\":1776849044,\"model\":\"mimo-v2.5-pro\",\"choices\":[{\"index\":0,\"delta\":{\"role\":null,\"content\":null,\"reasoning_content\":null,\"tool_calls\":null},\"logprobs\":null,\"finish_reason\":\"stop\",\"matched_stop\":151645}],\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[],\"created\":1776849044,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":{\"completion_tokens\":123,\"prompt_tokens\":55,\"total_tokens\":178,\"completion_tokens_details\":{\"reasoning_tokens\":71},\"prompt_tokens_details\":null}}\n\ndata: [DONE]"
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "error": {
                        "message": "messages 是必需的",
                        "type": "invalid_request_error",
                        "param": "messages",
                        "code": "bad_request_body"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "身份验证失败，例如缺少或无效的 token。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "error": {
                        "message": "无效的 token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "触发频率限制或账户额度不足。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足或频率受限",
                    "value": {
                      "error": {
                        "message": "账户额度不足，请稍后重试",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "处理请求时发生内部服务器错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "内部处理失败",
                    "value": {
                      "error": {
                        "message": "内部处理失败，请稍后重试",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "在请求头中传递 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "description": "MIMO 对话补全请求体。",
        "properties": {
          "model": {
            "type": "string",
            "description": "要使用的模型 ID",
            "enum": [
              "mimo-v2.5-pro"
            ],
            "example": "mimo-v2.5-pro"
          },
          "messages": {
            "type": "array",
            "description": "包含到目前为止对话的消息列表。",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "frequency_penalty": {
            "type": "number",
            "nullable": true,
            "default": 0,
            "minimum": -2,
            "maximum": 2,
            "description": "取值范围在 -2.0 到 2.0 之间的数值。如果该值为正，那么新 token 会根据其在已有文本中的出现频率受到相应的惩罚，降低模型重复相同内容的可能性。"
          },
          "presence_penalty": {
            "type": "number",
            "nullable": true,
            "default": 0,
            "minimum": -2,
            "maximum": 2,
            "description": "取值范围在 -2.0 到 2.0 之间的数值。如果该值为正，那么新 token 会根据其是否已在已有文本中出现受到相应的惩罚，从而增加模型谈论新主题的可能性。"
          },
          "max_completion_tokens": {
            "type": "integer",
            "nullable": true,
            "description": "对话补全中可以生成的 token 数的上限，包括可见的输出 token 数和推理 token 数。mimo-v2.5-pro 的默认值 131072。所需范围：[1, 131072]"
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "stop": {
            "description": "最多 4 个序列，当 API 生成到这些序列时会停止继续生成 token。返回的文本中不会包含这些停止序列。",
            "nullable": true,
            "default": null,
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "maxItems": 4
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "如果设置为 true，模型的响应数据会在生成过程中通过 SSE（server-sent events）的形式流式传输到客户端。"
          },
          "thinking": {
            "$ref": "#/components/schemas/ThinkingConfig"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1.5,
            "default": 1,
            "description": "要使用的采样温度，介于 0 和 1.5 之间。较高的值（如 0.8）会使输出更加随机，而较低的值（如 0.2）会使其更加集中和确定性。我们通常建议更改此值或 top_p，但不要同时更改。在思考模式下，mimo-v2.5-pro、mimo-v2.5 模型不支持自定义 temperature 参数。即使传入该参数，实际生效值也会被模型强制采用其推荐默认值 1.0。"
          },
          "tool_choice": {
            "$ref": "#/components/schemas/ToolChoice"
          },
          "top_p": {
            "type": "number",
            "default": 0.95,
            "minimum": 0.01,
            "maximum": 1,
            "description": "核采样的概率阈值，用于控制模型生成文本的多样性。top_p 值越高，生成的文本多样性越强；top_p 值越低，生成的文本确定性越高。由于 temperature 和 top_p 均用于控制生成文本的多样性，建议仅设置其中一个参数。在思考模式下，mimo-v2.5-pro、mimo-v2.5 模型不支持自定义 top_p 参数。即使传入该参数，实际生效值也会被模型强制采用其推荐默认值 0.95。"
          },
          "tools": {
            "type": "array",
            "description": "模型可能调用的工具列表。目前支持 function（函数）和 web_search（联网搜索）两种工具类型。注意：在思考模式下的多轮工具调用过程中，模型会在返回 tool_calls 字段的同时返回 reasoning_content 字段。若要继续对话，建议在后续每次请求的 messages 数组中保留所有历史 reasoning_content，以获得最佳表现。",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            }
          }
        }
      },
      "Message": {
        "description": "对话中的一条消息。根据角色的不同，分为五种消息类型：developer、system、user、assistant 和 tool。",
        "oneOf": [
          {
            "$ref": "#/components/schemas/DeveloperMessage"
          },
          {
            "$ref": "#/components/schemas/SystemMessage"
          },
          {
            "$ref": "#/components/schemas/UserMessage"
          },
          {
            "$ref": "#/components/schemas/AssistantRequestMessage"
          },
          {
            "$ref": "#/components/schemas/ToolMessage"
          }
        ]
      },
      "SystemMessage": {
        "title": "System message · object",
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "系统消息。此消息的角色为 system。",
        "properties": {
          "content": {
            "description": "系统消息的内容。",
            "oneOf": [
              {
                "type": "string",
                "description": "纯文本内容。"
              },
              {
                "$ref": "#/components/schemas/TextContentPartArray"
              }
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "system"
            ],
            "description": "消息作者的角色，为 system。"
          },
          "name": {
            "type": "string",
            "description": "参与者的可选名称，提供给模型以区分同一角色的不同参与者。"
          }
        }
      },
      "UserMessage": {
        "title": "User message · object",
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "用户消息。此消息的角色为 user。",
        "properties": {
          "content": {
            "type": "string",
            "description": "用户消息的内容。"
          },
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "消息作者的角色，为 user。"
          },
          "name": {
            "type": "string",
            "description": "参与者的可选名称，提供给模型以区分同一角色的不同参与者。"
          }
        }
      },
      "AssistantRequestMessage": {
        "title": "Assistant message · object",
        "type": "object",
        "required": [
          "role"
        ],
        "description": "助手消息。此消息的角色为 assistant。",
        "properties": {
          "content": {
            "description": "助手消息的内容。除非指定了 tool_calls，否则为必需。",
            "oneOf": [
              {
                "type": "string",
                "nullable": true,
                "description": "纯文本内容。"
              },
              {
                "$ref": "#/components/schemas/TextContentPartArray"
              }
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ],
            "description": "消息作者的角色，为 assistant。"
          },
          "name": {
            "type": "string",
            "description": "参与者的可选名称，提供给模型以区分同一角色的不同参与者。"
          },
          "tool_calls": {
            "type": "array",
            "description": "模型生成的工具调用，如函数调用。",
            "items": {
              "$ref": "#/components/schemas/ToolCallMessage"
            }
          }
        }
      },
      "ToolMessage": {
        "title": "Tool message · object",
        "type": "object",
        "required": [
          "role",
          "content",
          "tool_call_id"
        ],
        "description": "工具消息。此消息的角色为 tool。",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "tool"
            ],
            "description": "消息作者的角色，为 tool。"
          },
          "content": {
            "description": "工具消息的内容。",
            "oneOf": [
              {
                "type": "string",
                "description": "工具消息的文本内容。"
              },
              {
                "$ref": "#/components/schemas/TextContentPartArray"
              }
            ]
          },
          "tool_call_id": {
            "type": "string",
            "description": "此消息所响应的工具调用的 ID。"
          }
        }
      },
      "ThinkingConfig": {
        "type": "object",
        "description": "这个参数用于控制模型是否启用思维链。注意：在思考模式下的多轮工具调用过程中，模型会在返回 tool_calls 字段的同时返回 reasoning_content 字段。若要继续对话，建议在后续每次请求的 messages 数组中保留所有历史 reasoning_content，以获得最佳表现。在思考模式下，mimo-v2.5-pro、mimo-v2.5 模型不支持自定义 temperature 和 top_p 参数。即使传入该参数，实际生效值也会被模型强制采用其推荐默认值 1.0 和 0.95。",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "default": "enabled",
            "description": "是否启用思维链。mimo-v2.5-pro，mimo-v2.5 默认值为 enabled。可选值：enabled，disabled"
          }
        },
        "required": [
          "type"
        ]
      },
      "StreamOptions": {
        "type": "object",
        "description": "流式输出的选项。此参数仅在 stream 参数为 true 时才可设置。",
        "properties": {
          "include_usage": {
            "type": "boolean",
            "description": "如果设置为 true，在流传输结束前的 `data: [DONE]` 之前会额外传输一个数据块。该数据块上的 usage 字段显示整个请求的 token 用量统计，而 choices 字段始终为空数组。所有其他数据块也会包含 usage 字段，但其值为 null。"
          }
        }
      },
      "ToolDefinition": {
        "oneOf": [
          {
            "type": "object",
            "title": "函数工具",
            "required": [
              "type",
              "function"
            ],
            "description": "函数工具定义。",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "function"
                ],
                "description": "工具类型。目前支持 function。"
              },
              "function": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "工具函数的名称。必须由 a-z、A-Z、0-9 组成，或包含下划线（_）和连字符（-），最大长度为 64。"
                  },
                  "description": {
                    "type": "string",
                    "description": "函数功能的描述，供模型判断何时以及如何调用该函数。"
                  },
                  "parameters": {
                    "type": "object",
                    "description": "函数接受的参数，以 JSON 模式对象的形式描述。若省略 parameters，则表示该函数的参数列表为空。",
                    "additionalProperties": true
                  },
                  "strict": {
                    "type": "boolean",
                    "default": false,
                    "description": "生成函数调用时是否启用严格的模式遵循。若设为 true，模型将严格遵循 parameters 字段中定义的确切模式。当 strict 为 true 时，仅支持 JSON 模式的一个子集。"
                  }
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/WebSearchTool"
          }
        ]
      },
      "WebSearchUserLocation": {
        "type": "object",
        "required": [
          "type",
          "country"
        ],
        "description": "用户地理位置，用于优化模型输出结果。",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "approximate"
            ],
            "description": "位置类型，必须为 approximate。"
          },
          "country": {
            "type": "string",
            "description": "国家"
          },
          "region": {
            "type": "string",
            "description": "省份"
          },
          "city": {
            "type": "string",
            "description": "城市"
          },
          "district": {
            "type": "string",
            "description": "区县"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "经度"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "纬度"
          }
        }
      },
      "WebSearchTool": {
        "type": "object",
        "required": [
          "type"
        ],
        "description": "联网搜索工具对象。详情请参考联网搜索文档。注意：使用前需要开通联网服务插件。暂不支持联网搜索工具。",
        "properties": {
          "user_location": {
            "$ref": "#/components/schemas/WebSearchUserLocation"
          },
          "type": {
            "type": "string",
            "enum": [
              "web_search"
            ],
            "description": "工具类型。必须为 web_search。"
          },
          "force_search": {
            "type": "string",
            "default": "false",
            "description": "是否启用强制搜索。true 强制搜索，false 由模型判断是否需要搜索。"
          },
          "max_keyword": {
            "type": "integer",
            "default": 5,
            "minimum": 1,
            "maximum": 50,
            "description": "限制单轮搜索中可使用的最大关键词数量。"
          },
          "limit": {
            "type": "integer",
            "default": 5,
            "minimum": 1,
            "maximum": 50,
            "description": "限制单次搜索操作返回的最大结果条数。"
          }
        },
        "title": "联网搜索工具"
      },
      "ToolChoice": {
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "auto"
            ]
          }
        ],
        "description": "控制模型如何选择工具。注意：当 tool_choice 传入非 auto 值时，后端会默认移除该字段，模型响应行为仍等同于 auto 模式（该逻辑保留调整的可能性）。可选值：auto"
      },
      "ResponseFormat": {
        "type": "object",
        "description": "一个指定模型必须输出的格式的对象。",
        "oneOf": [
          {
            "type": "object",
            "title": "Text",
            "description": "默认响应格式。用于生成文本响应。",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text"
                ],
                "description": "所定义的响应格式类型。仅为 text。"
              }
            },
            "required": [
              "type"
            ]
          },
          {
            "type": "object",
            "title": "JSON object",
            "description": "JSON 对象响应格式。请注意，若系统消息或用户消息中未指示模型生成 JSON，模型将不会输出 JSON 格式内容。",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "json_object"
                ],
                "description": "所定义的响应格式类型。仅为 json_object。"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "ToolCallMessage": {
        "type": "object",
        "description": "消息中的工具调用对象。",
        "properties": {
          "id": {
            "type": "string",
            "description": "工具调用的 ID。"
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "工具的类型。目前仅支持 function。"
          },
          "function": {
            "type": "object",
            "description": "模型所调用的函数。",
            "properties": {
              "name": {
                "type": "string",
                "description": "模型所调用的函数的名称。"
              },
              "arguments": {
                "type": "string",
                "description": "模型生成的用于调用函数的参数，格式为 JSON 字符串。请注意，模型生成的内容并非总能保证是有效的 JSON，且可能会虚构出函数模式中未定义的参数。在调用函数之前，请在代码中对这些参数进行验证。"
              }
            }
          }
        },
        "title": "Function tool call · object"
      },
      "Annotation": {
        "type": "object",
        "description": "联网搜索后，模型会返回全部引用网址的注释。",
        "properties": {
          "logo_url": {
            "type": "string",
            "description": "logo 网址。"
          },
          "publish_time": {
            "type": "string",
            "description": "发布时间。"
          },
          "site_name": {
            "type": "string",
            "description": "网站名称。"
          },
          "summary": {
            "type": "string",
            "description": "总结。"
          },
          "title": {
            "type": "string",
            "description": "标题。"
          },
          "type": {
            "type": "string",
            "description": "类型。"
          },
          "url": {
            "type": "string",
            "description": "网址。"
          }
        }
      },
      "AudioResponse": {
        "type": "object",
        "description": "如果请求输出音频，该对象将包含有关模型音频响应的数据。",
        "properties": {
          "id": {
            "type": "string",
            "description": "此音频响应的唯一标识符。"
          },
          "data": {
            "type": "string",
            "description": "模型生成的 Base64 编码音频，格式为请求中指定的格式。"
          },
          "expires_at": {
            "type": "number",
            "nullable": true,
            "description": "此音频响应过期的 Unix 时间戳（以秒为单位）。当前仅为 null。"
          },
          "transcript": {
            "type": "string",
            "nullable": true,
            "description": "模型生成的音频的文字记录。当前仅为 null。"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "Chat 响应对象（非流式输出）。",
        "properties": {
          "id": {
            "type": "string",
            "description": "响应的唯一标识符。"
          },
          "object": {
            "type": "string",
            "description": "对象类型，仅为 chat.completion。"
          },
          "created": {
            "type": "integer",
            "description": "对话补全对象创建时的 Unix 时间戳（以秒为单位）。"
          },
          "model": {
            "type": "string",
            "description": "用于生成结果的模型名称。"
          },
          "choices": {
            "type": "array",
            "description": "包含生成的回复选项列表。",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ChatCompletionChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "选项列表中对应选项的索引。"
          },
          "message": {
            "$ref": "#/components/schemas/AssistantResponseMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "模型停止生成 token 的原因。如果模型到达自然停止点或提供的停止序列，则为 stop；如果达到请求中指定的最大 token 数，则为 length；如果模型调用了工具，则为 tool_calls。如果内容因触发过滤策略而被拦截，则为 content_filter；如果模型检测到了复读，则为 repetition_truncation。"
          }
        }
      },
      "AssistantResponseMessage": {
        "type": "object",
        "description": "模型生成的对话补全消息。",
        "properties": {
          "role": {
            "type": "string",
            "description": "消息作者的角色。"
          },
          "content": {
            "type": "string",
            "description": "消息的内容。"
          },
          "reasoning_content": {
            "type": "string",
            "description": "助手消息中最终答案之前的推理内容。"
          },
          "tool_calls": {
            "type": "array",
            "description": "函数调用启动后，模型会返回待调用的工具以及该调用所需的参数。此参数可包含一个或多个工具响应对象。",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ToolCallMessage"
                }
              ]
            }
          },
          "annotations": {
            "type": "array",
            "description": "联网搜索后，模型会返回全部引用网址的注释。",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            }
          },
          "error_message": {
            "type": "string",
            "description": "联网搜索的错误信息。"
          },
          "audio": {
            "$ref": "#/components/schemas/AudioResponse"
          },
          "final_text_preview": {
            "type": "string",
            "description": "经过智能优化润色后的音频播报最终文本。仅当请求参数 optimize_text_preview 设为 true 时，该字段才会返回。"
          }
        }
      },
      "ChatCompletionChunkChoice": {
        "type": "object",
        "description": "Chat 响应 chunk 对象（流式输出）。",
        "properties": {
          "index": {
            "type": "integer",
            "description": "选项列表中对应选项的索引。"
          },
          "delta": {
            "type": "object",
            "description": "流式模型响应生成的对话补全增量。",
            "properties": {
              "role": {
                "type": "string",
                "description": "消息作者的角色。"
              },
              "content": {
                "type": "string",
                "description": "数据块消息的内容。"
              },
              "reasoning_content": {
                "type": "string",
                "description": "助手消息中最终答案之前的推理内容。"
              },
              "tool_calls": {
                "type": "array",
                "description": "函数调用启动后，模型会返回待调用的工具以及该调用所需的参数。此参数可包含一个或多个工具响应对象。",
                "items": {
                  "type": "object",
                  "properties": {
                    "index": {
                      "type": "integer",
                      "description": "在 tool_calls 列表中被调用工具的索引，从 0 开始。"
                    },
                    "id": {
                      "type": "string",
                      "description": "工具调用的 ID。"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "function"
                      ],
                      "description": "工具的类型。目前仅支持 function。"
                    },
                    "function": {
                      "type": "object",
                      "description": "调用的函数。",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "要调用的函数的名称。"
                        },
                        "arguments": {
                          "type": "string",
                          "description": "模型生成的用于调用函数的参数，格式为 JSON。请注意，模型生成的内容并非并非总能保证是有效的 JSON，且可能会虚构出函数模式中未定义的参数。在调用函数之前，请在代码中对这些参数进行验证。"
                        }
                      }
                    }
                  }
                }
              },
              "annotations": {
                "type": "array",
                "description": "联网搜索后，模型会返回全部引用网址的注释。",
                "items": {
                  "$ref": "#/components/schemas/Annotation"
                }
              },
              "error_message": {
                "type": "string",
                "description": "联网搜索链路的错误信息。"
              }
            }
          },
          "finish_reason": {
            "type": "string",
            "nullable": true,
            "description": "模型停止生成 token 的原因。如果模型到达自然停止点或提供的停止序列，则为 stop；如果达到请求中指定的最大 token 数，则为 length；如果模型调用了工具，则为 tool_calls。如果内容因触发过滤策略而被拦截，则为 content_filter；如果模型检测到了复读，则为 repetition_truncation。"
          }
        }
      },
      "ChatCompletionChunk": {
        "type": "object",
        "description": "Chat 响应 chunk 对象（流式输出）。SSE 流中的每个 `data:` 事件对应一个 ChatCompletionChunk。流通常以 `data: [DONE]` 结束。",
        "properties": {
          "id": {
            "type": "string",
            "description": "对话补全对象的唯一标识符。每个数据块均使用相同的 ID。"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion.chunk"
            ],
            "description": "对象类型，仅为 chat.completion.chunk。"
          },
          "created": {
            "type": "integer",
            "description": "对话补全对象创建时的 Unix 时间戳（以秒为单位）。每个数据块均使用相同的时间戳。"
          },
          "model": {
            "type": "string",
            "description": "用于生成结果的模型。"
          },
          "choices": {
            "type": "array",
            "description": "包含生成的回复选项列表。",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChunkChoice"
            }
          },
          "usage": {
            "description": "该对话补全请求的用量信息。",
            "allOf": [
              {
                "$ref": "#/components/schemas/Usage"
              }
            ],
            "nullable": true
          }
        }
      },
      "TextContentPart": {
        "type": "object",
        "title": "Text content part · object",
        "required": [
          "type",
          "text"
        ],
        "description": "消息中的纯文本内容部分。",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "内容部分的类型，为 text。"
          },
          "text": {
            "type": "string",
            "description": "文本内容。"
          }
        }
      },
      "TextContentPartArray": {
        "type": "array",
        "description": "消息中的纯文本内容部分数组。",
        "items": {
          "$ref": "#/components/schemas/TextContentPart"
        },
        "title": "Array of content parts · array"
      },
      "ContentPartText": {
        "type": "object",
        "title": "Text content part · object",
        "required": [
          "type",
          "text"
        ],
        "description": "用户消息中的纯文本内容部分。",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "内容部分的类型，为 text。"
          },
          "text": {
            "type": "string",
            "description": "文本内容。"
          }
        }
      },
      "ContentPartArray": {
        "type": "array",
        "description": "用户消息中内容部分的数组。可包含文本、图像、音频或视频。",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/ContentPartText"
            }
          ]
        }
      },
      "DeveloperMessage": {
        "type": "object",
        "title": "Developer message · object",
        "required": [
          "role",
          "content"
        ],
        "description": "开发者消息。开发者提供的指令，无论用户发送什么消息，模型都应遵循这些指令。",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "developer"
            ],
            "description": "消息作者的角色，为 developer。"
          },
          "content": {
            "description": "开发者消息的内容。",
            "oneOf": [
              {
                "type": "string",
                "description": "纯文本内容。"
              },
              {
                "$ref": "#/components/schemas/TextContentPartArray"
              }
            ]
          },
          "name": {
            "type": "string",
            "description": "参与者的可选名称，提供给模型以区分同一角色的不同参与者。"
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "该对话补全请求的用量信息。",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "提示词使用的 token 数量。"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "模型输出内容花费的 token。"
          },
          "total_tokens": {
            "type": "integer",
            "description": "请求中使用的 token 总数（提示词 + 补全结果）。"
          },
          "completion_tokens_details": {
            "type": "object",
            "description": "补全中使用的 token 数量明细。",
            "properties": {
              "reasoning_tokens": {
                "type": "integer",
                "description": "模型为推理生成的 token 数量。"
              }
            }
          },
          "prompt_tokens_details": {
            "type": "object",
            "description": "提示中使用的 token 数量明细。",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "命中缓存的 token 数量。"
              },
              "audio_tokens": {
                "type": "integer",
                "description": "提示中存在的音频输入 token 数量。"
              },
              "image_tokens": {
                "type": "integer",
                "description": "提示中存在的图像输入 token 数量。"
              },
              "video_tokens": {
                "type": "integer",
                "description": "提示中存在的视频输入 token 数量。"
              }
            }
          },
          "web_search_usage": {
            "type": "object",
            "description": "联网搜索 API 的调用量明细。",
            "properties": {
              "tool_usage": {
                "type": "integer",
                "description": "联网搜索 API 的调用次数。"
              },
              "page_usage": {
                "type": "integer",
                "description": "联网搜索 API 返回的网页数。"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "错误描述。"
          },
          "type": {
            "type": "string",
            "description": "错误类型。"
          },
          "param": {
            "type": "string",
            "description": "关联字段名称。"
          },
          "code": {
            "type": "string",
            "description": "错误代码。"
          }
        }
      }
    }
  }
}
