{
  "openapi": "3.0.1",
  "info": {
    "title": "qwen3.7-max 对话补全",
    "version": "1.0.0",
    "description": "阿里对话能力文档。公开统一入口为 /v1/chat/completions。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Qwen Chat",
      "description": "千问系列对话与多模态能力"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "qwen3.7-max 对话补全",
        "description": "适用于阿里渠道的 qwen3.7-max 模型。\n\n公开字段：`model`、`messages`、`stream`、`temperature`、`top_p`、`top_k`、`repetition_penalty`、`presence_penalty`、`max_completion_tokens`、`max_tokens`、`stop`、`seed`、`tools`、`tool_choice`、`parallel_tool_calls`、`enable_search`、`search_options`、`response_format`、`enable_thinking`、`thinking_budget`、`reasoning_effort`、`tool_stream`、`enable_code_interpreter`、`vl_high_resolution_images`、`n`、`logprobs`、`top_logprobs`、`preserve_thinking`、`skill`、`clear_thinking`。",
        "operationId": "aliChatCompletions",
        "tags": [
          "Qwen Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "文本输入": {
                  "summary": "文本输入",
                  "value": {
                    "model": "qwen3.7-max",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "你是谁？"
                      }
                    ]
                  }
                },
                "流式输出": {
                  "summary": "流式输出",
                  "value": {
                    "model": "qwen3.7-max",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "你是谁？"
                      }
                    ],
                    "stream": true,
                    "stream_options": {
                      "include_usage": true
                    }
                  }
                },
                "图像输入": {
                  "summary": "图像输入",
                  "value": {
                    "model": "qwen-vl-plus",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://dashscope.oss-cn-beijing.aliyuncs.com/images/dog_and_girl.jpeg"
                            }
                          },
                          {
                            "type": "text",
                            "text": "这是什么"
                          }
                        ]
                      }
                    ]
                  }
                },
                "视频输入": {
                  "summary": "视频输入",
                  "value": {
                    "model": "qwen-vl-max",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "video",
                            "video": [
                              "https://img.alicdn.com/imgextra/i3/O1CN01K3SgGo1eqmlUgeE9b_!!6000000003923-0-tps-3840-2160.jpg",
                              "https://img.alicdn.com/imgextra/i4/O1CN01BjZvwg1Y23CF5qIRB_!!6000000003000-0-tps-3840-2160.jpg",
                              "https://img.alicdn.com/imgextra/i4/O1CN01Ib0clU27vTgBdbVLQ_!!6000000007859-0-tps-3840-2160.jpg",
                              "https://img.alicdn.com/imgextra/i1/O1CN01aygPLW1s3EXCdSN4X_!!6000000005710-0-tps-3840-2160.jpg"
                            ]
                          },
                          {
                            "type": "text",
                            "text": "描述这个视频的具体过程"
                          }
                        ]
                      }
                    ]
                  }
                },
                "工具调用": {
                  "summary": "工具调用",
                  "value": {
                    "model": "qwen-plus",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "杭州天气怎么样"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_current_time",
                          "description": "当你想知道现在的时间时非常有用。",
                          "parameters": {}
                        }
                      },
                      {
                        "type": "function",
                        "function": {
                          "name": "get_current_weather",
                          "description": "当你想查询指定城市的天气时非常有用。",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string",
                                "description": "城市或县区，比如北京市、杭州市、余杭区等。"
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ]
                  }
                },
                "联网搜索": {
                  "summary": "联网搜索",
                  "value": {
                    "model": "qwen-plus",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "中国队在巴黎奥运会获得了多少枚金牌"
                      }
                    ],
                    "enable_search": true
                  }
                },
                "文档理解": {
                  "summary": "文档理解",
                  "value": {
                    "model": "qwen-long",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "system",
                        "content": "fileid://file-fe-xxx"
                      },
                      {
                        "role": "user",
                        "content": "这篇文章讲了什么？"
                      }
                    ],
                    "stream": true,
                    "stream_options": {
                      "include_usage": true
                    }
                  }
                },
                "PPT生成": {
                  "summary": "PPT生成",
                  "value": {
                    "model": "qwen-doc-turbo",
                    "messages": [
                      {
                        "role": "system",
                        "content": "you are a helpful assistant."
                      },
                      {
                        "role": "system",
                        "content": "您的文档内容"
                      },
                      {
                        "role": "user",
                        "content": "生成一个10到20页的ppt"
                      }
                    ],
                    "skill": [
                      {
                        "type": "ppt",
                        "mode": "general",
                        "template_id": "news_01"
                      }
                    ],
                    "stream": true,
                    "stream_options": {
                      "include_usage": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "调用成功，返回对话补全结果。流式模式下返回 SSE 流。",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ChatCompletionResponse",
                      "title": "chat响应对象（非流式输出）"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionChunkResponse",
                      "title": "chat响应chunk对象（流式输出）"
                    }
                  ]
                },
                "examples": {
                  "非流式响应示例": {
                    "summary": "非流式响应示例",
                    "value": {
                      "choices": [
                        {
                          "message": {
                            "role": "assistant",
                            "content": "我是阿里云开发的一款超大规模语言模型，我叫千问。"
                          },
                          "finish_reason": "stop",
                          "index": 0,
                          "logprobs": null
                        }
                      ],
                      "object": "chat.completion",
                      "usage": {
                        "prompt_tokens": 3019,
                        "completion_tokens": 104,
                        "total_tokens": 3123,
                        "prompt_tokens_details": {
                          "cached_tokens": 2048
                        }
                      },
                      "created": 1735120033,
                      "system_fingerprint": null,
                      "model": "qwen-plus",
                      "id": "chatcmpl-6ada9ed2-7f33-9de2-8bb0-78bd4035025a"
                    }
                  },
                  "流式响应示例（多 chunk，SSE）": {
                    "summary": "流式响应示例（多 chunk，SSE）",
                    "value": [
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "",
                              "function_call": null,
                              "refusal": null,
                              "role": "assistant",
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "我是",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "来自",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "阿里",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "云的超大规模",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "语言模型，我",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "叫千问千",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "问。",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": "stop",
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": {
                          "completion_tokens": 17,
                          "prompt_tokens": 22,
                          "total_tokens": 39,
                          "completion_tokens_details": null,
                          "prompt_tokens_details": {
                            "audio_tokens": null,
                            "cached_tokens": 0
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "error": {
                        "message": "messages is required",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": "messages"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "error": {
                        "message": "无效的令牌",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "鉴权失败，例如未提供令牌或令牌无效。"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足或速率受限",
                    "value": {
                      "error": {
                        "message": "当前账户额度不足，请稍后重试",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "触发速率限制或账户额度不足。"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "内部处理失败",
                    "value": {
                      "error": {
                        "message": "服务内部处理失败，请稍后重试",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "服务端处理请求时发生内部错误。"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "上游响应异常",
                    "value": {
                      "error": {
                        "message": "上游服务返回了无效响应",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "上游服务返回异常响应。"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "服务暂不可用",
                    "value": {
                      "error": {
                        "message": "当前模型暂时无可用渠道，请稍后重试",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "上游服务暂不可用，或当前模型暂无可用渠道。"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen3.7-max"
            ],
            "description": "模型名称。仅支持当前阿里渠道最终白名单中的公开对话模型。",
            "example": "qwen3.7-max"
          },
          "messages": {
            "type": "array",
            "description": "传递给大模型的上下文，按对话顺序排列。支持四种消息类型：System Message（系统消息）、User Message（用户消息）、Assistant Message（助手消息）、Tool Message（工具消息）。支持纯文本、多模态（图像/视频/音频）内容以及显式缓存。",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SystemMessage",
                  "title": "System Message object （可选）"
                },
                {
                  "$ref": "#/components/schemas/UserMessage",
                  "title": "User Message object （必选）"
                },
                {
                  "$ref": "#/components/schemas/AssistantMessage",
                  "title": "Assistant Message object （可选）"
                },
                {
                  "$ref": "#/components/schemas/ToolMessage",
                  "title": "Tool Message object （可选）"
                }
              ]
            }
          },
          "stream": {
            "type": "boolean",
            "description": "是否以流式输出方式回复。\n可选值：\n- false：模型生成全部内容后一次性返回；\n- true：边生成边输出，每生成一部分内容即返回一个数据块（chunk）。需实时逐个读取这些块以拼接完整回复。\n\n推荐设置为 true，可提升阅读体验并降低超时风险。\n\n说明：非流式调用若超过 300 秒未完成，服务将中断请求并返回已生成的内容（而非报错）。建议输出较长的场景务必使用流式调用。",
            "default": false
          },
          "stream_options": {
            "type": "object",
            "description": "流式输出的配置项，仅在 stream 为 true 时生效。",
            "properties": {
              "include_usage": {
                "type": "boolean",
                "description": "是否在响应的最后一个数据块包含 Token 消耗信息。可选值：true（包含）、false（不包含）。流式输出时，Token 消耗信息仅可出现在响应的最后一个数据块。",
                "default": false
              }
            }
          },
          "temperature": {
            "type": "number",
            "description": "采样温度，控制模型生成文本的多样性。temperature 越高，生成的文本更多样，反之，生成的文本更确定。取值范围：[0, 2)。temperature 与 top_p 均可以控制生成文本的多样性，建议只设置其中一个值。",
            "minimum": 0,
            "maximum": 2,
            "default": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "核采样的概率阈值，控制模型生成文本的多样性。top_p 越高，生成的文本更多样。反之，生成的文本更确定。取值范围：(0, 1.0]。temperature 与 top_p 均可以控制生成文本的多样性，建议只设置其中一个值。",
            "minimum": 0,
            "maximum": 1,
            "default": 0.95
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "停止词字符串。"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "停止词列表。"
              }
            ],
            "description": "用于指定停止词。当模型生成的文本中出现 stop 指定的字符串时，生成将立即终止。\n\n可传入敏感词以控制模型的输出。\n\nstop 为数组时，不可将 token_id 和字符串同时作为元素输入，比如不可以指定为 [\"你好\", 104307]。"
          },
          "seed": {
            "type": "integer",
            "description": "随机数种子。用于确保在相同输入和参数下生成结果可复现。若调用时传入相同的 seed 且其他参数不变，模型将尽可能返回相同结果。\n\n取值范围：[0, 2^31−1]。\n\nseed 默认值：\n- qwen-vl-max、qvq-max 系列：3407；\n- qwen-vl-max-2024-02-01、qwen-vl-plus：无默认值；\n- 其余模型均为 1234。",
            "minimum": 0,
            "maximum": 2147483647
          },
          "tools": {
            "type": "array",
            "description": "包含一个或多个工具对象的数组，供模型在 Function Calling 中调用。\n\n设置 tools 且模型判断需要调用工具时，响应会通过 tool_calls 返回工具信息。\n\n属性：\n- type（必选）：工具类型，当前仅支持设为 function。\n- function（必选）：工具与入参信息。\n  - name（必选）：工具名称。仅允许字母、数字、下划线（_）和短划线（-），最长 64 个 Token。\n  - description（必选）：工具描述信息，帮助模型判断何时以及如何调用该工具。\n  - parameters（可选，默认 {}）：工具的参数描述，需要是一个合法的 JSON Schema。若 parameters 参数为空，表示该工具没有入参（如时间查询工具）。为提高工具调用的准确性，建议传入 parameters。",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "auto",
                  "none",
                  "required"
                ],
                "description": "工具选择策略：auto（大模型自主选择）、none（不进行工具调用）、required（必须调用至少一个工具）。"
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                },
                "description": "强制调用指定工具：{\"type\":\"function\",\"function\":{\"name\":\"the_function_to_call\"}}。思考模式的模型不支持强制调用某个工具。"
              }
            ],
            "description": "工具选择策略。默认值：auto。若需对某类问题强制指定工具调用方式（例如始终使用某工具或禁用所有工具），可设置此参数。\n\n可选值：\n- auto：大模型自主选择工具策略；\n- none：若不希望进行工具调用，可设定 tool_choice 参数为 none；\n- {\"type\": \"function\", \"function\": {\"name\": \"the_function_to_call\"}}：若希望强制调用某个工具，可设定此参数，其中 the_function_to_call 是指定的工具函数名称。\n\n思考模式的模型不支持强制调用某个工具。",
            "default": "auto"
          },
          "enable_search": {
            "type": "boolean",
            "description": "是否开启联网搜索。默认值：false。\n\n可选值：\n- true：开启。若开启后未联网搜索，可优化提示词，或设置 search_options 中的 forced_search 参数开启强制搜索；\n- false：不开启。\n\n启用互联网搜索功能可能会增加 Token 的消耗。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"enable_search\": True}。",
            "default": false
          },
          "response_format": {
            "type": "object",
            "description": "返回内容的格式。可选值：\n- {\"type\": \"text\"}：输出文字回复；\n- {\"type\": \"json_object\"}：输出标准格式的 JSON 字符串。\n\n相关文档：结构化输出。\n\n若指定为 {\"type\": \"json_object\"}，需在提示词中明确指示模型输出 JSON，如：\"请按照json格式输出\"，否则会报错。",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "json_object"
                ],
                "description": "返回内容格式。可选值：text（文字回复）、json_object（JSON 字符串）。"
              }
            }
          },
          "top_k": {
            "type": "integer",
            "description": "指定生成过程中用于采样的候选 Token 数量。值越大，输出越随机；值越小，输出越确定。若设为 null 或大于 100，则禁用 top_k 策略，仅 top_p 策略生效。取值必须为大于或等于 0 的整数。默认值 20。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"top_k\":xxx}。",
            "minimum": 0,
            "default": 20
          },
          "repetition_penalty": {
            "type": "number",
            "description": "模型生成时连续序列中的重复度。提高 repetition_penalty 时可以降低模型生成的重复度，1.0 表示不做惩罚。没有严格的取值范围，只要大于 0 即可。\n\nrepetition_penalty 默认值：\n- qwen-max、qwen-math 系列、qwen-vl-max 系列、qwen-audio-turbo 系列、QVQ 系列、QwQ 系列、Qwen3-VL：1.0；\n- qwen-coder 系列、qwen2-1.5b-instruct、qwen2-0.5b-instruct、qwen2.5-omni-7b：1.1；\n- qwen-vl-plus：1.2；\n- 其余模型为 1.05。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"repetition_penalty\":xxx}。",
            "minimum": 0,
            "default": 1.05
          },
          "presence_penalty": {
            "type": "number",
            "description": "控制模型生成文本时的内容重复度。\n\n取值范围：[-2.0, 2.0]。正值降低重复度，负值增加重复度。\n\n在创意写作或头脑风暴等需要多样性、趣味性或创造力的场景中，建议调高该值；在技术文档或正式文本等强调一致性与术语准确性的场景中，建议调低该值。\n\npresence_penalty 默认值：\n- Qwen3.7（非思考模式）、Qwen3.6（非思考模式）、Qwen3.5-Omni、Qwen3.5（非思考模式）、qwen3-max-preview（思考模式）、Qwen3（非思考模式）、Qwen3-Instruct 系列/1.7b/4b（思考模式）、QVQ 系列、qwen-max、qwen2.5-vl 系列、qwen-vl-max 系列、qwen-vl-plus、Qwen3-VL（非思考）：1.5；\n- qwen3-8b/14b/32b/30b-a3b/235b-a22b（思考模式）、qwen-plus/qwen-plus-latest/2025-04-28（思考模式）、qwen-turbo/qwen-turbo/2025-04-28（思考模式）：0.5；\n- 其余均为 0.0。\n\n原理介绍：如果参数值是正数，模型将对目前文本中已存在的 Token 施加一个惩罚值（惩罚值与文本出现的次数无关），减少这些 Token 重复出现的几率，从而减少内容重复度，增加用词多样性。",
            "minimum": -2,
            "maximum": 2,
            "default": 1.5
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "模型输出的最大长度，包含思维链和模型回答。模型输出超过此值时生成将提前停止，返回的 finish_reason 为 length。\n\n默认值与最大值均为模型的最大输出长度。\n\n与 max_tokens 的区别：max_completion_tokens 限制模型完整输出（思维链 + 回答），而 max_tokens 仅限制回答部分。思考类模型推荐使用 max_completion_tokens。\n\n支持以下模型：\n- 千问 Max：Qwen3.7-Max 及之后的模型\n- 千问 Plus：Qwen3.5-Plus 及之后的模型\n\n实际输出 Token 数与设置的 max_completion_tokens 值之间最多可能存在 10 个 Token 的误差。",
            "minimum": 1
          },
          "parallel_tool_calls": {
            "type": "boolean",
            "description": "是否开启并行工具调用。默认值：false。\n\n可选值：\n- true：开启；\n- false：不开启。",
            "default": false
          },
          "search_options": {
            "type": "object",
            "description": "联网搜索的策略。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"search_options\": xxx}。"
          },
          "enable_thinking": {
            "type": "boolean",
            "description": "使用混合思考（回复前既可思考也可不思考）模型时，是否开启思考模式。适用于 Qwen3.7、Qwen3.6、Qwen3.5、Qwen3、Qwen3-Omni-Flash、Qwen3-VL 模型，以及 DeepSeek-V4-Pro/V4-Flash 系列（阿里云直供）、DeepSeek-V3.2/V3.2-exp/V3.1 系列（阿里云直供、硅基流动直供、快手万擎直供）、Kimi-K2.7-code（仅思考模型）、Kimi-K2.6/K2.5 系列（阿里云直供、月之暗面直供）、GLM 系列。DeepSeek-V4 系列默认开启思考，可通过 reasoning_effort 参数调整推理力度。\n\n可选值：\n- true：开启。开启后，思考内容将通过 reasoning_content 字段返回。\n- false：不开启。\n\n不同模型的默认值：支持的模型。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"enable_thinking\": xxx}。\n\n若不使用 OpenAI SDK，而是通过 HTTP（如 curl）方式直接调用，则无需 extra_body，直接将 enable_thinking 与 model、messages 等参数一样放在请求体（body）的顶层即可，例如 \"enable_thinking\": true。"
          },
          "thinking_budget": {
            "type": "integer",
            "description": "思考过程的最大 Token 数。适用于 Qwen3.7、Qwen3.6、Qwen3.5、Qwen3-VL、Qwen3、GLM（阿里云直供）、Kimi（阿里云直供）系列模型。相关文档：限制思考长度。\n\n默认值为模型最大思维链长度，请参见：模型列表。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"thinking_budget\": xxx}。",
            "minimum": 1
          },
          "reasoning_effort": {
            "type": "string",
            "description": "控制模型的推理力度，不同模型支持的可选值和默认值不同。\n\nDeepSeek-V4、GLM 系列与 kimi/kimi-k3（默认值为 high）：\n- 可选值：high（高力度推理）、max（最大力度推理）。low 和 medium 映射为 high，xhigh 映射为 max。\n- 适用于 glm-5.2、glm-5.1、glm-5、deepseek-v4-pro、deepseek-v4-flash（阿里云直供）、kimi/kimi-k3（月之暗面直供，仅支持 max）。\n\nqwen3.8-max-preview 模型（默认值为 xhigh）：\n- 可选值：xhigh（高力度推理）、medium（中力度推理）、low（低力度推理）。max 映射为 xhigh，high 映射为 xhigh，minimal 映射为 low，none 映射为 enable_thinking=False。设置上述可选值及映射值以外的值将会报错。\n\n重要：qwen3.8-max-preview 不支持 reasoning_effort 与 thinking_budget 同时设置，同时设置会报错。但两者支持互转：\n- 未设置 thinking_budget 时，reasoning_effort 档位自动映射 thinking_budget：low 对应 4096，medium 对应 16384，xhigh 对应 262144。\n- 未设置 reasoning_effort 时，thinking_budget 自动映射回 reasoning_effort：0~4096 对应 low，4097~16384 对应 medium，16385~262144 对应 xhigh。\n- 两者均未设置时，使用默认 thinking_budget（131072），默认 reasoning_effort（xhigh）。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"reasoning_effort\": \"high\"}。",
            "enum": [
              "low",
              "medium",
              "high",
              "max",
              "xhigh"
            ]
          },
          "tool_stream": {
            "type": "boolean",
            "description": "仅在 stream=true 时生效。当前仅 Qwen 和 GLM 系列支持。默认值：false。\n\nQwen 系列支持列表：\n- qwen-max 系列：qwen3.7-max 系列的文本模态；\n- qwen-plus 系列：qwen3.7-plus 系列、qwen3.6-plus 系列的文本模态，以及 qwen3.5-plus 系列的全模态；\n- qwen-flash 系列：qwen3.7-flash 系列、qwen3.6-flash 系列、qwen3.5-flash 系列的全模态。\n\nQwen 系列使用参考：tool_stream 仅影响复杂工具参数的情况。普通工具参数只要开启 stream=true 就会流式输出。复杂工具是指工具定义中某些参数类型为 array 或 object。\n- tool_stream=false：复杂工具参数会一次性输出，默认行为，复杂格式会更准确；\n- tool_stream=true：复杂工具参数会流式输出，复杂格式没有超时风险。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"tool_stream\": true}。",
            "default": false
          },
          "enable_code_interpreter": {
            "type": "boolean",
            "description": "是否开启代码解释器功能。默认值：false。\n\n可选值：\n- true：开启；\n- false：不开启。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"enable_code_interpreter\": xxx}。",
            "default": false
          },
          "vl_high_resolution_images": {
            "type": "boolean",
            "description": "是否将输入图像的像素上限提升至 16384 Token 对应的像素值。相关文档：处理高分辨率图像。默认值：false。\n\nvl_high_resolution_images 为 true 时：使用固定分辨率策略，忽略 max_pixels 设置，超过此分辨率时会将图像总像素缩小至此上限内。\n\nvl_high_resolution_images 为 true 时，不同模型像素上限不同：\n- Qwen3.7 系列、Qwen3.6 系列、Qwen3.5 系列、Qwen3-VL 系列、qwen-vl-max、qwen-vl-max-0813、qwen-vl-plus、qwen-vl-plus-0815、qwen-vl-plus-0710 模型：16777216（每 Token 对应 32×32 像素，即 16384×32×32）；\n- QVQ 系列、其他 Qwen2.5-VL 系列模型：12845056（每 Token 对应 28×28 像素，即 16384×28×28）。\n\nvl_high_resolution_images 为 false 时：像素上限由 max_pixels 决定，输入图像的像素超过 max_pixels 会将图像缩小至 max_pixels 内。各模型的默认像素上限即 max_pixels 的默认值。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"vl_high_resolution_images\":xxx}。",
            "default": false
          },
          "n": {
            "type": "integer",
            "description": "生成响应数量，取值范围 1-4。仅部分模型支持。默认值：1。",
            "minimum": 1,
            "maximum": 4,
            "default": 1
          },
          "logprobs": {
            "type": "boolean",
            "description": "是否返回输出 Token 的对数概率。默认值：false。\n\n可选值：\n- true：返回；\n- false：不返回。\n\n思考阶段生成的内容（reasoning_content）不会返回对数概率。\n\n支持的模型：\n- qwen-plus 系列的快照模型（不包含稳定版模型）；\n- qwen-turbo 系列的快照模型（不包含稳定版模型）；\n- qwen3-vl-plus 系列模型（包含稳定版模型）；\n- qwen3-vl-flash 系列模型（包含稳定版模型）；\n- Qwen3 开源模型。",
            "default": false
          },
          "top_logprobs": {
            "type": "integer",
            "description": "指定在每一步生成时，返回模型最大概率的候选 Token 个数。默认值：0。\n\n取值范围：[0, 5]。\n\n仅当 logprobs 为 true 时生效。",
            "minimum": 0,
            "maximum": 5,
            "default": 0
          },
          "preserve_thinking": {
            "type": "boolean",
            "description": "是否将对话历史中 assistant 消息的 reasoning_content 拼接至模型输入。适用于需要模型参考历史思考过程的场景。默认值：false。\n\n目前支持 qwen3.8-max-preview（默认开启）、qwen3.7-max、qwen3.7-max-2026-05-20 以及后续快照、qwen3.6-max-preview、qwen3.7-plus、qwen3.7-plus-2026-05-26、qwen3.6-plus、qwen3.6-plus-2026-04-02、qwen3.7-flash、qwen3.7-flash-2026-07-15、qwen3.6-flash、qwen3.6-flash-2026-04-16、kimi-k2.6（阿里云百炼部署）、kimi-k2.7-code（阿里云百炼部署，默认开启）、kimi/kimi-k2.7-code-highspeed（月之暗面直供，默认开启）、kimi/kimi-k2.7-code（月之暗面直供，默认开启）。\n\n重要：使用 qwen3.8-max-preview 时，preserve_thinking 默认为 true，必须将历史对话中所有的 reasoning_content 完整回传。不支持将 reasoning_content 拼接到 content 字段中回传。若历史消息中不包含 reasoning_content，开启此参数不会报错，正常兼容。\n\n开启后，历史对话中的 reasoning_content 会计入输入 Token 数量并计费。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"preserve_thinking\": True}。",
            "default": false
          },
          "thinking": {
            "type": "object",
            "description": "控制稀宇科技直供的 MiniMax/MiniMax-M3 的思考模式。默认值：{\"type\":\"adaptive\"}。非标准参数，需放入 extra_body。",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "adaptive",
                  "disabled"
                ],
                "description": "思考类型。可选值：adaptive（自适应，模型自主判断）、disabled（关闭思考，直接回答）。"
              }
            }
          },
          "skill": {
            "type": "array",
            "description": "技能参数，用于启用特定生成技能（如 PPT 生成）。仅 qwen-doc-turbo 模型支持。默认值：[]。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"skill\": [...]}。使用 skill 时，stream 必须设置为 true。\n\n属性：\n- type（必选）：技能类型。当前支持：ppt（PPT 生成）。\n- mode（可选）：PPT 生成模式。可选值：general（默认，模板模式，需配合 template_id 使用，生成 HTML 格式的 PPT）、creative（创意模式，无需模板，生成图版 PPT 每页为图片）。\n- template_id（可选）：PPT 模板 ID。与 mode 为 general 或未设置 mode 时配合使用。可选值：news_01（新闻模板）、summary_01（总结模板）、internet_01（互联网模板）、thesis_01（论文模板）。",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "技能类型。当前支持：ppt（PPT 生成）。"
                },
                "mode": {
                  "type": "string",
                  "enum": [
                    "general",
                    "creative"
                  ],
                  "description": "PPT 生成模式。可选值：general（默认，模板模式，需配合 template_id 使用，生成 HTML 格式的 PPT）、creative（创意模式，无需模板，生成图版 PPT）。"
                },
                "template_id": {
                  "type": "string",
                  "description": "PPT 模板 ID。可选值：news_01（新闻模板）、summary_01（总结模板）、internet_01（互联网模板）、thesis_01（论文模板）。"
                }
              }
            }
          },
          "clear_thinking": {
            "type": "boolean",
            "description": "用于控制多轮对话中是否将历史轮次的 reasoning_content（思考过程）作为上下文输入给模型。仅 GLM 系列 glm-5.2、glm-5.1、glm-5、glm-4.7 模型支持。默认值：false。\n\n该参数非 OpenAI 标准参数。通过 Python SDK 调用时，请放入 extra_body 对象中。配置方式为：extra_body={\"enable_thinking\": True,\"clear_thinking\": True}。\n\n- true：忽略历史轮次的 reasoning_content，仅使用可见文本、工具调用与结果等非推理内容作为上下文输入，可降低上下文长度与成本；\n- false（默认）：保留历史轮次的 reasoning_content 并随上下文一同提供给模型。若希望启用 Preserved Thinking，必须在 messages 中完整、未修改、按原顺序透传历史 reasoning_content，缺失、裁剪、改写或重排会导致效果下降或无法生效。",
            "default": false
          },
          "X-DashScope-DataInspection": {
            "type": "string",
            "description": "在千问 API 的内容安全能力基础上，是否进一步识别输入输出内容的违规信息。取值如下：\n- {\"input\":\"cip\",\"output\":\"cip\"}：进一步识别；\n- 不设置该参数：不进一步识别。\n\n通过 HTTP 调用时请放入请求头：-H \"X-DashScope-DataInspection: {\\\"input\\\": \\\"cip\\\", \\\"output\\\": \\\"cip\\\"}\"；\n\n通过 Python SDK 调用时请通过 extra_headers 配置：extra_headers={'X-DashScope-DataInspection': '{\"input\":\"cip\",\"output\":\"cip\"}'}。\n\n不支持通过 Node.js SDK 设置。"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool"
            ],
            "description": "消息的角色。可选值：system（系统消息）、user（用户消息）、assistant（助手消息）、tool（工具消息）。"
          },
          "content": {
            "anyOf": [
              {
                "type": "string",
                "description": "文本内容。"
              },
              {
                "type": "array",
                "description": "多模态内容列表（用于图像理解）。",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              }
            ],
            "description": "消息内容。System Message：content 为 string（系统指令）。User Message：content 为 string（纯文本）或 array（多模态内容）。Assistant Message：content 为 string（可选，包含 tool_calls 时可为空）。Tool Message：content 为 string（工具函数的输出内容，必须为字符串。若工具返回结构化数据如JSON，需将其序列化为字符串）。"
          },
          "reasoning_content": {
            "type": "string",
            "description": "模型的思维链内容。",
            "nullable": true
          },
          "refusal": {
            "type": "string",
            "description": "该参数当前固定为 null。",
            "nullable": true
          },
          "audio": {
            "type": "object",
            "description": "该参数当前固定为 null。",
            "nullable": true
          },
          "function_call": {
            "type": "object",
            "description": "该值固定为 null，请参考 tool_calls 参数。",
            "nullable": true
          },
          "tool_calls": {
            "type": "array",
            "description": "在发起 Function Calling 后，模型生成的工具与入参信息。",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "partial": {
            "type": "boolean",
            "description": "是否开启前缀续写。仅 role=assistant 时有效。默认值：false。",
            "default": false
          },
          "tool_call_id": {
            "type": "string",
            "description": "发起 Function Calling 后返回的 id，通过 completion.choices[0].message.tool_calls[$index].id 获取，用于标记 Tool Message 对应的工具。仅 role=tool 时必选。"
          }
        }
      },
      "ContentItem": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url",
              "input_audio",
              "video",
              "video_url"
            ],
            "description": "输入文本时需设为 text；输入图片时需设为 image_url；输入音频时需设为 input_audio；输入图片列表形式的视频时需设为 video；输入视频文件时需设为 video_url。"
          },
          "text": {
            "type": "string",
            "description": "输入的文本。当 type 为 text 时，是必选参数。"
          },
          "image_url": {
            "type": "object",
            "description": "输入的图片信息。当 type 为 image_url 时是必选参数。",
            "properties": {
              "url": {
                "type": "string",
                "description": "图片的 URL 或 Base64 Data URL。"
              }
            }
          },
          "video_url": {
            "type": "object",
            "description": "输入的视频文件信息。当 type 为 video_url 时是必选参数。",
            "properties": {
              "url": {
                "type": "string",
                "description": "视频文件的公网 URL 或 Base64 Data URL。"
              }
            }
          },
          "input_audio": {
            "type": "object",
            "description": "输入的音频信息。当 type 为 input_audio 时是必选参数。",
            "properties": {
              "data": {
                "type": "string",
                "description": "音频的 URL 或 Base64 Data URL。"
              },
              "format": {
                "type": "string",
                "description": "输入音频的格式，如 mp3、wav 等。"
              }
            }
          },
          "video": {
            "type": "array",
            "description": "输入的图片列表形式的视频信息。当 type 为 video 时是必选参数。\n\n示例值：\n[\n    \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20241108/xzsgiz/football1.jpg\",\n    \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20241108/tdescd/football2.jpg\",\n    \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20241108/zefdja/football3.jpg\",\n    \"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20241108/aedbqh/football4.jpg\"\n  ]",
            "items": {
              "type": "string"
            }
          },
          "cache_control": {
            "type": "object",
            "description": "用于开启显式缓存。",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "ephemeral"
                ]
              }
            }
          },
          "fps": {
            "type": "number",
            "description": "每秒抽帧数。取值范围为 [0.1, 10]，默认值为 2.0。MiniMax/MiniMax-M3 的 fps 取值范围为 [0.2, 5]，默认值为 1。\n\nfps 有两个功能：\n1. 输入视频文件时，控制抽帧频率，每 1/fps 秒抽取一帧。适用于 Qwen-VL、MiniMax/MiniMax-M3 与 QVQ 模型。\n2. 告知模型相邻帧之间的时间间隔，帮助其更好地理解视频的时间动态。同时适用于输入视频文件与图像列表时。支持 Qwen3.7、Qwen3.6、Qwen3.5、Qwen3-VL、Qwen2.5-VL、Qwen3.5-Omni 与 QVQ 模型。\n\n较大的 fps 适合高速运动的场景（如体育赛事、动作电影等），较小的 fps 适合长视频或内容偏静态的场景。\n\n示例值：\n- 图像列表传入：{\"video\":[\"https://xx1.jpg\",...,\"https://xxn.jpg\"],\"fps\":2}\n- 视频文件传入：{\"video_url\": {\"url\": \"https://xx1.mp4\"},\"fps\":2}"
          },
          "min_pixels": {
            "type": "integer",
            "description": "设定输入图像或视频帧的最小像素阈值。当输入图像或视频帧的像素小于 min_pixels 时，会将其进行放大，直到总像素高于 min_pixels。适用于 Qwen-VL、QVQ 模型。\n\n取值范围：\n- 输入图像：Qwen3.7、Qwen3.6、Qwen3.5、Qwen3-VL 默认值和最小值均为 65536。\n- 输入视频文件或图像列表：Qwen3.7、Qwen3.6、Qwen3.5、Qwen3.5-Omni、Qwen3-VL（包括商业版和开源版）、qwen-vl-max、qwen-vl-max-0813、qwen-vl-plus、qwen-vl-plus-0815、qwen-vl-plus-0710 默认值为 65536，最小值为 4096。\n\n示例值：\n- 输入图像：{\"type\": \"image_url\",\"image_url\": {\"url\":\"https://xxxx.jpg\"},\"min_pixels\": 65536}\n- 输入视频文件时：{\"type\": \"video_url\",\"video_url\": {\"url\":\"https://xxxx.mp4\"},\"min_pixels\": 65536}\n- 输入图像列表时：{\"type\": \"video\",\"video\": [\"https://xx1.jpg\",...,\"https://xxn.jpg\"],\"min_pixels\": 65536}"
          },
          "max_pixels": {
            "type": "integer",
            "description": "用于设定输入图像或视频帧的最大像素阈值。当输入图像或视频的像素在 [min_pixels, max_pixels] 区间内时，模型会按原图进行识别。当输入图像像素大于 max_pixels 时，会将图像进行缩小，直到总像素低于 max_pixels。适用于 Qwen-VL、QVQ 模型。\n\n取值范围：\n- 输入图像：\n  - 当 vl_high_resolution_images 为 False 时：Qwen3.7、Qwen3.6、Qwen3.5、Qwen3-VL 默认值为 2621440，最大值为 16777216。\n  - 当 vl_high_resolution_images 为 True 时：Qwen3.7、Qwen3.6、Qwen3.5-Omni、Qwen3.5、Qwen3-VL、qwen-vl-max、qwen-vl-max-0813、qwen-vl-plus、qwen-vl-plus-0815、qwen-vl-plus-0710 的 max_pixels 无效，输入图像的最大像素固定为 16777216。\n- 输入视频文件或图像列表：Qwen3.7 系列、Qwen3.6 系列、Qwen3.5 系列、Qwen3.5-Omni、Qwen3-VL 闭源系列、qwen3-vl-235b-a22b-thinking、qwen3-vl-235b-a22b-instruct 默认值为 655360，最大值为 2048000。\n\n示例值：\n- 输入图像：{\"type\": \"image_url\",\"image_url\": {\"url\":\"https://xxxx.jpg\"},\"max_pixels\": 8388608}\n- 输入视频文件时：{\"type\": \"video_url\",\"video_url\": {\"url\":\"https://xxxx.mp4\"},\"max_pixels\": 655360}\n- 输入图像列表时：{\"type\": \"video\",\"video\": [\"https://xx1.jpg\",...,\"https://xxn.jpg\"],\"max_pixels\": 655360}"
          },
          "total_pixels": {
            "type": "integer",
            "description": "用于限制从视频中抽取的所有帧的总像素（单帧图像像素 × 总帧数）。如果视频总像素超过此限制，系统将对视频帧进行缩放，但仍会确保单帧图像的像素值在 [min_pixels, max_pixels] 范围内。适用于 Qwen-VL、QVQ 模型。\n\n对于抽帧数量较多的长视频，可适当降低此值以减少 Token 消耗和处理时间，但这可能会导致图像细节丢失。\n\n取值范围：Qwen3.7 系列、Qwen3.6 系列、Qwen3.5 系列默认值和最大值均为 819200000，该值对应 800000 个图像 Token（每 32×32 像素对应 1 个图像 Token）。\n\n示例值：\n- 输入视频文件时：{\"type\": \"video_url\",\"video_url\": {\"url\":\"https://xxxx.mp4\"},\"total_pixels\": 134217728}\n- 输入图像列表时：{\"type\": \"video\",\"video\": [\"https://xx1.jpg\",...,\"https://xxn.jpg\"],\"total_pixels\": 134217728}"
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "工具类型，当前仅支持设为 function。"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description"
            ],
            "description": "工具信息。",
            "properties": {
              "name": {
                "type": "string",
                "description": "工具名称。仅允许字母、数字、下划线（_）和短划线（-），最长 64 个 Token。"
              },
              "description": {
                "type": "string",
                "description": "工具描述信息，帮助模型判断何时以及如何调用该工具。"
              },
              "parameters": {
                "type": "object",
                "description": "工具的参数描述，需为合法的 JSON Schema。若为空表示无入参。",
                "default": {}
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "本次调用的唯一标识符。"
          },
          "object": {
            "type": "string",
            "example": "chat.completion",
            "description": "始终为chat.completion。"
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "请求创建时的 Unix 时间戳（秒）。"
          },
          "model": {
            "type": "string",
            "description": "本次请求使用的模型。"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Choice"
            },
            "description": "模型生成内容的数组。"
          },
          "usage": {
            "$ref": "#/components/schemas/Usage",
            "description": "本次请求的 Token 消耗信息。"
          },
          "service_tier": {
            "type": "string",
            "nullable": true,
            "description": "该参数当前固定为null。"
          },
          "system_fingerprint": {
            "type": "string",
            "nullable": true,
            "description": "该参数当前固定为null。"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "当前对象在choices数组中的索引。"
          },
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "finish_reason": {
            "type": "string",
            "description": "模型停止生成的原因。有三种情况：触发输入参数中的stop参数，或自然停止输出时为stop；生成长度过长而结束为length；需要调用工具而结束为tool_calls。"
          },
          "logprobs": {
            "type": "object",
            "nullable": true,
            "description": "模型输出的 Token 概率信息。",
            "properties": {
              "content": {
                "type": "array",
                "description": "包含每个 Token 及其对数概率的数组。",
                "items": {
                  "description": "每个 Token 及其对数概率的数组元素。",
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "当前 Token 的文本。"
                    },
                    "bytes": {
                      "type": "array",
                      "description": "当前 Token 的 UTF‑8 原始字节列表，用于精确还原输出内容（例如表情符号或中文字符）。",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "logprob": {
                      "type": "number",
                      "format": "float",
                      "description": "当前 Token 的对数概率。返回值为 null 表示概率值极低。",
                      "nullable": true
                    },
                    "top_logprobs": {
                      "type": "array",
                      "description": "当前 Token 位置最可能的若干候选 Token，数量与请求参数 top_logprobs 保持一致。",
                      "items": {
                        "type": "object",
                        "description": "候选 Token 及其对数概率。",
                        "properties": {
                          "token": {
                            "type": "string",
                            "description": "候选 Token 文本。"
                          },
                          "bytes": {
                            "type": "array",
                            "description": "当前 Token 的 UTF‑8 原始字节列表，用于精确还原输出内容（例如表情符号或中文字符）。",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "logprob": {
                            "type": "number",
                            "format": "float",
                            "description": "该候选 Token 的对数概率。返回值为 null 表示概率值极低。",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "输入的 Token 数。"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "模型输出的 Token 数。"
          },
          "total_tokens": {
            "type": "integer",
            "description": "消耗的总 Token 数，为prompt_tokens与completion_tokens的总和。"
          },
          "completion_tokens_details": {
            "type": "object",
            "nullable": true,
            "properties": {
              "reasoning_tokens": {
                "type": "integer",
                "description": "该参数当前固定为null。"
              },
              "text_tokens": {
                "type": "integer",
                "description": "文本 Token 数。"
              },
              "audio_tokens": {
                "type": "integer",
                "description": "该参数当前固定为null。"
              }
            }
          },
          "prompt_tokens_details": {
            "type": "object",
            "nullable": true,
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "命中 Cache 的 Token 数。Context Cache 详情请参见上下文缓存。"
              },
              "text_tokens": {
                "type": "integer",
                "description": "输入的文本 Token 数。"
              },
              "image_tokens": {
                "type": "integer",
                "description": "输入的图像 Token 数。"
              },
              "video_tokens": {
                "type": "integer",
                "description": "输入的视频文件或者图像列表 Token 数。"
              },
              "audio_tokens": {
                "type": "integer",
                "description": "该参数当前固定为 null。"
              },
              "cache_creation": {
                "type": "object",
                "description": "显式缓存创建信息。",
                "properties": {
                  "ephemeral_5m_input_tokens": {
                    "type": "integer",
                    "description": "创建显式缓存的 Token 数。"
                  },
                  "cache_creation_input_tokens": {
                    "type": "integer",
                    "description": "创建显式缓存的 Token 数。"
                  },
                  "cache_type": {
                    "type": "string",
                    "description": "使用显式缓存时，参数值为ephemeral，否则该参数不存在。"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "错误类型，例如 `invalid_request_error`、`api_error` 或上游兼容错误类型。"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "required": [
          "id",
          "type",
          "function",
          "index"
        ],
        "description": "发起 Function Calling 后，返回的工具与入参信息，包含一个或多个对象。",
        "properties": {
          "id": {
            "type": "string",
            "description": "工具响应的 ID。"
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "工具类型，当前只支持设为 function。"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "arguments"
            ],
            "description": "工具与入参信息。",
            "properties": {
              "name": {
                "type": "string",
                "description": "工具名称。"
              },
              "arguments": {
                "type": "string",
                "description": "入参信息，为 JSON 格式字符串。"
              }
            }
          },
          "index": {
            "type": "integer",
            "description": "当前工具信息在 tool_calls 数组中的索引。"
          }
        }
      },
      "ChatCompletionChunkResponse": {
        "type": "object",
        "description": "流式响应的 Chunk 对象结构。",
        "properties": {
          "id": {
            "type": "string",
            "description": "本次调用的唯一标识符。每个 chunk 对象有相同的 id。"
          },
          "choices": {
            "type": "array",
            "description": "模型生成内容的数组。若设置 include_usage 为 true，则 choices 在最后一个 chunk 中为空数组。",
            "items": {
              "$ref": "#/components/schemas/ChunkChoice"
            }
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "本次请求被创建时的时间戳。"
          },
          "model": {
            "type": "string",
            "description": "本次请求使用的模型。"
          },
          "object": {
            "type": "string",
            "example": "chat.completion.chunk",
            "description": "始终为chat.completion.chunk。"
          },
          "service_tier": {
            "type": "string",
            "nullable": true,
            "description": "该参数当前固定为null。"
          },
          "system_fingerprint": {
            "type": "string",
            "nullable": true,
            "description": "该参数当前固定为null。"
          },
          "usage": {
            "$ref": "#/components/schemas/Usage",
            "description": "本次请求消耗的 Token。只在 include_usage 为 true 时，在最后一个 chunk 显示。"
          }
        }
      },
      "ChunkChoice": {
        "type": "object",
        "properties": {
          "delta": {
            "$ref": "#/components/schemas/Delta",
            "description": "请求的增量对象。"
          },
          "finish_reason": {
            "type": "string",
            "nullable": true,
            "description": "停止原因：stop 触发或自然停止、null 未结束、length 过长、tool_calls 需调用工具。"
          },
          "index": {
            "type": "integer",
            "description": "在 choices 数组中的索引。n 大于 1 时需据此拼接。"
          },
          "logprobs": {
            "$ref": "#/components/schemas/LogProbs",
            "description": "当前对象的概率信息。"
          }
        }
      },
      "Delta": {
        "type": "object",
        "description": "流式响应的增量消息对象。",
        "properties": {
          "content": {
            "type": "string",
            "nullable": true,
            "description": "增量消息内容。"
          },
          "reasoning_content": {
            "type": "string",
            "nullable": true,
            "description": "增量思维链内容。"
          },
          "function_call": {
            "type": "object",
            "nullable": true,
            "description": "默认 null，请参考 tool_calls。"
          },
          "audio": {
            "type": "object",
            "nullable": true,
            "description": "使用 Qwen-Omni 模型时生成的回复。"
          },
          "refusal": {
            "type": "object",
            "nullable": true,
            "description": "当前固定为 null。"
          },
          "role": {
            "type": "string",
            "description": "角色，只在第一个 chunk 中有值。"
          },
          "tool_calls": {
            "type": "array",
            "description": "Function Calling 后模型生成的工具与入参信息。",
            "items": {
              "$ref": "#/components/schemas/ToolCallDelta"
            }
          }
        }
      },
      "ToolCallDelta": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "在 tool_calls 数组中的索引。"
          },
          "id": {
            "type": "string",
            "description": "本次工具响应的唯一标识符。"
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "工具类型，当前只支持 function。"
          },
          "function": {
            "type": "object",
            "description": "被调用的工具信息。",
            "properties": {
              "arguments": {
                "type": "string",
                "description": "增量入参，拼接后为完整入参。请在调用前校验参数有效性。"
              },
              "name": {
                "type": "string",
                "description": "工具名称，只在第一个 chunk 中有值。"
              }
            }
          }
        }
      },
      "LogProbs": {
        "type": "object",
        "nullable": true,
        "description": "当前对象的概率信息。",
        "properties": {
          "content": {
            "type": "array",
            "description": "带有对数概率信息的 Token 数组。",
            "items": {
              "$ref": "#/components/schemas/LogProbContent"
            }
          }
        }
      },
      "LogProbContent": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "当前 Token。"
          },
          "bytes": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "UTF-8 原始字节列表。"
          },
          "logprob": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "对数概率。null 表示概率值极低。"
          },
          "top_logprobs": {
            "type": "array",
            "description": "最可能的若干 Token 及对数概率。",
            "items": {
              "$ref": "#/components/schemas/TopLogProb"
            }
          }
        }
      },
      "TopLogProb": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "候选 Token。"
          },
          "bytes": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "UTF-8 原始字节列表。"
          },
          "logprob": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "对数概率。null 表示概率值极低。"
          }
        }
      },
      "SystemMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "系统消息，用于设定大模型的角色、语气、任务目标或约束条件等。一般放在 messages 数组的第一位。",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system"
            ],
            "description": "系统消息的角色，固定为 system。"
          },
          "content": {
            "type": "string",
            "description": "系统指令，用于明确模型的角色、行为规范、回答风格和任务约束等。"
          }
        },
        "title": "System Message object （可选）"
      },
      "UserMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "用户消息，用于向模型传递问题、指令或上下文等。",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "用户消息的角色，固定为 user。"
          },
          "content": {
            "anyOf": [
              {
                "type": "string",
                "description": "纯文本内容。"
              },
              {
                "type": "array",
                "description": "多模态内容列表（图像/视频/音频等）。",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              }
            ],
            "description": "消息内容。若输入只有文本，则为 string 类型；若输入包含图像等多模态数据，或启用显式缓存，则为 array 类型。"
          }
        },
        "title": "User Message object （必选）"
      },
      "AssistantMessage": {
        "type": "object",
        "required": [
          "role"
        ],
        "description": "模型的回复。通常用于在多轮对话中作为上下文回传给模型。",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ],
            "description": "助手消息的角色，固定为 assistant。"
          },
          "content": {
            "type": "string",
            "description": "模型回复的文本内容。包含 tool_calls 时，content 可以为空；否则 content 为必选。"
          },
          "tool_calls": {
            "type": "array",
            "description": "发起 Function Calling 后，模型返回的工具与入参信息。",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "partial": {
            "type": "boolean",
            "description": "是否开启前缀续写。默认值：false。",
            "default": false
          },
          "reasoning_content": {
            "type": "string",
            "description": "模型的思维链内容。"
          }
        },
        "title": "Assistant Message object （可选）"
      },
      "ToolMessage": {
        "type": "object",
        "required": [
          "role",
          "content",
          "tool_call_id"
        ],
        "description": "工具的输出信息。",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "tool"
            ],
            "description": "固定为 tool。"
          },
          "content": {
            "type": "string",
            "description": "工具函数的输出内容，必须为字符串。"
          },
          "tool_call_id": {
            "type": "string",
            "description": "发起 Function Calling 后返回的 id，用于标记 Tool Message 对应的工具。"
          }
        },
        "title": "Tool Message object （可选）"
      }
    }
  }
}