{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedance 视频生成",
    "version": "1.0.0",
    "description": "本文介绍创建视频生成任务 API 的输入输出参数，供您使用接口时查阅字段含义。模型会依据传入的图片及文本信息生成视频，待生成完成后，您可以按条件查询任务并获取生成的视频。\n\n## 模型能力\n\n* **Doubao Seedance 2.0 系列（有声视频/无声视频）**\n   * **多模态参考生视频**：输入<ins>参考图片（0\\~9）+参考视频（0\\~3）+ 参考音频（0\\\\~3）+ 文本提示词（可选）</ins>生成 1 个目标视频。注意不可单独输入音频，应至少包含 1 个参考视频或图片。支持生成全新视频、编辑视频、延长视频。\n   * **图生视频-首尾帧**：输入<ins>首帧图片+尾帧图片+文本提示词（可选）</ins>生成 1 个目标视频。\n   * **图生视频-首帧**：输入<ins>首帧图片+文本提示词（可选）</ins>生成 1 个目标视频。\n   * **文生视频**：输入<ins>文本提示词</ins>生成 1 个目标视频。\n\n* **Doubao Seedance 1.5 pro（有声视频/无声视频）**\n   【图生视频-首尾帧】【图生视频-首帧】【文生视频】\n\n* **Doubao Seedance 1.0 pro**\n   【图生视频-首尾帧】【图生视频-首帧】【文生视频】\n\n* **Doubao Seedance 1.0 pro fast**\n   【图生视频-首帧】【文生视频】"
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "火山方舟 API 服务地址"
    }
  ],
  "paths": {
    "/byteplus/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "创建视频生成任务",
        "operationId": "createSeedanceVideoTask",
        "description": "本文介绍创建视频生成任务 API 的输入输出参数，供您使用接口时查阅字段含义。模型会依据传入的图片及文本信息生成视频，待生成完成后，您可以按条件查询任务并获取生成的视频。\n\n## 模型能力\n\n* **Doubao Seedance 2.0 系列（有声视频/无声视频）**\n   * **多模态参考生视频**：输入<ins>参考图片（0\\~9）+参考视频（0\\~3）+ 参考音频（0\\~3）+ 文本提示词（可选）</ins>生成 1 个目标视频。注意不可单独输入音频，应至少包含 1 个参考视频或图片。支持生成全新视频、编辑视频、延长视频。\n   * **图生视频-首尾帧**：输入<ins>首帧图片+尾帧图片+文本提示词（可选）</ins>生成 1 个目标视频。\n   * **图生视频-首帧**：输入<ins>首帧图片+文本提示词（可选）</ins>生成 1 个目标视频。\n   * **文生视频**：输入<ins>文本提示词</ins>生成 1 个目标视频。\n\n* **Doubao Seedance 1.5 pro（有声视频/无声视频）**\n   【图生视频-首尾帧】【图生视频-首帧】【文生视频】\n\n* **Doubao Seedance 1.0 pro**\n   【图生视频-首尾帧】【图生视频-首帧】【文生视频】\n\n* **Doubao Seedance 1.0 pro fast**\n   【图生视频-首帧】【文生视频】",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoTaskRequest"
              },
              "examples": {
                "多模态参考生视频": {
                  "value": {
                    "model": "dreamina-seedance-2-0-260128",
                    "content": [
                      {
                        "type": "text",
                        "text": "全程使用视频1的第一视角构图，全程使用音频1作为背景音乐。第一人称视角果茶宣传广告，seedance牌「苹苹安安」苹果果茶限定款；首帧为图片1，你的手摘下一颗带晨露的阿克苏红苹果，轻脆的苹果碰撞声；2-4 秒：快速切镜，你的手将苹果块投入雪克杯，加入冰块与茶底，用力摇晃，冰块碰撞声与摇晃声卡点轻快鼓点，背景音：「鲜切现摇」；4-6 秒：第一人称成品特写，分层果茶倒入透明杯，你的手轻挤奶盖在顶部铺展，在杯身贴上粉红包标，镜头拉近看奶盖与果茶的分层纹理；6-8 秒：第一人称手持举杯，你将图片2中的果茶举到镜头前（模拟递到观众面前的视角），杯身标签清晰可见，背景音「来一口鲜爽」，尾帧定格为图片2。背景声音统一为女生音色。"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_image/r2v_tea_pic1.jpg"
                        },
                        "role": "reference_image"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_image/r2v_tea_pic2.jpg"
                        },
                        "role": "reference_image"
                      },
                      {
                        "type": "video_url",
                        "video_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_video/r2v_tea_video1.mp4"
                        },
                        "role": "reference_video"
                      },
                      {
                        "type": "audio_url",
                        "audio_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_audio/r2v_tea_audio1.mp3"
                        },
                        "role": "reference_audio"
                      }
                    ],
                    "generate_audio": true,
                    "ratio": "16:9",
                    "duration": 11,
                    "watermark": false
                  }
                },
                "有声视频-首帧": {
                  "value": {
                    "model": "seedance-1-5-pro-251215",
                    "content": [
                      {
                        "type": "text",
                        "text": "女孩抱着狐狸，女孩睁开眼，温柔地看向镜头，狐狸友善地抱着，镜头缓缓拉出，女孩的头发被风吹动，可以听到风声"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_image/i2v_foxrgirl.png"
                        }
                      }
                    ],
                    "generate_audio": true,
                    "ratio": "adaptive",
                    "duration": 5,
                    "watermark": false
                  }
                },
                "有声视频-首尾帧": {
                  "value": {
                    "model": "seedance-1-5-pro-251215",
                    "content": [
                      {
                        "type": "text",
                        "text": "图中女孩对着镜头说\"茄子\"，360度环绕运镜"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_image/seepro_first_frame.jpeg"
                        },
                        "role": "first_frame"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_image/seepro_last_frame.jpeg"
                        },
                        "role": "last_frame"
                      }
                    ],
                    "generate_audio": true,
                    "ratio": "adaptive",
                    "duration": 5,
                    "watermark": false
                  }
                },
                "图生视频-base64编码": {
                  "value": {
                    "model": "dreamina-seedance-2-0-260128",
                    "content": [
                      {
                        "type": "text",
                        "text": "女孩抱着狐狸，女孩睁开眼，温柔地看向镜头，狐狸友善地抱着，镜头缓缓拉出，女孩的头发被风吹动"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "data:image/png;base64,aHR0******cG5n"
                        }
                      }
                    ],
                    "ratio": "adaptive",
                    "duration": 5,
                    "watermark": false
                  }
                },
                "文生视频": {
                  "value": {
                    "model": "seedance-1-0-pro-250528",
                    "content": [
                      {
                        "type": "text",
                        "text": "写实风格，晴朗的蓝天之下，一大片白色的雏菊花田，镜头逐渐拉近，最终定格在一朵雏菊花的特写上，花瓣上有几颗晶莹的露珠"
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 5,
                    "watermark": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功，返回视频任务对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。"
          },
          "401": {
            "description": "鉴权失败。"
          },
          "429": {
            "description": "请求频率超限。"
          },
          "500": {
            "description": "服务端内部错误。"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "CreateVideoTaskRequest": {
        "type": "object",
        "required": [
          "model",
          "content"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedance-1-5-pro-251215",
              "seedance-1-0-pro-250528",
              "seedance-1-0-pro-fast-251015",
              "dreamina-seedance-2-0-260128",
              "dreamina-seedance-2-0-fast-260128"
            ],
            "description": "您需要调用的模型的 ID （Model ID）"
          },
          "content": {
            "type": "array",
            "description": "输入给模型，生成视频的信息，支持文本、图片、音频、视频、样片任务 ID。\n\n注意：Seedance 2.0 系列模型不支持直接上传含有真人人脸的参考图/视频。为了便利创作者对肖像的使用，平台推出了以下解决方案。\n\n* 支持使用部分模型的含人脸原始产物作为输入素材\n* 支持使用预置虚拟人像作为输入素材\n* 支持使用已授权真人素材作为输入\n\n支持以下几种组合：\n* 文本\n* 文本（可选）+ 图片\n* 文本（可选）+ 视频\n* 文本（可选）+ 图片 + 音频\n* 文本（可选）+ 图片 + 视频\n* 文本（可选）+ 视频 + 音频\n* 文本（可选）+ 图片 + 视频 + 音频\n* 样片任务 ID：样片指使用 Seedance 模型成功生成的样片视频，模型可基于样片生成高质量正式视频。\n\n---",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TextContent"
                },
                {
                  "$ref": "#/components/schemas/ImageContent"
                },
                {
                  "$ref": "#/components/schemas/VideoContent"
                },
                {
                  "$ref": "#/components/schemas/AudioContent"
                },
                {
                  "$ref": "#/components/schemas/DraftTaskContent"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "text": "#/components/schemas/TextContent",
                  "image_url": "#/components/schemas/ImageContent",
                  "video_url": "#/components/schemas/VideoContent",
                  "audio_url": "#/components/schemas/AudioContent",
                  "draft_task": "#/components/schemas/DraftTaskContent"
                }
              }
            }
          },
          "callback_url": {
            "type": "string",
            "description": "填写本次生成任务结果的回调通知地址。当视频生成任务有状态变化时，方舟将向此地址推送 POST 请求。\n\n回调请求内容结构与查询任务API的返回体一致。\n\n回调返回的 status 包括以下状态：\n* queued：排队中。\n* running：任务运行中。\n* succeeded：任务成功。（如发送失败，即5秒内没有接收到成功发送的信息，回调三次）\n* failed：任务失败。（如发送失败，即5秒内没有接收到成功发送的信息，回调三次）\n* expired：任务超时，即任务处于运行中或排队中状态超过过期时间。可通过 execution_expires_after 字段设置过期时间。"
          },
          "return_last_frame": {
            "type": "boolean",
            "description": "true：返回生成视频的尾帧图像。设置为 true 后，可通过查询视频生成任务接口获取视频的尾帧图像。尾帧图像的格式为 png，宽高像素值与生成的视频保持一致，无水印。\n\n使用该参数可实现生成多个连续视频：以上一个生成视频的尾帧作为下一个视频任务的首帧，快速生成多个连续视频。\n\nfalse：不返回生成视频的尾帧图像。",
            "default": false
          },
          "service_tier": {
            "type": "string",
            "enum": [
              "default",
              "flex"
            ],
            "description": "> 不支持修改已提交任务的服务等级\n> Seedance 2.0 系列仅支持在线推理模式，不支持配置该参数\n目前我们还未接入离线推理\n\n指定处理本次请求的服务等级类型，枚举值：\n\n* default：在线推理模式，RPM 和并发数配额较低，适合对推理时效性要求较高的场景。\n* flex：离线推理模式，TPD 配额更高，价格为在线推理的 50%，适合对推理时延要求不高的场景。",
            "default": "default"
          },
          "execution_expires_after": {
            "type": "integer",
            "description": "任务超时阈值。指定任务提交后的过期时间（单位：秒），从 created at 时间戳开始计算。默认值 172800 秒，即 48 小时。取值范围：[3600，259200]。\n\n不论使用哪种 service_tier，都建议根据业务场景设置合适的超时时间。超过该时间后任务会被自动终止，并标记为 expired 状态。",
            "default": 172800,
            "minimum": 3600,
            "maximum": 259200
          },
          "generate_audio": {
            "type": "boolean",
            "description": "> 仅 Seedance 2.0 系列、Seedance 1.5 pro 支持\n\n控制生成的视频是否包含与画面同步的声音。\n\n* true：模型输出的视频包含同步音频。模型会基于文本提示词与视觉内容，自动生成与之匹配的人声、音效及背景音乐。建议将对话部分置于双引号内，以优化音频生成效果。例如：男人叫住女人说：\"你记住，以后不可以用手指指月亮。\"\n* false：模型输出的视频为无声视频。\n\n注意：生成的有声视频均为单声道，和传入的音频声道数无关。",
            "default": true
          },
          "draft": {
            "type": "boolean",
            "description": "> 仅 Seedance 1.5 pro 支持\n\n控制是否开启样片模式。\n\n* true：开启样片模式，生成一段预览视频，快速验证场景结构、镜头调度、主体动作与 prompt 意图是否符合预期。消耗 token 数较正常视频更少，使用成本更低。\n* false：关闭样片模式，正常生成一段视频。\n\n说明：开启样片模式后，将使用 480p 分辨率生成 Draft 视频（使用其他分辨率会报错），不支持返回尾帧功能，不支持离线推理功能。",
            "default": false
          },
          "tools": {
            "type": "array",
            "description": "> 仅 Seedance 2.0 系列支持\n\n配置模型要调用的工具。(海外节点目前不支持web_search)",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "safety_identifier": {
            "type": "string",
            "description": "终端用户的唯一标识符，用于协助平台检测您的应用中可能违反火山方舟使用政策的用户。该标识符为英文字符串，需保证对单个用户固定且唯一，长度不超过 64 个字符。推荐传入对用户名、用户 ID 或邮箱进行哈希处理后生成的字符串，避免泄露用户隐私信息。",
            "maxLength": 64
          },
          "priority": {
            "type": "integer",
            "description": "> 仅 Seedance 2.0 系列支持。(每个用户可使用的最高priority请联系销售获取)\n\n设置当前请求的执行优先级，决定其在队列中的排序位置。取值范围：0\\~9，数值越大，优先级越高。\n\n默认情况下，请求按 FIFO（First In, First Out，先进先出）顺序执行。设置较高优先级后，该请求将插队到同 Endpoint（推理接入点）下所有低优先级请求之前。\n\n说明：\n* 相同优先级的请求之间仍按 FIFO 排序。\n* 优先级仅影响排队顺序，不会中断正在执行中（status=running）的任务。\n* 优先级仅在同一 Endpoint 内生效，不影响其他 Endpoint。\n* 离线推理模式（service_tier=flex）不支持配置优先级。\n\n**示例**：\n\n某 Endpoint 当前队列中有 3 个排队中（status=queued）任务，优先级均为 0（默认）。\n\n队列：[任务A: priority=0] → [任务B: priority=0] → [任务C: priority=0]\n\n此时提交一个 priority=5 的新请求，该请求将直接排到队首：\n\n队列：[新请求: priority=5] → [任务A: priority=0] → [任务B: priority=0] → [任务C: priority=0]",
            "default": 0,
            "minimum": 0,
            "maximum": 9
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "> Seedance 2.0 系列、Seedance 1.5 pro 默认值：`720p`\n> Seedance 1.0 pro & pro-fast 默认值：`1080p`\n\n视频分辨率，枚举值：\n\n* 480p\n* 720p\n* 1080p：Seedance 2.0 fast 不支持"
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ],
            "description": "> Seedance 2.0 系列、Seedance 1.5 pro 默认值为 `adaptive`\n> 其他模型：文生视频默认值 `16:9`，图生视频默认值 `adaptive`\n\n生成视频的宽高比例。不同宽高比对应的宽高像素值见下方表格。\n\n* 16:9\n* 4:3\n* 1:1\n* 3:4\n* 9:16\n* 21:9\n* adaptive：根据输入自动选择最合适的宽高比（详见下文说明）\n\n**adaptive 适配规则**\n\n当配置 ratio 为 adaptive 时，模型会根据生成场景自动适配宽高比；实际生成的视频宽高比可通过查询视频生成任务 API 返回的 ratio 字段获取。\n\n**支持模型：**\n* Seedance 2.0 系列、Seedance 1.5 Pro 支持\n* 其他模型仅图生视频场景支持\n\n**取值规则：**\n* 文生视频：根据输入的提示词，智能选择最合适的宽高比。\n* 首帧 / 首尾帧生视频：根据上传的首帧图片比例，自动选择最接近的宽高比。\n* 多模态参考生视频：根据用户提示词意图判断，如果是首帧生视频/编辑视频/延长视频，以该图片/视频为准选择最接近的宽高比；否则，以传入的第一个媒体文件为准（优先级：视频＞图片）选择最接近的宽高比。\n\n不同宽高比对应的宽高像素值\n\n注意：图生视频，选择的宽高比与您上传的图片宽高比不一致时，方舟会对您的图片进行裁剪，裁剪时会居中裁剪。\n\n| 分辨率 | 宽高比 | 宽高像素值 Seedance 1.0 系列 | 宽高像素值 Seedance 1.5 pro / 2.0 系列 |\n|---|---|---|---|\n| 480p | 16:9 | 864×480 | 864×496 |\n| | 4:3 | 736×544 | 752×560 |\n| | 1:1 | 640×640 | 640×640 |\n| | 3:4 | 544×736 | 560×752 |\n| | 9:16 | 480×864 | 496×864 |\n| | 21:9 | 960×416 | 992×432 |\n| 720p | 16:9 | 1248×704 | 1280×720 |\n| | 4:3 | 1120×832 | 1112×834 |\n| | 1:1 | 960×960 | 960×960 |\n| | 3:4 | 832×1120 | 834×1112 |\n| | 9:16 | 704×1248 | 720×1280 |\n| | 21:9 | 1504×640 | 1470×630 |\n| 1080p | 16:9 | 1920×1088 | 1920×1080 |\n| | 4:3 | 1664×1248 | 1664×1248 |\n| | 1:1 | 1440×1440 | 1440×1440 |\n| | 3:4 | 1248×1664 | 1248×1664 |\n| | 9:16 | 1088×1920 | 1080×1920 |\n| | 21:9 | 2176×928 | 2206×946 |"
          },
          "duration": {
            "type": "integer",
            "description": "> duration 和 frames 二选一即可，frames 的优先级高于 duration。如果您希望生成整数秒的视频，建议指定 duration。\n\n生成视频时长，仅支持整数，单位：秒。\n\n* Seedance 1.0 pro、Seedance 1.0 pro fast: [2, 12] s。\n* Seedance 1.5 pro: [4,12] 或设置为 -1\n* Seedance 2.0 系列: [4,15] 或设置为 -1\n\n**注意**\n\nSeedance 2.0 系列、Seedance 1.5 pro 支持两种配置方法\n* 指定具体时长：支持有效范围内的任一整数。\n* 智能指定：设置为 -1，表示由模型在有效范围内自主选择合适的视频长度（整数秒）。实际生成视频的时长可通过查询视频生成任务 API 返回的 duration 字段获取。注意视频时长与计费相关，请谨慎设置。",
            "default": 5,
            "minimum": -1,
            "maximum": 15
          },
          "frames": {
            "type": "integer",
            "description": "> Seedance 2.0 系列、Seedance 1.5 pro 暂不支持\n> duration 和 frames 二选一即可，frames 的优先级高于 duration。如果您希望生成小数秒的视频，建议指定 frames。\n\n生成视频的帧数。通过指定帧数，可以灵活控制生成视频的长度，生成小数秒的视频。\n\n由于 frames 的取值限制，仅能支持有限小数秒，您需要根据公式推算最接近的帧数。\n\n* 计算公式：帧数 = 时长 × 帧率（24）。\n* 取值范围：支持 [29, 289] 区间内所有满足 25 + 4n 格式的整数值，其中 n 为正整数。\n\n例如：假设需要生成 2.4 秒的视频，帧数=2.4×24=57.6。由于 frames 不支持 57.6，此时您只能选择一个最接近的值。根据 25+4n 计算出最接近的帧数为 57，实际生成的视频为 57/24=2.375 秒。",
            "minimum": 29,
            "maximum": 289
          },
          "seed": {
            "type": "integer",
            "description": "种子整数，用于控制生成内容的随机性。取值范围：[-1, 2^32-1]之间的整数。\n\n注意：\n* 相同的请求下，模型收到不同的seed值，如：不指定seed值或令seed取值为-1（会使用随机数替代）、或手动变更seed值，将生成不同的结果。\n* 相同的请求下，模型收到相同的seed值，会生成类似的结果，但不保证完全一致。",
            "default": -1,
            "minimum": -1,
            "maximum": 4294967295
          },
          "camera_fixed": {
            "type": "boolean",
            "description": "> 参考图场景不支持，Seedance 2.0 系列 暂不支持\n\n是否固定摄像头。\n\n* true：固定摄像头。平台会在用户提示词中追加固定摄像头，实际效果不保证。\n* false：不固定摄像头。",
            "default": false
          },
          "watermark": {
            "type": "boolean",
            "description": "生成视频是否包含水印。\n\n* false：生成视频不含水印。\n* true：生成视频右下角会展示 AI 生成 水印。",
            "default": false
          }
        }
      },
      "TextContent": {
        "title": "文本信息",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "输入内容的类型，此处应为 text。"
          },
          "text": {
            "type": "string",
            "description": "输入给模型的文本提示词，描述期望生成的视频。\n\n说明：\n* 提示词语言支持：所有模型均支持中英文提示词；seedance 2.0 及 seedance 2.0 fast 额外支持日语、印尼语、西班牙语、葡萄牙语。\n* 提示词字数建议：中文提示词不超过500字，英文提示词不超过1000词。字数过多易导致信息分散，模型可能忽略细节、仅关注重点，进而造成视频缺失部分元素。"
          }
        },
        "description": "输入给模型的提示词信息。"
      },
      "ImageContent": {
        "title": "图片信息",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "输入内容的类型，此处应为 image_url。"
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "description": "输入给模型的图片对象。",
            "properties": {
              "url": {
                "type": "string",
                "description": "图片 URL 、图片 Base64 编码、素材 ID。\n\n* 图片 URL：填入图片的公网 URL。\n* Base64 编码：将本地文件转换为 Base64 编码字符串，然后提交给大模型。遵循格式：data:image/<图片格式>;base64,<Base64编码>，注意 <图片格式> 需小写，如 data:image/png;base64,{base64_image}。\n* 素材 ID：用于视频生成的预置素材及虚拟人像的 ID，遵循格式：asset://<ASSET_ID>。可从素材&虚拟人像库获取。\n\n传入单张图片要求：\n* 格式：jpeg、png、webp、bmp、tiff、gif。其中，Seedance 1.5 pro 和 Seedance 2.0 系列模型新增支持 heic 和 heif。\n* 宽高比（宽/高）： (0.4, 2.5)\n* 宽高长度（px）：(300, 6000)\n* 大小：单张图片小于 30 MB。请求体大小不超过 64 MB。大文件请勿使用Base64编码。\n* 图片数量：\n   * 图生视频-首帧：1 张\n   * 图生视频-首尾帧：2 张\n   * Seedance 2.0 系列 多模态参考生视频：1\\~9 张"
              }
            }
          },
          "role": {
            "type": "string",
            "enum": [
              "first_frame",
              "last_frame",
              "reference_image"
            ],
            "description": "图片的位置或用途。条件必填。\n\n注意：\n* 图生视频-首帧、图生视频-首尾帧、多模态参考生视频（包括参考图、视频、音频）为 3 种互斥场景，不可混用。\n* 多模态参考生视频可通过提示词指定参考图片作为首帧/尾帧，间接实现\"首尾帧+多模态参考\"效果。若需严格保障首尾帧和指定图片一致，优先使用图生视频-首尾帧（配置 role 为 first_frame/last_frame）。\n\n图生视频-首帧：\n* 支持模型：所有模型\n* 字段role取值：需要传入1个 image_url 对象，字段 role 为 first_frame 或不填。\n\n图生视频-首尾帧：\n* 支持模型：Seedance 2.0 系列，Seedance 1.5 pro、Seedance 1.0 pro\n* 字段role取值：需要传入2个image_url对象，且字段 role 必填。\n\n   * 首帧图片对应的字段 role 为：first_frame\n\n   * 尾帧图片对应的字段 role 为：last_frame\n\n说明：传入的首尾帧图片可相同。首尾帧图片的宽高比不一致时，以首帧图片为主，尾帧图片会自动裁剪适配。\n\n图生视频-参考图：\n* 支持模型：Seedance 2.0 系列（1\\~9 张图片）\n* 字段role取值：必填，每张参考图对应的字段 role 均为：reference_image"
          }
        },
        "description": "输入给模型的图片信息。"
      },
      "VideoContent": {
        "title": "视频信息",
        "type": "object",
        "required": [
          "type",
          "video_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "video_url"
            ],
            "description": "输入内容的类型，此处应为 video_url。"
          },
          "video_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "description": "输入给模型的视频对象。",
            "properties": {
              "url": {
                "type": "string",
                "description": "视频URL、素材 ID。\n\n* 视频 URL：填入视频的公网 URL。\n* 素材 ID：用于视频生成的预置素材及虚拟人像视频的 ID，遵循格式：asset://<ASSET_ID>。可从素材&虚拟人像库获取。\n\n传入单个视频要求：\n* 视频格式：mp4、mov，支持编码格式见下表。\n* 分辨率：480p，720p，1080p\n* 时长：单个视频时长 [2, 15] s，最多传入 3 个参考视频，所有视频总时长不超过 15s。\n* 尺寸：\n   * 宽高比（宽/高）：[0.4, 2.5]\n   * 宽高长度（px）：[300, 6000]\n   * 总像素数：[640×640=409600, 2206×946=2086876]，即宽和高的乘积符合 [409600, 2086876] 的区间要求。\n* 大小：单个视频不超过 50 MB。\n* 帧率 (FPS)：[24, 60]\n\n支持编码格式：\n| 容器格式 | 常用文件扩展名 | MIME | 支持编码 |\n|---|---|---|---|\n| MP4 | .mp4 | video/mp4 | 视频：H.264/AVC、H.265/HEVC；音频：AAC、MP3 |\n| QuickTime | .mov | video/quicktime | 视频：H.264/AVC、H.265/HEVC；音频：AAC、MP3 |"
              }
            }
          },
          "role": {
            "type": "string",
            "enum": [
              "reference_video"
            ],
            "description": "视频的位置或用途。当前仅支持 reference_video：参考视频。条件必填。"
          }
        },
        "description": "输入给模型的视频信息。仅 Seedance 2.0 系列支持输入视频。"
      },
      "AudioContent": {
        "title": "音频信息",
        "type": "object",
        "required": [
          "type",
          "audio_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "audio_url"
            ],
            "description": "输入内容的类型，此处应为 audio_url。仅 Seedance 2.0 系列支持输入音频。注意不可单独输入音频，应至少包含 1 个参考视频或图片。"
          },
          "audio_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "description": "输入给模型的音频对象。仅 Seedance 2.0 系列支持输入音频。",
            "properties": {
              "url": {
                "type": "string",
                "description": "音频 URL 、音频 Base64 编码、素材 ID。\n\n* 音频 URL：填入音频的公网 URL。\n* Base64 编码：将本地文件转换为 Base64 编码字符串，然后提交给大模型。遵循格式：data:audio/<音频格式>;base64,<Base64编码>，注意 <音频格式> 需小写，如 data:audio/wav;base64,{base64_audio}。\n* 素材 ID：用于视频生成的虚拟人的音频素材 ID，遵循格式：asset://<ASSET_ID>。可从素材&虚拟人像库获取。\n\n传入单个音频要求：\n* 格式：wav、mp3\n* 时长：单个音频时长 [2, 15] s，最多传入 3 段参考音频，所有音频总时长不超过 15 s。\n* 大小：单个音频不超过 15 MB，请求体大小不超过 64 MB。大文件请勿使用Base64编码。"
              }
            }
          },
          "role": {
            "type": "string",
            "enum": [
              "reference_audio"
            ],
            "description": "音频的位置或用途。当前仅支持 reference_audio：参考音频。条件必填。"
          }
        },
        "description": "输入给模型的音频信息。仅 Seedance 2.0 系列支持输入音频。注意不可单独输入音频，应至少包含 1 个参考视频或图片。"
      },
      "DraftTaskContent": {
        "title": "样片信息",
        "type": "object",
        "required": [
          "type",
          "draft_task"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "draft_task"
            ],
            "description": "输入内容的类型，此处应为 draft_task。"
          },
          "draft_task": {
            "type": "object",
            "required": [
              "id"
            ],
            "description": "输入给模型的样片任务。",
            "properties": {
              "id": {
                "type": "string",
                "description": "样片任务 ID。平台将自动复用 Draft 视频使用的用户输入（model、content.text、content.image_url、generate_audio、seed、ratio、duration、camera_fixed），生成正式视频。其余参数支持指定，不指定将使用本模型的默认值。\n\n使用分为两步：Step1: 调用本接口生成 Draft 视频。Step2: 如果确认 Draft 视频符合预期，可基于 Step1 返回的 Draft 视频任务 ID，调用本接口生成最终视频。"
              }
            }
          }
        },
        "description": "基于样片任务 ID，生成正式视频。仅 Seedance 1.5 pro 支持该功能。"
      },
      "Tool": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "web_search"
            ],
            "description": "指定使用的工具类型。\n\n* web_search：联网搜索工具。\n\n说明：\n* 开启联网搜索后，模型会根据用户的提示词自主判断是否搜索互联网内容（如商品、天气等）。可提升生成视频的时效性，但也会增加一定的时延。\n* 实际搜索次数可通过查询视频生成任务 API 返回的 usage.tool_usage.web_search 字段获取，如果为 0 表示未搜索。"
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "视频生成任务 ID 。仅保存 7 天（从 created at 时间戳开始计算），超时后将自动清除。\n\n* 设置 \"draft\": true，为 Draft 视频任务 ID。\n* 设置 \"draft\": false，为正常视频任务 ID。\n\n创建视频生成任务为异步接口，获取 ID 后，需要通过查询视频生成任务 API 来查询视频生成任务的状态。任务成功后，会输出生成视频的 video_url。"
          }
        }
      }
    }
  }
}