{
  "openapi": "3.0.1",
  "info": {
    "title": "Qwen 图像编辑",
    "version": "1.0.0",
    "description": "阿里 Qwen 图像编辑能力文档。公开统一入口为 `/v1/images/edits`，当前文档描述 `qwen-image-2.0-pro` 对外公开的网关契约：保留 `input.messages[].content[]` 承载图片与文本指令，其余控制字段使用顶层 OpenAI 风格字段，由网关映射到上游 `parameters`。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Qwen Image",
      "description": "Qwen 图像编辑能力"
    }
  ],
  "paths": {
    "/v1/images/edits": {
      "post": {
        "summary": "Qwen 图像编辑",
        "description": "调用 Ali `qwen-image-2.0-pro` 执行单图编辑或多图融合。\n\n公开调用方案保留顶层 `model`、`input`、`response_format`，并将 `n`、`size`、`watermark`、`prompt_extend`、`negative_prompt`、`seed` 设计为顶层字段。输入图片位于 `input.messages[0].content[].image`，编辑指令位于同一数组中的 `text`。请求体不接受顶层 `parameters`。",
        "operationId": "aliQwenImageEdit",
        "tags": [
          "Qwen Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              },
              "examples": {
                "single_image_edit": {
                  "summary": "单图编辑",
                  "value": {
                    "model": "qwen-image-2.0-pro",
                    "response_format": "url",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "image": "https://example.com/source.webp"
                            },
                            {
                              "text": "将背景替换成海边日落"
                            }
                          ]
                        }
                      ]
                    },
                    "n": 2,
                    "size": "1536*1024",
                    "watermark": false,
                    "prompt_extend": true,
                    "negative_prompt": "低质量",
                    "seed": 0
                  }
                },
                "multi_image_fusion": {
                  "summary": "多图融合",
                  "value": {
                    "model": "qwen-image-2.0-pro",
                    "response_format": "url",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "image": "https://example.com/input1.png"
                            },
                            {
                              "image": "https://example.com/input2.png"
                            },
                            {
                              "image": "https://example.com/input3.png"
                            },
                            {
                              "text": "图1中的女生穿着图2中的黑色裙子按图3的姿势坐下"
                            }
                          ]
                        }
                      ]
                    },
                    "n": 2,
                    "size": "1024*1536",
                    "watermark": false,
                    "prompt_extend": true,
                    "negative_prompt": "低分辨率"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "调用成功，返回图像编辑结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败，例如未提供令牌或令牌无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "请求体过大。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "触发速率限制或账户额度不足。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端处理请求时发生内部错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "上游服务返回异常响应。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "上游服务暂不可用，或当前模型暂无可用渠道。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "ImageEditRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen-image-2.0-pro"
            ],
            "description": "图像编辑模型名称。"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "description": "统一响应格式。",
            "default": "url"
          },
          "input": {
            "$ref": "#/components/schemas/QwenImageInput"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "description": "生成图像数量。网关会映射到上游 `parameters.n`。"
          },
          "size": {
            "type": "string",
            "description": "输出图像分辨率，格式为 `宽x高` 或 `宽*高`。网关会转换并映射到上游 `parameters.size`。",
            "x-options": [
              {
                "label": "512*512",
                "value": "512*512"
              },
              {
                "label": "1K",
                "value": "1000*1000"
              },
              {
                "label": "2K",
                "value": "2000*2000"
              }
            ],
            "default": "512*512"
          },
          "watermark": {
            "type": "boolean",
            "description": "是否添加水印。网关会映射到上游 `parameters.watermark`。",
            "default": false
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "是否开启提示词智能改写。网关会映射到上游 `parameters.prompt_extend`。"
          },
          "negative_prompt": {
            "type": "string",
            "description": "反向提示词。网关会映射到上游 `parameters.negative_prompt`。"
          },
          "seed": {
            "type": "integer",
            "format": "int64",
            "description": "随机种子。显式传 `0` 会保留并映射到上游 `parameters.seed`。"
          }
        }
      },
      "QwenImageInput": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "description": "当前仅支持单轮消息。",
            "minItems": 1,
            "maxItems": 1,
            "items": {
              "$ref": "#/components/schemas/QwenImageMessage"
            }
          }
        }
      },
      "QwenImageMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "消息角色，固定为 `user`。"
          },
          "content": {
            "type": "array",
            "description": "内容数组中放置 1-3 个图片对象和 1 个文本指令对象。",
            "items": {
              "$ref": "#/components/schemas/QwenImageContent"
            }
          }
        }
      },
      "QwenImageContent": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "输入图片 URL 或 Data URL。"
          },
          "text": {
            "type": "string",
            "description": "编辑指令。支持中英文，长度不超过 800 个字符。"
          }
        }
      },
      "QwenImageParameters": {
        "type": "object",
        "properties": {
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "default": 1,
            "description": "生成图像数量。"
          },
          "size": {
            "type": "string",
            "description": "输出图像分辨率，格式为 `宽*高`。",
            "x-options": [
              {
                "label": "512*512",
                "value": "512*512"
              },
              {
                "label": "1K",
                "value": "1000*1000"
              },
              {
                "label": "2K",
                "value": "2000*2000"
              }
            ],
            "default": "512*512"
          },
          "watermark": {
            "type": "boolean",
            "description": "是否添加水印。",
            "default": false
          },
          "prompt_extend": {
            "type": "boolean",
            "default": true,
            "description": "是否开启提示词智能改写。"
          },
          "negative_prompt": {
            "type": "string",
            "description": "反向提示词。"
          },
          "seed": {
            "type": "integer",
            "description": "随机数种子，取值范围 [0, 2147483647]。",
            "default": 0,
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "创建时间的 Unix 时间戳（秒）。"
          },
          "data": {
            "type": "array",
            "description": "生成的图像列表。",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "metadata": {
            "type": "object",
            "description": "附加结果信息。字段内容会随能力不同而变化。"
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "图片下载链接。有效期 24 小时。"
          },
          "b64_json": {
            "type": "string",
            "description": "Base64 编码的图片数据。"
          },
          "revised_prompt": {
            "type": "string",
            "description": "优化后的提示词。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "错误类型，例如 `invalid_request_error`、`api_error` 或上游兼容错误类型。"
              },
              "code": {
                "type": "string"
              },
              "param": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
