{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan 图像编辑",
    "version": "1.0.0",
    "description": "阿里 Wan 图像编辑能力文档。公开统一入口为 `/v1/images/edits`，当前文档描述 `wan2.7-image-pro` 对外公开的网关契约：保留 `input.messages[].content[]` 承载图片与文本指令，其余控制字段使用顶层 OpenAI 风格字段，由网关映射到上游 `parameters`。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Wan Image",
      "description": "Wan 图像编辑能力"
    }
  ],
  "paths": {
    "/v1/images/edits": {
      "post": {
        "summary": "Wan 图像编辑",
        "description": "调用 Ali `wan2.7-image-pro` 执行图像编辑。\n\n公开调用方案保留顶层 `model`、`input`、`response_format`，并将 `size`、`n`、`watermark`、`negative_prompt`、`seed`、`bbox_list` 设计为顶层字段。输入图片位于 `input.messages[0].content[].image`，编辑指令位于同一数组中的 `text`。请求体不接受顶层 `parameters`。",
        "operationId": "aliWanImageEdit",
        "tags": [
          "Wan Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WanImageEditRequest"
              },
              "examples": {
                "image_edit": {
                  "summary": "图像编辑",
                  "value": {
                    "model": "wan2.7-image-pro",
                    "response_format": "url",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "image": "https://example.com/car.webp"
                            },
                            {
                              "image": "https://example.com/paint.webp"
                            },
                            {
                              "text": "把图2的涂鸦喷绘在图1的汽车上"
                            }
                          ]
                        }
                      ]
                    },
                    "size": "2K",
                    "n": 1,
                    "watermark": false,
                    "negative_prompt": "保留原车身颜色",
                    "seed": 0
                  }
                },
                "interactive_edit": {
                  "summary": "交互式编辑",
                  "value": {
                    "model": "wan2.7-image-pro",
                    "response_format": "url",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "image": "https://example.com/clock.webp"
                            },
                            {
                              "image": "https://example.com/room.webp"
                            },
                            {
                              "text": "把图1的闹钟放在图2框选的位置"
                            }
                          ]
                        }
                      ]
                    },
                    "bbox_list": [
                      [],
                      [
                        [
                          989,
                          515,
                          1138,
                          681
                        ]
                      ]
                    ],
                    "size": "2K",
                    "n": 1,
                    "watermark": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "调用成功，返回图像编辑结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败，例如未提供令牌或令牌无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "请求体过大。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "触发速率限制或账户额度不足。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端处理请求时发生内部错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "上游服务返回异常响应。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "上游服务暂不可用，或当前模型暂无可用渠道。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "WanImageEditRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.7-image-pro"
            ],
            "description": "模型名称。可选值：`wan2.7-image-pro`。"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "description": "统一响应格式。支持的值：`url` 或 `b64_json`。",
            "default": "url"
          },
          "input": {
            "$ref": "#/components/schemas/WanImageInput"
          },
          "size": {
            "type": "string",
            "description": "控制输出图像分辨率。图像编辑场景支持 `1K`（默认）或 `2K`。网关会映射到上游 `parameters.size`。",
            "x-enum": [
              "1K",
              "2K"
            ],
            "default": "1K"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "description": "重要：`n` 直接影响费用。费用 = 单价 × 成功生成的图片张数，请在调用前确认模型价格。网关会映射到上游 `parameters.n`。"
          },
          "watermark": {
            "type": "boolean",
            "description": "是否添加水印。水印位于图片右下角，文字为 'AI生成'。`false`（默认）：无水印。`true`：添加水印。网关会映射到上游 `parameters.watermark`。",
            "default": false
          },
          "negative_prompt": {
            "type": "string",
            "description": "反向提示词，描述输出中应避免的内容。网关会映射到上游 `parameters.negative_prompt`。"
          },
          "seed": {
            "type": "integer",
            "description": "随机数种子，取值范围 [0, 2147483647]。使用相同的 seed 参数值可使生成内容保持相对稳定。注意：模型生成过程具有概率性，即使使用相同的 seed，也不能保证每次生成结果完全一致。网关会映射到上游 `parameters.seed`。",
            "default": 0,
            "minimum": 0,
            "maximum": 2147483647
          },
          "bbox_list": {
            "type": "array",
            "description": "交互式编辑框选区域。列表长度必须与输入图片数量一致。若某张图片无需编辑，请在对应位置传入空列表 `[]`。每个框选区域使用原图绝对像素坐标 `[x1, y1, x2, y2]`。网关会映射到上游 `parameters.bbox_list`。",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "WanImageInput": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "description": "当前仅支持单轮消息。",
            "items": {
              "$ref": "#/components/schemas/WanImageMessage"
            }
          }
        }
      },
      "WanImageMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "固定为 `user`。"
          },
          "content": {
            "type": "array",
            "description": "内容数组中按顺序放置图片对象和文本指令对象。",
            "items": {
              "$ref": "#/components/schemas/WanImageContent"
            }
          }
        }
      },
      "WanImageContent": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "输入图片的 URL 或 Base64 编码字符串。支持的格式：JPEG、JPG、PNG、BMP、WEBP。"
          },
          "text": {
            "type": "string",
            "maxLength": 5000,
            "description": "编辑指令。支持中英文，最多 5000 个字符（每个字符、字母、数字或符号均计为一个字符）。超出部分将自动截断。"
          }
        }
      },
      "WanImageParameters": {
        "type": "object",
        "properties": {
          "size": {
            "type": "string",
            "description": "控制输出图像分辨率。图像编辑场景支持 `1K`（默认）、`2K`。"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "description": "重要：`n` 直接影响费用。费用 = 单价 × 成功生成的图片张数，请在调用前确认模型价格。"
          },
          "watermark": {
            "type": "boolean",
            "description": "是否添加水印。水印位于图片右下角，文字为 'AI生成'。`false`（默认）：无水印。`true`：添加水印。",
            "default": false
          },
          "negative_prompt": {
            "type": "string",
            "description": "反向提示词，描述输出中应避免的内容。"
          },
          "seed": {
            "type": "integer",
            "description": "随机种子。取值范围 [0, 2147483647]。使用相同的种子有助于保持生成结果相对稳定。注意：生成过程具有概率性，相同的种子也不能保证每次结果完全一致。"
          },
          "bbox_list": {
            "type": "array",
            "description": "交互式编辑框选区域。列表长度必须与输入图片数量一致。若某张图片无需编辑，请在对应位置传入空列表 `[]`。每个框选区域使用原图绝对像素坐标 `[x1, y1, x2, y2]`。",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "响应生成时间戳。"
          },
          "data": {
            "type": "array",
            "description": "生成后的图片结果列表。",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "metadata": {
            "type": "object",
            "description": "透传的上游原始响应元数据。"
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "当结果以 URL 返回时使用。"
          },
          "b64_json": {
            "type": "string",
            "description": "当结果以 Base64 返回时使用。"
          },
          "revised_prompt": {
            "type": "string",
            "description": "上游返回的改写提示词。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "错误类型，例如 `invalid_request_error`、`api_error` 或上游兼容错误类型。"
              },
              "code": {
                "type": "string"
              },
              "param": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}