{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan Image to Video (First and Last Frame)",
    "version": "1.0.0",
    "description": "Aliyun Wan 2.2 series first-and-last-frame image-to-video capability documentation. The unified API endpoint is `/ali/api/v1/services/aigc/image2video/video-synthesis`, used to create asynchronous video generation tasks.\n\nSupported models: `wan2.2-kf2v-flash`, `wanx2.1-kf2v-plus`.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API server endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan Legacy Video",
      "description": "Ali wan 2.2 image-to-video capability"
    }
  ],
  "paths": {
    "/ali/api/v1/services/aigc/image2video/video-synthesis": {
      "post": {
        "summary": "Create Wan image-to-video task (first and last frame)",
        "description": "Submit an asynchronous Wan 2.2 image-to-video task, generating a video based on a first frame (and optional last frame) image.\n\nAfter submitting a task, query its status via `GET /ali/api/v1/tasks/{task_id}`.",
        "operationId": "aliLegacyI2VFirstLastFrameCreate",
        "tags": [
          "Wan Legacy Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyKf2VRequest"
              },
              "examples": {
                "first_frame_only": {
                  "summary": "First frame only",
                  "value": {
                    "model": "wan2.2-kf2v-flash",
                    "input": {
                      "prompt": "A cat starts walking from rest.",
                      "first_frame_url": "https://example.com/assets/cat.png"
                    },
                    "parameters": {
                      "resolution": "1080P",
                      "duration": 5,
                      "prompt_extend": true,
                      "watermark": false
                    }
                  }
                },
                "first_last_frame": {
                  "summary": "First frame + last frame",
                  "value": {
                    "model": "wanx2.1-kf2v-plus",
                    "input": {
                      "prompt": "A flower gradually blooms from a bud.",
                      "negative_prompt": "blurry, low quality",
                      "first_frame_url": "https://example.com/assets/bud.png",
                      "last_frame_url": "https://example.com/assets/bloom.png"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 5,
                      "seed": 42
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted successfully. Returns a video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g. missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/ali/api/v1/tasks/{task_id}": {
      "get": {
        "summary": "Query Wan image-to-video task status (first and last frame)",
        "description": "Query the status and result of a video generation task by task ID.\n\nTask status flow: PENDING (queued) -> RUNNING (processing) -> SUCCEEDED (success) / FAILED (failure).",
        "operationId": "aliLegacyI2VFirstLastFrameQuery",
        "tags": [
          "Wan Legacy Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Video generation task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful. Returns the task status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task does not exist or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "LegacyKf2VRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.2-kf2v-flash",
              "wanx2.1-kf2v-plus"
            ],
            "description": "Model name."
          },
          "input": {
            "$ref": "#/components/schemas/LegacyKf2VInput"
          },
          "parameters": {
            "$ref": "#/components/schemas/LegacyKf2VParameters"
          }
        }
      },
      "LegacyKf2VInput": {
        "type": "object",
        "required": [
          "first_frame_url"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Optional prompt describing the desired video content. Up to 800 characters.",
            "maxLength": 800
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt describing content you do not want in the video. Up to 500 characters.",
            "maxLength": 500
          },
          "first_frame_url": {
            "type": "string",
            "description": "First frame image URL."
          },
          "last_frame_url": {
            "type": "string",
            "description": "Optional last frame image URL."
          },
          "template": {
            "type": "string",
            "description": "Optional video effect template."
          }
        }
      },
      "LegacyKf2VParameters": {
        "type": "object",
        "properties": {
          "resolution": {
            "type": "string",
            "enum": [
              "480P",
              "720P",
              "1080P"
            ],
            "description": "Output video resolution."
          },
          "duration": {
            "type": "integer",
            "description": "Video duration in seconds, fixed at 5.",
            "default": 5
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "Whether to enable intelligent prompt rewriting. Default true.",
            "default": true
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark to the video. Default false.",
            "default": false
          },
          "seed": {
            "type": "integer",
            "description": "Random seed, range [0, 2147483647].",
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Video generation task ID."
              },
              "task_status": {
                "type": "string",
                "enum": [
                  "PENDING"
                ],
                "description": "Task status, returns PENDING after submission."
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "Request ID."
          }
        }
      },
      "VideoTaskQueryResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Video generation task ID."
              },
              "task_status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED"
                ],
                "description": "Task status."
              },
              "video_url": {
                "type": "string",
                "description": "Download URL for the generated video. Returned only when the task succeeds."
              },
              "orig_prompt": {
                "type": "string",
                "description": "Original input prompt."
              },
              "actual_prompt": {
                "type": "string",
                "description": "Optimized prompt (when prompt_extend is enabled)."
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "video_duration": {
                "type": "integer",
                "description": "Video duration in seconds."
              },
              "video_count": {
                "type": "integer",
                "description": "Number of generated videos."
              },
              "SR": {
                "type": "integer",
                "description": "Resolution tier."
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "Request ID."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "request_id": {
            "type": "string",
            "description": "Request ID."
          }
        }
      }
    }
  }
}
