{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan Image to Video (First and Last Frame)",
    "version": "1.0.0",
    "description": "Aliyun Wan 2.2 series first-and-last-frame image-to-video capability documentation. The unified API endpoint is `/ali/api/v1/services/aigc/image2video/video-synthesis`, used to create asynchronous video generation tasks.\n\nSupported models: `wan2.2-kf2v-flash`, `wan2.1-kf2v-plus`.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API server endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan Legacy Video",
      "description": "Ali wan 2.2 image-to-video capability"
    }
  ],
  "paths": {
    "/ali/api/v1/services/aigc/image2video/video-synthesis": {
      "post": {
        "summary": "Create Wan image-to-video task (first and last frame)",
        "description": "Submit an asynchronous Wan 2.2 image-to-video task, generating a video based on a first frame (and optional last frame) image.\n\nAfter submitting a task, query its status via `GET /ali/api/v1/tasks/{task_id}`.",
        "operationId": "aliLegacyI2VFirstLastFrameCreate",
        "tags": [
          "Wan Legacy Video"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Request content type. Must be set to `application/json`."
          },
          {
            "name": "X-DashScope-Async",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Async processing configuration. HTTP requests only support async mode. Must be set to `enable`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyKf2VRequest"
              },
              "examples": {
                "first_last_frame": {
                  "summary": "First and last frame (URL)",
                  "value": {
                    "model": "wan2.2-kf2v-flash",
                    "input": {
                      "first_frame_url": "https://wanx.alicdn.com/material/20250318/first_frame.png",
                      "last_frame_url": "https://wanx.alicdn.com/material/20250318/last_frame.png",
                      "prompt": "Realistic style, a small black cat curiously looks up at the sky, the camera gradually rises from eye level, finally looking down at its curious eyes."
                    },
                    "parameters": {
                      "resolution": "480P",
                      "prompt_extend": true
                    }
                  }
                },
                "base64": {
                  "summary": "Using Base64",
                  "value": {
                    "model": "wan2.1-kf2v-plus",
                    "input": {
                      "first_frame_url": "data:image/png;base64,GDU7MtCZzEbTbmRZ......",
                      "last_frame_url": "data:image/png;base64,VBORw0KGgoAAAANSUh......",
                      "prompt": "Realistic style, a small black cat curiously looks up at the sky, the camera gradually rises from eye level, finally looking down at its curious eyes."
                    },
                    "parameters": {
                      "resolution": "720P",
                      "prompt_extend": true
                    }
                  }
                },
                "template": {
                  "summary": "Using video effect template",
                  "value": {
                    "model": "wan2.1-kf2v-plus",
                    "input": {
                      "first_frame_url": "https://ty-yuanfang.oss-cn-hangzhou.aliyuncs.com/lizhengjia.lzj/tmp/11.png",
                      "template": "hanfu-1"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "prompt_extend": true
                    }
                  }
                },
                "negative_prompt": {
                  "summary": "Using negative prompt",
                  "value": {
                    "model": "wan2.1-kf2v-plus",
                    "input": {
                      "first_frame_url": "https://wanx.alicdn.com/material/20250318/first_frame.png",
                      "last_frame_url": "https://wanx.alicdn.com/material/20250318/last_frame.png",
                      "prompt": "Realistic style, a small black cat curiously looks up at the sky, the camera gradually rises from eye level, finally looking down at its curious eyes.",
                      "negative_prompt": "Human figures"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "prompt_extend": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted successfully. Returns a video task object. Save the task_id to query task status and results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                },
                "example": {
                  "output": {
                    "task_status": "PENDING",
                    "task_id": "0385dc79-5ff8-4d82-bcb6-xxxxxx"
                  },
                  "request_id": "4909100c-7b5a-9f92-bfe5-xxxxxx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g. missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/ali/api/v1/tasks/{task_id}": {
      "get": {
        "summary": "Query Wan image-to-video task status (first and last frame)",
        "description": "Query the status and result of a video generation task by task ID.\n\nTask status flow: PENDING (queued) -> RUNNING (processing) -> SUCCEEDED (success) / FAILED (failure).",
        "operationId": "aliLegacyI2VFirstLastFrameQuery",
        "tags": [
          "Wan Legacy Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Video generation task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful. Returns the task status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task does not exist or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "LegacyKf2VRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.2-kf2v-flash",
              "wan2.1-kf2v-plus"
            ],
            "description": "Model name. Example: `wan2.2-kf2v-flash`. See the Bailian console for details."
          },
          "input": {
            "$ref": "#/components/schemas/LegacyKf2VInput"
          },
          "parameters": {
            "$ref": "#/components/schemas/LegacyKf2VParameters"
          }
        }
      },
      "LegacyKf2VInput": {
        "type": "object",
        "required": [
          "first_frame_url"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt. Supports Chinese and English, up to 800 characters (each Chinese character or letter counts as one character). Excess characters will be automatically truncated.\n\nIf the subject and scene change significantly between the first and last frames, it is recommended to describe the transition, such as camera movement (e.g., camera panning left) or subject motion (e.g., a person running forward).\n\nExample: A small black cat curiously looks up at the sky, the camera gradually rises from eye level, finally looking down at its curious eyes.",
            "maxLength": 800
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt describing content you do not want in the video, used to restrict the video output.\n\nSupports Chinese and English, up to 500 characters. Excess characters will be automatically truncated.\n\nExample: Low resolution, error, worst quality, low quality, disfigured, extra fingers, bad proportions, etc.",
            "maxLength": 500
          },
          "first_frame_url": {
            "type": "string",
            "description": "The URL or Base64-encoded data of the first frame image. The output video's aspect ratio will follow this image.\n\nImage restrictions:\n- Image formats: JPEG, JPG, PNG (no alpha channel), BMP, WEBP.\n- Image resolution: width and height range [240, 8000] pixels.\n- File size: up to 10MB.\n\nSupported input formats:\n- **Public URL**: HTTP or HTTPS protocol. Example: `https://wanx.alicdn.com/xxx/first_frame.png`.\n- **Temporary URL**: OSS protocol, must obtain via file upload. Example: `oss://dashscope-instant/xxx/xxx.png`.\n- **Base64-encoded image string**: Format: `data:{MIME_type};base64,{base64_data}`. Example: `data:image/png;base64,GDU7MtCZzEbTbmRZ......` (truncated for brevity)."
          },
          "last_frame_url": {
            "type": "string",
            "description": "The URL or Base64-encoded data of the last frame image.\n\nImage restrictions:\n- Image formats: JPEG, JPG, PNG (no alpha channel), BMP, WEBP.\n- Image resolution: width and height range [240, 8000] pixels. The last frame resolution can differ from the first frame; no forced alignment required.\n- File size: up to 10MB.\n\nSupported input formats:\n- **Public URL**: HTTP or HTTPS protocol. Example: `https://wanx.alicdn.com/xxxx/last_frame.png`.\n- **Temporary URL**: OSS protocol, must obtain via file upload. Example: `oss://dashscope-instant/xxx/xxx.png`.\n- **Base64-encoded image string**: Format: `data:{MIME_type};base64,{base64_data}`. Example: `data:image/png;base64,GDU7MtCZ......` (truncated for brevity)."
          },
          "template": {
            "type": "string",
            "description": "Name of the video effect template. When using this parameter, only first_frame_url is required.\n\nDifferent models support different effect templates. Refer to Wan Image-to-Video Video Effects before calling to avoid failures.\n\nExample: `hufu-1`, representing the \"Tang Yun Pian Ran\" effect."
          }
        }
      },
      "LegacyKf2VParameters": {
        "type": "object",
        "properties": {
          "resolution": {
            "type": "string",
            "enum": [
              "480P",
              "720P",
              "1080P"
            ],
            "description": "**Important**: resolution directly affects cost. For the same model: 1080P > 720P > 480P.\n\nThe resolution tier for the generated video. Used to adjust video sharpness (total pixels) without changing the aspect ratio. The video aspect ratio will match that of the first frame image (first_frame_url).\n\nDefault values and available options depend on the model parameter:\n- `wan2.2-kf2v-flash`: Available values: 480P, 720P, 1080P. Default: 720P.\n- `wan2.1-kf2v-plus`: Available values: 720P. Default: 720P.\n\nExample: 720P."
          },
          "duration": {
            "type": "integer",
            "description": "**Important**: duration directly affects cost (billed per second).\n\nVideo duration in seconds. Currently fixed at 5 and cannot be changed. The model will always generate a 5-second video.",
            "default": 5
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "Whether to enable intelligent prompt rewriting. When enabled, a large language model rewrites the input prompt intelligently. Significantly improves results for short prompts, but increases processing time.\n\n- `true`: Default, enable intelligent rewriting.\n- `false`: Disable intelligent rewriting.\n\nExample: true.",
            "default": true
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark. The watermark appears at the bottom-right corner with the text \"AI Generated\".\n\n- `false`: Default, no watermark.\n- `true`: Add watermark.\n\nExample: false.",
            "default": false
          },
          "seed": {
            "type": "integer",
            "description": "Random seed, range [0, 2147483647].\n\nWhen not specified, a random seed is automatically generated. To improve reproducibility of results, it is recommended to fix the seed value.\n\nNote: Due to the probabilistic nature of model generation, even with the same seed, results may not be identical every time.",
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Task ID. Valid for querying for 24 hours."
              },
              "task_status": {
                "type": "string",
                "description": "Task status.\n\nEnum values:\n- `PENDING`: Task is queued\n- `RUNNING`: Task is processing\n- `SUCCEEDED`: Task completed successfully\n- `FAILED`: Task failed\n- `CANCELED`: Task canceled\n- `UNKNOWN`: Task does not exist or status is unknown"
              },
              "code": {
                "type": "string",
                "description": "Error code for failed requests. Not returned on success."
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for failed requests. Not returned on success."
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "Unique request identifier. Can be used for request tracing and issue investigation."
          }
        }
      },
      "VideoTaskQueryResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Task ID. Valid for querying for 24 hours."
              },
              "task_status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ],
                "description": "Task status.\n\nEnum values:\n- `PENDING`: Task is queued\n- `RUNNING`: Task is processing\n- `SUCCEEDED`: Task completed successfully\n- `FAILED`: Task failed\n- `CANCELED`: Task canceled\n- `UNKNOWN`: Task does not exist or status is unknown"
              },
              "video_url": {
                "type": "string",
                "description": "Download URL for the generated video. Returned only when the task succeeds."
              },
              "orig_prompt": {
                "type": "string",
                "description": "Original input prompt."
              },
              "actual_prompt": {
                "type": "string",
                "description": "Optimized prompt (when prompt_extend is enabled)."
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "video_duration": {
                "type": "integer",
                "description": "Video duration in seconds."
              },
              "video_count": {
                "type": "integer",
                "description": "Number of generated videos."
              },
              "SR": {
                "type": "integer",
                "description": "Resolution tier."
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "Unique request identifier. Can be used for request tracing and issue investigation."
          },
          "code": {
            "type": "string",
            "description": "Error code for failed requests. Not returned on success."
          },
          "message": {
            "type": "string",
            "description": "Detailed error message for failed requests. Not returned on success."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "request_id": {
            "type": "string",
            "description": "Request ID."
          }
        }
      }
    }
  }
}