{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan 2.7 Image to Video",
    "version": "1.0.0",
    "description": "Aliyun Wan `wan2.7-i2v` image-to-video capability documentation. The unified API endpoint is `/ali/api/v1/services/aigc/video-generation/video-synthesis`, used to create asynchronous video generation tasks.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API server endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan 2.7 Video",
      "description": "Ali wan2.7-i2v image-to-video capability"
    }
  ],
  "paths": {
    "/ali/api/v1/services/aigc/video-generation/video-synthesis": {
      "post": {
        "summary": "Create wan2.7-i2v image-to-video task",
        "description": "Submit an asynchronous Ali `wan2.7-i2v` image-to-video task. Specify the first frame image, last frame image, driving audio, or first video clip via `input.media`.\n\nAfter submitting a task, query its status via `GET /ali/api/v1/tasks/{task_id}`.",
        "operationId": "aliWan27I2VCreate",
        "tags": [
          "Wan 2.7 Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Wan27I2VRequest"
              },
              "examples": {
                "first_frame_with_audio": {
                  "summary": "First frame + driving audio",
                  "value": {
                    "model": "wan2.7-i2v",
                    "input": {
                      "prompt": "一幅都市奇幻艺术的场景。一个充满动感的涂鸦艺术角色。一个由喷漆所画成的少年，正从一面混凝土墙上活过来。他一边用极快的语速演唱一首英文rap，一边摆着一个经典的、充满活力的说唱歌手姿势。场景设定在夜晚一个充满都市感的铁路桥下。灯光来自一盏孤零零的街灯，营造出电影般的氛围，充满高能量和惊人的细节。视频的音频部分完全由rap构成，没有其他对话或杂音。",
                      "media": [
                        {
                          "type": "first_frame",
                          "url": "https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/wpimhv/rap.png"
                        },
                        {
                          "type": "driving_audio",
                          "url": "https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/ozwpvi/rap.mp3"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 10,
                      "prompt_extend": true,
                      "watermark": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted successfully. Returns a video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                },
                "example": {
                  "output": {
                    "task_status": "PENDING",
                    "task_id": "0385dc79-5ff8-4d82-bcb6-xxxxxx"
                  },
                  "request_id": "4909100c-7b5a-9f92-bfe5-xxxxxx"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g. missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/ali/api/v1/tasks/{task_id}": {
      "get": {
        "summary": "Query wan2.7-i2v video task status",
        "description": "Query the status and result of a video generation task by task ID.\n\nTask status flow: PENDING (queued) -> RUNNING (processing) -> SUCCEEDED (success) / FAILED (failure).",
        "operationId": "aliWan27I2VQuery",
        "tags": [
          "Wan 2.7 Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Video generation task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful. Returns the task status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task does not exist or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "Wan27I2VRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.7-i2v"
            ],
            "description": "Model name. Available value: `wan2.7-i2v`. See model pricing for details."
          },
          "input": {
            "$ref": "#/components/schemas/Wan27I2VInput"
          },
          "parameters": {
            "$ref": "#/components/schemas/Wan27I2VParameters"
          }
        }
      },
      "Wan27I2VInput": {
        "type": "object",
        "required": [
          "media"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the desired video content and visual characteristics. Supports Chinese and English, up to 5000 characters (each character or letter counts as one). Excess characters will be automatically truncated.",
            "maxLength": 5000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt describing content you do not want in the video. Supports Chinese and English, up to 500 characters. Excess characters will be automatically truncated. Example: `low resolution, worst quality, deformed, extra fingers, bad proportions`.",
            "maxLength": 500
          },
          "media": {
            "type": "array",
            "description": "List of media assets (images, audio, video) for video generation. Each element is a media object with `type` and `url`.\n\nSupported combinations (invalid combinations will return an error):\n- **First frame only**: `first_frame`\n- **First frame + audio**: `first_frame` + `driving_audio`\n- **First + last frame**: `first_frame` + `last_frame`\n- **First + last frame + audio**: `first_frame` + `last_frame` + `driving_audio`\n- **First clip continuation**: `first_clip`\n- **First clip + last frame continuation**: `first_clip` + `last_frame`\n\nEach `type` can appear at most once in the array.",
            "items": {
              "$ref": "#/components/schemas/Wan27I2VMedia"
            }
          }
        }
      },
      "Wan27I2VMedia": {
        "type": "object",
        "required": [
          "type",
          "url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "first_frame",
              "last_frame",
              "driving_audio",
              "first_clip"
            ],
            "description": "Media asset type.\n- `first_frame`: First frame image.\n- `last_frame`: Last frame image.\n- `driving_audio`: Driving audio.\n- `first_clip`: First video clip.\n\nEach type can appear at most once per request (e.g. cannot include two `first_frame` entries)."
          },
          "url": {
            "type": "string",
            "description": "Media asset URL. Supports images, audio, and video.\n\n**Image** (type=`first_frame` or `last_frame`): URL or Base64 encoded data.\n- Formats: JPEG, JPG, PNG (no alpha channel), BMP, WEBP.\n- Resolution: width and height range [240, 8000] pixels.\n- Aspect ratio: 1:8 ~ 8:1.\n- File size: up to 20MB.\n- Supported formats:\n  - Public URL: HTTP or HTTPS, e.g. `https://xxx/xxx.png`.\n  - Temporary URL: OSS protocol, e.g. `oss://dashscope-instant/xxx/xxx.png`.\n  - Base64: `data:{MIME_type};base64,{base64_data}`, e.g. `data:image/png;base64,...`.\n\n**Audio** (type=`driving_audio`): URL of the audio file.\n- If provided, the model uses the audio as a driving source (e.g. lip sync, action beats).\n- If not provided, the model auto-generates matching background music or sound effects.\n- Formats: `wav`, `mp3`.\n- Duration: 2~30s.\n- File size: up to 15MB.\n- Truncation: if audio exceeds the `duration` value (e.g. 5s), the first 5s is used and the rest discarded. If audio is shorter than the video duration, the portion beyond audio length is silent. For example, 3s audio with 5s video: first 3s has sound, last 2s is silent.\n- Supported formats:\n  - Public URL: HTTP or HTTPS, e.g. `https://xxx/xxx.mp3`.\n  - Temporary URL: OSS protocol, e.g. `oss://dashscope-instant/xxx/xxx.mp3`.\n\n**Video** (type=`first_clip`): URL of the video file for continuation.\n- The model generates continuation based on this clip. The max continuation duration is controlled by the `duration` parameter.\n- Example: when `duration=15` and input video is 3s, the model generates 12s continuation, total output is 15s, billed for 15s.\n- Formats: `mp4`, `mov`.\n- Duration: 2~10s.\n- Resolution: width and height range [240, 4096] pixels.\n- Aspect ratio: 1:8 ~ 8:1.\n- File size: up to 100MB.\n- Supported formats:\n  - Public URL: HTTP or HTTPS, e.g. `https://xxx/xxx.mp4`.\n  - Temporary URL: OSS protocol, e.g. `oss://dashscope-instant/xxx/xxx.mp4`."
          }
        }
      },
      "Wan27I2VParameters": {
        "type": "object",
        "properties": {
          "resolution": {
            "type": "string",
            "enum": [
              "720P",
              "1080P"
            ],
            "description": "Important: `resolution` directly affects cost. Confirm the model pricing before calling.\n\nSpecifies the output video resolution tier, controlling video clarity (total pixels). The model auto-scales to a similar total pixel count based on the selected tier. The video aspect ratio will match the input material (first frame or first clip) as closely as possible.\n\nAvailable values:\n- `720P`\n- `1080P` (default)",
            "default": "1080P"
          },
          "duration": {
            "type": "integer",
            "description": "Important: `duration` directly affects cost, billed per second. Confirm the model pricing before calling.\n\nVideo duration in seconds. Range [2, 15]. Default 5.",
            "minimum": 2,
            "maximum": 15,
            "default": 5
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "Whether to enable intelligent prompt rewriting. When enabled, a large language model rewrites the input prompt intelligently, significantly improving results for short prompts but increasing processing time. `true` (default): enable. `false`: disable.",
            "default": true
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark. The watermark is positioned at the bottom-right corner with the text 'AI生成'. `false` (default): no watermark. `true`: add watermark.",
            "default": false
          },
          "seed": {
            "type": "integer",
            "description": "Random seed, range [0, 2147483647]. When unspecified, the system auto-generates a random seed. For better reproducibility, set a fixed seed. Note: due to the probabilistic nature of model generation, the same seed does not guarantee identical results every time.",
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Task ID. Valid for 24 hours for querying."
              },
              "task_status": {
                "type": "string",
                "enum": [
                  "PENDING"
                ],
                "description": "Task status, returns PENDING after successful submission.",
                "x-enum-descriptions": {
                  "PENDING": "Task is queued"
                }
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "Unique request ID. Can be used for request tracing and issue diagnosis."
          },
          "code": {
            "type": "string",
            "description": "Error code. Only returned when the request fails."
          },
          "message": {
            "type": "string",
            "description": "Error message. Only returned when the request fails."
          }
        }
      },
      "VideoTaskQueryResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Video generation task ID."
              },
              "task_status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "CANCELED",
                  "UNKNOWN"
                ],
                "description": "Task status.\n- `PENDING`: Task is queued.\n- `RUNNING`: Task is processing.\n- `SUCCEEDED`: Task completed successfully.\n- `FAILED`: Task execution failed.\n- `CANCELED`: Task has been canceled.\n- `UNKNOWN`: Task does not exist or status is unknown.",
                "x-enum-descriptions": {
                  "PENDING": "Task is queued",
                  "RUNNING": "Task is processing",
                  "SUCCEEDED": "Task completed successfully",
                  "FAILED": "Task execution failed",
                  "CANCELED": "Task has been canceled",
                  "UNKNOWN": "Task does not exist or status is unknown"
                }
              },
              "video_url": {
                "type": "string",
                "description": "Download URL for the generated video. Returned only when the task succeeds."
              },
              "orig_prompt": {
                "type": "string",
                "description": "Original input prompt."
              },
              "submit_time": {
                "type": "string",
                "description": "Task submission time."
              },
              "scheduled_time": {
                "type": "string",
                "description": "Task scheduling time."
              },
              "end_time": {
                "type": "string",
                "description": "Task end time."
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "duration": {
                "type": "number",
                "description": "Video duration in seconds."
              },
              "input_video_duration": {
                "type": "number",
                "description": "Input video duration in seconds."
              },
              "output_video_duration": {
                "type": "number",
                "description": "Output video duration in seconds."
              },
              "video_count": {
                "type": "integer",
                "description": "Number of generated videos."
              },
              "SR": {
                "type": "integer",
                "description": "Resolution tier."
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "Request ID."
          },
          "code": {
            "type": "string",
            "description": "Error code. Only returned when the request fails."
          },
          "message": {
            "type": "string",
            "description": "Error message. Only returned when the request fails."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "request_id": {
            "type": "string",
            "description": "Request ID."
          }
        }
      }
    }
  }
}