{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedance 2.5 Text to Video",
    "version": "1.0.0",
    "description": "Dreamina Seedance 2.5 text-to-video capability. Generates high-quality videos from text prompts. Supports generating videos with or without audio, with durations up to 30 seconds.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API server endpoint"
    }
  ],
  "tags": [
    {
      "name": "Seedance Video",
      "description": "Seedance series video generation capability"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Seedance 2.5 Text to Video",
        "description": "For the `dreamina-seedance-2-5-260628` model. After submitting, query status via `GET /v1/videos/{task_id}`.",
        "operationId": "seedance25TextToVideo",
        "x-capability": "text_to_video",
        "tags": [
          "Seedance Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToVideoRequest"
              },
              "examples": {
                "text_to_video": {
                  "summary": "Basic text to video",
                  "value": {
                    "model": "dreamina-seedance-2-5-260628",
                    "media": [
                      {
                        "type": "text",
                        "text": "A kitten yawning at the camera"
                      }
                    ],
                    "seconds": "5",
                    "size": "720p",
                    "ratio": "16:9",
                    "generate_audio": true,
                    "watermark": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful, returns video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters."
          },
          "401": {
            "description": "Authentication failed."
          },
          "429": {
            "description": "Request rate limit exceeded."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "TextToVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "media"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "dreamina-seedance-2-5-260628"
            ],
            "description": "The ID of the model you need to call (Model ID)"
          },
          "media": {
            "type": "array",
            "minItems": 1,
            "description": "Multimodal input array. Text-to-Video scenarios only support `text` type.",
            "items": {
              "$ref": "#/components/schemas/VideoMediaInput"
            }
          },
          "seconds": {
            "type": "string",
            "description": "Video duration, integer only, in seconds.\n\n* Seedance 2.5 series: [4, 30] s, or set to -1\n\n**Note**\n\nSeedance 2.5 series supports two configuration methods:\n* Specify exact duration: Any integer within the valid range.\n* Smart mode: Set to -1 to let the model choose the appropriate video length (in whole seconds) within the valid range. The actual generated video duration can be obtained from the duration field returned by the query video generation task API. Note that video duration is related to billing, so set it carefully.",
            "default": "5",
            "example": "5",
            "enum": [
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "-1"
            ]
          },
          "size": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "Video resolution. Enum values:\n\n* 480p\n* 720p\n* 1080p\n\nDefault: `720p`",
            "default": "720p"
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ],
            "description": "> Seedance 2.5 series default: `adaptive`\n\nThe aspect ratio of the generated video. See the table below for pixel dimensions for different aspect ratios.\n\n* 16:9\n* 4:3\n* 1:1\n* 3:4\n* 9:16\n* 21:9\n* adaptive: Automatically selects the most suitable aspect ratio based on input (see details below)\n\n**adaptive Rules**\n\nWhen ratio is set to adaptive, the model automatically adjusts the aspect ratio based on the generation scenario. The actual video aspect ratio can be obtained from the ratio field returned by the query video generation task API.\n\n**Supported models:**\n* Seedance 2.5 series supported\n\n**Rules:**\n* Text-to-Video: Based on the input prompt, intelligently selects the most suitable aspect ratio.\n\nPixel dimensions corresponding to different aspect ratios\n\nNote: For Image-to-Video, if the selected aspect ratio does not match the uploaded image ratio, the platform will crop your image from the center.\n\n| Resolution | Aspect Ratio | Pixel Dimensions Seedance 2.5 Series |\n|---|---|---|\n| 480p | 16:9 | 864×496 |\n| | 4:3 | 752×560 |\n| | 1:1 | 640×640 |\n| | 3:4 | 560×752 |\n| | 9:16 | 496×864 |\n| | 21:9 | 992×432 |\n| 720p | 16:9 | 1280×720 |\n| | 4:3 | 1112×834 |\n| | 1:1 | 960×960 |\n| | 3:4 | 834×1112 |\n| | 9:16 | 720×1280 |\n| | 21:9 | 1470×630 |",
            "default": "adaptive"
          },
          "output_format": {
            "type": "string",
            "enum": [
              "mp4",
              "mov"
            ],
            "description": "Output video format.\n\n* mp4: Universal format with the best compatibility, using standard color precision. Can be played directly on web pages, mobile devices, various players, and distribution platforms.\n* mov: Professional high color precision format, better preserving color and brightness consistency. Suitable for professional post-processing such as color grading, compositing, and synthesis. Recommended for video editing and video extension scenarios.\n\n**mov format playback compatibility**\n\nmov format uses professional encoding (H.264 video encoding + yuv444p chroma subsampling + PCM audio encoding), which may not be compatible with some players. The following are common players that support mov format playback:\n\n| Player | macOS | Windows |\n|---|---|---|\n| IINA | ✓ | ✕ |\n| VLC | ✓ | ✓ |\n| mpv | ✓ | ✓ |\n| ffplay | ✓ | ✓ |\n\n**Model support:** Seedance 2.5",
            "default": "mp4"
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether the generated video contains a watermark.\n\n* false: The generated video does not contain a watermark.\n* true: The generated video displays an \"AI Generated\" watermark in the bottom-right corner.",
            "default": false
          },
          "generate_audio": {
            "type": "boolean",
            "description": "> Only supported by Seedance 2.5 series\n\nControls whether the generated video contains synchronized audio.\n\n* true: The model outputs video with synchronized audio. The model automatically generates matching voice, sound effects, and background music based on the text prompt and visual content. It is recommended to place dialogue in double quotes for better audio generation. For example: The man stops the woman and says, \"Remember, never point your finger at the moon.\"\n* false: The model outputs video without audio.\n\nNote: Generated audio videos are all mono, regardless of the input audio channel count.",
            "default": true
          },
          "safety_identifier": {
            "type": "string",
            "description": "Unique identifier of end users, used to help the platform detect users in your application who may violate the ModelArk usage policy. This identifier is an English string, which must be fixed and unique for a single user, and the length cannot exceed 64 characters. It is recommended to pass in a string generated by hashing the username, user ID or email address to avoid leaking user privacy information."
          }
        }
      },
      "VideoMediaInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "Media type. Text-to-Video scenarios only support `text` type, requiring the `text` field."
          },
          "text": {
            "type": "string",
            "description": "Text content. Required when `type=text`."
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Video generation task ID. Only stored for 7 days (from the `created_at` timestamp), then automatically deleted.\n\n* When draft: true, this is the Draft video task ID.\n* When draft: false, this is the normal video task ID.\n\nVideo generation is asynchronous. After obtaining the ID, use the query video generation task API to check the status. When successful, the API returns the generated video URL."
          }
        }
      }
    }
  }
}
