{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedance 2.5 Multimodal Reference to Video",
    "version": "1.0.0",
    "description": "Dreamina Seedance 2.5 multimodal reference-to-video capability. Generates videos using images, videos, or audio as reference. Supports passing audio only. Supports generating brand-new videos, editing videos, extending videos, and enables 30-second continuous video output.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API server endpoint"
    }
  ],
  "tags": [
    {
      "name": "Seedance Video",
      "description": "Seedance series video generation capability"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Seedance 2.5 Multimodal Reference to Video",
        "description": "For the `dreamina-seedance-2-5-260628` model. After submitting, query status via `GET /v1/videos/{task_id}`.",
        "operationId": "seedance25MultimodalReferenceToVideo",
        "x-capability": "reference_to_video",
        "tags": [
          "Seedance Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultimodalReferenceRequest"
              },
              "examples": {
                "multimodal_reference": {
                  "summary": "Multimodal reference to video",
                  "value": {
                    "model": "dreamina-seedance-2-5-260628",
                    "media": [
                      {
                        "type": "text",
                        "text": "Use the first-person composition of video 1 throughout, with audio 1 as background music throughout. First-person fruit tea promotional ad, seedance brand \"Peace & Sweet\" Apple Fruit Tea Limited Edition; First frame is image 1, your hand picks an Aksu red apple with morning dew, crisp apple crunch sound; 2-4s: Quick cut, your hand throws apple chunks into a shaker, adds ice and tea base, shakes vigorously, ice clinking and shaking sounds sync with upbeat drum beats, background audio: \"Freshly Cut, Freshly Shaken\"; 4-6s: First-person product close-up, layered fruit tea poured into a clear cup, your hand gently spreads cream cheese topping, sticks a pink-gold label on the cup, camera zooms in on the layered texture of cream and fruit tea; 6-8s: First-person hand holding the cup, you raise the fruit tea from image 2 to the camera (simulating handing it to the viewer), cup label clearly visible, background audio \"Take a Fresh Sip\", final frame frozen on image 2. All background audio uses a female voice."
                      },
                      {
                        "type": "reference_image",
                        "url": "https://example.com/ref-pic1.jpg"
                      },
                      {
                        "type": "reference_image",
                        "url": "https://example.com/ref-pic2.jpg"
                      },
                      {
                        "type": "reference_video",
                        "url": "https://example.com/ref-video.mp4"
                      },
                      {
                        "type": "reference_audio",
                        "url": "https://example.com/ref-audio.mp3"
                      }
                    ],
                    "seconds": "11",
                    "size": "720p",
                    "ratio": "16:9",
                    "generate_audio": true,
                    "watermark": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful, returns video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters."
          },
          "401": {
            "description": "Authentication failed."
          },
          "429": {
            "description": "Request rate limit exceeded."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "MultimodalReferenceRequest": {
        "type": "object",
        "required": [
          "model",
          "media"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "dreamina-seedance-2-5-260628"
            ],
            "description": "The ID of the model you need to call (Model ID)"
          },
          "media": {
            "type": "array",
            "minItems": 1,
            "description": "Multimodal input array. Seedance 2.5 supports `text`, `first_frame`, `last_frame`, `reference_image`, `reference_video`, and `reference_audio`. Supports passing audio only.",
            "items": {
              "$ref": "#/components/schemas/VideoMediaInput"
            }
          },
          "seconds": {
            "type": "string",
            "description": "Video duration, integer only, in seconds.\n\n* Seedance 2.5 series: [4, 30] s, or set to -1\n\n**Note**\n\nSeedance 2.5 series supports two configuration methods:\n* Specify exact duration: Any integer within the valid range.\n* Smart mode: Set to -1 to let the model choose the appropriate video length (in whole seconds) within the valid range. The actual generated video duration can be obtained from the duration field returned by the query video generation task API. Note that video duration is related to billing, so set it carefully.",
            "default": "5",
            "example": "5",
            "enum": [
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "-1"
            ]
          },
          "size": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "Video resolution. Enum values:\n\n* 480p\n* 720p\n* 1080p\n\nDefault: `720p`",
            "default": "720p"
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ],
            "description": "> Seedance 2.5 series default: `adaptive`\n\nThe aspect ratio of the generated video. See the table below for pixel dimensions for different aspect ratios.\n\n* 16:9\n* 4:3\n* 1:1\n* 3:4\n* 9:16\n* 21:9\n* adaptive: Automatically selects the most suitable aspect ratio based on input (see details below)\n\n**adaptive Rules**\n\nWhen ratio is set to adaptive, the model automatically adjusts the aspect ratio based on the generation scenario. The actual video aspect ratio can be obtained from the ratio field returned by the query video generation task API.\n\n**Supported models:**\n* Seedance 2.5 series supported\n\n**Rules:**\n* Text-to-Video: Based on the input prompt, intelligently selects the most suitable aspect ratio.\n\nPixel dimensions corresponding to different aspect ratios\n\nNote: For Image-to-Video, if the selected aspect ratio does not match the uploaded image ratio, the platform will crop your image from the center.\n\n| Resolution | Aspect Ratio | Pixel Dimensions Seedance 2.5 Series |\n|---|---|---|\n| 480p | 16:9 | 864×496 |\n| | 4:3 | 752×560 |\n| | 1:1 | 640×640 |\n| | 3:4 | 560×752 |\n| | 9:16 | 496×864 |\n| | 21:9 | 992×432 |\n| 720p | 16:9 | 1280×720 |\n| | 4:3 | 1112×834 |\n| | 1:1 | 960×960 |\n| | 3:4 | 834×1112 |\n| | 9:16 | 720×1280 |\n| | 21:9 | 1470×630 |",
            "default": "adaptive"
          },
          "output_format": {
            "type": "string",
            "description": "Output video format.\n\n* mp4: Universal format with the best compatibility, using standard color precision. Can be played directly on web pages, mobile devices, various players, and distribution platforms.\n* mov: Professional high color precision format, better preserving color and brightness consistency. Suitable for professional post-processing such as color grading, compositing, and synthesis. Recommended for video editing and video extension scenarios.\n\n**mov format playback compatibility**\n\nmov format uses professional encoding (H.264 video encoding + yuv444p chroma subsampling + PCM audio encoding), which may not be compatible with some players. The following are common players that support mov format playback:\n\n| Player | macOS | Windows |\n|---|---|---|\n| IINA | ✓ | ✕ |\n| VLC | ✓ | ✓ |\n| mpv | ✓ | ✓ |\n| ffplay | ✓ | ✓ |\n\n**Model support:** Seedance 2.5",
            "enum": [
              "mp4",
              "mov"
            ],
            "default": "mp4"
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether the generated video contains a watermark.\n\n* false: The generated video does not contain a watermark.\n* true: The generated video displays an \"AI Generated\" watermark in the bottom-right corner.",
            "default": false
          },
          "generate_audio": {
            "type": "boolean",
            "description": "> Only supported by Seedance 2.5 series\n\nControls whether the generated video contains synchronized audio.\n\n* true: The model outputs video with synchronized audio. The model automatically generates matching voice, sound effects, and background music based on the text prompt and visual content. It is recommended to place dialogue in double quotes for better audio generation. For example: The man stops the woman and says, \"Remember, never point your finger at the moon.\"\n* false: The model outputs video without audio.\n\nNote: Generated audio videos are all mono, regardless of the input audio channel count.",
            "default": true
          },
          "return_last_frame": {
            "type": "boolean",
            "description": "true: Return the last frame image of the generated video. When set to true, you can obtain the last frame image through the query video generation task API. The last frame image is in PNG format with the same pixel dimensions as the generated video, without watermarks.\n\nUse this parameter to generate multiple consecutive videos: use the last frame of one video as the first frame of the next video task to quickly generate a sequence of consecutive videos.\n\nfalse: Do not return the last frame image of the generated video.",
            "default": false
          },
          "safety_identifier": {
            "type": "string",
            "description": "Unique identifier of end users, used to help the platform detect users in your application who may violate the ModelArk usage policy. This identifier is an English string, which must be fixed and unique for a single user, and the length cannot exceed 64 characters. It is recommended to pass in a string generated by hashing the username, user ID or email address to avoid leaking user privacy information."
          },
          "omni_reference_task_type": {
            "type": "string",
            "enum": [
              "auto",
              "reference",
              "edit",
              "extend"
            ],
            "default": "auto",
            "description": "> Only supported by Seedance 2.5 series\n\n**Task Type Guidance**\n\nSeedance 2.5 **multimodal reference-to-video tasks** include 3 sub-task types: reference video generation, video editing, and video extension. Different task types have specific parameter constraints. To reduce asynchronous errors after task creation, you can specify the sub-task type via this parameter to validate constraints in advance.\n\n* By default, i.e. `omni_reference_task_type=auto`: The model automatically determines the task type based on input materials and prompt, then validates parameter values. If parameters are incompatible with the actual task type, the task will trigger an asynchronous error (error code: `InvalidParameter.TaskTypeMismatch`).\n\n* Explicitly specifying the task type, i.e. `omni_reference_task_type` set to `reference`, `edit`, or `extend`: The API validates the special parameter constraints for the corresponding task at submission time. If requirements are not met, the API returns an error immediately and the task is not created.\n\n**Note**\n\nWhen actually processing the task, the model will further determine the task type based on the prompt. If the actual determined task type differs from the specified one, an asynchronous error will still be triggered (error code: `InvalidParameter.TaskTypeMismatch`). It is recommended to follow the prompt writing guidelines for each task type to reduce the probability of errors.\n\n**Valid values:**\n\n* `auto`: The model automatically determines the task type based on input materials and prompt.\n* `reference`: Reference video generation task, i.e. generating a new video based on reference images, reference videos, or reference audio. When set to `reference`, `ratio` or `duration` have no special restrictions.\n* `edit`: Video editing task, i.e. editing the video or audio of the original video. When set to `edit`, `content` must contain at least one `reference_video`, and the video duration must be 4–30 seconds; `ratio` must be `adaptive`; `duration` must be `-1`.\n* `extend`: Video extension task, i.e. extending the original video forward or backward. When set to `extend`, `content` must contain at least one `reference_video`; `ratio` must be `adaptive`.\n\n**Model support**:\n\n* `Seedance 2.5`"
          }
        }
      },
      "VideoMediaInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "reference_image",
              "reference_video",
              "reference_audio"
            ],
            "description": "Media type. `text` requires the `text` field; other types require the `url` field."
          },
          "url": {
            "type": "string",
            "description": "Media URL. Not required when `type=text`; required for other types."
          },
          "text": {
            "type": "string",
            "description": "Text content. Required when `type=text`; not required for other types."
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Video generation task ID. Only stored for 7 days (from the `created_at` timestamp), then automatically deleted.\n\n* When draft: true, this is the Draft video task ID.\n* When draft: false, this is the normal video task ID.\n\nVideo generation is asynchronous. After obtaining the ID, use the query video generation task API to check the status. When successful, the API returns the generated video URL."
          }
        }
      }
    }
  }
}
