{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedance Query Video Generation Task",
    "version": "1.0.0",
    "description": "Query the status of a video generation task.\n\n> Only supports the last 7 days of task records, time range [T-7 days, T), where T is the UTC timestamp (seconds) of the request. Note: Video URLs are valid for 14 days; please download or save them promptly.\n\n## Authentication\n\nThis interface supports API Key authentication. See Authentication methods for details."
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API server endpoint"
    }
  ],
  "paths": {
    "/byteplus/api/v3/contents/generations/tasks/{id}": {
      "get": {
        "summary": "request",
        "operationId": "querySeedanceVideoTask",
        "description": "Query the status of a video generation task.\n\n> Only supports the last 7 days of task records, time range [T-7 days, T), where T is the UTC timestamp (seconds) of the request. Note: Video URLs are valid for 14 days; please download or save them promptly.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "description": "Request content type."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the video generation task you need to query.\n\n> Note: The above parameters are Query String Parameters, passed in the URL string."
          }
        ],
        "responses": {
          "200": {
            "description": "Submission successful, returns video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters."
          },
          "401": {
            "description": "Authentication failed."
          },
          "429": {
            "description": "Request rate limit exceeded."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "QueryVideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Video generation task ID."
          },
          "model": {
            "type": "string",
            "description": "The model name and version used by the task, in `model_name-version` format."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "cancelled",
              "succeeded",
              "failed",
              "expired"
            ],
            "description": "Task status and related information:\n\n* `queued`: In queue.\n* `running`: Task running.\n* `cancelled`: Task cancelled, automatically deleted after 24h (only queued tasks can be cancelled).\n* `succeeded`: Task successful.\n* `failed`: Task failed.\n* `expired`: Task timed out.`: Task failed.\n* `expired`: Task timed out."
          },
          "error": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ErrorObject"
              }
            ],
            "description": "Error message. Returns `null` on success, returns error data on failure."
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp (seconds) of task creation time."
          },
          "updated_at": {
            "type": "integer",
            "description": "Unix timestamp (seconds) of the current status update time."
          },
          "content": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TaskContent"
              }
            ],
            "description": "The output content of the video generation task."
          },
          "seed": {
            "type": "integer",
            "description": "The seed integer value used for this request."
          },
          "resolution": {
            "type": "string",
            "description": "The resolution of the generated video."
          },
          "ratio": {
            "type": "string",
            "description": "The aspect ratio of the generated video."
          },
          "duration": {
            "type": "integer",
            "description": "The duration of the generated video, in seconds.\n\nNote: **Only one of `duration` and `frames` will be returned**. If `frames` was not specified in the task creation, `duration` is returned."
          },
          "frames": {
            "type": "integer",
            "description": "The number of frames of the generated video.\n\nNote: **Only one of `duration` and `frames` will be returned**. If `frames` was specified in the task creation, `frames` is returned."
          },
          "framespersecond": {
            "type": "integer",
            "description": "The frame rate of the generated video."
          },
          "generate_audio": {
            "type": "boolean",
            "description": "Whether the generated video contains synchronized audio. Only returned for seedance 2.0 & 2.0 fast, seedance 1.5 pro.\n\n* `true`: The output video contains synchronized audio.\n* `false`: The output video has no audio."
          },
          "tools": {
            "type": "array",
            "description": "The tools actually used by the model for this request. Not returned if no tools were used.",
            "items": {
              "$ref": "#/components/schemas/TaskTool"
            }
          },
          "safety_identifier": {
            "type": "string",
            "description": "Unique identifier of the end user. If this parameter was set when creating the video generation task, the API returns it as-is."
          },
          "priority": {
            "type": "integer",
            "description": "The execution priority of the current request."
          },
          "draft": {
            "type": "boolean",
            "description": "Whether the generated video is a Draft video. Only returned for seedance 1.5 pro.\n\n* `true`: The current output is a Draft video.\n* `false`: The current output is a normal video."
          },
          "draft_task_id": {
            "type": "string",
            "description": "Draft video task ID. Returned when generating the final video based on a Draft video."
          },
          "service_tier": {
            "type": "string",
            "description": "The actual service tier used to process the task."
          },
          "execution_expires_after": {
            "type": "integer",
            "description": "Task timeout threshold, in seconds."
          },
          "usage": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TaskUsage"
              }
            ],
            "description": "Token usage for this request."
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          }
        }
      },
      "TaskContent": {
        "type": "object",
        "properties": {
          "video_url": {
            "type": "string",
            "description": "The URL of the generated video in mp4 format. Valid for 14 days; please download or save it promptly."
          },
          "last_frame_url": {
            "type": "string",
            "description": "The URL of the video's last frame image. Valid for 14 days; please download or save it promptly. Note: Returned when `\"return_last_frame\": true` is set during task creation."
          }
        }
      },
      "TaskTool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "web_search"
            ],
            "description": "The type of tool actually used.\n\n* web_search: Web search tool."
          }
        }
      },
      "TaskUsage": {
        "type": "object",
        "properties": {
          "completion_tokens": {
            "type": "integer",
            "description": "The number of tokens consumed by the model for video generation, used for billing reconciliation.\n\n> seedance 2.0 series models have a minimum token usage limit. If actual token usage < minimum token usage, this field returns the minimum token usage, and billing is based on the minimum."
          },
          "total_tokens": {
            "type": "integer",
            "description": "The total number of tokens consumed for this request. Video generation models do not count input tokens (input tokens = 0), so `total_tokens` = `completion_tokens`."
          },
          "tool_usage": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolUsage"
              }
            ],
            "description": "Tool usage information."
          }
        }
      },
      "ToolUsage": {
        "type": "object",
        "properties": {
          "web_search": {
            "type": "integer",
            "description": "The actual number of web search calls, only returned when web search is enabled."
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Video generation task ID. Only stored for 7 days (from the `created_at` timestamp), then automatically deleted.\n\n* When draft: true, this is the Draft video task ID.\n* When draft: false, this is the normal video task ID.\n\nVideo generation is asynchronous. After obtaining the ID, use the query video generation task API to check the status. When successful, the API returns the generated video URL."
          }
        }
      }
    }
  }
}