{
  "openapi": "3.0.1",
  "info": {
    "title": "Kling Motion Control Video Task - Submit Task (kling-v3)",
    "version": "1.0.0",
    "description": "Submit a Kling native motion control task via `/kling/v1/videos/motion-control`. Uses model kling-v3."
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Current new-api gateway instance"
    }
  ],
  "tags": [
    {
      "name": "Kling",
      "description": "Kling native async task endpoints"
    }
  ],
  "paths": {
    "/kling/v1/videos/motion-control": {
      "post": {
        "summary": "Kling Motion Control Video Task (kling-v3)",
        "description": "Submit a Kling native motion control task via `/kling/v1/videos/motion-control`. The request body is forwarded to the Kling official API after model mapping and public task ID injection.",
        "operationId": "createKlingV3MotionControl",
        "tags": [
          "Kling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingRequest"
              },
              "examples": {
                "request": {
                  "summary": "Request example",
                  "value": {
                    "model_name": "kling-v3",
                    "image_url": "https://example.com/character.png",
                    "video_url": "https://example.com/motion.mp4",
                    "character_orientation": "video",
                    "mode": "std"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or rejected by upstream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "KlingRequest": {
        "type": "object",
        "required": [
          "model_name",
          "image_url",
          "video_url",
          "character_orientation",
          "mode"
        ],
        "properties": {
          "model_name": {
            "type": "string",
            "description": "Model name",
            "enum": [
              "kling-v3"
            ]
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt, can include positive and negative descriptions\n- Add elements to the scene or achieve camera movement effects through the prompt",
            "maxLength": 2500
          },
          "image_url": {
            "type": "string",
            "description": "Reference image. The characters, background, and other elements in the generated video will be based on the reference image.\n- Video content requirements:\n  * Character proportions should match the reference action proportions; avoid using full-body actions to drive half-body characters\n  * Characters must show clear upper body or full body limbs and head, avoid occlusion\n  * Avoid extreme character orientations such as upside-down or lying flat; character proportion in frame must not be too low\n  * Supports realistic/stylized characters (including humans/humanoid animals/partial animals/characters with humanoid limb proportions)\n- Supports image Base64 encoding or image URL (must be accessible)\n- Note: When using Base64, do not add any prefix (e.g., data:image/png;base64,) before the Base64 string; pass the Base64 encoded string directly.\n- Correct Base64 parameter:\n\n`iVBORw0KGgoAAAANSUhEUgAAAAUA...`\n\n- Incorrect Base64 parameter (includes data: prefix):\n\n`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUA...`\n\n- Supported image formats: .jpg / .jpeg / .png\n- Image file size must not exceed 10MB, image dimensions between 300px~65536px, aspect ratio between 1:2.5 ~ 2.5:1"
          },
          "video_url": {
            "type": "string",
            "description": "Reference video URL. The character motion in the generated video will match the reference video.\n- Video content requirements:\n  * Characters must show clear upper body or full body limbs and head, avoid occlusion\n  * Recommend uploading single-person action video; for 2+ people, the largest character action will be used\n  * Real person actions recommended; some stylized characters/humanoid limb proportions may work\n  * Action video should be a single continuous shot with the character always visible; avoid cuts, camera movements, etc., otherwise content will be truncated\n  * Avoid excessively fast actions; relatively smooth actions produce better results\n- Video files support .mp4/.mov, file size must not exceed 100MB, both width and height must be between 340px~3850px; validation failures will return error codes\n- Minimum video duration is 3 seconds; maximum duration depends on character orientation reference:\n  * When character orientation matches the video character: max 30 seconds\n  * When character orientation matches the image character: max 10 seconds\n- If your action difficulty is high or speed is fast, there is a chance the result will be shorter than the uploaded video duration because the model can only extract valid action duration; minimum 3s of usable continuous action is needed. Note that consumed credits cannot be refunded; adjust action difficulty and speed accordingly\n- The system validates video content and will return error codes if issues are found"
          },
          "element_list": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "element_id"
              ],
              "properties": {
                "element_id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Element ID from the element library."
                }
              }
            },
            "description": "Element reference list, configured based on element IDs in the element library.\n- Use key:value format:\n\n```json\n\"element_list\":[{ \"element_id\": 829836802793406551 }]```\n\n- When referencing elements, the generated video can only reference the character orientation from the video\n- Currently only supports 1 element",
            "maxItems": 1
          },
          "keep_original_sound": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "default": "yes",
            "description": "Whether to keep the original audio of the video."
          },
          "character_orientation": {
            "type": "string",
            "enum": [
              "image",
              "video"
            ],
            "description": "Character orientation in the generated video, can match the image or the video\n- image: Match the character orientation in the image; reference video duration must not exceed 10 seconds\n- video: Match the character orientation in the video; reference video duration must not exceed 30 seconds\n- When referencing elements, the generated video can only reference the character orientation from the video"
          },
          "mode": {
            "type": "string",
            "enum": [
              "std",
              "pro"
            ],
            "x-options": [
              { "label": "720P", "value": "std"  },
              { "label": "1080P", "value": "pro" }
            ],
            "description": "Video generation mode\n- std: Standard mode, cost-effective\n- pro: Expert mode (high quality), better video quality"
          },
          "watermark_info": {
            "type": "object",
            "description": "Whether to also generate a watermarked result.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "true to generate watermarked result, false to not generate."
              }
            }
          },
          "callback_url": {
            "type": "string",
            "description": "Callback notification URL for this task. If configured, the server will proactively notify when the task status changes."
          },
          "external_task_id": {
            "type": "string",
            "description": "Custom task ID"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "description": "Error details returned by the gateway or upstream provider."
          }
        }
      },
      "SubmitResponse": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "Kling response code. 0 indicates the task has been accepted."
          },
          "message": {
            "type": "string",
            "description": "Kling response message."
          },
          "request_id": {
            "type": "string",
            "description": "Upstream request identifier (if provided)."
          },
          "data": {
            "type": "object",
            "required": [
              "task_id",
              "task_status"
            ],
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Public task ID generated by this gateway. The upstream task ID is not exposed."
              },
              "task_status": {
                "type": "string",
                "description": "Initial task status.",
                "example": "submitted"
              },
              "task_info": {
                "type": "object",
                "properties": {
                  "external_task_id": {
                    "type": "string",
                    "description": "External task ID provided by the client, or the public task ID injected by the gateway."
                  }
                }
              },
              "created_at": {
                "type": "integer",
                "format": "int64",
                "description": "Creation time in milliseconds."
              },
              "updated_at": {
                "type": "integer",
                "format": "int64",
                "description": "Update time in milliseconds."
              }
            }
          }
        }
      }
    }
  }
}
