{
  "openapi": "3.0.1",
  "info": {
    "title": "Kling Text-to-Video Task - Submit Task (kling-v2-1-master)",
    "version": "1.0.0",
    "description": "Submit a Kling text-to-video task via `/kling/v1/videos/text2video`. Uses model kling-v2-1-master."
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": ""
    }
  ],
  "tags": [
    {
      "name": "Kling",
      "description": "Kling native async task endpoints"
    }
  ],
  "paths": {
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling Text-to-Video Task (kling-v2-1-master)",
        "description": "Submit a Kling text-to-video task via `/kling/v1/videos/text2video`. The request body is forwarded to the Kling official API after model mapping and public task ID injection.",
        "operationId": "createKlingV21MasterText2Video",
        "tags": [
          "Kling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingRequest"
              },
              "examples": {
                "request": {
                  "summary": "Request example",
                  "value": {
                    "model_name": "kling-v2-1-master",
                    "prompt": "A cinematic shot of clouds moving over a mountain ridge",
                    "duration": "5",
                    "aspect_ratio": "16:9"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or rejected by upstream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "KlingRequest": {
        "type": "object",
        "required": [
          "model_name"
        ],
        "properties": {
          "model_name": {
            "type": "string",
            "description": "Model name",
            "enum": [
              "kling-v2-1-master"
            ]
          },
          "multi_shot": {
            "type": "boolean",
            "default": false,
            "description": "Whether to generate a multi-shot video.\nWhen this parameter is true, the prompt parameter is invalid and first/last frame video generation is not supported.\nWhen this parameter is false, the shot_type and multi_prompt parameters are invalid."
          },
          "shot_type": {
            "type": "string",
            "enum": [
              "customize",
              "intelligence"
            ],
            "description": "Shot type\nRequired when multi_shot is true."
          },
          "prompt": {
            "type": "string",
            "description": "Positive text prompt\n\n```markdown\nOmni models can achieve various capabilities through prompts with subjects, images, videos, etc.:\n- Use <<<>>> format to specify a subject, image, or video, e.g.: <<<element_1>>>, <<<image_1>>>, <<<video_1>>>\n```\n\n- Use <<<voice_1>>> to specify a voice, index matching voice_list; up to 2 voices; sound must be 'on' when specifying voices; keep syntax simple, e.g.: A man<<<voice_1>>>says: \"Hello\"\n- When voice_list is not empty and prompt references a voice ID, billing is based on 'with specified voice'\n- Must not be empty when multi_shot is false or shot_type is intelligence."
          },
          "multi_prompt": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "index",
                "prompt",
                "duration"
              ],
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Shot index."
                },
                "prompt": {
                  "type": "string",
                  "description": "Shot prompt."
                },
                "duration": {
                  "type": "string",
                  "description": "Shot duration in seconds."
                }
              }
            },
            "description": "Multi-shot information including prompt, duration, etc.\nDefine shot index and corresponding prompt and duration via index, prompt, duration parameters.\n- Max 6 shots, min 1 shot.\n- Max length per shot content: 512 characters.\n- Each shot duration must not exceed total task duration and must be >= 1.\n- Sum of all shot durations must equal total task duration.\n\nRequired when multi_shot is true and shot_type is customize. Format:\n\n```json\n\"multi_prompt\":[{ \"index\": int, \"prompt\": \"string\", \"duration\": \"5\" },{ \"index\": int, \"prompt\": \"string\",\"duration\": \"5\" }]\n```\n\nRequired when multi_shot is true and shot_type is customize."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative text prompt\n- Max 2500 characters\n- Supplement negative prompt information through negative sentences in the positive prompt",
            "maxLength": 2500
          },
          "sound": {
            "type": "string",
            "enum": [
              "on",
              "off"
            ],
            "default": "off",
            "description": "Whether to also generate audio when creating the video"
          },
          "cfg_scale": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.5,
            "description": "Creative freedom of video generation; higher values result in less creative freedom\nkling-v2.x models do not support this parameter"
          },
          "mode": {
            "type": "string",
            "enum": [
              "std",
              "pro"
            ],
            "default": "std",
            "description": "Video generation mode\n\n- std: Standard mode, cost-effective, output video resolution 720P.\n- pro: Expert mode (high quality), better video quality, output video resolution 1080P.\n- 4k: 4K mode, high quality (same as pro), better video quality, output video resolution 4K."
          },
          "camera_control": {
            "type": "object",
            "description": "Camera motion control settings (if not specified, the model will intelligently match based on input text/image)",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "simple",
                  "down_back",
                  "forward_up",
                  "right_turn_forward",
                  "left_turn_forward"
                ],
                "description": "Predefined camera motion types.\n- simple: Simple camera movement, choose one of six config options.\n- down_back: Camera tilts down and moves back ➡️ pull away, no config needed.\n- forward_up: Camera moves forward and tilts up ➡️ push in and up, no config needed.\n- right_turn_forward: Rotate right then move forward ➡️ right spin push, no config needed.\n- left_turn_forward: Rotate left and move forward ➡️ left spin push, no config needed."
              },
              "config": {
                "type": "object",
                "description": "Contains 6 fields to specify camera movement in different directions\n- Required when camera type is 'simple', leave empty for other types\n- Choose exactly 1 of the 6 parameters to be non-zero, the rest must be 0",
                "properties": {
                  "horizontal": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "Horizontal movement along the X-axis\nNegative values move left, positive values move right"
                  },
                  "vertical": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "Vertical movement along the Y-axis\nNegative values move down, positive values move up"
                  },
                  "pan": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "Pan: rotation around the Y-axis\nNegative values rotate left, positive values rotate right"
                  },
                  "tilt": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "Tilt: rotation around the X-axis\nNegative values tilt down, positive values tilt up"
                  },
                  "roll": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "Roll: rotation around the Z-axis\nNegative values rotate counter-clockwise, positive values rotate clockwise"
                  },
                  "zoom": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "Zoom: controls focal length and field of view\nNegative values zoom in (narrower FOV), positive values zoom out (wider FOV)"
                  }
                }
              }
            }
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Aspect ratio of generated video frames (width:height)",
            "enum": [
              "1:1",
              "16:9",
              "9:16"
            ],
            "default": "16:9"
          },
          "duration": {
            "type": "string",
            "description": "Video duration in seconds.",
            "enum": [
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15"
            ],
            "default": "5"
          },
          "watermark_info": {
            "type": "object",
            "description": "Whether to also generate a watermarked result.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "true to generate watermarked result, false to not generate."
              }
            }
          },
          "callback_url": {
            "type": "string",
            "description": "Callback notification URL for this task. If configured, the server will proactively notify when the task status changes."
          },
          "external_task_id": {
            "type": "string",
            "description": "Custom task ID"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "description": "Error details returned by the gateway or upstream provider."
          }
        }
      },
      "SubmitResponse": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "Kling response code. 0 indicates the task has been accepted."
          },
          "message": {
            "type": "string",
            "description": "Kling response message."
          },
          "request_id": {
            "type": "string",
            "description": "Upstream request identifier (if provided)."
          },
          "data": {
            "type": "object",
            "required": [
              "task_id",
              "task_status"
            ],
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Public task ID generated by this gateway. The upstream task ID is not exposed."
              },
              "task_status": {
                "type": "string",
                "description": "Initial task status.",
                "example": "submitted"
              },
              "task_info": {
                "type": "object",
                "properties": {
                  "external_task_id": {
                    "type": "string",
                    "description": "External task ID provided by the client, or the public task ID injected by the gateway."
                  }
                }
              },
              "created_at": {
                "type": "integer",
                "format": "int64",
                "description": "Creation time in milliseconds."
              },
              "updated_at": {
                "type": "integer",
                "format": "int64",
                "description": "Update time in milliseconds."
              }
            }
          }
        }
      }
    }
  }
}
