{
  "openapi": "3.0.1",
  "info": {
    "title": "Ali Text-to-Speech",
    "version": "1.0.0",
    "description": "Ali channel text-to-speech capability exposed through the unified `/v1/audio/speech` endpoint. Supports `qwen3-tts-flash`, `qwen3-tts-instruct-flash`, and `qwen-tts` models.\n\nThe request body follows the official Ali-compatible structure: `model`, `input` (object), `voice`, `language_type`, `instructions`, and `optimize_instructions`.\n\nStreaming follows the official Ali HTTP contract: clients must explicitly send `X-DashScope-SSE: enable` in the request header. This channel does not expose `stream_format`.\n\nModel differences:\n- `qwen3-tts-instruct-flash` supports the `instructions` and `optimize_instructions` fields;\n- `qwen3-tts-flash` returns `characters` in usage;\n- `qwen-tts` returns `total_tokens` and token detail fields in usage.\n\nBilling note: the gateway maps upstream `usage.characters` to unified `usage.prompt_tokens_details.audio_tokens`, keeps `usage.output_tokens` in `usage.completion_tokens_details.audio_tokens`, and stores both raw Ali usage and normalized usage snapshots in consume_detail for billing traceability."
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Ali Audio",
      "description": "Ali text-to-speech capability"
    }
  ],
  "paths": {
    "/v1/audio/speech": {
      "post": {
        "summary": "Ali text-to-speech",
        "description": "Call Ali `qwen3-tts-flash`, `qwen3-tts-instruct-flash`, or `qwen-tts` through the unified `/v1/audio/speech` endpoint.\n\nResponse contract:\n- non-streaming returns the official Ali JSON response;\n- streaming returns `text/event-stream` and forwards Ali SSE payloads.",
        "operationId": "aliAudioSpeechCompat",
        "tags": [
          "Ali Audio"
        ],
        "parameters": [
          {
            "name": "X-DashScope-SSE",
            "in": "header",
            "required": false,
            "description": "Official Ali HTTP streaming switch. Send `enable` to receive `text/event-stream`.",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliSpeechRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Non-streaming request",
                  "value": {
                    "model": "qwen3-tts-instruct-flash",
                    "input": {
                      "text": "Introduce this product with a slightly faster speaking rate.",
                      "voice": "Cherry"
                    },
                    "instructions": "Speak faster with a brighter tone.",
                    "optimize_instructions": false,
                    "language_type": "English"
                  }
                },
                "stream": {
                  "summary": "Streaming request",
                  "value": {
                    "model": "qwen3-tts-flash",
                    "input": {
                      "text": "Today is a wonderful day to build something people love.",
                      "voice": "Cherry"
                    },
                    "language_type": "Auto"
                  }
                },
                "qwen-tts": {
                  "summary": "qwen-tts request",
                  "value": {
                    "model": "qwen-tts",
                    "input": {
                      "text": "Welcome to the baze platform text-to-speech service.",
                      "voice": "Cherry"
                    },
                    "language_type": "Auto"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful call. Non-streaming returns the official Ali JSON response; streaming returns Ali SSE payloads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliSpeechResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Ali SSE event stream. Each event body can be parsed as an Ali audio response chunk."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "AliSpeechRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name.",
            "enum": [
              "qwen3-tts-flash",
              "qwen3-tts-instruct-flash",
              "qwen-tts"
            ]
          },
          "input": {
            "type": "object",
            "required": [
              "text",
              "voice"
            ],
            "description": "Input object containing the text to synthesize and the voice.",
            "properties": {
              "text": {
                "type": "string",
                "description": "Text to synthesize. `qwen-tts` supports up to 512 tokens; other models support up to 600 characters."
              },
              "voice": {
                "type": "string",
                "description": "Voice name, such as `Cherry`. Only the enum values listed here are currently supported on this channel.",
                "enum": [
                  "Cherry",
                  "Serena",
                  "Ethan",
                  "Chelsie",
                  "Momo",
                  "Vivian",
                  "Moon",
                  "Maia",
                  "Kai",
                  "Nofish",
                  "Bella",
                  "Eldric Sage",
                  "Mia",
                  "Mochi",
                  "Bellona",
                  "Vincent",
                  "Bunny",
                  "Neil",
                  "Elias",
                  "Arthur",
                  "Nini",
                  "Seren",
                  "Pip",
                  "Stella"
                ]
              },
              "language_type": {
                "type": "string",
                "description": "Language type. Defaults to `Auto`.",
                "enum": [
                  "Auto",
                  "Chinese",
                  "English",
                  "German",
                  "Italian",
                  "Portuguese",
                  "Spanish",
                  "Japanese",
                  "Korean",
                  "French",
                  "Russian"
                ],
                "default": "Auto"
              },
              "instructions": {
                "type": "string",
                "description": "Style-control instruction. Only supported by `qwen3-tts-instruct-flash`, up to 1600 tokens."
              },
              "optimize_instructions": {
                "type": "boolean",
                "description": "Whether to semantically optimize `instructions`. Only supported by `qwen3-tts-instruct-flash`, defaults to `false`. An explicit `false` is preserved and forwarded.",
                "default": false
              }
            }
          }
        }
      },
      "AliSpeechResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer",
            "description": "HTTP status code. 200 indicates success."
          },
          "request_id": {
            "type": "string",
            "description": "Unique request identifier."
          },
          "code": {
            "type": "string",
            "description": "Error code. Returned on failure."
          },
          "message": {
            "type": "string",
            "description": "Error message. Returned on failure."
          },
          "output": {
            "type": "object",
            "properties": {
              "text": {
                "nullable": true,
                "description": "Always null."
              },
              "choices": {
                "nullable": true,
                "description": "Always null."
              },
              "finish_reason": {
                "type": "string",
                "description": "Finish reason, `stop` or null."
              },
              "audio": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Audio file URL in WAV format, valid for 24 hours."
                  },
                  "data": {
                    "type": "string",
                    "description": "Streaming Base64 audio data. Usually empty in non-streaming mode."
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique audio identifier."
                  },
                  "expires_at": {
                    "type": "integer",
                    "description": "URL expiration timestamp."
                  }
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "input_tokens": {
                "type": "integer",
                "description": "Input token count."
              },
              "output_tokens": {
                "type": "integer",
                "description": "Output token count."
              },
              "characters": {
                "type": "integer",
                "description": "Input character count. Only returned by `qwen3-tts-flash`; primarily used for billing."
              },
              "total_tokens": {
                "type": "integer",
                "description": "Total token count. Only returned by `qwen-tts`."
              },
              "input_tokens_details": {
                "type": "object",
                "description": "Input token details. Only returned by `qwen-tts`.",
                "properties": {
                  "text_tokens": {
                    "type": "integer",
                    "description": "Input text token count. Only returned by `qwen-tts`."
                  }
                }
              },
              "output_tokens_details": {
                "type": "object",
                "description": "Output token details. Only returned by `qwen-tts`.",
                "properties": {
                  "audio_tokens": {
                    "type": "integer",
                    "description": "Output audio token count. Only returned by `qwen-tts`."
                  },
                  "text_tokens": {
                    "type": "integer",
                    "description": "Output text token count, fixed at 0. Only returned by `qwen-tts`."
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "required": [
          "message",
          "type",
          "param",
          "code"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "param": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}
