{
  "openapi": "3.0.1",
  "info": {
    "title": "qwen3.7-max Chat Completions",
    "version": "1.0.0",
    "description": "Ali chat capability documentation. The unified API endpoint is /v1/chat/completions.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API endpoint"
    }
  ],
  "tags": [
    {
      "name": "Qwen Chat",
      "description": "Qwen series chat and multimodal capabilities"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "qwen3.7-max Chat Completions",
        "description": "Applicable to the qwen3.7-max model in the Ali channel.\n\nSupported fields: `model`, `messages`, `stream`, `temperature`, `top_p`, `top_k`, `repetition_penalty`, `presence_penalty`, `max_completion_tokens`, `max_tokens`, `stop`, `seed`, `tools`, `tool_choice`, `parallel_tool_calls`, `enable_search`, `search_options`, `response_format`, `enable_thinking`, `thinking_budget`, `reasoning_effort`, `tool_stream`, `enable_code_interpreter`, `vl_high_resolution_images`, `n`, `logprobs`, `top_logprobs`, `preserve_thinking`, `skill`, `clear_thinking`.",
        "operationId": "aliChatCompletions",
        "tags": [
          "Qwen Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "Text input": {
                  "summary": "Text input",
                  "value": {
                    "model": "qwen3.7-max",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "Who are you?"
                      }
                    ]
                  }
                },
                "Streaming output": {
                  "summary": "Streaming output",
                  "value": {
                    "model": "qwen3.7-max",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "Who are you?"
                      }
                    ],
                    "stream": true,
                    "stream_options": {
                      "include_usage": true
                    }
                  }
                },
                "Image input": {
                  "summary": "Image input",
                  "value": {
                    "model": "qwen-vl-plus",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://dashscope.oss-cn-beijing.aliyuncs.com/images/dog_and_girl.jpeg"
                            }
                          },
                          {
                            "type": "text",
                            "text": "What is this?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "Video input": {
                  "summary": "Video input",
                  "value": {
                    "model": "qwen-vl-max",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "video",
                            "video": [
                              "https://img.alicdn.com/imgextra/i3/O1CN01K3SgGo1eqmlUgeE9b_!!6000000003923-0-tps-3840-2160.jpg",
                              "https://img.alicdn.com/imgextra/i4/O1CN01BjZvwg1Y23CF5qIRB_!!6000000003000-0-tps-3840-2160.jpg",
                              "https://img.alicdn.com/imgextra/i4/O1CN01Ib0clU27vTgBdbVLQ_!!6000000007859-0-tps-3840-2160.jpg",
                              "https://img.alicdn.com/imgextra/i1/O1CN01aygPLW1s3EXCdSN4X_!!6000000005710-0-tps-3840-2160.jpg"
                            ]
                          },
                          {
                            "type": "text",
                            "text": "Describe this video in detail."
                          }
                        ]
                      }
                    ]
                  }
                },
                "Tool calling": {
                  "summary": "Tool calling",
                  "value": {
                    "model": "qwen-plus",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "How is the weather in Hangzhou?"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_current_time",
                          "description": "Useful when you want to know the current time.",
                          "parameters": {}
                        }
                      },
                      {
                        "type": "function",
                        "function": {
                          "name": "get_current_weather",
                          "description": "Useful when you want to query the weather for a specific city.",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string",
                                "description": "City or district, e.g., Beijing, Hangzhou, Yuhang District."
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ]
                  }
                },
                "Web search": {
                  "summary": "Web search",
                  "value": {
                    "model": "qwen-plus",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "How many gold medals did China win at the Paris Olympics?"
                      }
                    ],
                    "enable_search": true
                  }
                },
                "Document understanding": {
                  "summary": "Document understanding",
                  "value": {
                    "model": "qwen-long",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "system",
                        "content": "fileid://file-fe-xxx"
                      },
                      {
                        "role": "user",
                        "content": "What is this article about?"
                      }
                    ],
                    "stream": true,
                    "stream_options": {
                      "include_usage": true
                    }
                  }
                },
                "PPT generation": {
                  "summary": "PPT generation",
                  "value": {
                    "model": "qwen-doc-turbo",
                    "messages": [
                      {
                        "role": "system",
                        "content": "you are a helpful assistant."
                      },
                      {
                        "role": "system",
                        "content": "Your document content"
                      },
                      {
                        "role": "user",
                        "content": "Generate a 10-20 page PPT"
                      }
                    ],
                    "skill": [
                      {
                        "type": "ppt",
                        "mode": "general",
                        "template_id": "news_01"
                      }
                    ],
                    "stream": true,
                    "stream_options": {
                      "include_usage": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Returns chat completions. Streaming returns SSE.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ChatCompletionResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionChunkResponse"
                    }
                  ]
                },
                "examples": {
                  "Non-streaming response example": {
                    "summary": "Non-streaming response example",
                    "value": {
                      "choices": [
                        {
                          "message": {
                            "role": "assistant",
                            "content": "I am a large-scale language model developed by Alibaba Cloud. My name is Qianwen."
                          },
                          "finish_reason": "stop",
                          "index": 0,
                          "logprobs": null
                        }
                      ],
                      "object": "chat.completion",
                      "usage": {
                        "prompt_tokens": 3019,
                        "completion_tokens": 104,
                        "total_tokens": 3123,
                        "prompt_tokens_details": {
                          "cached_tokens": 2048
                        }
                      },
                      "created": 1735120033,
                      "system_fingerprint": null,
                      "model": "qwen-plus",
                      "id": "chatcmpl-6ada9ed2-7f33-9de2-8bb0-78bd4035025a"
                    }
                  },
                  "Streaming response example (multi-chunk, SSE)": {
                    "summary": "Streaming response example (multi-chunk, SSE)",
                    "value": [
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "",
                              "function_call": null,
                              "refusal": null,
                              "role": "assistant",
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "Hello",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": " world",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": null,
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [
                          {
                            "delta": {
                              "content": "",
                              "function_call": null,
                              "refusal": null,
                              "role": null,
                              "tool_calls": null
                            },
                            "finish_reason": "stop",
                            "index": 0,
                            "logprobs": null
                          }
                        ],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": null
                      },
                      {
                        "id": "chatcmpl-e30f5ae7-3063-93c4-90fe-beb5f900bd57",
                        "choices": [],
                        "created": 1735113344,
                        "model": "qwen-plus",
                        "object": "chat.completion.chunk",
                        "service_tier": null,
                        "system_fingerprint": null,
                        "usage": {
                          "completion_tokens": 17,
                          "prompt_tokens": 22,
                          "total_tokens": 39,
                          "completion_tokens_details": null,
                          "prompt_tokens_details": {
                            "audio_tokens": null,
                            "cached_tokens": 0
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "error": {
                        "message": "messages is required",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": "messages"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足或速率受限",
                    "value": {
                      "error": {
                        "message": "Rate limit exceeded",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Rate limit exceeded or quota exhausted."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "内部处理失败",
                    "value": {
                      "error": {
                        "message": "Internal server error",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Internal server error."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "上游响应异常",
                    "value": {
                      "error": {
                        "message": "Invalid upstream response",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Upstream response error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "服务暂不可用",
                    "value": {
                      "error": {
                        "message": "Service temporarily unavailable",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Upstream service unavailable."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass Authorization: Bearer <token> header."
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen3.7-max"
            ],
            "description": "Model name. Only publicly available chat models in the current Ali channel's final whitelist are supported.",
            "example": "qwen3.7-max"
          },
          "messages": {
            "type": "array",
            "description": "Context passed to the model, arranged in conversation order. Supports four message types: System Message, User Message, Assistant Message, and Tool Message. Supports plain text, multimodal (image/video/audio) content, and explicit caching.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SystemMessage",
                  "title": "System Message object (optional)"
                },
                {
                  "$ref": "#/components/schemas/UserMessage",
                  "title": "User Message object (required)"
                },
                {
                  "$ref": "#/components/schemas/AssistantMessage",
                  "title": "Assistant Message object (optional)"
                },
                {
                  "$ref": "#/components/schemas/ToolMessage",
                  "title": "Tool Message object (optional)"
                }
              ]
            }
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to use streaming output. Values: false (returns full content at once), true (outputs chunks as generated). Recommended: true. Non-streaming requests exceeding 300s will be interrupted.",
            "default": false
          },
          "stream_options": {
            "type": "object",
            "description": "Stream output configuration. Only effective when stream is true.",
            "properties": {
              "include_usage": {
                "type": "boolean",
                "description": "Whether to include token usage in the last chunk. Values: true (include), false (do not include).",
                "default": false
              }
            }
          },
          "temperature": {
            "type": "number",
            "description": "Sampling temperature. Controls diversity. Higher = more diverse, lower = more deterministic. Range [0, 2). Default: 0.7.",
            "minimum": 0,
            "maximum": 2,
            "default": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus sampling threshold. Controls diversity. Range (0, 1.0]. Default: 0.8 (non-thinking) / 0.95 (thinking).",
            "minimum": 0,
            "maximum": 1,
            "default": 0.95
          },
          "max_tokens": {
            "type": "integer",
            "description": "Deprecated. Use max_completion_tokens instead. Max response length (excluding thinking).",
            "minimum": 1,
            "deprecated": true
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "Stop sequence string."
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of stop sequences."
              }
            ],
            "description": "Stop sequences. When the model generates text containing the specified string or token_id, generation terminates immediately. Can use sensitive words to control output. When array, cannot mix token_id and strings."
          },
          "seed": {
            "type": "integer",
            "description": "Random seed for reproducible results. Range: [0, 2^31-1].",
            "minimum": 0,
            "maximum": 2147483647
          },
          "tools": {
            "type": "array",
            "description": "Array of tool objects for Function Calling. Returns tool info via tool_calls when the model decides to call a tool.",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "auto",
                  "none",
                  "required"
                ],
                "description": "Tool choice strategy: auto (model decides), none (disable tools), required (must call at least one tool)."
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                },
                "description": "Force specific tool: {\"type\":\"function\",\"function\":{\"name\":\"the_function_to_call\"}}. Thinking models do not support forcing a specific tool."
              }
            ],
            "description": "Tool selection strategy. Default: auto. Values: auto (model decides), none (disable), required (must call), or {\"type\":\"function\",\"function\":{\"name\":\"...\"}} (force specific tool). Thinking models do not support forcing a specific tool.",
            "default": "auto"
          },
          "enable_search": {
            "type": "boolean",
            "description": "Whether to enable web search. Default: false. If enabled but no search performed, optimize the prompt or set forced_search in search_options. May increase token consumption. Non-standard, use extra_body.",
            "default": false
          },
          "response_format": {
            "type": "object",
            "description": "Response format. Values: {\\\"type\\\": \\\"text\\\"} or {\\\"type\\\": \\\"json_object\\\"}. Default: {\\\"type\\\": \\\"text\\\"}.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "json_object"
                ],
                "description": "Response format type. Values: text, json_object."
              }
            }
          },
          "top_k": {
            "type": "integer",
            "description": "Candidate token count for sampling. Higher = more random. Range: integer >= 0. Default: 20. Non-standard, use extra_body.",
            "minimum": 0,
            "default": 20
          },
          "repetition_penalty": {
            "type": "number",
            "description": "Repetition penalty. Higher values reduce repetition. 1.0 = no penalty. Default: 1.05. Non-standard, use extra_body.",
            "minimum": 0,
            "default": 1.05
          },
          "presence_penalty": {
            "type": "number",
            "description": "Content repetition control. Range [-2.0, 2.0]. Positive = reduce repetition. Default: 1.5 (non-thinking). Non-standard, use extra_body.",
            "minimum": -2,
            "maximum": 2,
            "default": 1.5
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "Max output length including thinking and response. Generation stops at length. Recommended for thinking models.",
            "minimum": 1
          },
          "parallel_tool_calls": {
            "type": "boolean",
            "description": "Whether to enable parallel tool calls. Default: false.",
            "default": false
          },
          "search_options": {
            "type": "object",
            "description": "Web search strategy. Non-standard, use extra_body."
          },
          "enable_thinking": {
            "type": "boolean",
            "description": "Whether to enable thinking mode when using mixed-thinking models. Supported by Qwen3.7/3.6/3.5/3, Qwen3-Omni-Flash, Qwen3-VL, and various upstream models. DeepSeek-V4 series enables thinking by default, adjustable via reasoning_effort. Non-standard parameter, use extra_body. When enabled, reasoning content is returned via the reasoning_content field."
          },
          "thinking_budget": {
            "type": "integer",
            "description": "Maximum tokens for the thinking process. Supported by Qwen3.7/3.6/3.5, Qwen3-VL, Qwen3, GLM, Kimi series. Default is the model max thinking chain length. Non-standard parameter, use extra_body.",
            "minimum": 1
          },
          "reasoning_effort": {
            "type": "string",
            "description": "Controls reasoning effort. Supported values and defaults vary by model. DeepSeek-V4, GLM series, and kimi/kimi-k3 (default: high): high, max (low/medium map to high, xhigh maps to max). qwen3.8-max-preview (default: xhigh): xhigh, medium, low. Non-standard parameter, use extra_body.",
            "enum": [
              "low",
              "medium",
              "high",
              "max",
              "xhigh"
            ]
          },
          "tool_stream": {
            "type": "boolean",
            "description": "Stream tool call arguments. Only effective when stream=true. Supported by Qwen and GLM series. When false (default): complex tool arguments are output at once, more accurate formatting. When true: complex arguments are streamed, no timeout risk. Non-standard parameter, use extra_body.",
            "default": false
          },
          "enable_code_interpreter": {
            "type": "boolean",
            "description": "Whether to enable the code interpreter feature. Non-standard parameter, use extra_body.",
            "default": false
          },
          "vl_high_resolution_images": {
            "type": "boolean",
            "description": "Raise image pixel limit to 16384 tokens. Default: false. Non-standard, use extra_body.",
            "default": false
          },
          "n": {
            "type": "integer",
            "description": "Number of responses, range 1-4. Only supported by certain models. Default: 1.",
            "minimum": 1,
            "maximum": 4,
            "default": 1
          },
          "logprobs": {
            "type": "boolean",
            "description": "Whether to return log probabilities of output tokens. Values: true (return), false (do not return). Thinking phase content (reasoning_content) does not return log probabilities. Supported by qwen-plus snapshot models, qwen-turbo snapshot models, qwen3-vl-plus series, qwen3-vl-flash series, and Qwen3 open-source models.",
            "default": false
          },
          "top_logprobs": {
            "type": "integer",
            "description": "Number of candidate tokens with highest probability to return at each generation step. Range: [0, 5]. Only effective when logprobs is true. Default: 0.",
            "minimum": 0,
            "maximum": 5,
            "default": 0
          },
          "preserve_thinking": {
            "type": "boolean",
            "description": "Whether to concatenate historical assistant reasoning_content into model input. Suitable for scenarios requiring the model to reference historical thinking processes. Supported by qwen3.7-max, qwen3.7-plus and later snapshots. When enabled, historical reasoning_content counts toward input tokens and is billed accordingly. Non-standard parameter, use extra_body.",
            "default": false
          },
          "thinking": {
            "type": "object",
            "description": "Controls thinking mode for MiniMax/MiniMax-M3 (supplied by 稀宇科技). Default: {\"type\":\"adaptive\"}. Non-standard parameter, use extra_body.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "adaptive",
                  "disabled"
                ],
                "description": "Thinking type. Values: adaptive (model decides), disabled (direct answer)."
              }
            }
          },
          "skill": {
            "type": "array",
            "description": "Skill parameters for PPT generation. Only qwen-doc-turbo. Non-standard, use extra_body. stream must be true.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Skill type: ppt."
                },
                "mode": {
                  "type": "string",
                  "enum": [
                    "general",
                    "creative"
                  ],
                  "description": "PPT mode: general (template, requires template_id) or creative (image-based)."
                },
                "template_id": {
                  "type": "string",
                  "description": "Template ID: news_01, summary_01, internet_01, thesis_01."
                }
              }
            }
          },
          "clear_thinking": {
            "type": "boolean",
            "description": "Whether to ignore historical reasoning_content. Only GLM 5.2/5.1/5/4.7. Non-standard, use extra_body. true: ignore. false (default): preserve.",
            "default": false
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool"
            ],
            "description": "Message sender role. Values: system, user, assistant, tool."
          },
          "content": {
            "anyOf": [
              {
                "type": "string",
                "description": "Text content."
              },
              {
                "type": "array",
                "description": "Multimodal content list (for image understanding).",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              }
            ],
            "description": "Message content. System Message: content is string (system instruction). User Message: content is string (plain text) or array (multimodal content). Assistant Message: content is string (optional, can be empty when tool_calls present). Tool Message: content is string (tool output, required)."
          },
          "tool_calls": {
            "type": "array",
            "description": "Tool call information returned by the model after Function Calling. Obtained from the previous response's tool_calls field. Only valid when role=assistant.",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "partial": {
            "type": "boolean",
            "description": "Whether to enable prefix continuation. Only valid when role=assistant. Default: false.",
            "default": false
          },
          "reasoning_content": {
            "type": "string",
            "description": "Model thinking content. Only valid when role=assistant."
          },
          "tool_call_id": {
            "type": "string",
            "description": "Tool call ID. Returned after Function Calling, used to associate Tool Message with the corresponding tool. Required only when role=tool."
          }
        }
      },
      "ContentItem": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url",
              "input_audio",
              "video",
              "video_url"
            ],
            "description": "Content type."
          },
          "text": {
            "type": "string",
            "description": "Text content. Required when type=text."
          },
          "image_url": {
            "type": "object",
            "description": "Image information. Required when type=image_url.",
            "properties": {
              "url": {
                "type": "string",
                "description": "Image URL or Base64 Data URL."
              }
            }
          },
          "video_url": {
            "type": "object",
            "description": "Video file information. Required when type=video_url.",
            "properties": {
              "url": {
                "type": "string",
                "description": "Video file URL or Base64 Data URL."
              }
            }
          },
          "input_audio": {
            "type": "object",
            "description": "Audio information. Required when type=input_audio.",
            "properties": {
              "data": {
                "type": "string",
                "description": "Audio URL or Base64 Data URL."
              },
              "format": {
                "type": "string",
                "description": "Audio format, e.g., mp3, wav."
              }
            }
          },
          "video": {
            "type": "array",
            "description": "Image list for video. Required when type=video.",
            "items": {
              "type": "string"
            }
          },
          "cache_control": {
            "type": "object",
            "description": "Explicit cache control.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "ephemeral"
                ]
              }
            }
          },
          "fps": {
            "type": "number",
            "description": "Frames per second for video extraction. Valid range [0.1, 10], default 2.0. For MiniMax/MiniMax-M3, range [0.2, 5], default 1.\n\nfps serves two purposes:\n1. Controls frame extraction frequency when inputting a video file — one frame is extracted every 1/fps seconds. Applies to Qwen-VL, MiniMax/MiniMax-M3 and QVQ models.\n2. Informs the model about the time interval between adjacent frames to better understand video temporal dynamics. Applies to both video files and image lists. Supported by Qwen3.7, Qwen3.6, Qwen3.5, Qwen3-VL, Qwen2.5-VL, Qwen3.5-Omni and QVQ models.\n\nHigher fps values are suitable for fast-moving scenes (e.g. sports, action movies), while lower values are suitable for long videos or static content."
          },
          "min_pixels": {
            "type": "integer",
            "description": "Sets the minimum pixel threshold for input images or video frames. When the pixel count of an input image or video frame is below min_pixels, it will be scaled up until the total pixel count exceeds min_pixels. Applies to Qwen-VL and QVQ models.\n\nValue range:\n- For input images: Qwen3.7, Qwen3.6, Qwen3.5, Qwen3-VL have a default and minimum value of 65536.\n- For input video files or image lists: Qwen3.7, Qwen3.6, Qwen3.5, Qwen3.5-Omni, Qwen3-VL (commercial and open-source), qwen-vl-max, qwen-vl-max-0813, qwen-vl-plus, qwen-vl-plus-0815, qwen-vl-plus-0710 have a default of 65536 and a minimum of 4096."
          },
          "max_pixels": {
            "type": "integer",
            "description": "Sets the maximum pixel threshold for input images or video frames. When the pixel count falls within [min_pixels, max_pixels], the model recognizes the original image as-is. When the pixel count exceeds max_pixels, the image is scaled down until the total pixel count falls below max_pixels. Applies to Qwen-VL and QVQ models.\n\nValue range:\n- For input images:\n  - When vl_high_resolution_images is False: Qwen3.7, Qwen3.6, Qwen3.5, Qwen3-VL default to 2621440, maximum 16777216.\n  - When vl_high_resolution_images is True: max_pixels is ignored for Qwen3.7, Qwen3.6, Qwen3.5-Omni, Qwen3.5, Qwen3-VL, qwen-vl-max, qwen-vl-max-0813, qwen-vl-plus, qwen-vl-plus-0815, qwen-vl-plus-0710; the maximum pixel count is fixed at 16777216.\n- For input video files or image lists: Qwen3.7, Qwen3.6, Qwen3.5 series, Qwen3.5-Omni, Qwen3-VL closed-source series, qwen3-vl-235b-a22b-thinking, qwen3-vl-235b-a22b-instruct default to 655360, maximum 2048000."
          },
          "total_pixels": {
            "type": "integer",
            "description": "Limits the total pixels of all frames extracted from a video (single-frame pixels × total frame count). If the total exceeds this limit, the system scales the frames while keeping each frame's pixel count within [min_pixels, max_pixels]. Applies to Qwen-VL and QVQ models.\n\nFor long videos with many extracted frames, lowering this value can reduce token consumption and processing time, but may result in loss of image details.\n\nValue range: Qwen3.7, Qwen3.6 and Qwen3.5 series have a default and maximum of 819200000, corresponding to 800000 image tokens (each 32×32 pixels corresponds to 1 image token)."
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Tool type. Currently only function."
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description"
            ],
            "description": "Tool information.",
            "properties": {
              "name": {
                "type": "string",
                "description": "Tool name. Allows letters, numbers, underscores, hyphens. Max 64 tokens."
              },
              "description": {
                "type": "string",
                "description": "Tool description to help the model determine when and how to call."
              },
              "parameters": {
                "type": "object",
                "description": "Tool parameter definition. Must be a valid JSON Schema. Empty means no input parameters.",
                "default": {}
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this call."
          },
          "object": {
            "type": "string",
            "example": "chat.completion",
            "description": "Always chat.completion."
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp (seconds)."
          },
          "model": {
            "type": "string",
            "description": "Model used for this request."
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Choice"
            },
            "description": "Array of generated responses."
          },
          "usage": {
            "$ref": "#/components/schemas/Usage",
            "description": "Token usage information."
          },
          "service_tier": {
            "type": "string",
            "nullable": true,
            "description": "Currently fixed to null."
          },
          "system_fingerprint": {
            "type": "string",
            "nullable": true,
            "description": "Currently fixed to null."
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "finish_reason": {
            "type": "string",
            "description": "Stop reason: stop, length, tool_calls, content_filter."
          },
          "logprobs": {
            "type": "object",
            "nullable": true,
            "properties": {
              "content": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Number of input tokens."
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Number of output tokens."
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total tokens consumed, sum of prompt_tokens and completion_tokens."
          },
          "completion_tokens_details": {
            "type": "object",
            "nullable": true,
            "properties": {
              "reasoning_tokens": {
                "type": "integer",
                "description": "Currently fixed to null."
              },
              "text_tokens": {
                "type": "integer",
                "description": "Text tokens."
              },
              "audio_tokens": {
                "type": "integer",
                "description": "Currently fixed to null."
              }
            }
          },
          "prompt_tokens_details": {
            "type": "object",
            "nullable": true,
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "Cached tokens."
              },
              "text_tokens": {
                "type": "integer",
                "description": "Text tokens."
              },
              "image_tokens": {
                "type": "integer",
                "description": "Image tokens."
              },
              "video_tokens": {
                "type": "integer",
                "description": "Video tokens."
              },
              "audio_tokens": {
                "type": "integer",
                "description": "Currently fixed to null."
              },
              "cache_creation": {
                "type": "object",
                "description": "Explicit cache creation information.",
                "properties": {
                  "ephemeral_5m_input_tokens": {
                    "type": "integer",
                    "description": "Tokens used to create explicit cache."
                  },
                  "cache_creation_input_tokens": {
                    "type": "integer",
                    "description": "Tokens used to create explicit cache."
                  },
                  "cache_type": {
                    "type": "string",
                    "description": "ephemeral when using explicit cache, otherwise this parameter does not exist."
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "错误类型，例如 `invalid_request_error`、`api_error` 或上游兼容错误类型。"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "required": [
          "id",
          "type",
          "function",
          "index"
        ],
        "description": "Tool call information returned by the model after Function Calling.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Tool response ID."
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Tool type. Currently only function."
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "arguments"
            ],
            "description": "Tool and input information.",
            "properties": {
              "name": {
                "type": "string",
                "description": "Tool name."
              },
              "arguments": {
                "type": "string",
                "description": "Function arguments in JSON format string."
              }
            }
          },
          "index": {
            "type": "integer",
            "description": "Index in the tool_calls array."
          }
        }
      },
      "ChatCompletionChunkResponse": {
        "type": "object",
        "description": "Chunk object structure for streaming responses.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this call. Each chunk object has the same id."
          },
          "choices": {
            "type": "array",
            "description": "Array of generated content. If include_usage is true, choices is an empty array in the last chunk.",
            "items": {
              "$ref": "#/components/schemas/ChunkChoice"
            }
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp when this request was created."
          },
          "model": {
            "type": "string",
            "description": "Model used for this request."
          },
          "object": {
            "type": "string",
            "example": "chat.completion.chunk",
            "description": "Always chat.completion.chunk."
          },
          "service_tier": {
            "type": "string",
            "nullable": true,
            "description": "Currently fixed to null."
          },
          "system_fingerprint": {
            "type": "string",
            "nullable": true,
            "description": "Currently fixed to null."
          },
          "usage": {
            "$ref": "#/components/schemas/Usage",
            "description": "Token usage. Only shown in last chunk when include_usage is true."
          }
        }
      },
      "ChunkChoice": {
        "type": "object",
        "properties": {
          "delta": {
            "$ref": "#/components/schemas/Delta",
            "description": "Incremental delta object."
          },
          "finish_reason": {
            "type": "string",
            "nullable": true,
            "description": "Stop reason: stop, null (not finished), length, tool_calls."
          },
          "index": {
            "type": "integer",
            "description": "Index in choices array. Use when n > 1."
          },
          "logprobs": {
            "$ref": "#/components/schemas/LogProbs",
            "description": "Probability information."
          }
        }
      },
      "Delta": {
        "type": "object",
        "description": "Incremental message object in streaming.",
        "properties": {
          "content": {
            "type": "string",
            "nullable": true,
            "description": "Incremental message content."
          },
          "reasoning_content": {
            "type": "string",
            "nullable": true,
            "description": "Incremental thinking content."
          },
          "function_call": {
            "type": "object",
            "nullable": true,
            "description": "Default null. Refer to tool_calls."
          },
          "audio": {
            "type": "object",
            "nullable": true,
            "description": "Response when using Qwen-Omni model."
          },
          "refusal": {
            "type": "object",
            "nullable": true,
            "description": "Currently fixed to null."
          },
          "role": {
            "type": "string",
            "description": "Role. Only present in first chunk."
          },
          "tool_calls": {
            "type": "array",
            "description": "Tool call information after Function Calling.",
            "items": {
              "$ref": "#/components/schemas/ToolCallDelta"
            }
          }
        }
      },
      "ToolCallDelta": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Index in tool_calls array."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for this tool response."
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Tool type. Only function."
          },
          "function": {
            "type": "object",
            "description": "Tool information being called.",
            "properties": {
              "arguments": {
                "type": "string",
                "description": "Incremental arguments. Validate before calling."
              },
              "name": {
                "type": "string",
                "description": "Tool name. Only in first chunk."
              }
            }
          }
        }
      },
      "LogProbs": {
        "type": "object",
        "nullable": true,
        "description": "Probability information.",
        "properties": {
          "content": {
            "type": "array",
            "description": "Array of tokens with log probabilities.",
            "items": {
              "$ref": "#/components/schemas/LogProbContent"
            }
          }
        }
      },
      "LogProbContent": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Current token."
          },
          "bytes": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "UTF-8 raw bytes."
          },
          "logprob": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Log probability. null means very low."
          },
          "top_logprobs": {
            "type": "array",
            "description": "Most likely tokens and log probabilities.",
            "items": {
              "$ref": "#/components/schemas/TopLogProb"
            }
          }
        }
      },
      "TopLogProb": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Candidate token."
          },
          "bytes": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "UTF-8 raw bytes."
          },
          "logprob": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Log probability. null means very low."
          }
        }
      },
      "SystemMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "System message. Used to set the model's role, tone, task goals, or constraints. Typically placed first in the messages array.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system"
            ],
            "description": "System message role. Fixed value: system."
          },
          "content": {
            "type": "string",
            "description": "System instruction. Used to define the model's role, behavior, response style, and task constraints."
          }
        },
        "title": "System Message object (optional)"
      },
      "UserMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "User message. Used to pass questions, instructions, or context to the model.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "User message role. Fixed value: user."
          },
          "content": {
            "anyOf": [
              {
                "type": "string",
                "description": "Plain text content."
              },
              {
                "type": "array",
                "description": "Multimodal content list (image/video/audio).",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              }
            ],
            "description": "Message content. string for plain text; array for multimodal content or explicit caching."
          }
        },
        "title": "User Message object (required)"
      },
      "AssistantMessage": {
        "type": "object",
        "required": [
          "role"
        ],
        "description": "Model response. Typically used as context for multi-turn conversations.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ],
            "description": "Assistant message role. Fixed value: assistant."
          },
          "content": {
            "type": "string",
            "description": "Model's text response. Can be empty when tool_calls is present; otherwise required."
          },
          "tool_calls": {
            "type": "array",
            "description": "Tool call information returned by the model after Function Calling.",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "partial": {
            "type": "boolean",
            "description": "Whether to enable prefix continuation. Default: false.",
            "default": false
          },
          "reasoning_content": {
            "type": "string",
            "description": "Model thinking content."
          }
        },
        "title": "Assistant Message object (optional)"
      },
      "ToolMessage": {
        "type": "object",
        "required": [
          "role",
          "content",
          "tool_call_id"
        ],
        "description": "Tool output message.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "tool"
            ],
            "description": "Fixed value: tool."
          },
          "content": {
            "type": "string",
            "description": "Tool function output. Must be a string."
          },
          "tool_call_id": {
            "type": "string",
            "description": "ID returned after Function Calling, used to associate the Tool Message with the corresponding tool."
          }
        },
        "title": "Tool Message object (optional)"
      }
    }
  }
}