{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedance 视频生成",
    "version": "1.0.0",
    "description": "Seedance 系列视频能力文档。公开统一入口为 `/v1/videos`，用于创建异步视频生成任务。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Seedance Video",
      "description": "Seedance 系列视频生成能力"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Seedance 视频生成",
        "description": "适用于 Seedance 系列视频模型。提交任务后，请通过 `GET /v1/videos/{task_id}` 查询状态。\n\n支持文生视频、首帧图生视频、首尾帧图生视频与参考图生视频。公开字段：`model`、`prompt`、`image`、`seconds`、`size`、`resolution`、`ratio`、`seed`、`camera_fixed`、`watermark`、`generate_audio`、`draft`。",
        "operationId": "byteplusVideoGenerations",
        "tags": [
          "Seedance Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              },
              "examples": {
                "text_to_video": {
                  "summary": "文生视频",
                  "value": {
                    "model": "seedance-1-5-pro-251215",
                    "prompt": "一只小猫在草地上奔跑，阳光明媚，镜头跟随移动",
                    "seconds": 5,
                    "resolution": "720p",
                    "ratio": "16:9",
                    "generate_audio": true
                  }
                },
                "image_to_video": {
                  "summary": "首帧图生视频",
                  "value": {
                    "model": "seedance-1-5-pro-251215",
                    "prompt": "镜头缓缓推进，女孩微笑",
                    "image": "https://example.com/first-frame.jpg",
                    "seconds": 5,
                    "resolution": "720p",
                    "ratio": "adaptive"
                  }
                },
                "first_last_frame": {
                  "summary": "首尾帧图生视频",
                  "value": {
                    "model": "seedance-1-5-pro-251215",
                    "prompt": "人物从站立姿势坐下",
                    "image": "https://example.com/first.jpg",
                    "last_frame_url": "https://example.com/last.jpg",
                    "seconds": 5
                  }
                },
                "draft_mode": {
                  "summary": "样片模式（快速预览）",
                  "value": {
                    "model": "seedance-1-5-pro-251215",
                    "prompt": "小狗玩球",
                    "draft": true,
                    "resolution": "480p"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功，返回视频任务对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "error": {
                        "message": "请求体格式错误或字段取值非法",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "error": {
                        "message": "无效的令牌",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "鉴权失败，例如未提供令牌或令牌无效。"
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "request_too_large": {
                    "summary": "请求体过大",
                    "value": {
                      "error": {
                        "message": "请求体过大，请缩小输入后重试",
                        "type": "api_error",
                        "code": "read_request_body_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "请求体过大。"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足或速率受限",
                    "value": {
                      "error": {
                        "message": "当前账户额度不足，请稍后重试",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "触发速率限制或账户额度不足。"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "内部处理失败",
                    "value": {
                      "error": {
                        "message": "服务内部处理失败，请稍后重试",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "服务端处理请求时发生内部错误。"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "上游响应异常",
                    "value": {
                      "error": {
                        "message": "上游服务返回了无效响应",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "上游服务返回异常响应。"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "服务暂不可用",
                    "value": {
                      "error": {
                        "message": "当前模型暂时无可用渠道，请稍后重试",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "上游服务暂不可用，或当前模型暂无可用渠道。"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "VideoGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedance-1-5-pro-251215",
              "seedance-1-0-pro-250528",
              "seedance-1-0-pro-fast-251015"
            ],
            "description": "视频生成模型名称。当前 BytePlus 视频白名单仅包含 `seedance-1-5-pro-251215`、`seedance-1-0-pro-250528`、`seedance-1-0-pro-fast-251015`。1.5-pro 支持文生视频/首帧图生视频/首尾帧图生视频；1.0-pro 支持文生视频/首帧图生视频/首尾帧图生视频；1.0-pro-fast 仅支持文生视频/首帧图生视频。"
          },
          "prompt": {
            "type": "string",
            "description": "文本提示词，描述期望生成的视频内容。建议中文不超过 500 字，英文不超过 1000 词。"
          },
          "image": {
            "anyOf": [
              {
                "type": "string",
                "description": "单张图片 URL（首帧或参考图）。"
              },
              {
                "type": "array",
                "description": "多张参考图片（1-4 张），用于参考图生视频场景。",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "输入图片。用于图生视频场景。"
          },
          "last_frame_url": {
            "type": "string",
            "description": "尾帧图片 URL。用于首尾帧图生视频场景。1.5-pro 与 1.0-pro 支持。"
          },
          "seconds": {
            "type": "integer",
            "description": "视频生成时长（秒）。1.5-pro 支持 4-12 秒整数或 -1（自动选择）；其他模型支持 2-12 秒。",
            "minimum": -1,
            "maximum": 12,
            "default": 5
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "视频分辨率。样片模式（draft=true）仅支持 480p。1.5-pro 默认 720p，1.0-pro / 1.0-pro-fast 默认 1080p。"
          },
          "size": {
            "type": "string",
            "description": "与 resolution 相同，用于 OpenAI 兼容。"
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ],
            "description": "视频宽高比。文生视频默认 16:9（1.5-pro 默认 adaptive），图生视频默认 adaptive。参考图场景不支持 adaptive。",
            "default": "16:9"
          },
          "seed": {
            "type": "integer",
            "description": "随机数种子，取值范围 [-1, 4294967295]。",
            "default": -1
          },
          "camera_fixed": {
            "type": "boolean",
            "description": "是否固定摄像头。参考图场景不支持。",
            "default": false
          },
          "watermark": {
            "type": "boolean",
            "description": "是否添加水印。",
            "default": false
          },
          "generate_audio": {
            "type": "boolean",
            "description": "是否生成与画面同步的声音。仅 seedance-1.5-pro 支持。",
            "default": true
          },
          "draft": {
            "type": "boolean",
            "description": "是否开启样片模式。开启后生成预览视频，速度更快但质量较低。仅 seedance-1.5-pro 支持。",
            "default": false
          },
          "return_last_frame": {
            "type": "boolean",
            "description": "是否返回尾帧图像。开启后可通过查询接口获取视频尾帧。",
            "default": false
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled",
              "expired"
            ],
            "description": "任务状态。"
          },
          "progress": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "错误类型，例如 `invalid_request_error`、`api_error` 或上游兼容错误类型。"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
