{
  "openapi": "3.0.1",
  "info": {
    "title": "千问-文生图",
    "version": "1.0.0",
    "description": "阿里云千问文生图能力文档。平台统一接口端点为 `/v1/images/generations`。本文档描述了 `qwen-image-2.0-pro`、`qwen-image-2.0`、`qwen-image-max`、`qwen-image-plus` 等模型的文生图调用契约：`input.messages[].content[].text` 携带正向提示词，`parameters` 控制图像分辨率、数量、反向提示词等参数。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "baze平台 API 服务端点"
    }
  ],
  "tags": [
    {
      "name": "Qwen Image",
      "description": "千问文生图能力"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "summary": "千问-文生图",
        "description": "调用阿里云千问 `qwen-image-2.0-pro`、`qwen-image-2.0`、`qwen-image-max`、`qwen-image-plus` 模型执行文生图任务。\n\n请求体包含 `model`、`input`、`parameters` 三个主要字段。`input.messages[0].content[0].text` 放置正向提示词。`parameters` 字段控制分辨率 `size`、数量 `n`、反向提示词 `negative_prompt`、提示词智能改写 `prompt_extend`、水印 `watermark`、随机种子 `seed` 等。",
        "operationId": "aliQwenTextToImage",
        "tags": [
          "Qwen Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToImageRequest"
              },
              "examples": {
                "basic_generation": {
                  "summary": "基础文生图",
                  "value": {
                    "model": "qwen-image-2.0-pro",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "text": "一只可爱的橘猫坐在窗台上，沐浴在阳光中，写实风格"
                            }
                          ]
                        }
                      ]
                    },
                    "parameters": {
                      "size": "2048*2048",
                      "n": 1,
                      "watermark": false
                    }
                  }
                },
                "advanced_generation": {
                  "summary": "高级文生图",
                  "value": {
                    "model": "qwen-image-max",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "text": "科幻城市夜景，霓虹灯光，未来主义建筑"
                            }
                          ]
                        }
                      ]
                    },
                    "parameters": {
                      "size": "2048*1024",
                      "n": 2,
                      "negative_prompt": "低分辨率, 低质量, 模糊",
                      "prompt_extend": true,
                      "watermark": false,
                      "seed": 0
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功返回图像生成结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "认证失败，例如缺少或无效的令牌。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "请求体过大。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "触发限流或账户额度不足。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "处理请求时发生内部服务器错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "上游渠道返回了异常响应。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "上游渠道暂时不可用，或当前模型无可用渠道。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中传递 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "TextToImageRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen-image-2.0-pro",
              "qwen-image-2.0",
              "qwen-image-max",
              "qwen-image-plus"
            ],
            "description": "文生图模型名称。"
          },
          "input": {
            "$ref": "#/components/schemas/QwenTextToImageInput"
          },
          "parameters": {
            "$ref": "#/components/schemas/QwenTextToImageParameters"
          }
        }
      },
      "QwenTextToImageInput": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "description": "目前仅支持单轮消息。",
            "items": {
              "$ref": "#/components/schemas/QwenTextToImageMessage"
            }
          }
        }
      },
      "QwenTextToImageMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "固定为 `user`。"
          },
          "content": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "description": "仅支持单个文本内容项。",
            "items": {
              "$ref": "#/components/schemas/QwenTextToImageContentItem"
            }
          }
        }
      },
      "QwenTextToImageContentItem": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "正向提示词，支持中英文。"
          }
        }
      },
      "QwenTextToImageParameters": {
        "type": "object",
        "properties": {
          "negative_prompt": {
            "type": "string",
            "maxLength": 500,
            "description": "反向提示词，不超过500字符。"
          },
          "size": {
            "type": "string",
            "description": "输出图像分辨率，格式为 `宽*高`，如 `2048*2048`。"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "default": 1,
            "description": "输出图像数量。`qwen-image-2.0-pro` 和 `qwen-image-2.0` 支持1-6张，其他模型固定为1。"
          },
          "prompt_extend": {
            "type": "boolean",
            "default": true,
            "description": "是否开启提示词智能改写，默认开启。"
          },
          "watermark": {
            "type": "boolean",
            "default": false,
            "description": "是否添加水印，默认不添加。"
          },
          "seed": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 2147483647,
            "description": "随机种子，取值范围 [0, 2147483647]。"
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "output": {
            "$ref": "#/components/schemas/ImageOutput"
          },
          "usage": {
            "$ref": "#/components/schemas/ImageUsage"
          },
          "request_id": {
            "type": "string",
            "description": "请求ID。"
          },
          "code": {
            "type": "string",
            "description": "错误码，仅在请求失败时返回。"
          },
          "message": {
            "type": "string",
            "description": "错误信息，仅在请求失败时返回。"
          }
        }
      },
      "ImageOutput": {
        "type": "object",
        "properties": {
          "choices": {
            "type": "array",
            "description": "生成结果列表。",
            "items": {
              "$ref": "#/components/schemas/ImageChoice"
            }
          }
        }
      },
      "ImageChoice": {
        "type": "object",
        "properties": {
          "finish_reason": {
            "type": "string",
            "description": "结束原因，成功时为 `stop`。"
          },
          "message": {
            "$ref": "#/components/schemas/ImageChoiceMessage"
          }
        }
      },
      "ImageChoiceMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "角色，固定为 `assistant`。"
          },
          "content": {
            "type": "array",
            "description": "生成内容列表。",
            "items": {
              "$ref": "#/components/schemas/ImageChoiceContentItem"
            }
          }
        }
      },
      "ImageChoiceContentItem": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "图像URL，PNG格式，有效期24小时。"
          }
        }
      },
      "ImageUsage": {
        "type": "object",
        "properties": {
          "image_count": {
            "type": "integer",
            "description": "生成图像数量。"
          },
          "width": {
            "type": "integer",
            "description": "图像宽度。"
          },
          "height": {
            "type": "integer",
            "description": "图像高度。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "错误码。"
          },
          "message": {
            "type": "string",
            "description": "错误信息。"
          },
          "request_id": {
            "type": "string",
            "description": "请求ID。"
          }
        }
      }
    }
  }
}
