{
  "openapi": "3.0.1",
  "info": {
    "title": "Video Content Download",
    "version": "1.0.0",
    "description": "Documentation for downloading completed video output. The public endpoint is `/v1/videos/{task_id}/content` and streams the final media file after task completion.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Hailuo Video",
      "description": "Video file download for Hailuo workflows"
    }
  ],
  "paths": {
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "Video Content Download",
        "description": "Download the final video file after an asynchronous video task completes.\n\nUse this endpoint when you want the media content directly instead of handling a temporary result URL.",
        "operationId": "minimaxDownloadVideoFile",
        "tags": [
          "Hailuo Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Video task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Video file content returned successfully.",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Task not completed yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "task_not_ready": {
                    "summary": "Task not ready",
                    "value": {
                      "error": {
                        "message": "Task is not completed yet",
                        "type": "api_error",
                        "code": "task_not_ready",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Task not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "not_found": {
                    "summary": "Task not found",
                    "value": {
                      "error": {
                        "message": "Task not found or expired",
                        "type": "api_error",
                        "code": "task_not_found",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Authentication failed, for example because the token is missing or invalid."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Quota exceeded or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient quota for this request",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Rate limits were hit or the account ran out of quota."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing error",
                    "value": {
                      "error": {
                        "message": "Internal request processing failed",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The server failed while processing the request."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "Bad upstream response",
                    "value": {
                      "error": {
                        "message": "Upstream service returned an invalid response",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service returned an invalid response."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service unavailable",
                    "value": {
                      "error": {
                        "message": "No available channel for the requested model",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service is temporarily unavailable, or no channel is currently available for this model."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Error type, such as `invalid_request_error`, `api_error`, or another upstream-compatible error type."
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
