{
  "openapi": "3.0.1",
  "info": {
    "title": "Image-01 Image Editing",
    "version": "1.0.0",
    "description": "Image-to-image documentation for `image-01` models. The public endpoint is `/v1/images/edits` and supports edits or redraws based on reference images.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Image Generation",
      "description": "Image-to-image capabilities for `image-01` models"
    }
  ],
  "paths": {
    "/v1/images/edits": {
      "post": {
        "summary": "Image-01 Image Editing",
        "description": "For image-to-image generation with `image-01` and `image-01-live`.\n\nPublic fields: `model`, `prompt`, `subject_reference`, `aspect_ratio`, `width`, `height`, `response_format`, `seed`, `n`, and `prompt_optimizer`. This document describes the JSON form of `subject_reference`.",
        "operationId": "minimaxImageToImage",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MiniMaxImageToImageRequest"
              },
              "examples": {
                "subject_reference_example": {
                  "summary": "Using subject_reference",
                  "value": {
                    "model": "image-01-live",
                    "prompt": "Turn this portrait into a manga cover",
                    "subject_reference": [
                      {
                        "type": "character",
                        "image_file": "https://example.com/reference.png"
                      }
                    ],
                    "response_format": "url",
                    "n": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, returns unified image response structure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MiniMaxImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters, such as missing `subject_reference` or incompatible field combinations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Bad request",
                    "value": {
                      "error": {
                        "message": "Request body is invalid or contains unsupported values",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Authentication failed, for example because the token is missing or invalid."
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "request_too_large": {
                    "summary": "Request body too large",
                    "value": {
                      "error": {
                        "message": "Request body is too large; reduce the input and try again",
                        "type": "api_error",
                        "code": "read_request_body_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The request body is too large."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Quota exceeded or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient quota for this request",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "Rate limits were hit or the account ran out of quota."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing error",
                    "value": {
                      "error": {
                        "message": "Internal request processing failed",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The server failed while processing the request."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "Bad upstream response",
                    "value": {
                      "error": {
                        "message": "Upstream service returned an invalid response",
                        "type": "api_error",
                        "code": "bad_response_status_code",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service returned an invalid response."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service unavailable",
                    "value": {
                      "error": {
                        "message": "No available channel for the requested model",
                        "type": "api_error",
                        "code": "get_channel_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            },
            "description": "The upstream service is temporarily unavailable, or no channel is currently available for this model."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "MiniMaxImageToImageRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "subject_reference"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "image-01",
              "image-01-live"
            ],
            "description": "Model name used for this capability."
          },
          "prompt": {
            "type": "string",
            "description": "Image editing prompt."
          },
          "subject_reference": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/SubjectReferenceItem"
            },
            "description": "Subject reference data used to preserve character or object consistency in the generated result."
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Target aspect ratio."
          },
          "width": {
            "type": "integer",
            "description": "Target width."
          },
          "height": {
            "type": "integer",
            "description": "Target height."
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "description": "Response format. Use `url` for temporary download links or `b64_json` for Base64-encoded content."
          },
          "seed": {
            "type": "integer",
            "format": "int64",
            "description": "Random seed."
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9,
            "description": "Number of images to generate."
          },
          "prompt_optimizer": {
            "type": "boolean",
            "description": "Whether to enable prompt optimization."
          }
        }
      },
      "SubjectReferenceItem": {
        "type": "object",
        "required": [
          "type",
          "image_file"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Subject type. Currently only `character` is supported."
          },
          "image_file": {
            "type": "string",
            "description": "Reference image URL or Data URL."
          }
        }
      },
      "MiniMaxImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MiniMaxImageData"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/MiniMaxImageMetadata"
          }
        }
      },
      "MiniMaxImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "b64_json": {
            "type": "string"
          }
        }
      },
      "MiniMaxImageMetadata": {
        "type": "object",
        "properties": {
          "provider_request_id": {
            "type": "string",
            "description": "Request trace ID returned by the model service."
          },
          "provider_status_code": {
            "type": "integer",
            "description": "Status code returned by the model service."
          },
          "provider_status_msg": {
            "type": "string",
            "description": "Status message returned by the model service."
          },
          "success_count": {
            "type": "integer",
            "description": "Number of successfully generated results."
          },
          "failed_count": {
            "type": "integer",
            "description": "Number of requested results that were not returned."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Error type, such as `invalid_request_error`, `api_error`, or another upstream-compatible error type."
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
