{
  "openapi": "3.0.1",
  "info": {
    "title": "BytePlus Chat Completions",
    "version": "1.0.0",
    "description": "BytePlus chat completions documentation. The public endpoint is `/v1/chat/completions`, following an OpenAI-compatible Chat Completions request shape.\n\nSupported models: `seed-2-0-pro-260328`, `seed-2-0-lite-260228`, `seed-2-0-mini-260215`, `seed-1-8-251228`, `seed-1-6-250915`, `seed-1-6-flash-250715`, `deepseek-v3-2-251201`, and `gpt-oss-120b-250805`.\n\nThis document covers the following request fields: `model`, `messages`, `messages[].content`, `messages[].tool_calls`, `messages[].reasoning_content`, `thinking`, `stream`, `stream_options.include_usage`, `stream_options.chunk_include_usage`, `max_tokens`, `max_completion_tokens`, `stop`, `reasoning_effort`, `response_format`, `frequency_penalty`, `presence_penalty`, `temperature`, `top_p`, `logprobs`, `top_logprobs`, `tools`, `parallel_tool_calls`, and `tool_choice`.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "BytePlus Chat",
      "description": "Text chat, multimodal understanding, and tool calling for BytePlus models"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "BytePlus Chat Completions",
        "description": "Invoke BytePlus chat completions.\n\nSupported models include `seed-2-0-pro-260328`, `seed-2-0-lite-260228`, `seed-2-0-mini-260215`, `seed-1-8-251228`, `seed-1-6-250915`, `seed-1-6-flash-250715`, `deepseek-v3-2-251201`, and `gpt-oss-120b-250805`.\n\nThis document exposes the following fields: `model`, `messages`, `thinking`, `stream`, `stream_options.include_usage`, `stream_options.chunk_include_usage`, `max_tokens`, `max_completion_tokens`, `stop`, `reasoning_effort`, `response_format`, `frequency_penalty`, `presence_penalty`, `temperature`, `top_p`, `logprobs`, `top_logprobs`, `tools`, `parallel_tool_calls`, and `tool_choice`. `messages[].content` supports multimodal `text`, `image_url`, and `video_url` parts, while `assistant` messages may include `reasoning_content` and `tool_calls`.",
        "operationId": "byteplusChatCompletions",
        "tags": [
          "BytePlus Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "basic_text_chat": {
                  "summary": "Basic text chat",
                  "value": {
                    "model": "seed-2-0-pro-260328",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a concise and accurate assistant."
                      },
                      {
                        "role": "user",
                        "content": "Summarize the core RAG flow in three sentences."
                      }
                    ],
                    "thinking": {
                      "type": "enabled"
                    },
                    "reasoning_effort": "medium",
                    "temperature": 0.3,
                    "max_completion_tokens": 1024,
                    "stream": false
                  }
                },
                "multimodal_understanding": {
                  "summary": "Multimodal understanding",
                  "value": {
                    "model": "seed-2-0-lite-260228",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Identify the product in the image first, then use the video to infer where it is being used."
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://example.com/product.jpg",
                              "detail": "high"
                            }
                          },
                          {
                            "type": "video_url",
                            "video_url": {
                              "url": "https://example.com/store.mp4"
                            }
                          }
                        ]
                      }
                    ],
                    "max_tokens": 512,
                    "stream": false
                  }
                },
                "tool_calling_stream": {
                  "summary": "Tool calling with streaming",
                  "value": {
                    "model": "seed-1-8-251228",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Check today's weather in Beijing and tell me whether outdoor running is a good idea."
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "Get realtime weather by city name",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "City name"
                              }
                            },
                            "required": [
                              "city"
                            ]
                          }
                        }
                      }
                    ],
                    "tool_choice": "auto",
                    "parallel_tool_calls": true,
                    "stream": true,
                    "stream_options": {
                      "include_usage": true,
                      "chunk_include_usage": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Non-streaming mode returns JSON, and streaming mode returns an SSE event stream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Non-streaming success response",
                    "value": {
                      "id": "chatcmpl_bp_123",
                      "object": "chat.completion",
                      "created": 1742342400,
                      "model": "seed-2-0-pro-260328",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "RAG usually has three steps: retrieve, augment, and generate. The system first embeds the question and retrieves relevant knowledge chunks. It then injects those chunks into the prompt so the model can answer with better factual grounding and fewer hallucinations."
                          },
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 123,
                        "completion_tokens": 98,
                        "total_tokens": 221
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE payload. Each `data:` event can be parsed as a BytePlus/OpenAI-compatible chat completion chunk. The stream usually ends with `data: [DONE]`. When `stream_options.include_usage=true`, an extra usage-bearing chunk is emitted before the end."
                },
                "examples": {
                  "stream": {
                    "summary": "Streaming response snippet",
                    "value": "data: {\"id\":\"chatcmpl_bp_123\",\"object\":\"chat.completion.chunk\",\"created\":1742342400,\"model\":\"seed-1-8-251228\",\"choices\":[{\"index\":0,\"delta\":{\"role\":\"assistant\",\"content\":\"Calling the weather tool\"},\"finish_reason\":null}],\"usage\":{\"prompt_tokens\":48,\"completion_tokens\":6,\"total_tokens\":54}}\n\ndata: {\"id\":\"chatcmpl_bp_123\",\"object\":\"chat.completion.chunk\",\"created\":1742342401,\"model\":\"seed-1-8-251228\",\"choices\":[{\"index\":0,\"delta\":{\"tool_calls\":[{\"index\":0,\"id\":\"call_weather\",\"type\":\"function\",\"function\":{\"name\":\"get_weather\",\"arguments\":\"{\\\"city\\\":\\\"Beijing\\\"}\"}}]},\"finish_reason\":\"tool_calls\"}],\"usage\":{\"prompt_tokens\":48,\"completion_tokens\":22,\"total_tokens\":70}}\n\ndata: [DONE]\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Bad request",
                    "value": {
                      "error": {
                        "message": "messages is required",
                        "type": "invalid_request_error",
                        "param": "messages",
                        "code": "bad_request_body"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, for example because the token is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limits were hit or the account ran out of quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Quota exceeded or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient quota for this request",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing error",
                    "value": {
                      "error": {
                        "message": "Internal request processing failed",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "Send `Authorization: Bearer <token>` in the request headers."
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "description": "Request body for BytePlus chat completions.",
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name. Supported BytePlus chat models include `seed-2-0-pro-260328`, `seed-2-0-lite-260228`, `seed-2-0-mini-260215`, `seed-1-8-251228`, `seed-1-6-250915`, `seed-1-6-flash-250715`, `deepseek-v3-2-251201`, and `gpt-oss-120b-250805`.",
            "enum": [
              "seed-2-0-pro-260328",
              "seed-2-0-lite-260228",
              "seed-2-0-mini-260215",
              "seed-1-8-251228",
              "seed-1-6-250915",
              "seed-1-6-flash-250715",
              "deepseek-v3-2-251201",
              "gpt-oss-120b-250805"
            ],
            "example": "seed-2-0-pro-260328"
          },
          "messages": {
            "type": "array",
            "description": "Conversation message list. This document exposes `system`, `user`, `assistant`, and `tool` roles. `messages[].content` supports plain text or an array of multimodal parts composed of `text`, `image_url`, and `video_url`.",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "thinking": {
            "$ref": "#/components/schemas/ThinkingConfig"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Whether to enable streaming output. When `true`, the response content type is `text/event-stream`."
          },
          "stream_options": {
            "$ref": "#/components/schemas/StreamOptions"
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum answer length in tokens, excluding reasoning tokens."
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "Maximum total output length in tokens, including both answer and reasoning tokens. When set, `max_tokens` no longer applies."
          },
          "stop": {
            "description": "Stop sequence. This can be a single string or an array of strings.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "reasoning_effort": {
            "type": "string",
            "enum": [
              "minimal",
              "low",
              "medium",
              "high"
            ],
            "description": "Caps the amount of reasoning work. `minimal` is fastest and `high` is deepest."
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "description": "Frequency penalty. Higher values reduce repeated wording."
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "description": "Presence penalty. Higher values encourage introducing new topics."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "description": "Sampling temperature. Lower is more stable; higher is more diverse."
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Nucleus sampling parameter. Usually tuned instead of `temperature`."
          },
          "logprobs": {
            "type": "boolean",
            "description": "Whether to return log probability data for output tokens."
          },
          "top_logprobs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20,
            "description": "When `logprobs=true`, how many candidate token log probabilities to return per position."
          },
          "tools": {
            "type": "array",
            "description": "Function tool definitions available to the model.",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            }
          },
          "parallel_tool_calls": {
            "type": "boolean",
            "description": "Whether the model may emit multiple tool calls in parallel."
          },
          "tool_choice": {
            "$ref": "#/components/schemas/ToolChoice"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role"
        ],
        "description": "One message in the conversation. `assistant` messages may include `reasoning_content` and `tool_calls`. For `assistant` messages, at least one of `content` or `tool_calls` should be present.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool"
            ],
            "description": "Message role."
          },
          "content": {
            "description": "Message content. This can be a plain string or an array of multimodal parts.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageContentPart"
                }
              }
            ]
          },
          "reasoning_content": {
            "type": "string",
            "description": "Reasoning content emitted by an assistant message."
          },
          "tool_calls": {
            "type": "array",
            "description": "Tool calls emitted by an assistant message.",
            "items": {
              "$ref": "#/components/schemas/ToolCallMessage"
            }
          },
          "tool_call_id": {
            "type": "string",
            "description": "For `tool` role messages, the ID of the preceding tool call."
          }
        }
      },
      "MessageContentPart": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type",
              "text"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text"
                ],
                "description": "Text content part."
              },
              "text": {
                "type": "string",
                "description": "Text payload."
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "image_url"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "image_url"
                ],
                "description": "Image content part."
              },
              "image_url": {
                "$ref": "#/components/schemas/ImageURL"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "video_url"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "video_url"
                ],
                "description": "Video content part."
              },
              "video_url": {
                "$ref": "#/components/schemas/VideoURL"
              }
            }
          }
        ]
      },
      "ImageURL": {
        "type": "object",
        "required": [
          "url"
        ],
        "description": "Image content. Supports either an image URL or Base64-encoded image data.",
        "properties": {
          "url": {
            "type": "string",
            "description": "Image URL or Base64 payload."
          },
          "detail": {
            "type": "string",
            "enum": [
              "low",
              "high",
              "xhigh"
            ],
            "description": "Image understanding detail level."
          }
        }
      },
      "VideoURL": {
        "type": "object",
        "required": [
          "url"
        ],
        "description": "Video content. Supports either a video URL or Base64-encoded payload.",
        "properties": {
          "url": {
            "type": "string",
            "description": "Video URL or Base64 payload."
          }
        }
      },
      "ThinkingConfig": {
        "type": "object",
        "description": "Controls whether the model should enter deep reasoning mode.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled",
              "auto"
            ],
            "description": "`enabled` forces reasoning first, `disabled` answers directly, and `auto` lets the model decide."
          }
        }
      },
      "StreamOptions": {
        "type": "object",
        "description": "Streaming response options. Effective only when `stream=true`.",
        "properties": {
          "include_usage": {
            "type": "boolean",
            "description": "When `true`, the stream emits one extra chunk carrying final `usage` data before completion."
          },
          "chunk_include_usage": {
            "type": "boolean",
            "description": "When `true`, each streaming chunk includes cumulative `usage` data up to that point."
          }
        }
      },
      "ToolDefinition": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "description": "Function tool definition.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Only function tools are currently documented here."
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Function name."
              },
              "description": {
                "type": "string",
                "description": "Human-readable description of the function."
              },
              "parameters": {
                "type": "object",
                "description": "JSON-Schema-like function parameter definition."
              }
            }
          }
        }
      },
      "ToolChoice": {
        "description": "Tool selection strategy. This can be a string mode or an object that pins a specific function.",
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "none",
              "auto",
              "required"
            ]
          },
          {
            "type": "object",
            "required": [
              "type",
              "function"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "function"
                ]
              },
              "function": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The exact function name the model must call."
                  }
                }
              }
            }
          }
        ]
      },
      "ResponseFormat": {
        "type": "object",
        "description": "Controls the answer format. Beta.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "json_object",
              "json_schema"
            ],
            "description": "Target output format."
          },
          "json_schema": {
            "$ref": "#/components/schemas/ResponseJsonSchema"
          }
        }
      },
      "ResponseJsonSchema": {
        "type": "object",
        "required": [
          "name",
          "schema"
        ],
        "description": "JSON Schema definition used when `response_format.type=json_schema`.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Schema name."
          },
          "description": {
            "type": "string",
            "description": "Purpose of the schema."
          },
          "schema": {
            "type": "object",
            "description": "JSON Schema object."
          },
          "strict": {
            "type": "boolean",
            "description": "Whether the model should follow the schema strictly."
          }
        }
      },
      "ToolCallMessage": {
        "type": "object",
        "required": [
          "id",
          "type",
          "function"
        ],
        "description": "Tool call object embedded in a message.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Tool call ID."
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Only function tool calls are currently documented here."
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "arguments"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Function name."
              },
              "arguments": {
                "type": "string",
                "description": "JSON string containing function arguments."
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "Successful BytePlus chat completions response.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Response ID."
          },
          "object": {
            "type": "string",
            "description": "Object type such as `chat.completion`."
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp."
          },
          "model": {
            "type": "string",
            "description": "Actual model used for the request."
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ChatCompletionChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Choice index."
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Finish reason, for example `stop`, `length`, or `tool_calls`."
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "description": "Assistant text output."
          },
          "reasoning_content": {
            "type": "string",
            "description": "Assistant reasoning output."
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCallMessage"
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Token usage accounting.",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Input token count."
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Output token count."
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total token count."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "type": {
            "type": "string",
            "description": "Error type."
          },
          "param": {
            "type": "string",
            "description": "Related request field name."
          },
          "code": {
            "type": "string",
            "description": "Stable error code."
          }
        }
      }
    }
  }
}
