{
  "openapi": "3.0.1",
  "info": {
    "title": "Kling 图像生成任务 - 提交任务",
    "version": "1.0.0",
    "description": "通过 `/kling/v1/images/generations` 提交 Kling 原生异步图像生成或图生图任务。"
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": ""
    }
  ],
  "tags": [
    {
      "name": "Kling",
      "description": "Kling 原生异步任务端点"
    }
  ],
  "paths": {
    "/kling/v1/images/generations": {
      "post": {
        "summary": "Kling 图像生成任务",
        "description": "通过 `/kling/v1/images/generations` 提交 Kling 原生异步图像生成或图生图任务。",
        "operationId": "createKlingImageGeneration",
        "tags": [
          "Kling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingRequest"
              },
              "examples": {
                "request": {
                  "summary": "请求示例",
                  "value": {
                    "model_name": "kling-v3",
                    "prompt": "A clean product photo on a white background",
                    "aspect_ratio": "1:1",
                    "n": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求无效或被上游拒绝。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少或无效的 Bearer Token。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "KlingRequest": {
        "type": "object",
        "required": [
          "model_name",
          "prompt"
        ],
        "properties": {
          "model_name": {
            "type": "string",
            "description": "模型名称",
            "enum": [
              "kling-v3"
            ]
          },
          "prompt": {
            "type": "string",
            "description": "正向文本提示词",
            "maxLength": 2500
          },
          "negative_prompt": {
            "type": "string",
            "description": "负向文本提示词\n注：图生图（即 image 字段不为空时）场景下，不支持负向提示词",
            "maxLength": 2500
          },
          "image": {
            "type": "string",
            "description": "参考图像\n\n- 支持传入图片 Base64 编码或图片 URL（确保可访问）\n\nBase64 编码说明：\n请注意，若您使用base64的方式，请确保您传递的所有图像数据参数均采用Base64编码格式。使用 Base64 时，请不要添加任何前缀如 data:image/png;base64,，只需提供 Base64 编码字符串本身。\n\n正确示例：\n`iVBORw0KGgoAAAANSUhEUgAAAAUA`\n\n错误示例:\n`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUA...`\n\n- 图片格式支持 .jpg / .jpeg / .png\n- 图片文件大小不能超过 10MB，图片宽高尺寸不小于 300px，图片宽高比介于 1:2.5 ~ 2.5:1 之间\n- image_reference 参数不为空时，当前参数必填"
          },
          "image_reference": {
            "type": "string",
            "enum": [
              "subject",
              "face"
            ],
            "description": "图片参考类型。\n\n- subject（角色特征参考）, face（人物长相参考）\n- 使用 face（人物长相参考）时，上传图片需仅含 1 张人脸"
          },
          "image_fidelity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "生成过程中对上传图片的参考强度。"
          },
          "human_fidelity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "面部参考强度，即参考图中人物五官相似度。"
          },
          "element_list": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "element_id"
              ],
              "properties": {
                "element_id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "主体库中的主体 ID。"
                }
              }
            },
            "description": "主体参考列表，基于主体库中的主体 ID 配置。\n用 key:value 承载，格式如上：\n`\"element_list\":[{ \"element_id\": long },{ \"element_id\": long }]`\n参考主体数量与参考图片数量有关，参考主体数量和参考图片数量之和不得超过 10"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "1k",
              "2k"
            ],
            "default": "1k",
            "description": "生成图片的清晰度。"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9,
            "default": 1,
            "description": "生成图片数量。"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "生成图片的画面纵横比（宽:高）",
            "default": "16:9",
            "enum": [
              "1:1",
              "16:9",
              "4:3",
              "3:2",
              "2:3",
              "3:4",
              "9:16",
              "21:9"
            ]
          },
          "watermark_info": {
            "type": "object",
            "description": "是否同时生成含水印的结果。",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "true 表示生成含水印结果，false 表示不生成。"
              }
            }
          },
          "callback_url": {
            "type": "string",
            "description": "本次任务结果回调通知地址，如果配置，服务端会在任务状态发生变更时主动通知。"
          },
          "external_task_id": {
            "type": "string",
            "description": "自定义任务 ID"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "description": "网关或上游提供商返回的错误详情。"
          }
        }
      },
      "SubmitResponse": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "Kling 响应码。0 表示任务已被受理。"
          },
          "message": {
            "type": "string",
            "description": "Kling 响应消息。"
          },
          "request_id": {
            "type": "string",
            "description": "上游请求标识符（如有提供）。"
          },
          "data": {
            "type": "object",
            "required": [
              "task_id",
              "task_status"
            ],
            "properties": {
              "task_id": {
                "type": "string",
                "description": "由本网关生成的公共任务 ID。上游任务 ID 不对外暴露。"
              },
              "task_status": {
                "type": "string",
                "description": "任务初始状态。",
                "example": "submitted"
              },
              "task_info": {
                "type": "object",
                "properties": {
                  "external_task_id": {
                    "type": "string",
                    "description": "客户端传入的外部任务 ID，或由网关注入的公共任务 ID。"
                  }
                }
              },
              "created_at": {
                "type": "integer",
                "format": "int64",
                "description": "创建时间，单位为毫秒。"
              },
              "updated_at": {
                "type": "integer",
                "format": "int64",
                "description": "更新时间，单位为毫秒。"
              }
            }
          }
        }
      }
    }
  }
}
