{
  "openapi": "3.0.1",
  "info": {
    "title": "Kling 多图生图任务 - 提交任务",
    "version": "1.0.0",
    "description": "通过 `/kling/v1/images/multi-image2image` 提交 Kling 原生多图生图任务。"
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "当前 new-api 网关实例"
    }
  ],
  "tags": [
    {
      "name": "Kling",
      "description": "Kling 原生异步任务接口"
    }
  ],
  "paths": {
    "/kling/v1/images/multi-image2image": {
      "post": {
        "summary": "Kling 多图生图任务",
        "description": "通过 `/kling/v1/images/multi-image2image` 提交 Kling 原生多图生图任务。",
        "operationId": "createKlingMultiImage2Image",
        "tags": [
          "Kling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingRequest"
              },
              "examples": {
                "request": {
                  "summary": "请求示例",
                  "value": {
                    "model_name": "kling-v2",
                    "prompt": "Blend both references into one consistent illustration"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已接受。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求无效或被上游拒绝。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少或无效的 Bearer 令牌。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "KlingRequest": {
        "type": "object",
        "required": [
          "model_name",
          "subject_image_list"
        ],
        "properties": {
          "model_name": {
            "type": "string",
            "description": "模型名称",
            "enum": [
              "kling-v2"
            ]
          },
          "prompt": {
            "type": "string",
            "description": "正向文本提示词",
            "maxLength": 2500
          },
          "subject_image_list": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "subject_image"
              ],
              "properties": {
                "subject_image": {
                  "type": "string",
                  "description": "主体图片 URL 或 Base64 字符串。"
                }
              }
            },
            "description": "主体参考图片列表\n\n- 最多支持 4 张图片，最少支持 1 张图片，用 key:value 承载，如下：\n`\"subject_image_list\":[  { \"subject_image\":\"image_url\" },  { \"subject_image\":\"image_url\" },  { \"subject_image\":\"image_url\" },  { \"subject_image\":\"image_url\" }]`\n- API 端无裁剪逻辑，请直接上传已选主体后的图片\n- 支持传入图片 Base64 编码或图片 URL（确保可访问）\n- 注意：若您使用 Base64 方式，请不要在 Base64 编码字符串前添加任何前缀（如 data:image/png;base64,），直接传递 Base64 编码后的字符串即可。\n- 图片格式支持 .jpg / .jpeg / .png\n- 图片文件大小不能超过 10MB，图片宽高尺寸不小于 300px，图片宽高比要在 1:2.5 ~ 2.5:1 之间"
          },
          "scene_image": {
            "type": "string",
            "description": "场景参考图\n\n- 支持传入图片 Base64 编码或图片 URL（确保可访问）\n- 注意：若您使用 Base64 方式，请不要在 Base64 编码字符串前添加任何前缀（如 data:image/png;base64,），直接传递 Base64 编码后的字符串即可。\n- 图片格式支持 .jpg / .jpeg / .png\n- 图片文件大小不能超过 10MB，图片宽高尺寸不小于 300px，图片宽高比要在 1:2.5 ~ 2.5:1 之间"
          },
          "style_image": {
            "type": "string",
            "description": "风格参考图\n\n- 支持传入图片 Base64 编码或图片 URL（确保可访问）\n- 注意：若您使用 Base64 方式，请不要在 Base64 编码字符串前添加任何前缀（如 data:image/png;base64,），直接传递 Base64 编码后的字符串即可。\n- 图片格式支持 .jpg / .jpeg / .png\n- 图片文件大小不能超过 10MB，图片宽高尺寸不小于 300px，图片宽高比要在 1:2.5 ~ 2.5:1 之间"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9,
            "default": 1,
            "description": "生成图片数量"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "生成图片的画面纵横比（宽:高）",
            "enum": [
              "1:1",
              "16:9",
              "4:3",
              "3:2",
              "2:3",
              "3:4",
              "9:16",
              "21:9"
            ],
            "default": "16:9"
          },
          "watermark_info": {
            "type": "object",
            "description": "是否同时生成含水印的结果。",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "true 表示生成含水印结果，false 表示不生成。"
              }
            }
          },
          "callback_url": {
            "type": "string",
            "description": "本次任务结果回调通知地址，如果配置，服务端会在任务状态发生变更时主动通知"
          },
          "external_task_id": {
            "type": "string",
            "description": "自定义任务 ID"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "description": "网关或上游返回的错误详情。"
          }
        }
      },
      "SubmitResponse": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "Kling 响应码。0 表示任务已接受。"
          },
          "message": {
            "type": "string",
            "description": "Kling 响应消息。"
          },
          "request_id": {
            "type": "string",
            "description": "上游请求标识符（如有提供）。"
          },
          "data": {
            "type": "object",
            "required": [
              "task_id",
              "task_status"
            ],
            "properties": {
              "task_id": {
                "type": "string",
                "description": "本网关生成的公共任务 ID。上游任务 ID 不对外暴露。"
              },
              "task_status": {
                "type": "string",
                "description": "初始任务状态。",
                "example": "submitted"
              },
              "task_info": {
                "type": "object",
                "properties": {
                  "external_task_id": {
                    "type": "string",
                    "description": "客户端提供的外部任务 ID，或网关注入的公共任务 ID。"
                  }
                }
              },
              "created_at": {
                "type": "integer",
                "format": "int64",
                "description": "创建时间，毫秒级时间戳。"
              },
              "updated_at": {
                "type": "integer",
                "format": "int64",
                "description": "更新时间，毫秒级时间戳。"
              }
            }
          }
        }
      }
    }
  }
}
