{
  "openapi": "3.0.1",
  "info": {
    "title": "speech-2.8-hd 语音合成",
    "version": "1.0.0",
    "description": "历史 MiniMax（`type=35`）通道语音合成能力文档。公开统一入口为 `/v1/audio/speech`，当前项目已实现 `POST /v1/t2a_v2` 的稳定字段子集。\n\n本文档只描述当前网关对历史 MiniMax 通道已经实现、且与上游官方能力一致的字段：`model`、`input`、`voice`、`speed`、`response_format`、`stream_format`、`metadata.output_format`。\n\n为保持统一项目级契约，非流式调用固定返回 `302 Found + Location`。因此历史 MiniMax 当前公开的非流式 `metadata.output_format` 仅支持 `url`；流式调用通过 `stream_format` 非空触发，并返回 `text/event-stream`。\n\n项目计费说明：网关会把上游 `extra_info.usage_characters` 映射到统一 usage 的 `prompt_tokens_details.audio_tokens`；当 Internal Pricing 配置 `quota_type=3` 时，`model_price` 表示每 1K 输入字符价格。"
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "MiniMax Audio",
      "description": "历史 MiniMax 文本转语音能力"
    }
  ],
  "paths": {
    "/v1/audio/speech": {
      "post": {
        "summary": "MiniMax 语音合成",
        "description": "调用历史 MiniMax `t2a_v2` 能力生成语音。\n\n当前稳定模型：`speech-2.8-hd`",
        "operationId": "minimaxAudioSpeech",
        "tags": [
          "MiniMax Audio"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MiniMaxSpeechRequest"
              },
              "examples": {
                "basic": {
                  "summary": "非流式请求",
                  "value": {
                    "model": "speech-2.8-hd",
                    "input": "请用自然语气介绍今天的运行情况。",
                    "voice": "Chinese (Mandarin)_Lyrical_Voice",
                    "response_format": "mp3",
                    "metadata": {
                      "output_format": "url"
                    }
                  }
                },
                "stream": {
                  "summary": "流式请求",
                  "value": {
                    "model": "speech-2.8-hd",
                    "input": "Read this sentence in a calm voice.",
                    "voice": "English_Graceful_Lady",
                    "speed": 1,
                    "response_format": "wav",
                    "stream_format": "pcm"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "流式调用成功，返回 MiniMax SSE 数据。项目内部结算会读取 `extra_info.usage_characters` 作为统一输入音频字符数。",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE 数据流。每个 `data:` 事件都可反序列化为包含 `data.audio`、`trace_id`、`base_resp` 的 MiniMax 响应片段。"
                }
              }
            }
          },
          "302": {
            "description": "非流式调用成功。`Location` 头为音频文件临时地址。项目内部结算会读取 `extra_info.usage_characters` 作为统一输入音频字符数。",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误，或扩展字段与统一契约冲突。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "MiniMaxSpeechRequest": {
        "type": "object",
        "required": [
          "model",
          "input",
          "voice"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "speech-2.8-hd"
            ]
          },
          "input": {
            "type": "string",
            "description": "待合成文本。",
            "maxLength": 10000
          },
          "voice": {
            "type": "string",
            "description": "音色名称，会映射到上游 `voice_setting.voice_id`。",
            "enum": [
              "male-qn-qingse",
              "male-qn-jingying",
              "male-qn-badao",
              "male-qn-daxuesheng",
              "female-shaonv",
              "female-yujie",
              "female-chengshu",
              "female-tianmei",
              "male-qn-qingse-jingpin",
              "male-qn-jingying-jingpin",
              "male-qn-badao-jingpin",
              "male-qn-daxuesheng-jingpin",
              "female-shaonv-jingpin",
              "female-yujie-jingpin",
              "female-chengshu-jingpin",
              "female-tianmei-jingpin",
              "clever_boy",
              "cute_boy",
              "lovely_girl",
              "cartoon_pig",
              "bingjiao_didi",
              "junlang_nanyou",
              "chunzhen_xuedi",
              "lengdan_xiongzhang",
              "badao_shaoye",
              "tianxin_xiaoling",
              "qiaopi_mengmei",
              "wumei_yujie",
              "diadia_xuemei",
              "danya_xuejie",
              "Chinese (Mandarin)_Reliable_Executive",
              "Chinese (Mandarin)_News_Anchor",
              "Chinese (Mandarin)_Mature_Woman",
              "Chinese (Mandarin)_Unrestrained_Young_Man",
              "Arrogant_Miss",
              "Robot_Armor",
              "Chinese (Mandarin)_Kind-hearted_Antie",
              "Chinese (Mandarin)_HK_Flight_Attendant",
              "Chinese (Mandarin)_Humorous_Elder",
              "Chinese (Mandarin)_Gentleman",
              "Chinese (Mandarin)_Warm_Bestie",
              "Chinese (Mandarin)_Male_Announcer",
              "Chinese (Mandarin)_Sweet_Lady",
              "Chinese (Mandarin)_Southern_Young_Man",
              "Chinese (Mandarin)_Wise_Women",
              "Chinese (Mandarin)_Gentle_Youth",
              "Chinese (Mandarin)_Warm_Girl",
              "Chinese (Mandarin)_Kind-hearted_Elder",
              "Chinese (Mandarin)_Cute_Spirit",
              "Chinese (Mandarin)_Radio_Host",
              "Chinese (Mandarin)_Lyrical_Voice",
              "Chinese (Mandarin)_Straightforward_Boy",
              "Chinese (Mandarin)_Sincere_Adult",
              "Chinese (Mandarin)_Gentle_Senior",
              "Chinese (Mandarin)_Stubborn_Friend",
              "Chinese (Mandarin)_Crisp_Girl",
              "Chinese (Mandarin)_Pure-hearted_Boy",
              "Chinese (Mandarin)_Soft_Girl",
              "Cantonese_ProfessionalHost（F)",
              "Cantonese_GentleLady",
              "Cantonese_ProfessionalHost（M)",
              "Cantonese_PlayfulMan",
              "Cantonese_CuteGirl",
              "Cantonese_KindWoman",
              "Santa_Claus",
              "Grinch",
              "Rudolph",
              "Arnold",
              "Charming_Santa",
              "Charming_Lady",
              "Sweet_Girl",
              "Cute_Elf",
              "Attractive_Girl",
              "Serene_Woman",
              "English_Trustworthy_Man",
              "English_Graceful_Lady",
              "English_Aussie_Bloke",
              "English_Whispering_girl",
              "English_Diligent_Man",
              "English_Gentle-voiced_man",
              "Japanese_IntellectualSenior",
              "Japanese_DecisivePrincess",
              "Japanese_LoyalKnight",
              "Japanese_DominantMan",
              "Japanese_SeriousCommander",
              "Japanese_ColdQueen",
              "Japanese_DependableWoman",
              "Japanese_GentleButler",
              "Japanese_KindLady",
              "Japanese_CalmLady",
              "Japanese_OptimisticYouth",
              "Japanese_GenerousIzakayaOwner",
              "Japanese_SportyStudent",
              "Japanese_InnocentBoy",
              "Japanese_GracefulMaiden",
              "Korean_SweetGirl",
              "Korean_CheerfulBoyfriend",
              "Korean_EnchantingSister",
              "Korean_ShyGirl",
              "Korean_ReliableSister",
              "Korean_StrictBoss",
              "Korean_SassyGirl",
              "Korean_ChildhoodFriendGirl",
              "Korean_PlayboyCharmer",
              "Korean_ElegantPrincess",
              "Korean_BraveFemaleWarrior",
              "Korean_BraveYouth",
              "Korean_CalmLady",
              "Korean_EnthusiasticTeen",
              "Korean_SoothingLady",
              "Korean_IntellectualSenior",
              "Korean_LonelyWarrior",
              "Korean_MatureLady",
              "Korean_InnocentBoy",
              "Korean_CharmingSister",
              "Korean_AthleticStudent",
              "Korean_BraveAdventurer",
              "Korean_CalmGentleman",
              "Korean_WiseElf",
              "Korean_CheerfulCoolJunior",
              "Korean_DecisiveQueen",
              "Korean_ColdYoungMan",
              "Korean_MysteriousGirl",
              "Korean_QuirkyGirl",
              "Korean_ConsiderateSenior",
              "Korean_CheerfulLittleSister",
              "Korean_DominantMan",
              "Korean_AirheadedGirl",
              "Korean_ReliableYouth",
              "Korean_FriendlyBigSister",
              "Korean_GentleBoss",
              "Korean_ColdGirl",
              "Korean_HaughtyLady",
              "Korean_CharmingElderSister",
              "Korean_IntellectualMan",
              "Korean_CaringWoman",
              "Korean_WiseTeacher",
              "Korean_ConfidentBoss",
              "Korean_AthleticGirl",
              "Korean_PossessiveMan",
              "Korean_GentleWoman",
              "Korean_CockyGuy",
              "Korean_ThoughtfulWoman",
              "Korean_OptimisticYouth",
              "Spanish_SereneWoman",
              "Spanish_MaturePartner",
              "Spanish_CaptivatingStoryteller",
              "Spanish_Narrator",
              "Spanish_WiseScholar",
              "Spanish_Kind-heartedGirl",
              "Spanish_DeterminedManager",
              "Spanish_BossyLeader",
              "Spanish_ReservedYoungMan",
              "Spanish_ConfidentWoman",
              "Spanish_ThoughtfulMan",
              "Spanish_Strong-WilledBoy",
              "Spanish_SophisticatedLady",
              "Spanish_RationalMan",
              "Spanish_AnimeCharacter",
              "Spanish_Deep-tonedMan",
              "Spanish_Fussyhostess",
              "Spanish_SincereTeen",
              "Spanish_FrankLady",
              "Spanish_Comedian",
              "Spanish_Debator",
              "Spanish_ToughBoss",
              "Spanish_Wiselady",
              "Spanish_Steadymentor",
              "Spanish_Jovialman",
              "Spanish_SantaClaus",
              "Spanish_Rudolph",
              "Spanish_Intonategirl",
              "Spanish_Arnold",
              "Spanish_Ghost",
              "Spanish_HumorousElder",
              "Spanish_EnergeticBoy",
              "Spanish_WhimsicalGirl",
              "Spanish_StrictBoss",
              "Spanish_ReliableMan",
              "Spanish_SereneElder",
              "Spanish_AngryMan",
              "Spanish_AssertiveQueen",
              "Spanish_CaringGirlfriend",
              "Spanish_PowerfulSoldier",
              "Spanish_PassionateWarrior",
              "Spanish_ChattyGirl",
              "Spanish_RomanticHusband",
              "Spanish_CompellingGirl",
              "Spanish_PowerfulVeteran",
              "Spanish_SensibleManager",
              "Spanish_ThoughtfulLady",
              "Portuguese_SentimentalLady",
              "Portuguese_BossyLeader",
              "Portuguese_Wiselady",
              "Portuguese_Strong-WilledBoy",
              "Portuguese_Deep-VoicedGentleman",
              "Portuguese_UpsetGirl",
              "Portuguese_PassionateWarrior",
              "Portuguese_AnimeCharacter",
              "Portuguese_ConfidentWoman",
              "Portuguese_AngryMan",
              "Portuguese_CaptivatingStoryteller",
              "Portuguese_Godfather",
              "Portuguese_ReservedYoungMan",
              "Portuguese_SmartYoungGirl",
              "Portuguese_Kind-heartedGirl",
              "Portuguese_Pompouslady",
              "Portuguese_Grinch",
              "Portuguese_Debator",
              "Portuguese_SweetGirl",
              "Portuguese_AttractiveGirl",
              "Portuguese_ThoughtfulMan",
              "Portuguese_PlayfulGirl",
              "Portuguese_GorgeousLady",
              "Portuguese_LovelyLady",
              "Portuguese_SereneWoman",
              "Portuguese_SadTeen",
              "Portuguese_MaturePartner",
              "Portuguese_Comedian",
              "Portuguese_NaughtySchoolgirl",
              "Portuguese_Narrator",
              "Portuguese_ToughBoss",
              "Portuguese_Fussyhostess",
              "Portuguese_Dramatist",
              "Portuguese_Steadymentor",
              "Portuguese_Jovialman",
              "Portuguese_CharmingQueen",
              "Portuguese_SantaClaus",
              "Portuguese_Rudolph",
              "Portuguese_Arnold",
              "Portuguese_CharmingSanta",
              "Portuguese_CharmingLady",
              "Portuguese_Ghost",
              "Portuguese_HumorousElder",
              "Portuguese_CalmLeader",
              "Portuguese_GentleTeacher",
              "Portuguese_EnergeticBoy",
              "Portuguese_ReliableMan",
              "Portuguese_SereneElder",
              "Portuguese_GrimReaper",
              "Portuguese_AssertiveQueen",
              "Portuguese_WhimsicalGirl",
              "Portuguese_StressedLady",
              "Portuguese_FriendlyNeighbor",
              "Portuguese_CaringGirlfriend",
              "Portuguese_PowerfulSoldier",
              "Portuguese_FascinatingBoy",
              "Portuguese_RomanticHusband",
              "Portuguese_StrictBoss",
              "Portuguese_InspiringLady",
              "Portuguese_PlayfulSpirit",
              "Portuguese_ElegantGirl",
              "Portuguese_CompellingGirl",
              "Portuguese_PowerfulVeteran",
              "Portuguese_SensibleManager",
              "Portuguese_ThoughtfulLady",
              "Portuguese_TheatricalActor",
              "Portuguese_FragileBoy",
              "Portuguese_ChattyGirl",
              "Portuguese_Conscientiousinstructor",
              "Portuguese_RationalMan",
              "Portuguese_WiseScholar",
              "Portuguese_FrankLady",
              "Portuguese_DeterminedManager",
              "French_Male_Speech_New",
              "French_Female_News Anchor",
              "French_CasualMan",
              "French_MovieLeadFemale",
              "French_FemaleAnchor",
              "French_MaleNarrator",
              "Indonesian_SweetGirl",
              "Indonesian_ReservedYoungMan",
              "Indonesian_CharmingGirl",
              "Indonesian_CalmWoman",
              "Indonesian_ConfidentWoman",
              "Indonesian_CaringMan",
              "Indonesian_BossyLeader",
              "Indonesian_DeterminedBoy",
              "Indonesian_GentleGirl",
              "German_FriendlyMan",
              "German_SweetLady",
              "German_PlayfulMan",
              "Russian_HandsomeChildhoodFriend",
              "Russian_BrightHeroine",
              "Russian_AmbitiousWoman",
              "Russian_ReliableMan",
              "Russian_CrazyQueen",
              "Russian_PessimisticGirl",
              "Russian_AttractiveGuy",
              "Russian_Bad-temperedBoy",
              "Italian_BraveHeroine",
              "Italian_Narrator",
              "Italian_WanderingSorcerer",
              "Italian_DiligentLeader",
              "Arabic_CalmWoman",
              "Arabic_FriendlyGuy",
              "Turkish_CalmWoman",
              "Turkish_Trustworthyman",
              "Ukrainian_CalmWoman",
              "Ukrainian_WiseScholar",
              "Dutch_kindhearted_girl",
              "Dutch_bossy_leader",
              "Vietnamese_kindhearted_girl",
              "Thai_male_1_sample8",
              "Thai_male_2_sample2",
              "Thai_female_1_sample1",
              "Thai_female_2_sample2",
              "Polish_male_1_sample4",
              "Polish_male_2_sample3",
              "Polish_female_1_sample1",
              "Polish_female_2_sample3",
              "Romanian_male_1_sample2",
              "Romanian_male_2_sample1",
              "Romanian_female_1_sample4",
              "Romanian_female_2_sample1",
              "greek_male_1a_v1",
              "Greek_female_1_sample1",
              "Greek_female_2_sample3",
              "czech_male_1_v1",
              "czech_female_5_v7",
              "czech_female_2_v2",
              "finnish_male_3_v1",
              "finnish_male_1_v2",
              "finnish_female_4_v1",
              "hindi_male_1_v2",
              "hindi_female_2_v1",
              "hindi_female_1_v2"
            ],
            "x-options": [
              {
                "label": "青涩青年音色",
                "value": "male-qn-qingse",
                "group": "中文 (普通话)"
              },
              {
                "label": "精英青年音色",
                "value": "male-qn-jingying",
                "group": "中文 (普通话)"
              },
              {
                "label": "霸道青年音色",
                "value": "male-qn-badao",
                "group": "中文 (普通话)"
              },
              {
                "label": "青年大学生音色",
                "value": "male-qn-daxuesheng",
                "group": "中文 (普通话)"
              },
              {
                "label": "少女音色",
                "value": "female-shaonv",
                "group": "中文 (普通话)"
              },
              {
                "label": "御姐音色",
                "value": "female-yujie",
                "group": "中文 (普通话)"
              },
              {
                "label": "成熟女性音色",
                "value": "female-chengshu",
                "group": "中文 (普通话)"
              },
              {
                "label": "甜美女性音色",
                "value": "female-tianmei",
                "group": "中文 (普通话)"
              },
              {
                "label": "青涩青年音色-beta",
                "value": "male-qn-qingse-jingpin",
                "group": "中文 (普通话)"
              },
              {
                "label": "精英青年音色-beta",
                "value": "male-qn-jingying-jingpin",
                "group": "中文 (普通话)"
              },
              {
                "label": "霸道青年音色-beta",
                "value": "male-qn-badao-jingpin",
                "group": "中文 (普通话)"
              },
              {
                "label": "青年大学生音色-beta",
                "value": "male-qn-daxuesheng-jingpin",
                "group": "中文 (普通话)"
              },
              {
                "label": "少女音色-beta",
                "value": "female-shaonv-jingpin",
                "group": "中文 (普通话)"
              },
              {
                "label": "御姐音色-beta",
                "value": "female-yujie-jingpin",
                "group": "中文 (普通话)"
              },
              {
                "label": "成熟女性音色-beta",
                "value": "female-chengshu-jingpin",
                "group": "中文 (普通话)"
              },
              {
                "label": "甜美女性音色-beta",
                "value": "female-tianmei-jingpin",
                "group": "中文 (普通话)"
              },
              {
                "label": "聪明男童",
                "value": "clever_boy",
                "group": "中文 (普通话)"
              },
              {
                "label": "可爱男童",
                "value": "cute_boy",
                "group": "中文 (普通话)"
              },
              {
                "label": "萌萌女童",
                "value": "lovely_girl",
                "group": "中文 (普通话)"
              },
              {
                "label": "卡通猪小琪",
                "value": "cartoon_pig",
                "group": "中文 (普通话)"
              },
              {
                "label": "病娇弟弟",
                "value": "bingjiao_didi",
                "group": "中文 (普通话)"
              },
              {
                "label": "俊朗男友",
                "value": "junlang_nanyou",
                "group": "中文 (普通话)"
              },
              {
                "label": "纯真学弟",
                "value": "chunzhen_xuedi",
                "group": "中文 (普通话)"
              },
              {
                "label": "冷淡学长",
                "value": "lengdan_xiongzhang",
                "group": "中文 (普通话)"
              },
              {
                "label": "霸道少爷",
                "value": "badao_shaoye",
                "group": "中文 (普通话)"
              },
              {
                "label": "甜心小玲",
                "value": "tianxin_xiaoling",
                "group": "中文 (普通话)"
              },
              {
                "label": "俏皮萌妹",
                "value": "qiaopi_mengmei",
                "group": "中文 (普通话)"
              },
              {
                "label": "妩媚御姐",
                "value": "wumei_yujie",
                "group": "中文 (普通话)"
              },
              {
                "label": "嗲嗲学妹",
                "value": "diadia_xuemei",
                "group": "中文 (普通话)"
              },
              {
                "label": "淡雅学姐",
                "value": "danya_xuejie",
                "group": "中文 (普通话)"
              },
              {
                "label": "沉稳高管",
                "value": "Chinese (Mandarin)_Reliable_Executive",
                "group": "中文 (普通话)"
              },
              {
                "label": "新闻女声",
                "value": "Chinese (Mandarin)_News_Anchor",
                "group": "中文 (普通话)"
              },
              {
                "label": "傲娇御姐",
                "value": "Chinese (Mandarin)_Mature_Woman",
                "group": "中文 (普通话)"
              },
              {
                "label": "不羁青年",
                "value": "Chinese (Mandarin)_Unrestrained_Young_Man",
                "group": "中文 (普通话)"
              },
              {
                "label": "嚣张小姐",
                "value": "Arrogant_Miss",
                "group": "中文 (普通话)"
              },
              {
                "label": "机械战甲",
                "value": "Robot_Armor",
                "group": "中文 (普通话)"
              },
              {
                "label": "热心大婶",
                "value": "Chinese (Mandarin)_Kind-hearted_Antie",
                "group": "中文 (普通话)"
              },
              {
                "label": "港普空姐",
                "value": "Chinese (Mandarin)_HK_Flight_Attendant",
                "group": "中文 (普通话)"
              },
              {
                "label": "搞笑大爷",
                "value": "Chinese (Mandarin)_Humorous_Elder",
                "group": "中文 (普通话)"
              },
              {
                "label": "温润男声",
                "value": "Chinese (Mandarin)_Gentleman",
                "group": "中文 (普通话)"
              },
              {
                "label": "温暖闺蜜",
                "value": "Chinese (Mandarin)_Warm_Bestie",
                "group": "中文 (普通话)"
              },
              {
                "label": "播报男声",
                "value": "Chinese (Mandarin)_Male_Announcer",
                "group": "中文 (普通话)"
              },
              {
                "label": "甜美女声",
                "value": "Chinese (Mandarin)_Sweet_Lady",
                "group": "中文 (普通话)"
              },
              {
                "label": "南方小哥",
                "value": "Chinese (Mandarin)_Southern_Young_Man",
                "group": "中文 (普通话)"
              },
              {
                "label": "阅历姐姐",
                "value": "Chinese (Mandarin)_Wise_Women",
                "group": "中文 (普通话)"
              },
              {
                "label": "温润青年",
                "value": "Chinese (Mandarin)_Gentle_Youth",
                "group": "中文 (普通话)"
              },
              {
                "label": "温暖少女",
                "value": "Chinese (Mandarin)_Warm_Girl",
                "group": "中文 (普通话)"
              },
              {
                "label": "花甲奶奶",
                "value": "Chinese (Mandarin)_Kind-hearted_Elder",
                "group": "中文 (普通话)"
              },
              {
                "label": "憨憨萌兽",
                "value": "Chinese (Mandarin)_Cute_Spirit",
                "group": "中文 (普通话)"
              },
              {
                "label": "电台男主播",
                "value": "Chinese (Mandarin)_Radio_Host",
                "group": "中文 (普通话)"
              },
              {
                "label": "抒情男声",
                "value": "Chinese (Mandarin)_Lyrical_Voice",
                "group": "中文 (普通话)"
              },
              {
                "label": "率真弟弟",
                "value": "Chinese (Mandarin)_Straightforward_Boy",
                "group": "中文 (普通话)"
              },
              {
                "label": "真诚青年",
                "value": "Chinese (Mandarin)_Sincere_Adult",
                "group": "中文 (普通话)"
              },
              {
                "label": "温柔学姐",
                "value": "Chinese (Mandarin)_Gentle_Senior",
                "group": "中文 (普通话)"
              },
              {
                "label": "嘴硬竹马",
                "value": "Chinese (Mandarin)_Stubborn_Friend",
                "group": "中文 (普通话)"
              },
              {
                "label": "清脆少女",
                "value": "Chinese (Mandarin)_Crisp_Girl",
                "group": "中文 (普通话)"
              },
              {
                "label": "清澈邻家弟弟",
                "value": "Chinese (Mandarin)_Pure-hearted_Boy",
                "group": "中文 (普通话)"
              },
              {
                "label": "柔和少女",
                "value": "Chinese (Mandarin)_Soft_Girl",
                "group": "中文 (普通话)"
              },
              {
                "label": "专业女主持",
                "value": "Cantonese_ProfessionalHost（F)",
                "group": "中文 (粤语)"
              },
              {
                "label": "温柔女声",
                "value": "Cantonese_GentleLady",
                "group": "中文 (粤语)"
              },
              {
                "label": "专业男主持",
                "value": "Cantonese_ProfessionalHost（M)",
                "group": "中文 (粤语)"
              },
              {
                "label": "活泼男声",
                "value": "Cantonese_PlayfulMan",
                "group": "中文 (粤语)"
              },
              {
                "label": "可爱女孩",
                "value": "Cantonese_CuteGirl",
                "group": "中文 (粤语)"
              },
              {
                "label": "善良女声",
                "value": "Cantonese_KindWoman",
                "group": "中文 (粤语)"
              },
              {
                "label": "Santa Claus",
                "value": "Santa_Claus",
                "group": "英文"
              },
              {
                "label": "Grinch",
                "value": "Grinch",
                "group": "英文"
              },
              {
                "label": "Rudolph",
                "value": "Rudolph",
                "group": "英文"
              },
              {
                "label": "Arnold",
                "value": "Arnold",
                "group": "英文"
              },
              {
                "label": "Charming Santa",
                "value": "Charming_Santa",
                "group": "英文"
              },
              {
                "label": "Charming Lady",
                "value": "Charming_Lady",
                "group": "英文"
              },
              {
                "label": "Sweet Girl",
                "value": "Sweet_Girl",
                "group": "英文"
              },
              {
                "label": "Cute Elf",
                "value": "Cute_Elf",
                "group": "英文"
              },
              {
                "label": "Attractive Girl",
                "value": "Attractive_Girl",
                "group": "英文"
              },
              {
                "label": "Serene Woman",
                "value": "Serene_Woman",
                "group": "英文"
              },
              {
                "label": "Trustworthy Man",
                "value": "English_Trustworthy_Man",
                "group": "英文"
              },
              {
                "label": "Graceful Lady",
                "value": "English_Graceful_Lady",
                "group": "英文"
              },
              {
                "label": "Aussie Bloke",
                "value": "English_Aussie_Bloke",
                "group": "英文"
              },
              {
                "label": "Whispering girl",
                "value": "English_Whispering_girl",
                "group": "英文"
              },
              {
                "label": "Diligent Man",
                "value": "English_Diligent_Man",
                "group": "英文"
              },
              {
                "label": "Gentle-voiced man",
                "value": "English_Gentle-voiced_man",
                "group": "英文"
              },
              {
                "label": "Intellectual Senior",
                "value": "Japanese_IntellectualSenior",
                "group": "日文"
              },
              {
                "label": "Decisive Princess",
                "value": "Japanese_DecisivePrincess",
                "group": "日文"
              },
              {
                "label": "Loyal Knight",
                "value": "Japanese_LoyalKnight",
                "group": "日文"
              },
              {
                "label": "Dominant Man",
                "value": "Japanese_DominantMan",
                "group": "日文"
              },
              {
                "label": "Serious Commander",
                "value": "Japanese_SeriousCommander",
                "group": "日文"
              },
              {
                "label": "Cold Queen",
                "value": "Japanese_ColdQueen",
                "group": "日文"
              },
              {
                "label": "Dependable Woman",
                "value": "Japanese_DependableWoman",
                "group": "日文"
              },
              {
                "label": "Gentle Butler",
                "value": "Japanese_GentleButler",
                "group": "日文"
              },
              {
                "label": "Kind Lady",
                "value": "Japanese_KindLady",
                "group": "日文"
              },
              {
                "label": "Calm Lady",
                "value": "Japanese_CalmLady",
                "group": "日文"
              },
              {
                "label": "Optimistic Youth",
                "value": "Japanese_OptimisticYouth",
                "group": "日文"
              },
              {
                "label": "Generous Izakaya Owner",
                "value": "Japanese_GenerousIzakayaOwner",
                "group": "日文"
              },
              {
                "label": "Sporty Student",
                "value": "Japanese_SportyStudent",
                "group": "日文"
              },
              {
                "label": "Innocent Boy",
                "value": "Japanese_InnocentBoy",
                "group": "日文"
              },
              {
                "label": "Graceful Maiden",
                "value": "Japanese_GracefulMaiden",
                "group": "日文"
              },
              {
                "label": "Sweet Girl",
                "value": "Korean_SweetGirl",
                "group": "韩文"
              },
              {
                "label": "Cheerful Boyfriend",
                "value": "Korean_CheerfulBoyfriend",
                "group": "韩文"
              },
              {
                "label": "Enchanting Sister",
                "value": "Korean_EnchantingSister",
                "group": "韩文"
              },
              {
                "label": "Shy Girl",
                "value": "Korean_ShyGirl",
                "group": "韩文"
              },
              {
                "label": "Reliable Sister",
                "value": "Korean_ReliableSister",
                "group": "韩文"
              },
              {
                "label": "Strict Boss",
                "value": "Korean_StrictBoss",
                "group": "韩文"
              },
              {
                "label": "Sassy Girl",
                "value": "Korean_SassyGirl",
                "group": "韩文"
              },
              {
                "label": "Childhood Friend Girl",
                "value": "Korean_ChildhoodFriendGirl",
                "group": "韩文"
              },
              {
                "label": "Playboy Charmer",
                "value": "Korean_PlayboyCharmer",
                "group": "韩文"
              },
              {
                "label": "Elegant Princess",
                "value": "Korean_ElegantPrincess",
                "group": "韩文"
              },
              {
                "label": "Brave Female Warrior",
                "value": "Korean_BraveFemaleWarrior",
                "group": "韩文"
              },
              {
                "label": "Brave Youth",
                "value": "Korean_BraveYouth",
                "group": "韩文"
              },
              {
                "label": "Calm Lady",
                "value": "Korean_CalmLady",
                "group": "韩文"
              },
              {
                "label": "Enthusiastic Teen",
                "value": "Korean_EnthusiasticTeen",
                "group": "韩文"
              },
              {
                "label": "Soothing Lady",
                "value": "Korean_SoothingLady",
                "group": "韩文"
              },
              {
                "label": "Intellectual Senior",
                "value": "Korean_IntellectualSenior",
                "group": "韩文"
              },
              {
                "label": "Lonely Warrior",
                "value": "Korean_LonelyWarrior",
                "group": "韩文"
              },
              {
                "label": "Mature Lady",
                "value": "Korean_MatureLady",
                "group": "韩文"
              },
              {
                "label": "Innocent Boy",
                "value": "Korean_InnocentBoy",
                "group": "韩文"
              },
              {
                "label": "Charming Sister",
                "value": "Korean_CharmingSister",
                "group": "韩文"
              },
              {
                "label": "Athletic Student",
                "value": "Korean_AthleticStudent",
                "group": "韩文"
              },
              {
                "label": "Brave Adventurer",
                "value": "Korean_BraveAdventurer",
                "group": "韩文"
              },
              {
                "label": "Calm Gentleman",
                "value": "Korean_CalmGentleman",
                "group": "韩文"
              },
              {
                "label": "Wise Elf",
                "value": "Korean_WiseElf",
                "group": "韩文"
              },
              {
                "label": "Cheerful Cool Junior",
                "value": "Korean_CheerfulCoolJunior",
                "group": "韩文"
              },
              {
                "label": "Decisive Queen",
                "value": "Korean_DecisiveQueen",
                "group": "韩文"
              },
              {
                "label": "Cold Young Man",
                "value": "Korean_ColdYoungMan",
                "group": "韩文"
              },
              {
                "label": "Mysterious Girl",
                "value": "Korean_MysteriousGirl",
                "group": "韩文"
              },
              {
                "label": "Quirky Girl",
                "value": "Korean_QuirkyGirl",
                "group": "韩文"
              },
              {
                "label": "Considerate Senior",
                "value": "Korean_ConsiderateSenior",
                "group": "韩文"
              },
              {
                "label": "Cheerful Little Sister",
                "value": "Korean_CheerfulLittleSister",
                "group": "韩文"
              },
              {
                "label": "Dominant Man",
                "value": "Korean_DominantMan",
                "group": "韩文"
              },
              {
                "label": "Airheaded Girl",
                "value": "Korean_AirheadedGirl",
                "group": "韩文"
              },
              {
                "label": "Reliable Youth",
                "value": "Korean_ReliableYouth",
                "group": "韩文"
              },
              {
                "label": "Friendly Big Sister",
                "value": "Korean_FriendlyBigSister",
                "group": "韩文"
              },
              {
                "label": "Gentle Boss",
                "value": "Korean_GentleBoss",
                "group": "韩文"
              },
              {
                "label": "Cold Girl",
                "value": "Korean_ColdGirl",
                "group": "韩文"
              },
              {
                "label": "Haughty Lady",
                "value": "Korean_HaughtyLady",
                "group": "韩文"
              },
              {
                "label": "Charming Elder Sister",
                "value": "Korean_CharmingElderSister",
                "group": "韩文"
              },
              {
                "label": "Intellectual Man",
                "value": "Korean_IntellectualMan",
                "group": "韩文"
              },
              {
                "label": "Caring Woman",
                "value": "Korean_CaringWoman",
                "group": "韩文"
              },
              {
                "label": "Wise Teacher",
                "value": "Korean_WiseTeacher",
                "group": "韩文"
              },
              {
                "label": "Confident Boss",
                "value": "Korean_ConfidentBoss",
                "group": "韩文"
              },
              {
                "label": "Athletic Girl",
                "value": "Korean_AthleticGirl",
                "group": "韩文"
              },
              {
                "label": "Possessive Man",
                "value": "Korean_PossessiveMan",
                "group": "韩文"
              },
              {
                "label": "Gentle Woman",
                "value": "Korean_GentleWoman",
                "group": "韩文"
              },
              {
                "label": "Cocky Guy",
                "value": "Korean_CockyGuy",
                "group": "韩文"
              },
              {
                "label": "Thoughtful Woman",
                "value": "Korean_ThoughtfulWoman",
                "group": "韩文"
              },
              {
                "label": "Optimistic Youth",
                "value": "Korean_OptimisticYouth",
                "group": "韩文"
              },
              {
                "label": "Serene Woman",
                "value": "Spanish_SereneWoman",
                "group": "西班牙文"
              },
              {
                "label": "Mature Partner",
                "value": "Spanish_MaturePartner",
                "group": "西班牙文"
              },
              {
                "label": "Captivating Storyteller",
                "value": "Spanish_CaptivatingStoryteller",
                "group": "西班牙文"
              },
              {
                "label": "Narrator",
                "value": "Spanish_Narrator",
                "group": "西班牙文"
              },
              {
                "label": "Wise Scholar",
                "value": "Spanish_WiseScholar",
                "group": "西班牙文"
              },
              {
                "label": "Kind-hearted Girl",
                "value": "Spanish_Kind-heartedGirl",
                "group": "西班牙文"
              },
              {
                "label": "Determined Manager",
                "value": "Spanish_DeterminedManager",
                "group": "西班牙文"
              },
              {
                "label": "Bossy Leader",
                "value": "Spanish_BossyLeader",
                "group": "西班牙文"
              },
              {
                "label": "Reserved Young Man",
                "value": "Spanish_ReservedYoungMan",
                "group": "西班牙文"
              },
              {
                "label": "Confident Woman",
                "value": "Spanish_ConfidentWoman",
                "group": "西班牙文"
              },
              {
                "label": "Thoughtful Man",
                "value": "Spanish_ThoughtfulMan",
                "group": "西班牙文"
              },
              {
                "label": "Strong-willed Boy",
                "value": "Spanish_Strong-WilledBoy",
                "group": "西班牙文"
              },
              {
                "label": "Sophisticated Lady",
                "value": "Spanish_SophisticatedLady",
                "group": "西班牙文"
              },
              {
                "label": "Rational Man",
                "value": "Spanish_RationalMan",
                "group": "西班牙文"
              },
              {
                "label": "Anime Character",
                "value": "Spanish_AnimeCharacter",
                "group": "西班牙文"
              },
              {
                "label": "Deep-toned Man",
                "value": "Spanish_Deep-tonedMan",
                "group": "西班牙文"
              },
              {
                "label": "Fussy hostess",
                "value": "Spanish_Fussyhostess",
                "group": "西班牙文"
              },
              {
                "label": "Sincere Teen",
                "value": "Spanish_SincereTeen",
                "group": "西班牙文"
              },
              {
                "label": "Frank Lady",
                "value": "Spanish_FrankLady",
                "group": "西班牙文"
              },
              {
                "label": "Comedian",
                "value": "Spanish_Comedian",
                "group": "西班牙文"
              },
              {
                "label": "Debator",
                "value": "Spanish_Debator",
                "group": "西班牙文"
              },
              {
                "label": "Tough Boss",
                "value": "Spanish_ToughBoss",
                "group": "西班牙文"
              },
              {
                "label": "Wise Lady",
                "value": "Spanish_Wiselady",
                "group": "西班牙文"
              },
              {
                "label": "Steady Mentor",
                "value": "Spanish_Steadymentor",
                "group": "西班牙文"
              },
              {
                "label": "Jovial Man",
                "value": "Spanish_Jovialman",
                "group": "西班牙文"
              },
              {
                "label": "Santa Claus",
                "value": "Spanish_SantaClaus",
                "group": "西班牙文"
              },
              {
                "label": "Rudolph",
                "value": "Spanish_Rudolph",
                "group": "西班牙文"
              },
              {
                "label": "Intonate Girl",
                "value": "Spanish_Intonategirl",
                "group": "西班牙文"
              },
              {
                "label": "Arnold",
                "value": "Spanish_Arnold",
                "group": "西班牙文"
              },
              {
                "label": "Ghost",
                "value": "Spanish_Ghost",
                "group": "西班牙文"
              },
              {
                "label": "Humorous Elder",
                "value": "Spanish_HumorousElder",
                "group": "西班牙文"
              },
              {
                "label": "Energetic Boy",
                "value": "Spanish_EnergeticBoy",
                "group": "西班牙文"
              },
              {
                "label": "Whimsical Girl",
                "value": "Spanish_WhimsicalGirl",
                "group": "西班牙文"
              },
              {
                "label": "Strict Boss",
                "value": "Spanish_StrictBoss",
                "group": "西班牙文"
              },
              {
                "label": "Reliable Man",
                "value": "Spanish_ReliableMan",
                "group": "西班牙文"
              },
              {
                "label": "Serene Elder",
                "value": "Spanish_SereneElder",
                "group": "西班牙文"
              },
              {
                "label": "Angry Man",
                "value": "Spanish_AngryMan",
                "group": "西班牙文"
              },
              {
                "label": "Assertive Queen",
                "value": "Spanish_AssertiveQueen",
                "group": "西班牙文"
              },
              {
                "label": "Caring Girlfriend",
                "value": "Spanish_CaringGirlfriend",
                "group": "西班牙文"
              },
              {
                "label": "Powerful Soldier",
                "value": "Spanish_PowerfulSoldier",
                "group": "西班牙文"
              },
              {
                "label": "Passionate Warrior",
                "value": "Spanish_PassionateWarrior",
                "group": "西班牙文"
              },
              {
                "label": "Chatty Girl",
                "value": "Spanish_ChattyGirl",
                "group": "西班牙文"
              },
              {
                "label": "Romantic Husband",
                "value": "Spanish_RomanticHusband",
                "group": "西班牙文"
              },
              {
                "label": "Compelling Girl",
                "value": "Spanish_CompellingGirl",
                "group": "西班牙文"
              },
              {
                "label": "Powerful Veteran",
                "value": "Spanish_PowerfulVeteran",
                "group": "西班牙文"
              },
              {
                "label": "Sensible Manager",
                "value": "Spanish_SensibleManager",
                "group": "西班牙文"
              },
              {
                "label": "Thoughtful Lady",
                "value": "Spanish_ThoughtfulLady",
                "group": "西班牙文"
              },
              {
                "label": "Sentimental Lady",
                "value": "Portuguese_SentimentalLady",
                "group": "葡萄牙文"
              },
              {
                "label": "Bossy Leader",
                "value": "Portuguese_BossyLeader",
                "group": "葡萄牙文"
              },
              {
                "label": "Wise lady",
                "value": "Portuguese_Wiselady",
                "group": "葡萄牙文"
              },
              {
                "label": "Strong-willed Boy",
                "value": "Portuguese_Strong-WilledBoy",
                "group": "葡萄牙文"
              },
              {
                "label": "Deep-voiced Gentleman",
                "value": "Portuguese_Deep-VoicedGentleman",
                "group": "葡萄牙文"
              },
              {
                "label": "Upset Girl",
                "value": "Portuguese_UpsetGirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Passionate Warrior",
                "value": "Portuguese_PassionateWarrior",
                "group": "葡萄牙文"
              },
              {
                "label": "Anime Character",
                "value": "Portuguese_AnimeCharacter",
                "group": "葡萄牙文"
              },
              {
                "label": "Confident Woman",
                "value": "Portuguese_ConfidentWoman",
                "group": "葡萄牙文"
              },
              {
                "label": "Angry Man",
                "value": "Portuguese_AngryMan",
                "group": "葡萄牙文"
              },
              {
                "label": "Captivating Storyteller",
                "value": "Portuguese_CaptivatingStoryteller",
                "group": "葡萄牙文"
              },
              {
                "label": "Godfather",
                "value": "Portuguese_Godfather",
                "group": "葡萄牙文"
              },
              {
                "label": "Reserved Young Man",
                "value": "Portuguese_ReservedYoungMan",
                "group": "葡萄牙文"
              },
              {
                "label": "Smart Young Girl",
                "value": "Portuguese_SmartYoungGirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Kind-hearted Girl",
                "value": "Portuguese_Kind-heartedGirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Pompous lady",
                "value": "Portuguese_Pompouslady",
                "group": "葡萄牙文"
              },
              {
                "label": "Grinch",
                "value": "Portuguese_Grinch",
                "group": "葡萄牙文"
              },
              {
                "label": "Debator",
                "value": "Portuguese_Debator",
                "group": "葡萄牙文"
              },
              {
                "label": "Sweet Girl",
                "value": "Portuguese_SweetGirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Attractive Girl",
                "value": "Portuguese_AttractiveGirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Thoughtful Man",
                "value": "Portuguese_ThoughtfulMan",
                "group": "葡萄牙文"
              },
              {
                "label": "Playful Girl",
                "value": "Portuguese_PlayfulGirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Gorgeous Lady",
                "value": "Portuguese_GorgeousLady",
                "group": "葡萄牙文"
              },
              {
                "label": "Lovely Lady",
                "value": "Portuguese_LovelyLady",
                "group": "葡萄牙文"
              },
              {
                "label": "Serene Woman",
                "value": "Portuguese_SereneWoman",
                "group": "葡萄牙文"
              },
              {
                "label": "Sad Teen",
                "value": "Portuguese_SadTeen",
                "group": "葡萄牙文"
              },
              {
                "label": "Mature Partner",
                "value": "Portuguese_MaturePartner",
                "group": "葡萄牙文"
              },
              {
                "label": "Comedian",
                "value": "Portuguese_Comedian",
                "group": "葡萄牙文"
              },
              {
                "label": "Naughty Schoolgirl",
                "value": "Portuguese_NaughtySchoolgirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Narrator",
                "value": "Portuguese_Narrator",
                "group": "葡萄牙文"
              },
              {
                "label": "Tough Boss",
                "value": "Portuguese_ToughBoss",
                "group": "葡萄牙文"
              },
              {
                "label": "Fussy hostess",
                "value": "Portuguese_Fussyhostess",
                "group": "葡萄牙文"
              },
              {
                "label": "Dramatist",
                "value": "Portuguese_Dramatist",
                "group": "葡萄牙文"
              },
              {
                "label": "Steady Mentor",
                "value": "Portuguese_Steadymentor",
                "group": "葡萄牙文"
              },
              {
                "label": "Jovial Man",
                "value": "Portuguese_Jovialman",
                "group": "葡萄牙文"
              },
              {
                "label": "Charming Queen",
                "value": "Portuguese_CharmingQueen",
                "group": "葡萄牙文"
              },
              {
                "label": "Santa Claus",
                "value": "Portuguese_SantaClaus",
                "group": "葡萄牙文"
              },
              {
                "label": "Rudolph",
                "value": "Portuguese_Rudolph",
                "group": "葡萄牙文"
              },
              {
                "label": "Arnold",
                "value": "Portuguese_Arnold",
                "group": "葡萄牙文"
              },
              {
                "label": "Charming Santa",
                "value": "Portuguese_CharmingSanta",
                "group": "葡萄牙文"
              },
              {
                "label": "Charming Lady",
                "value": "Portuguese_CharmingLady",
                "group": "葡萄牙文"
              },
              {
                "label": "Ghost",
                "value": "Portuguese_Ghost",
                "group": "葡萄牙文"
              },
              {
                "label": "Humorous Elder",
                "value": "Portuguese_HumorousElder",
                "group": "葡萄牙文"
              },
              {
                "label": "Calm Leader",
                "value": "Portuguese_CalmLeader",
                "group": "葡萄牙文"
              },
              {
                "label": "Gentle Teacher",
                "value": "Portuguese_GentleTeacher",
                "group": "葡萄牙文"
              },
              {
                "label": "Energetic Boy",
                "value": "Portuguese_EnergeticBoy",
                "group": "葡萄牙文"
              },
              {
                "label": "Reliable Man",
                "value": "Portuguese_ReliableMan",
                "group": "葡萄牙文"
              },
              {
                "label": "Serene Elder",
                "value": "Portuguese_SereneElder",
                "group": "葡萄牙文"
              },
              {
                "label": "Grim Reaper",
                "value": "Portuguese_GrimReaper",
                "group": "葡萄牙文"
              },
              {
                "label": "Assertive Queen",
                "value": "Portuguese_AssertiveQueen",
                "group": "葡萄牙文"
              },
              {
                "label": "Whimsical Girl",
                "value": "Portuguese_WhimsicalGirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Stressed Lady",
                "value": "Portuguese_StressedLady",
                "group": "葡萄牙文"
              },
              {
                "label": "Friendly Neighbor",
                "value": "Portuguese_FriendlyNeighbor",
                "group": "葡萄牙文"
              },
              {
                "label": "Caring Girlfriend",
                "value": "Portuguese_CaringGirlfriend",
                "group": "葡萄牙文"
              },
              {
                "label": "Powerful Soldier",
                "value": "Portuguese_PowerfulSoldier",
                "group": "葡萄牙文"
              },
              {
                "label": "Fascinating Boy",
                "value": "Portuguese_FascinatingBoy",
                "group": "葡萄牙文"
              },
              {
                "label": "Romantic Husband",
                "value": "Portuguese_RomanticHusband",
                "group": "葡萄牙文"
              },
              {
                "label": "Strict Boss",
                "value": "Portuguese_StrictBoss",
                "group": "葡萄牙文"
              },
              {
                "label": "Inspiring Lady",
                "value": "Portuguese_InspiringLady",
                "group": "葡萄牙文"
              },
              {
                "label": "Playful Spirit",
                "value": "Portuguese_PlayfulSpirit",
                "group": "葡萄牙文"
              },
              {
                "label": "Elegant Girl",
                "value": "Portuguese_ElegantGirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Compelling Girl",
                "value": "Portuguese_CompellingGirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Powerful Veteran",
                "value": "Portuguese_PowerfulVeteran",
                "group": "葡萄牙文"
              },
              {
                "label": "Sensible Manager",
                "value": "Portuguese_SensibleManager",
                "group": "葡萄牙文"
              },
              {
                "label": "Thoughtful Lady",
                "value": "Portuguese_ThoughtfulLady",
                "group": "葡萄牙文"
              },
              {
                "label": "Theatrical Actor",
                "value": "Portuguese_TheatricalActor",
                "group": "葡萄牙文"
              },
              {
                "label": "Fragile Boy",
                "value": "Portuguese_FragileBoy",
                "group": "葡萄牙文"
              },
              {
                "label": "Chatty Girl",
                "value": "Portuguese_ChattyGirl",
                "group": "葡萄牙文"
              },
              {
                "label": "Conscientious Instructor",
                "value": "Portuguese_Conscientiousinstructor",
                "group": "葡萄牙文"
              },
              {
                "label": "Rational Man",
                "value": "Portuguese_RationalMan",
                "group": "葡萄牙文"
              },
              {
                "label": "Wise Scholar",
                "value": "Portuguese_WiseScholar",
                "group": "葡萄牙文"
              },
              {
                "label": "Frank Lady",
                "value": "Portuguese_FrankLady",
                "group": "葡萄牙文"
              },
              {
                "label": "Determined Manager",
                "value": "Portuguese_DeterminedManager",
                "group": "葡萄牙文"
              },
              {
                "label": "Level-Headed Man",
                "value": "French_Male_Speech_New",
                "group": "法文"
              },
              {
                "label": "Patient Female Presenter",
                "value": "French_Female_News Anchor",
                "group": "法文"
              },
              {
                "label": "Casual Man",
                "value": "French_CasualMan",
                "group": "法文"
              },
              {
                "label": "Movie Lead Female",
                "value": "French_MovieLeadFemale",
                "group": "法文"
              },
              {
                "label": "Female Anchor",
                "value": "French_FemaleAnchor",
                "group": "法文"
              },
              {
                "label": "Male Narrator",
                "value": "French_MaleNarrator",
                "group": "法文"
              },
              {
                "label": "Sweet Girl",
                "value": "Indonesian_SweetGirl",
                "group": "印尼文"
              },
              {
                "label": "Reserved Young Man",
                "value": "Indonesian_ReservedYoungMan",
                "group": "印尼文"
              },
              {
                "label": "Charming Girl",
                "value": "Indonesian_CharmingGirl",
                "group": "印尼文"
              },
              {
                "label": "Calm Woman",
                "value": "Indonesian_CalmWoman",
                "group": "印尼文"
              },
              {
                "label": "Confident Woman",
                "value": "Indonesian_ConfidentWoman",
                "group": "印尼文"
              },
              {
                "label": "Caring Man",
                "value": "Indonesian_CaringMan",
                "group": "印尼文"
              },
              {
                "label": "Bossy Leader",
                "value": "Indonesian_BossyLeader",
                "group": "印尼文"
              },
              {
                "label": "Determined Boy",
                "value": "Indonesian_DeterminedBoy",
                "group": "印尼文"
              },
              {
                "label": "Gentle Girl",
                "value": "Indonesian_GentleGirl",
                "group": "印尼文"
              },
              {
                "label": "Friendly Man",
                "value": "German_FriendlyMan",
                "group": "德文"
              },
              {
                "label": "Sweet Lady",
                "value": "German_SweetLady",
                "group": "德文"
              },
              {
                "label": "Playful Man",
                "value": "German_PlayfulMan",
                "group": "德文"
              },
              {
                "label": "Handsome Childhood Friend",
                "value": "Russian_HandsomeChildhoodFriend",
                "group": "俄文"
              },
              {
                "label": "Bright Queen",
                "value": "Russian_BrightHeroine",
                "group": "俄文"
              },
              {
                "label": "Ambitious Woman",
                "value": "Russian_AmbitiousWoman",
                "group": "俄文"
              },
              {
                "label": "Reliable Man",
                "value": "Russian_ReliableMan",
                "group": "俄文"
              },
              {
                "label": "Crazy Girl",
                "value": "Russian_CrazyQueen",
                "group": "俄文"
              },
              {
                "label": "Pessimistic Girl",
                "value": "Russian_PessimisticGirl",
                "group": "俄文"
              },
              {
                "label": "Attractive Guy",
                "value": "Russian_AttractiveGuy",
                "group": "俄文"
              },
              {
                "label": "Bad-tempered Boy",
                "value": "Russian_Bad-temperedBoy",
                "group": "俄文"
              },
              {
                "label": "Brave Heroine",
                "value": "Italian_BraveHeroine",
                "group": "意大利文"
              },
              {
                "label": "Narrator",
                "value": "Italian_Narrator",
                "group": "意大利文"
              },
              {
                "label": "Wandering Sorcerer",
                "value": "Italian_WanderingSorcerer",
                "group": "意大利文"
              },
              {
                "label": "Diligent Leader",
                "value": "Italian_DiligentLeader",
                "group": "意大利文"
              },
              {
                "label": "Calm Woman",
                "value": "Arabic_CalmWoman",
                "group": "阿拉伯文"
              },
              {
                "label": "Friendly Guy",
                "value": "Arabic_FriendlyGuy",
                "group": "阿拉伯文"
              },
              {
                "label": "Calm Woman",
                "value": "Turkish_CalmWoman",
                "group": "土耳其文"
              },
              {
                "label": "Trustworthy man",
                "value": "Turkish_Trustworthyman",
                "group": "土耳其文"
              },
              {
                "label": "Calm Woman",
                "value": "Ukrainian_CalmWoman",
                "group": "乌克兰文"
              },
              {
                "label": "Wise Scholar",
                "value": "Ukrainian_WiseScholar",
                "group": "乌克兰文"
              },
              {
                "label": "Kind-hearted girl",
                "value": "Dutch_kindhearted_girl",
                "group": "荷兰文"
              },
              {
                "label": "Bossy leader",
                "value": "Dutch_bossy_leader",
                "group": "荷兰文"
              },
              {
                "label": "Kind-hearted girl",
                "value": "Vietnamese_kindhearted_girl",
                "group": "越南文"
              },
              {
                "label": "Serene Man",
                "value": "Thai_male_1_sample8",
                "group": "泰文"
              },
              {
                "label": "Friendly Man",
                "value": "Thai_male_2_sample2",
                "group": "泰文"
              },
              {
                "label": "Confident Woman",
                "value": "Thai_female_1_sample1",
                "group": "泰文"
              },
              {
                "label": "Energetic Woman",
                "value": "Thai_female_2_sample2",
                "group": "泰文"
              },
              {
                "label": "Male Narrator",
                "value": "Polish_male_1_sample4",
                "group": "波兰文"
              },
              {
                "label": "Male Anchor",
                "value": "Polish_male_2_sample3",
                "group": "波兰文"
              },
              {
                "label": "Calm Woman",
                "value": "Polish_female_1_sample1",
                "group": "波兰文"
              },
              {
                "label": "Casual Woman",
                "value": "Polish_female_2_sample3",
                "group": "波兰文"
              },
              {
                "label": "Reliable Man",
                "value": "Romanian_male_1_sample2",
                "group": "罗马尼亚文"
              },
              {
                "label": "Energetic Youth",
                "value": "Romanian_male_2_sample1",
                "group": "罗马尼亚文"
              },
              {
                "label": "Optimistic Youth",
                "value": "Romanian_female_1_sample4",
                "group": "罗马尼亚文"
              },
              {
                "label": "Gentle Woman",
                "value": "Romanian_female_2_sample1",
                "group": "罗马尼亚文"
              },
              {
                "label": "Thoughtful Mentor",
                "value": "greek_male_1a_v1",
                "group": "希腊文"
              },
              {
                "label": "Gentle Lady",
                "value": "Greek_female_1_sample1",
                "group": "希腊文"
              },
              {
                "label": "Girl Next Door",
                "value": "Greek_female_2_sample3",
                "group": "希腊文"
              },
              {
                "label": "Assured Presenter",
                "value": "czech_male_1_v1",
                "group": "捷克文"
              },
              {
                "label": "Steadfast Narrator",
                "value": "czech_female_5_v7",
                "group": "捷克文"
              },
              {
                "label": "Elegant Lady",
                "value": "czech_female_2_v2",
                "group": "捷克文"
              },
              {
                "label": "Upbeat Man",
                "value": "finnish_male_3_v1",
                "group": "芬兰文"
              },
              {
                "label": "Friendly Boy",
                "value": "finnish_male_1_v2",
                "group": "芬兰文"
              },
              {
                "label": "Assetive Woman",
                "value": "finnish_female_4_v1",
                "group": "芬兰文"
              },
              {
                "label": "Trustworthy Advisor",
                "value": "hindi_male_1_v2",
                "group": "印地文"
              },
              {
                "label": "Tranquil Woman",
                "value": "hindi_female_2_v1",
                "group": "印地文"
              },
              {
                "label": "News Anchor",
                "value": "hindi_female_1_v2",
                "group": "印地文"
              }
            ]
          },
          "speed": {
            "type": "number",
            "description": "语速，会映射到上游 `voice_setting.speed`。",
            "minimum": 0.5,
            "maximum": 2,
            "default": 1
          },
          "response_format": {
            "type": "string",
            "description": "目标音频编码格式，会映射到上游 `audio_setting.format`。常见值包括 `mp3`、`wav`、`pcm`。",
            "enum": [
              "mp3",
              "wav",
              "pcm"
            ]
          },
          "stream_format": {
            "type": "string",
            "description": "流式触发字段。任何非空值都会启用上游 `stream=true`；当前项目仅使用其“非空”语义，不额外约束具体取值。"
          },
          "metadata": {
            "type": "object",
            "description": "MiniMax 扩展字段容器。当前公开稳定字段仅包含 `output_format`。",
            "properties": {
              "output_format": {
                "type": "string",
                "enum": [
                  "url",
                  "hex"
                ],
                "description": "控制输出结果形式的参数，可选值范围为[url, hex]，默认值为 hex 。该参数仅在非流式场景生效，流式场景仅支持返回 hex 形式"
              }
            },
            "additionalProperties": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "required": [
          "message",
          "type",
          "param",
          "code"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "param": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}
