{
  "openapi": "3.0.1",
  "info": {
    "title": "Moonshot Chat Completions",
    "version": "1.0.0",
    "description": "Customer-facing bilingual OpenAPI documentation for Moonshot Chat Completion. The public endpoint is `/v1/chat/completions`, following an OpenAI-compatible Chat Completions request shape.\n\nThis document is generated from the official chat page captured at `docs/channels/moonshot/chat.html` and then narrowed to the subset of fields that both appear on that official page and are currently implemented by this gateway's Moonshot channel: `model`, `messages`, `max_tokens`, `max_completion_tokens`, `temperature`, `top_p`, `n`, `presence_penalty`, `frequency_penalty`, `response_format`, `stop`, `thinking`, `stream`, `stream_options.include_usage`, and `prompt_cache_key`.\n\nThe built-in model list in this gateway currently focuses on the Kimi K2 family. Actual availability still depends on your channel configuration.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Moonshot Chat",
      "description": "Moonshot/Kimi chat completion capability"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Moonshot Chat Completions",
        "description": "Invoke Moonshot/Kimi chat completions.\n\nThe Moonshot models built into this gateway currently include `kimi-k2.5`, `kimi-k2-0905-preview`, `kimi-k2-turbo-preview`, `kimi-k2-thinking`, and `kimi-k2-thinking-turbo`.\n\nPublic fields: `model`, `messages`, `max_tokens`, `max_completion_tokens`, `temperature`, `top_p`, `n`, `presence_penalty`, `frequency_penalty`, `response_format`, `stop`, `thinking`, `stream`, `stream_options.include_usage`, and `prompt_cache_key`.",
        "operationId": "moonshotChatCompletions",
        "tags": [
          "Moonshot Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "basic_chat": {
                  "summary": "Basic text chat",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a concise and professional assistant."
                      },
                      {
                        "role": "user",
                        "content": "Explain context caching in three sentences."
                      }
                    ],
                    "max_completion_tokens": 512
                  }
                },
                "json_mode": {
                  "summary": "JSON output mode",
                  "value": {
                    "model": "kimi-k2-turbo-preview",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Return a JSON object with summary and keywords fields."
                      }
                    ],
                    "response_format": {
                      "type": "json_object"
                    },
                    "stream": false
                  }
                },
                "thinking_stream": {
                  "summary": "Thinking mode with streaming",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Analyze the main differences between vector databases and full-text search."
                      }
                    ],
                    "thinking": {
                      "type": "enabled"
                    },
                    "stream": true,
                    "stream_options": {
                      "include_usage": true
                    },
                    "prompt_cache_key": "session-42"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Non-streaming mode returns JSON, and streaming mode returns an SSE event stream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Non-streaming success response",
                    "value": {
                      "id": "cmpl-1305b94c570f447fbde3180560736287",
                      "object": "chat.completion",
                      "created": 1698999575,
                      "model": "kimi-k2.5",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "Context caching reuses prefix computation from similar requests to reduce both latency and cost."
                          },
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 19,
                        "completion_tokens": 13,
                        "total_tokens": 32
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE payload. Each `data:` event can be parsed as a Moonshot/OpenAI-compatible chat completion chunk. The stream usually ends with `data: [DONE]`."
                },
                "examples": {
                  "stream": {
                    "summary": "Streaming response snippet",
                    "value": "data: {\"id\":\"cmpl-1305b94c570f447fbde3180560736287\",\"object\":\"chat.completion.chunk\",\"created\":1698999575,\"model\":\"kimi-k2.5\",\"choices\":[{\"index\":0,\"delta\":{\"role\":\"assistant\",\"content\":\"Hello\"},\"finish_reason\":null}]}\n\ndata: {\"id\":\"cmpl-1305b94c570f447fbde3180560736287\",\"object\":\"chat.completion.chunk\",\"created\":1698999575,\"model\":\"kimi-k2.5\",\"choices\":[{\"index\":0,\"delta\":{},\"finish_reason\":\"stop\"}],\"usage\":{\"prompt_tokens\":19,\"completion_tokens\":13,\"total_tokens\":32}}\n\ndata: [DONE]\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Bad request",
                    "value": {
                      "error": {
                        "message": "Invalid request: messages is required",
                        "type": "invalid_request_error",
                        "code": "invalid_request_error"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The model does not exist or is not accessible.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "not_found": {
                    "summary": "Model not found",
                    "value": {
                      "error": {
                        "message": "Not found the model kimi-unknown or Permission denied",
                        "type": "resource_not_found_error",
                        "code": "resource_not_found_error"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded or the upstream engine is overloaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Rate limited",
                    "value": {
                      "error": {
                        "message": "Your account request reached organization max RPM",
                        "type": "rate_limit_reached_error",
                        "code": "rate_limit_reached_error"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "Send `Authorization: Bearer <token>` in the request headers."
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "description": "Request body for Moonshot chat completions.",
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name. The Moonshot models built into this gateway currently include `kimi-k2.5`, `kimi-k2-0905-preview`, `kimi-k2-turbo-preview`, `kimi-k2-thinking`, and `kimi-k2-thinking-turbo`. Actual availability still depends on channel configuration.",
            "example": "kimi-k2.5"
          },
          "messages": {
            "type": "array",
            "description": "Conversation message list. Every item contains `role` and `content`. `content` can be a string or a multimodal content-part array.",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "max_tokens": {
            "type": "integer",
            "deprecated": true,
            "description": "Deprecated. Moonshot officially recommends `max_completion_tokens` instead."
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "Maximum number of output tokens to generate. If generation reaches the limit before stopping naturally, `finish_reason` becomes `length`; otherwise it is usually `stop`.",
            "minimum": 1
          },
          "temperature": {
            "type": "number",
            "description": "Sampling temperature in the range `[0, 1]`. Note that `kimi-k2.5` does not allow this parameter to be changed.",
            "minimum": 0,
            "maximum": 1
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus sampling threshold. In most cases, adjust either `top_p` or `temperature`, not both. Note that `kimi-k2.5` uses a fixed default and does not allow this parameter to be changed.",
            "minimum": 0,
            "maximum": 1
          },
          "n": {
            "type": "integer",
            "description": "How many candidates to generate for each input. Moonshot's official page says this is generally no more than 5; `kimi-k2.5` defaults to 1 and cannot be changed.",
            "minimum": 1
          },
          "presence_penalty": {
            "type": "number",
            "description": "Presence penalty in the range `[-2, 2]`. `kimi-k2.5` does not allow this parameter to be changed.",
            "minimum": -2,
            "maximum": 2
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Frequency penalty in the range `[-2, 2]`. `kimi-k2.5` does not allow this parameter to be changed.",
            "minimum": -2,
            "maximum": 2
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "stop": {
            "description": "Stop sequence or list of stop sequences. The official page allows at most 5 strings, and each string must not exceed 32 bytes.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "maxItems": 5
              }
            ]
          },
          "thinking": {
            "$ref": "#/components/schemas/ThinkingConfig"
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to enable streaming output.",
            "default": false
          },
          "stream_options": {
            "$ref": "#/components/schemas/StreamOptions"
          },
          "prompt_cache_key": {
            "type": "string",
            "description": "Cache key for similar requests, used to improve cache hit rates. A stable value is recommended for multi-turn or agent workflows."
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "Chat message object.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ],
            "description": "Message role. The official Moonshot chat page lists only `system`, `user`, and `assistant`."
          },
          "content": {
            "description": "Message content. This can be a simple string or a multimodal content-part array.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ]
          }
        }
      },
      "ContentPart": {
        "type": "object",
        "required": [
          "type"
        ],
        "description": "Multimodal content part. It is effective only when your channel is configured with a vision-capable Moonshot model officially supporting these inputs.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url",
              "video_url"
            ],
            "description": "Content part type."
          },
          "text": {
            "type": "string",
            "description": "Text content, used when `type` is `text`."
          },
          "image_url": {
            "$ref": "#/components/schemas/ImageURLPart"
          },
          "video_url": {
            "$ref": "#/components/schemas/VideoURLPart"
          }
        }
      },
      "ImageURLPart": {
        "type": "object",
        "required": [
          "url"
        ],
        "description": "Image input object. The official page says `url` supports base64 data and `ms://<file_id>` values.",
        "properties": {
          "url": {
            "type": "string",
            "description": "Image URL, base64 data, or `ms://<file_id>`."
          }
        }
      },
      "VideoURLPart": {
        "type": "object",
        "required": [
          "url"
        ],
        "description": "Video input object. The official page says `url` supports base64 data and `ms://<file_id>` values.",
        "properties": {
          "url": {
            "type": "string",
            "description": "Video URL, base64 data, or `ms://<file_id>`."
          }
        }
      },
      "ResponseFormat": {
        "type": "object",
        "description": "Output format control. Set `{\"type\":\"json_object\"}` to enable JSON mode.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "json_object"
            ],
            "default": "text",
            "description": "Target output format."
          }
        }
      },
      "ThinkingConfig": {
        "type": "object",
        "description": "Thinking mode configuration. Moonshot's official page states that this field applies only to `kimi-k2.5`.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "default": "enabled",
            "description": "Whether thinking is enabled."
          }
        }
      },
      "StreamOptions": {
        "type": "object",
        "description": "Additional streaming options.",
        "properties": {
          "include_usage": {
            "type": "boolean",
            "default": false,
            "description": "If `true`, an additional usage chunk is returned before `data: [DONE]`."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "Non-streaming chat completion response.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Response ID."
          },
          "object": {
            "type": "string",
            "example": "chat.completion",
            "description": "Object type."
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds."
          },
          "model": {
            "type": "string",
            "description": "Actual model used."
          },
          "choices": {
            "type": "array",
            "description": "List of candidate outputs.",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "description": "One completion candidate.",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Candidate index."
          },
          "message": {
            "$ref": "#/components/schemas/ResponseMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Why the generation stopped, for example `stop` or `length`."
          }
        }
      },
      "ResponseMessage": {
        "type": "object",
        "description": "Message returned by the model.",
        "properties": {
          "role": {
            "type": "string",
            "description": "Message role, usually `assistant`."
          },
          "content": {
            "type": "string",
            "description": "Text content generated by the model."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Token usage statistics.",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Number of input tokens."
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Number of output tokens."
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total number of tokens."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "description": "Unified error response.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message."
              },
              "type": {
                "type": "string",
                "description": "Error type."
              },
              "code": {
                "type": "string",
                "description": "Error code."
              }
            }
          }
        }
      }
    }
  }
}
