{
  "openapi": "3.0.1",
  "info": {
    "title": "Kling 图生视频任务 - 提交任务 (kling-v3)",
    "version": "1.0.0",
    "description": "通过 `/kling/v1/videos/image2video` 提交 Kling 图生视频任务。使用模型 kling-v3。"
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": ""
    }
  ],
  "tags": [
    {
      "name": "Kling",
      "description": "Kling 原生异步任务端点"
    }
  ],
  "paths": {
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling 图生视频任务 (kling-v3)",
        "description": "通过 `/kling/v1/videos/image2video` 提交 Kling 图生视频任务。请求体经模型映射和公共任务 ID 注入后转发至 Kling 官方接口。",
        "operationId": "createKlingV3Image2Video",
        "tags": [
          "Kling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingRequest"
              },
              "examples": {
                "request": {
                  "summary": "请求示例",
                  "value": {
                    "model_name": "kling-v3",
                    "image": "https://example.com/frame.png",
                    "prompt": "Slow camera push-in",
                    "duration": "5"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求无效或被上游拒绝。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少或无效的 Bearer 令牌。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "KlingRequest": {
        "type": "object",
        "required": [
          "model_name"
        ],
        "properties": {
          "model_name": {
            "type": "string",
            "description": "模型名称",
            "enum": [
              "kling-v3"
            ]
          },
          "image": {
            "type": "string",
            "description": "参考图像\n- 支持传入图片 Base64 编码或图片 URL（确保可访问）\n\nBase64 编码说明：\n请注意，若您使用base64的方式，请确保您传递的所有图像数据参数均采用Base64编码格式。使用 Base64 时，请不要添加任何前缀如 data:image/png;base64,，只需提供 Base64 编码字符串本身。\n\n正确示例：\n\n`iVBORw0KGgoAAAANSUhEUgAAAAUA`\n\n错误示例:\n\n`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUA...`\n\n- 图片格式支持 .jpg / .jpeg / .png\n- 图片文件大小不能超过 10MB，图片宽高尺寸不小于 300px，图片宽高比介于 1:2.5 ~ 2.5:1 之间\n- image 参数与 image_tail 参数至少二选一，二者不能同时为空"
          },
          "image_tail": {
            "type": "string",
            "description": "参考图像 - 尾帧控制\n- 支持传入图片 Base64 编码或图片 URL（确保可访问）\n\nBase64 编码说明：\n请注意，若您使用base64的方式，请确保您传递的所有图像数据参数均采用Base64编码格式。使用 Base64 时，请不要添加任何前缀如 data:image/png;base64,，只需提供 Base64 编码字符串本身。\n\n正确示例：\n\n`iVBORw0KGgoAAAANSUhEUgAAAAUA`\n\n错误示例:\n\n`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUA...`\n\n- 图片格式支持 .jpg / .jpeg / .png\n- 图片文件大小不能超过 10MB，图片宽高尺寸不小于 300px，图片宽高比介于 1:2.5 ~ 2.5:1 之间\n- image 参数与 image_tail 参数至少二选一，二者不能同时为空\n- image_tail 参数、dynamic_masks/static_mask 参数、camera_control 参数三选一，不能同时使用"
          },
          "multi_shot": {
            "type": "boolean",
            "default": false,
            "description": "是否生成多镜头视频。\n当前参数为 true 时，prompt 参数无效\n当前参数为 false 时，shot_type 参数及 multi_prompt 参数无效"
          },
          "shot_type": {
            "type": "string",
            "enum": [
              "customize",
              "intelligence"
            ],
            "description": "分镜方式\n当 multi_shot 参数为 true 时，当前参数必填"
          },
          "prompt": {
            "type": "string",
            "description": "正向文本提示词\n\n```markdown\nOmni模型可通过Prompt与主体、图片、视频等内容实现多种能力：\n- 通过<<<>>>的格式来指定某个主体、图片或视频，如：<<<element_1>>>、<<<image_1>>>、<<<video_1>>>\n```\n\n- 用 <<<voice_1>>> 来指定音色，序号同 voice_list 参数所引用音色的排列顺序\n- 一次视频生成任务至多引用 2 个音色；指定音色时，sound 参数值必须为 on\n- 语法结构越简单越好，如：男人<<<voice_1>>>说：\"你好\"\n- 当 voice_list 参数不为空且 prompt 参数中引用音色 ID 时，视频生成任务按\"有指定音色\"计量计费",
            "maxLength": 2500
          },
          "multi_prompt": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "index",
                "prompt",
                "duration"
              ],
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "分镜序号。"
                },
                "prompt": {
                  "type": "string",
                  "description": "当前分镜提示词。"
                },
                "duration": {
                  "type": "string",
                  "description": "当前分镜时长，单位秒。"
                }
              }
            },
            "description": "各分镜信息，如提示词、时长等。\n通过 index、prompt、duration 参数定义分镜序号及相应提示词和时长。\n- 最多支持 6 个分镜，最小支持 1 个分镜。\n- 每个分镜相关内容的最大长度不超过 512。\n- 每个分镜的时长不大于当前任务的总时长，不小于 1。\n- 所有分镜的时长之和等于当前任务的总时长。\n\n当 multi_shot 为 true 且 shot_type 为 customize 时，当前参数不得为空。格式如下：\n\n```json\n\"multi_prompt\":[{ \"index\": int, \"prompt\": \"string\", \"duration\": \"5\" },{ \"index\": int, \"prompt\": \"string\",\"duration\": \"5\" }]\n```\n\n当 multi_shot 为 true 且 shot_type 为 customize 时必填"
          },
          "negative_prompt": {
            "type": "string",
            "description": "负向文本提示词\n- 不能超过 2500 个字符\n- 建议通过正向提示词中的负向句子补充负向提示信息",
            "maxLength": 2500
          },
          "element_list": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "element_id"
              ],
              "properties": {
                "element_id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "主体库中的主体 ID。"
                }
              }
            },
            "description": "主体参考列表，基于主体库中的主体 ID 配置。\n\n用 key:value 承载，格式如下：\n\n```json\n\"element_list\":[{ \"element_id\": long },{ \"element_id\": long }]\n```"
          },
          "voice_list": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "voice_id"
              ],
              "properties": {
                "voice_id": {
                  "type": "string",
                  "description": "音色 ID。",
                  "enum": [
                    "829836818102231083",
                    "829837074797821984",
                    "829837252279803904",
                    "829837297074962436"
                  ],
                  "x-options": [
                    {
                      "label": "Owen",
                      "value": "829836818102231083"
                    },
                    {
                      "label": "Catherine",
                      "value": "829837074797821984"
                    },
                    {
                      "label": "Laura",
                      "value": "829837252279803904"
                    },
                    {
                      "label": "William",
                      "value": "829837297074962436"
                    }
                  ]
                }
              }
            },
            "description": "生成视频时引用的音色列表。\n- 一次视频生成任务至多引用 2 个音色\n- 当 voice_list 参数不为空且 prompt 参数中引用音色 ID 时，视频生成任务按\"有指定音色\"计量计费\n- element_list 与 voice_list 互斥，不能共存\n\n用 key:value 承载，格式如下：\n\n```json\n\"voice_list\":[{ \"voice_id\": \"string\" },{ \"voice_id\": \"string\" }]\n```"
          },
          "sound": {
            "type": "string",
            "enum": [
              "on",
              "off"
            ],
            "default": "off",
            "description": "生成视频时是否同时生成声音"
          },
          "cfg_scale": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.5,
            "description": "生成视频的自由度；值越大，模型的自由度越小"
          },
          "mode": {
            "type": "string",
            "enum": [
              "std",
              "pro",
              "4k"
            ],
            "default": "std",
            "description": "生成视频的模式\n\n- std：标准模式（标准），基础模式，性价比高，输出视频分辨率为720P。\n- pro：专家模式（高品质），高表现模式，生成视频质量更佳，输出视频分辨率为1080P。\n- 4k：4K模式，高表现（同pro），生成视频质量更佳，输出视频分辨率为4K。"
          },
          "static_mask": {
            "type": "string",
            "description": "静态笔刷涂抹区域（用户通过运动笔刷涂抹的 mask 图片）\\n`\"运动笔刷\"能力包含\"动态笔刷 dynamic_masks\"和\"静态笔刷 static_mask\"两种`\n\n- 支持传入图片 Base64 编码或图片 URL（确保可访问，格式要求同 image 字段）\n- 图片格式支持 .jpg / .jpeg / .png\n- 图片长宽比必须与输入图片相同（即 image 字段），否则任务失败（failed）\n- static_mask 和 dynamic_masks.mask 这两张图片的分辨率必须一致，否则任务失败（failed）"
          },
          "dynamic_masks": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "mask",
                "trajectories"
              ],
              "properties": {
                "mask": {
                  "type": "string",
                  "description": "动态笔刷涂抹区域（用户通过运动笔刷涂抹的 mask 图片）\n- 支持传入图片 Base64 编码或图片 URL（确保可访问，格式要求同 image 字段）\n- 图片格式支持 .jpg / .jpeg / .png\n- 图片长宽比必须与输入图片相同（即 image 字段），否则任务失败（failed）\n- static_mask 和 dynamic_masks.mask 这两张图片的分辨率必须一致，否则任务失败（failed）"
                },
                "trajectories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "x",
                      "y"
                    ],
                    "properties": {
                      "x": {
                        "type": "integer",
                        "description": "轨迹点横坐标（在像素二维坐标系下，以输入图片 image 左下为原点的像素坐标）"
                      },
                      "y": {
                        "type": "integer",
                        "description": "轨迹点纵坐标（在像素二维坐标系下，以输入图片 image 左下为原点的像素坐标）"
                      }
                    }
                  },
                  "description": "运动轨迹坐标序列\n- 生成 5s 的视频，轨迹长度不超过 77，即坐标个数取值范围：[2, 77]\n- 轨迹坐标系，以图片左下角为坐标原点\n\n`注1：坐标点个数越多轨迹刻画越准确，如只有 2 个轨迹点则为这两点连接的直线`\n\n`注2：轨迹方向以传入顺序为指向，以最先传入的坐标为轨迹起点，依次链接后续坐标形成运动轨迹`"
                }
              }
            },
            "description": "动态笔刷配置列表\n- 可配置多组（最多 6 组），每组包含\"涂抹区域 mask\"与\"运动轨迹 trajectories\"序列"
          },
          "camera_control": {
            "type": "object",
            "description": "控制相机运动的条款（如不指定，模型将根据输入的文本/图片智能匹配）",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "simple",
                  "down_back",
                  "forward_up",
                  "right_turn_forward",
                  "left_turn_forward"
                ],
                "description": "预定义的相机运动类型。\n- simple：简单运镜，此类型下可在\"config\"中六选一进行运镜\n- down_back：镜头下压并后退 ➡️ 下移拉远，此类型下config参数无需填写\n- forward_up：镜头前进并上仰 ➡️ 推进上移，此类型下config参数无需填写\n- right_turn_forward：先右旋转后前进 ➡️ 右旋推进，此类型下config参数无需填写\n- left_turn_forward：先左旋并前进 ➡️ 左旋推进，此类型下config参数无需填写"
              },
              "config": {
                "type": "object",
                "description": "包含 6 个字段，用于指定相机在不同方向上的移动或变化\n- 当运镜类型指定simple时必填，指定其他类型时不填\n- 以下参数6选1，即只能有一个参数不为0，其余参数为0",
                "properties": {
                  "horizontal": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "水平方向，控制相机沿水平轴的移动（沿 x 轴平移）\n负值表示向左平移，正值表示向右平移"
                  },
                  "vertical": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "垂直方向，控制相机沿垂直轴的移动（沿 y 轴平移）\n负值表示向下平移，正值表示向上平移"
                  },
                  "pan": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "摇摄，控制相机在水平面内的旋转（绕 y 轴旋转）\n负值表示绕y轴向左旋转，正值表示绕y轴向右旋转"
                  },
                  "tilt": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "俯仰，控制相机在垂直面内的旋转（绕 x 轴旋转）\n负值表示绕x轴向下旋转，正值表示绕x轴向上旋转"
                  },
                  "roll": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "翻滚，控制相机的翻滚（绕 z 轴旋转）\n负值表示绕z轴逆时针旋转，正值表示绕z轴顺时针旋转"
                  },
                  "zoom": {
                    "type": "number",
                    "minimum": -10,
                    "maximum": 10,
                    "description": "缩放，控制相机的焦距变化，影响视野距离\n负值表示焦距变长、视野范围变小，正值表示焦距变短、视野范围变大"
                  }
                }
              }
            }
          },
          "duration": {
            "type": "string",
            "description": "视频时长，单位秒。",
            "enum": [
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15"
            ],
            "default": "5"
          },
          "watermark_info": {
            "type": "object",
            "description": "是否同时生成含水印的结果。",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "true 表示生成含水印结果，false 表示不生成。"
              }
            }
          },
          "callback_url": {
            "type": "string",
            "description": "本次任务结果回调通知地址，如果配置，服务端会在任务状态发生变更时主动通知"
          },
          "external_task_id": {
            "type": "string",
            "description": "自定义任务ID"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "description": "网关或上游提供商返回的错误详情。"
          }
        }
      },
      "SubmitResponse": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "Kling 响应码。0 表示任务已被接受。"
          },
          "message": {
            "type": "string",
            "description": "Kling 响应消息。"
          },
          "request_id": {
            "type": "string",
            "description": "上游请求标识符（如有提供）。"
          },
          "data": {
            "type": "object",
            "required": [
              "task_id",
              "task_status"
            ],
            "properties": {
              "task_id": {
                "type": "string",
                "description": "由本网关生成的公开任务 ID。上游任务 ID 不对外暴露。"
              },
              "task_status": {
                "type": "string",
                "description": "初始任务状态。",
                "example": "submitted"
              },
              "task_info": {
                "type": "object",
                "properties": {
                  "external_task_id": {
                    "type": "string",
                    "description": "客户端提供的外部任务 ID，或由网关注入的公开任务 ID。"
                  }
                }
              },
              "created_at": {
                "type": "integer",
                "format": "int64",
                "description": "创建时间，毫秒级时间戳。"
              },
              "updated_at": {
                "type": "integer",
                "format": "int64",
                "description": "更新时间，毫秒级时间戳。"
              }
            }
          }
        }
      }
    }
  }
}