{
  "openapi": "3.0.1",
  "info": {
    "title": "Hailuo 图生视频",
    "version": "1.0.0",
    "description": "Hailuo 系列图生视频能力文档。公开统一入口为 `/v1/videos`，用于创建异步视频生成任务。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Hailuo Video",
      "description": "Hailuo 图生视频能力"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Hailuo 图生视频",
        "description": "适用于 `MiniMax-Hailuo-02` 图生视频模型。提交任务后，请通过 `GET /v1/videos/{task_id}` 查询状态。\n\n公开字段：`model`、`image`、`prompt`、`seconds`、`size`。",
        "operationId": "minimaxImageToVideo",
        "tags": [
          "Hailuo Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageToVideoRequest"
              },
              "examples": {
                "basic_request": {
                  "summary": "基础图生视频请求",
                  "value": {
                    "model": "MiniMax-Hailuo-02",
                    "image": "https://example.com/assets/first-frame.png",
                    "prompt": "The girl looks at the camera and smiles.",
                    "seconds": "6",
                    "size": "720P"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功，返回统一 OpenAI 风格视频任务对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIVideo"
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法，例如缺少 `image`，或传入不支持图生视频的模型。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "code": "bad_request_body",
                      "message": "请求体格式错误或字段取值非法",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "code": "access_denied",
                      "message": "无效的令牌",
                      "data": null
                    }
                  }
                }
              }
            },
            "description": "鉴权失败，例如未提供令牌或令牌无效。"
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "request_too_large": {
                    "summary": "请求体过大",
                    "value": {
                      "code": "read_request_body_failed",
                      "message": "请求体过大，请缩小输入后重试",
                      "data": null
                    }
                  }
                }
              }
            },
            "description": "请求体过大。"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足或速率受限",
                    "value": {
                      "code": "insufficient_user_quota",
                      "message": "当前账户额度不足，请稍后重试",
                      "data": null
                    }
                  }
                }
              }
            },
            "description": "触发速率限制或账户额度不足。"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "内部处理失败",
                    "value": {
                      "code": "gen_relay_info_failed",
                      "message": "服务内部处理失败，请稍后重试",
                      "data": null
                    }
                  }
                }
              }
            },
            "description": "服务端处理请求时发生内部错误。"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "bad_gateway": {
                    "summary": "上游响应异常",
                    "value": {
                      "code": "bad_response_status_code",
                      "message": "上游服务返回了无效响应",
                      "data": null
                    }
                  }
                }
              }
            },
            "description": "上游服务返回异常响应。"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "服务暂不可用",
                    "value": {
                      "code": "get_channel_failed",
                      "message": "当前模型暂时无可用渠道，请稍后重试",
                      "data": null
                    }
                  }
                }
              }
            },
            "description": "上游服务暂不可用，或当前模型暂无可用渠道。"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "ImageToVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "image"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "MiniMax-Hailuo-02"
            ],
            "description": "当前能力使用的模型名称。"
          },
          "image": {
            "type": "string",
            "description": "首帧图片 URL 或 Data URL。"
          },
          "prompt": {
            "type": "string",
            "description": "可选的视频提示词。",
            "maxLength": 2000
          },
          "seconds": {
            "type": "string",
            "description": "目标视频时长，单位秒。（1080P仅支持6秒）",
            "enum": [
              "6",
              "10"
            ],
            "x-linkage": {
              "size": {
                "1080P": [
                  "6"
                ]
              }
            }
          },
          "size": {
            "type": "string",
            "description": "目标输出规格或分辨率。当前图生视频模型支持 `768P`、`1080P`。",
            "enum": [
              "768P",
              "1080P"
            ]
          }
        }
      },
      "OpenAIVideo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "queued"
          },
          "progress": {
            "type": "integer",
            "example": 0
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {}
        }
      }
    }
  }
}
