{
  "openapi": "3.0.1",
  "info": {
    "title": "Ali Text-to-Speech",
    "version": "1.0.0",
    "description": "Ali channel text-to-speech capability for `/v1/audio/speech`. The project currently implements the official field subset for `qwen3-tts-instruct-flash` only.\n\nThis document intentionally includes only the implemented official fields: `model`, `input`, `voice`, `instructions`, `optimize_instructions`, and `language_type`.\n\nStreaming follows the official Ali HTTP contract: clients must explicitly send `X-DashScope-SSE: enable` in the request header. This channel does not expose `stream_format`.\n\nBilling note: the gateway maps upstream `usage.characters` to unified `usage.prompt_tokens_details.audio_tokens`, keeps `usage.output_tokens` in `usage.completion_tokens_details.audio_tokens`, and stores both raw Ali usage and normalized usage snapshots in consume_detail for billing traceability."
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Ali Audio",
      "description": "Ali text-to-speech capability"
    }
  ],
  "paths": {
    "/v1/audio/speech": {
      "post": {
        "summary": "Ali text-to-speech",
        "description": "Call Ali `qwen3-tts-instruct-flash` through the unified `/v1/audio/speech` endpoint.\n\nResponse contract:\n- non-streaming returns the official Ali JSON response;\n- streaming returns `text/event-stream` and forwards Ali SSE payloads.",
        "operationId": "aliAudioSpeech",
        "tags": [
          "Ali Audio"
        ],
        "parameters": [
          {
            "name": "X-DashScope-SSE",
            "in": "header",
            "required": false,
            "description": "Official Ali HTTP streaming switch. Send `enable` to receive `text/event-stream`.",
            "schema": {
              "type": "string",
              "enum": [
                "enable"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliSpeechRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Non-streaming request",
                  "value": {
                    "model": "qwen3-tts-instruct-flash",
                    "input": "Introduce this product with a slightly faster speaking rate.",
                    "voice": "Cherry",
                    "instructions": "Speak faster with a brighter tone.",
                    "optimize_instructions": false,
                    "language_type": "English"
                  }
                },
                "stream": {
                  "summary": "Streaming request",
                  "value": {
                    "model": "qwen3-tts-instruct-flash",
                    "input": "Today is a wonderful day to build something people love.",
                    "voice": "Cherry",
                    "language_type": "English"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful call. Non-streaming returns the official Ali JSON response; streaming returns Ali SSE payloads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliSpeechResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Ali SSE event stream. Each event body can be parsed as an Ali audio response chunk."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "AliSpeechRequest": {
        "type": "object",
        "required": [
          "model",
          "input",
          "voice"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen3-tts-instruct-flash"
            ]
          },
          "input": {
            "type": "string",
            "description": "Input text to synthesize."
          },
          "voice": {
            "type": "string",
            "description": "System voice name. Only the enum values listed here are currently supported on this channel.",
            "enum": [
              "Cherry",
              "Serena",
              "Ethan",
              "Chelsie",
              "Momo",
              "Vivian",
              "Moon",
              "Maia",
              "Kai",
              "Nofish",
              "Bella",
              "Eldric Sage",
              "Mia",
              "Mochi",
              "Bellona",
              "Vincent",
              "Bunny",
              "Neil",
              "Elias",
              "Arthur",
              "Nini",
              "Seren",
              "Pip",
              "Stella"
            ]
          },
          "instructions": {
            "type": "string",
            "description": "Style-control instruction."
          },
          "optimize_instructions": {
            "type": "boolean",
            "description": "Whether to optimize `instructions`. An explicit `false` is preserved and forwarded."
          },
          "language_type": {
            "type": "string",
            "description": "Language type.",
            "enum": [
              "Auto",
              "Chinese",
              "English",
              "German",
              "Italian",
              "Portuguese",
              "Spanish",
              "Japanese",
              "Korean",
              "French",
              "Russian"
            ]
          }
        }
      },
      "AliSpeechResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer",
            "description": "HTTP status code."
          },
          "request_id": {
            "type": "string",
            "description": "Ali request ID."
          },
          "code": {
            "type": "string",
            "description": "Error code. Usually empty on success."
          },
          "message": {
            "type": "string",
            "description": "Error message. Usually empty on success."
          },
          "output": {
            "type": "object",
            "properties": {
              "text": {
                "nullable": true
              },
              "finish_reason": {
                "type": "string"
              },
              "choices": {
                "nullable": true
              },
              "audio": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "Base64 audio data in streaming chunks. Usually empty in non-streaming mode."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Full audio file URL."
                  },
                  "id": {
                    "type": "string",
                    "description": "Audio object ID."
                  },
                  "expires_at": {
                    "type": "integer",
                    "description": "Expiration timestamp for the audio URL."
                  }
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "input_tokens": {
                "type": "integer"
              },
              "output_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              },
              "characters": {
                "type": "integer",
                "description": "Input character count. Billing for `qwen3-tts-instruct-flash` primarily relies on this field."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "required": [
          "message",
          "type",
          "param",
          "code"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "param": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}
