{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedance Video Generation",
    "version": "1.0.0",
    "description": "This document describes the input and output parameters of the Create Video Generation Task API for your reference when using the interface. The model generates videos based on the input images and text information. After generation is complete, you can query the task by conditions and obtain the generated video.\n\n## Model Capabilities\n\n* **Seedance 2.5 series (audio/silent videos)**\n   * **Multimodal Reference-to-Video**: Input reference images (0-30) + reference videos (0-10) + reference audio (0-10) + text prompt (optional) to generate 1 target video. Supports audio-only input. Supports generating new videos, editing videos, extending videos, and continuous 30-second video output.\n   * **Image-to-Video (First & Last Frame)**: Input first frame image + last frame image + text prompt (optional) to generate 1 target video.\n   * **Image-to-Video (First Frame)**: Input first frame image + text prompt (optional) to generate 1 target video.\n   * **Text-to-Video**: Input text prompt to generate 1 target video.\n\n* **Seedance 2.0 series (audio/silent videos)**\n   * **Multimodal Reference-to-Video**: Input reference images (0-9) + reference videos (0-3) + reference audio (0-3) + text prompt (optional) to generate 1 target video. Note that audio cannot be input alone; at least 1 reference video or image must be included. Supports generating new videos, editing videos, and extending videos.\n   * **Image-to-Video (First & Last Frame)**: Input first frame image + last frame image + text prompt (optional) to generate 1 target video.\n   * **Image-to-Video (First Frame)**: Input first frame image + text prompt (optional) to generate 1 target video.\n   * **Text-to-Video**: Input text prompt to generate 1 target video.\n\n* **Seedance 1.5 pro (audio/silent videos)**\n   【Image-to-Video (First & Last Frame), Image-to-Video (First Frame), Text-to-Video】\n\n* **Seedance 1.0 pro**\n   【Image-to-Video (First & Last Frame), Image-to-Video (First Frame), Text-to-Video】\n\n* **Seedance 1.0 pro fast**\n   【Image-to-Video (First Frame), Text-to-Video】"
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Baze API server endpoint"
    }
  ],
  "paths": {
    "/byteplus/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "Create Video Generation Task",
        "operationId": "createSeedanceVideoTask",
        "description": "This document describes the input and output parameters of the Create Video Generation Task API for your reference when using the interface. The model generates videos based on the input images and text information. After generation is complete, you can query the task by conditions and obtain the generated video.\n\n## Model Capabilities\n\n* **Seedance 2.5 series (audio/silent videos)**\n   * **Multimodal Reference-to-Video**: Input reference images (0-30) + reference videos (0-10) + reference audio (0-10) + text prompt (optional) to generate 1 target video. Supports audio-only input. Supports generating new videos, editing videos, extending videos, and continuous 30-second video output.\n   * **Image-to-Video (First & Last Frame)**: Input first frame image + last frame image + text prompt (optional) to generate 1 target video.\n   * **Image-to-Video (First Frame)**: Input first frame image + text prompt (optional) to generate 1 target video.\n   * **Text-to-Video**: Input text prompt to generate 1 target video.\n\n* **Seedance 2.0 series (audio/silent videos)**\n   * **Multimodal Reference-to-Video**: Input reference images (0-9) + reference videos (0-3) + reference audio (0-3) + text prompt (optional) to generate 1 target video. Note that audio cannot be input alone; at least 1 reference video or image must be included. Supports generating new videos, editing videos, and extending videos.\n   * **Image-to-Video (First & Last Frame)**: Input first frame image + last frame image + text prompt (optional) to generate 1 target video.\n   * **Image-to-Video (First Frame)**: Input first frame image + text prompt (optional) to generate 1 target video.\n   * **Text-to-Video**: Input text prompt to generate 1 target video.\n\n* **Seedance 1.5 pro (audio/silent videos)**\n   【Image-to-Video (First & Last Frame), Image-to-Video (First Frame), Text-to-Video】\n\n* **Seedance 1.0 pro**\n   【Image-to-Video (First & Last Frame), Image-to-Video (First Frame), Text-to-Video】\n\n* **Seedance 1.0 pro fast**\n   【Image-to-Video (First Frame), Text-to-Video】",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoTaskRequest"
              },
              "examples": {
                "Multimodal Reference-to-Video": {
                  "value": {
                    "model": "dreamina-seedance-2-0-260128",
                    "content": [
                      {
                        "type": "text",
                        "text": "Use the first-person composition of video 1 throughout, with audio 1 as background music throughout. First-person fruit tea promotional ad, seedance brand \"Peace & Sweet\" Apple Fruit Tea Limited Edition; First frame is image 1, your hand picks an Aksu red apple with morning dew, crisp apple crunch sound; 2-4s: Quick cut, your hand throws apple chunks into a shaker, adds ice and tea base, shakes vigorously, ice clinking and shaking sounds sync with upbeat drum beats, background audio: \"Freshly Cut, Freshly Shaken\"; 4-6s: First-person product close-up, layered fruit tea poured into a clear cup, your hand gently spreads cream cheese topping, sticks a pink-gold label on the cup, camera zooms in on the layered texture of cream and fruit tea; 6-8s: First-person hand holding the cup, you raise the fruit tea from image 2 to the camera (simulating handing it to the viewer), cup label clearly visible, background audio \"Take a Fresh Sip\", final frame frozen on image 2. All background audio uses a female voice."
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_image/r2v_tea_pic1.jpg"
                        },
                        "role": "reference_image"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_image/r2v_tea_pic2.jpg"
                        },
                        "role": "reference_image"
                      },
                      {
                        "type": "video_url",
                        "video_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_video/r2v_tea_video1.mp4"
                        },
                        "role": "reference_video"
                      },
                      {
                        "type": "audio_url",
                        "audio_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_audio/r2v_tea_audio1.mp3"
                        },
                        "role": "reference_audio"
                      }
                    ],
                    "generate_audio": true,
                    "ratio": "16:9",
                    "duration": 11,
                    "watermark": false
                  }
                },
                "Audio Video - First Frame": {
                  "value": {
                    "model": "seedance-1-5-pro-251215",
                    "content": [
                      {
                        "type": "text",
                        "text": "A girl holding a fox, the girl opens her eyes and looks gently at the camera, the fox holds her affectionately, the camera slowly pulls out, the girl's hair blows in the wind, wind sounds can be heard"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_image/i2v_foxrgirl.png"
                        }
                      }
                    ],
                    "generate_audio": true,
                    "ratio": "adaptive",
                    "duration": 5,
                    "watermark": false
                  }
                },
                "Audio Video - First & Last Frame": {
                  "value": {
                    "model": "seedance-1-5-pro-251215",
                    "content": [
                      {
                        "type": "text",
                        "text": "The girl in the picture says \"Cheese\" to the camera, with a 360-degree orbiting camera movement"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_image/seepro_first_frame.jpeg"
                        },
                        "role": "first_frame"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://ark-project.tos-cn-beijing.volces.com/doc_image/seepro_last_frame.jpeg"
                        },
                        "role": "last_frame"
                      }
                    ],
                    "generate_audio": true,
                    "ratio": "adaptive",
                    "duration": 5,
                    "watermark": false
                  }
                },
                "Image-to-Video - Base64": {
                  "value": {
                    "model": "dreamina-seedance-2-0-260128",
                    "content": [
                      {
                        "type": "text",
                        "text": "A girl holding a fox, the girl opens her eyes and looks gently at the camera, the fox holds her affectionately, the camera slowly pulls out, the girl's hair blows in the wind"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "data:image/png;base64,aHR0******cG5n"
                        }
                      }
                    ],
                    "ratio": "adaptive",
                    "duration": 5,
                    "watermark": false
                  }
                },
                "Text-to-Video": {
                  "value": {
                    "model": "seedance-1-0-pro-250528",
                    "content": [
                      {
                        "type": "text",
                        "text": "Realistic style, under a clear blue sky, a large field of white daisies, the camera gradually zooms in, finally focused on a close-up of a daisy, with crystal clear dewdrops on the petals"
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 5,
                    "watermark": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful, returns video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters."
          },
          "401": {
            "description": "Authentication failed."
          },
          "429": {
            "description": "Request rate limit exceeded."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "CreateVideoTaskRequest": {
        "type": "object",
        "required": [
          "model",
          "content"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedance-1-5-pro-251215",
              "seedance-1-0-pro-250528",
              "seedance-1-0-pro-fast-251015",
              "dreamina-seedance-2-0-260128",
              "dreamina-seedance-2-0-fast-260128",
              "dreamina-seedance-2-0-mini-260615",
              "dreamina-seedance-2-5-260628"
            ],
            "description": "The ID of the model you need to call (Model ID)"
          },
          "content": {
            "type": "array",
            "description": "Input information for the model to generate videos. Supports text, images, audio, video, and draft task IDs.\n\nNote: Seedance 2.5 series and Seedance 2.0 series models do not support directly uploading reference images/videos containing real human faces. To facilitate creators' use of portraits, the platform provides the following solutions:\n\n* Supports using face-containing raw outputs from certain models as input materials\n* Supports using preset virtual avatars as input materials\n* Supports using authorized real-person materials as input\n\nSupports the following combinations:\n* Text\n* Text (optional) + Image\n* Text (optional) + Video\n* Text (optional) + Audio (only Seedance 2.5 series supports audio-only input)\n* Text (optional) + Image + Audio\n* Text (optional) + Image + Video\n* Text (optional) + Video + Audio\n* Text (optional) + Image + Video + Audio\n* Draft task ID: A draft refers to a sample video successfully generated using the Seedance model. The model can generate high-quality final videos based on the draft.\n\n---",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TextContent"
                },
                {
                  "$ref": "#/components/schemas/ImageContent"
                },
                {
                  "$ref": "#/components/schemas/VideoContent"
                },
                {
                  "$ref": "#/components/schemas/AudioContent"
                },
                {
                  "$ref": "#/components/schemas/DraftTaskContent"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "text": "#/components/schemas/TextContent",
                  "image_url": "#/components/schemas/ImageContent",
                  "video_url": "#/components/schemas/VideoContent",
                  "audio_url": "#/components/schemas/AudioContent",
                  "draft_task": "#/components/schemas/DraftTaskContent"
                }
              }
            }
          },
          "callback_url": {
            "type": "string",
            "description": "The callback notification URL for the generation task results. When the video generation task status changes, the platform will send a POST request to this URL.\n\nThe callback request body structure is the same as the query task API response.\n\nThe callback status includes the following states:\n* queued: In queue.\n* running: Task running.\n* succeeded: Task successful. (If sending fails, i.e., no successful delivery within 5 seconds, retry up to 3 times)\n* failed: Task failed. (If sending fails, i.e., no successful delivery within 5 seconds, retry up to 3 times)\n* expired: Task timed out, meaning the task has been in running or queued state beyond the expiration time. Can be configured via the execution_expires_after field."
          },
          "return_last_frame": {
            "type": "boolean",
            "description": "true: Return the last frame image of the generated video. When set to true, you can obtain the last frame image through the query video generation task API. The last frame image is in PNG format with the same pixel dimensions as the generated video, without watermarks.\n\nUse this parameter to generate multiple consecutive videos: use the last frame of one video as the first frame of the next video task to quickly generate a sequence of consecutive videos.\n\nfalse: Do not return the last frame image of the generated video.",
            "default": false
          },
          "service_tier": {
            "type": "string",
            "enum": [
              "default",
              "flex"
            ],
            "description": "> The service tier of a submitted task cannot be modified\n> Seedance 2.5 series and Seedance 2.0 series only support online inference mode and do not support this parameter\nCurrently offline inference is not yet supported\n\nSpecifies the service tier for processing this request. Enum values:\n\n* default: Online inference mode, lower RPM and concurrency quotas, suitable for scenarios requiring low-latency inference.\n* flex: Offline inference mode, higher TPD quotas, priced at 50% of online inference, suitable for scenarios with less stringent latency requirements.",
            "default": "default"
          },
          "execution_expires_after": {
            "type": "integer",
            "description": "Task timeout threshold. Specifies the expiration time after task submission (in seconds), calculated from the created_at timestamp. Default: 172800 seconds (48 hours). Range: [3600, 259200].\n\nRegardless of the service_tier used, it is recommended to set an appropriate timeout based on your business scenario. After this time, the task will be automatically terminated and marked as expired.",
            "default": 172800,
            "minimum": 3600,
            "maximum": 259200
          },
          "generate_audio": {
            "type": "boolean",
            "description": "> Only supported by Seedance 2.5, Seedance 2.0 series, and Seedance 1.5 pro\n\nControls whether the generated video contains synchronized audio.\n\n* true: The model outputs video with synchronized audio. The model automatically generates matching voice, sound effects, and background music based on the text prompt and visual content. It is recommended to place dialogue in double quotes for better audio generation. For example: The man stops the woman and says, \"Remember, never point your finger at the moon.\"\n* false: The model outputs video without audio.\n\nNote: Generated audio videos are all mono, regardless of the input audio channel count.",
            "default": true
          },
          "draft": {
            "type": "boolean",
            "description": "> Only supported by Seedance 1.5 pro\n\nControls whether to enable draft mode.\n\n* true: Enable draft mode to generate a preview video, quickly verifying whether the scene structure, camera movement, subject actions, and prompt intent meet expectations. Consumes fewer tokens than normal video, reducing cost.\n* false: Disable draft mode and generate a normal video.\n\nNote: When draft mode is enabled, Draft videos are generated at 480p resolution (using other resolutions will cause an error). The last frame return feature is not supported, and offline inference is not supported.",
            "default": false
          },
          "tools": {
            "type": "array",
            "description": "> Only supported by Seedance 2.5 series and Seedance 2.0 series\n\nConfigure the tools for the model to call. (Web search is currently not supported on overseas nodes)",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "safety_identifier": {
            "type": "string",
            "description": "Unique identifier of end users, used to help the platform detect users in your application who may violate the Baze API usage policy. This identifier is an English string, which must be fixed and unique for a single user, and the length cannot exceed 64 characters. It is recommended to pass in a string generated by hashing the username, user ID or email address to avoid leaking user privacy information.",
            "maxLength": 64
          },
          "priority": {
            "type": "integer",
            "description": "> Only supported by Seedance 2.5 series and Seedance 2.0 series. (Please contact sales for the maximum priority available per user)\n\nSets the execution priority of the current request, determining its position in the queue. Range: 0-9, higher values indicate higher priority.\n\nBy default, requests are executed in FIFO (First In, First Out) order. When a higher priority is set, the request will jump ahead of all lower-priority requests under the same Endpoint.\n\nNotes:\n* Requests with the same priority are still ordered by FIFO.\n* Priority only affects queue order and does not interrupt currently running (status=running) tasks.\n* Priority only takes effect within the same Endpoint and does not affect other Endpoints.\n* Offline inference mode (service_tier=flex) does not support priority configuration.\n\n**Example**:\n\nAn Endpoint currently has 3 queued (status=queued) tasks in the queue, all with priority 0 (default).\n\nQueue: [Task A: priority=0] -> [Task B: priority=0] -> [Task C: priority=0]\n\nWhen a new request with priority=5 is submitted, it goes directly to the front of the queue:\n\nQueue: [New Request: priority=5] -> [Task A: priority=0] -> [Task B: priority=0] -> [Task C: priority=0]",
            "default": 0,
            "minimum": 0,
            "maximum": 9
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p",
              "4k"
            ],
            "description": "> Seedance 2.5 series, Seedance 2.0 series, and Seedance 1.5 pro default: `720p`\n> Seedance 1.0 pro & pro-fast default: `1080p`\n\nVideo resolution. Enum values:\n\n* 480p: Supported by Seedance 2.5 series, Seedance 2.0 series, Seedance 1.5 pro, and Seedance 1.0 pro & pro-fast.\n* 720p: Supported by all models.\n* 1080p: Not supported by Seedance 2.5 series, Seedance 2.0 Fast, and Seedance 2.0 Mini.\n* 4k: Only supported by Seedance 2.0.\n\n```Note\n- Compared to typical 8-bit color depth, Seedance 2.0 4k output uses 10-bit encoding, fully preserving rich color gradations and smooth transitions, meeting professional film production and HDR video content requirements.\n- 4k videos are output in H.265 (HEVC) format; some players/browsers may not support direct playback.",
            "default": "720p"
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ],
            "description": "> Seedance 2.5 series, Seedance 2.0 series, and Seedance 1.5 pro default: `adaptive`\n> Other models: Text-to-Video default `16:9`, Image-to-Video default `adaptive`\n\nThe aspect ratio of the generated video. See the table below for pixel dimensions for different aspect ratios.\n\n* 16:9\n* 4:3\n* 1:1\n* 3:4\n* 9:16\n* 21:9\n* adaptive: Automatically selects the most suitable aspect ratio based on input (see details below)\n\n**adaptive Rules**\n\nWhen ratio is set to adaptive, the model automatically adjusts the aspect ratio based on the generation scenario. The actual video aspect ratio can be obtained from the ratio field returned by the query video generation task API.\n\n**Supported models:**\n* Seedance 2.5 series, Seedance 2.0 series, and Seedance 1.5 Pro supported\n* Other models only supported in Image-to-Video scenarios\n\n**Rules:**\n* Text-to-Video: Based on the input prompt, intelligently selects the most suitable aspect ratio.\n* First Frame / First & Last Frame: Automatically selects the closest aspect ratio based on the uploaded first frame image ratio.\n* Multimodal Reference-to-Video: Determines based on user prompt intent. If it is first-frame video/editing video/extending video, selects the closest aspect ratio based on that image/video; otherwise, selects the closest aspect ratio based on the first media file (priority: video > image).\n\nPixel dimensions corresponding to different aspect ratios\n\nNote: For Image-to-Video, if the selected aspect ratio does not match the uploaded image ratio, the platform will crop your image from the center.\n\n| Resolution | Aspect Ratio | Pixel Dimensions Seedance 2.5 Series | Pixel Dimensions Seedance 2.0 Series | Pixel Dimensions Seedance 1.5 pro | Pixel Dimensions Seedance 1.0 Series |\n|---|---|---|---|---|---|\n| 480p | 16:9 | 864x496 | 864x496 | 864x496 | 864x480 |\n| | 4:3 | 752x560 | 752x560 | 752x560 | 736x544 |\n| | 1:1 | 640x640 | 640x640 | 640x640 | 640x640 |\n| | 3:4 | 560x752 | 560x752 | 560x752 | 544x736 |\n| | 9:16 | 496x864 | 496x864 | 496x864 | 480x864 |\n| | 21:9 | 992x432 | 992x432 | 992x432 | 960x416 |\n| 720p | 16:9 | 1280x720 | 1280x720 | 1280x720 | 1248x704 |\n| | 4:3 | 1112x834 | 1112x834 | 1112x834 | 1120x832 |\n| | 1:1 | 960x960 | 960x960 | 960x960 | 960x960 |\n| | 3:4 | 834x1112 | 834x1112 | 834x1112 | 832x1120 |\n| | 9:16 | 720x1280 | 720x1280 | 720x1280 | 704x1248 |\n| | 21:9 | 1470x630 | 1470x630 | 1470x630 | 1504x640 |\n| 1080p (Not supported by Seedance 2.5, Seedance 2.0 Fast, Seedance 2.0 Mini) | 16:9 | - | 1920x1080 | 1920x1080 | 1920x1088 |\n| | 4:3 | - | 1664x1248 | 1664x1248 | 1664x1248 |\n| | 1:1 | - | 1440x1440 | 1440x1440 | 1440x1440 |\n| | 3:4 | - | 1248x1664 | 1248x1664 | 1248x1664 |\n| | 9:16 | - | 1080x1920 | 1080x1920 | 1088x1920 |\n| | 21:9 | - | 2206x946 | 2206x946 | 2176x928 |\n| 4K (Only supported by Seedance 2.0) | 16:9 | - | 3840x2160 | - | - |\n| | 4:3 | - | 3326x2494 | - | - |\n| | 1:1 | - | 2880x2880 | - | - |\n| | 3:4 | - | 2494x3326 | - | - |\n| | 9:16 | - | 2160x3840 | - | - |\n| | 21:9 | - | 4398x1886 | - | - |",
            "default": "adaptive"
          },
          "output_format": {
            "type": "string",
            "enum": [
              "mp4",
              "mov"
            ],
            "description": "> Only supported by Seedance 2.5 series \n\nThe format of the output video.\n\n* mp4: A universal format with the best compatibility, using standard color precision. It can be played directly on web pages, mobile devices, various players, and distribution platforms. Supported by all models.\n* mov: A high-color-precision format for professional scenarios, which better maintains color and brightness consistency. Suitable for professional post-processing such as color grading, keying, and compositing, and recommended for video editing and video extension scenarios. Supported by Seedance 1.5 pro, Seedance 2.0 series, and Seedance 2.5 series.",
            "default": "mp4"
          },
          "duration": {
            "type": "integer",
            "description": "Video duration, integer only, in seconds.\n\n* Seedance 1.0 pro, Seedance 1.0 pro fast: [2, 12] s.\n* Seedance 1.5 pro: [4, 12] or set to -1\n* Seedance 2.0 series: [4, 15] or set to -1\n* Seedance 2.5 series: [2, 30] or set to -1\n\n**Note**\n\nSeedance 2.5 series, Seedance 2.0 series, and Seedance 1.5 pro support two configuration methods:\n* Specify exact duration: Any integer within the valid range.\n* Smart mode: Set to -1 to let the model choose the appropriate video length (in whole seconds) within the valid range. The actual generated video duration can be obtained from the duration field returned by the query video generation task API. Note that video duration is related to billing, so set it carefully.",
            "default": 5,
            "minimum": -1,
            "maximum": 30
          },
          "frames": {
            "type": "integer",
            "description": "> Temporarily not supported by Seedance 2.5 series, Seedance 2.0 series, and Seedance 1.5 pro\n> Choose either duration or frames; frames takes priority over duration. If you want to generate videos with fractional seconds, it is recommended to specify frames.\n\nThe number of frames for the generated video. By specifying the frame count, you can flexibly control the video length and generate videos with fractional seconds.\n\nDue to frames value constraints, only limited fractional seconds are supported. You need to calculate the closest frame count using the formula.\n\n* Formula: frames = duration x frame rate (24).\n* Range: Supports all integer values in the [29, 289] range that satisfy the format 25 + 4n, where n is a positive integer.\n\nExample: To generate a 2.4-second video, frames = 2.4 x 24 = 57.6. Since frames does not support 57.6, you can only choose the closest value. According to 25+4n, the closest frame count is 57, and the actual generated video is 57/24 = 2.375 seconds.",
            "minimum": 29,
            "maximum": 289
          },
          "seed": {
            "type": "integer",
            "description": "> Temporarily not supported by Seedance 2.5 series and Seedance 2.0 series\n\nSeed integer for controlling the randomness of generated content. Range: integer in [-1, 2^32-1].\n\nNotes:\n* With the same request, if the model receives different seed values (e.g., not specifying a seed, setting seed to -1 which uses a random number, or manually changing the seed value), different results will be generated.\n* With the same request, if the model receives the same seed value, similar results will be generated, but exact consistency is not guaranteed.",
            "default": -1,
            "minimum": -1,
            "maximum": 4294967295
          },
          "camera_fixed": {
            "type": "boolean",
            "description": "> Not supported in reference image scenarios, temporarily not supported by Seedance 2.5 series and Seedance 2.0 series\n\nWhether to fix the camera.\n\n* true: Fix the camera. The platform will append fixed camera instructions to the user prompt, but the actual effect is not guaranteed.\n* false: Do not fix the camera.",
            "default": false
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether the generated video contains a watermark.\n\n* false: The generated video does not contain a watermark.\n* true: The generated video displays an \"AI Generated\" watermark in the bottom-right corner.",
            "default": false
          }
        }
      },
      "TextContent": {
        "title": "Text Content",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "The type of input content. This should be text."
          },
          "text": {
            "type": "string",
            "description": "Text prompt input to the model, describing the expected video content.\n\nNotes:\n* Prompt language support: All models support Chinese and English prompts; Seedance 2.5 series additionally supports Spanish, Indonesian, Portuguese, Japanese, Malay, Thai, Arabic, Vietnamese, and Korean; Seedance 2.0 series additionally supports Spanish, Indonesian, Portuguese, and Japanese.\n* Prompt length recommendations: Chinese prompts should not exceed 500 characters, English prompts should not exceed 1000 words. Excessively long prompts may cause information dispersion, and the model may ignore details and only focus on key points, resulting in missing elements in the video."
          }
        },
        "description": "Prompt information input to the model."
      },
      "ImageContent": {
        "title": "Image Content",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "The type of input content. This should be image_url."
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "description": "The image object input to the model.",
            "properties": {
              "url": {
                "type": "string",
                "description": "Image URL, Base64-encoded image, or asset ID.\n\n* Image URL: Provide the public URL of the image.\n* Base64 encoding: Convert local files to a Base64-encoded string and submit it to the model. Format: data:image/<image_format>;base64,<Base64_encoding>. Note that <image_format> must be lowercase, e.g., data:image/png;base64,{base64_image}.\n* Asset ID: The ID of preset assets and virtual avatars for video generation. Format: asset://<ASSET_ID>. Can be obtained from the Assets & Virtual Avatars library.\n\nSingle image requirements:\n* Formats: jpeg, png, webp, bmp, tiff, gif. Seedance 2.5 series, Seedance 2.0 series, and Seedance 1.5 pro additionally support heic and heif.\n* Aspect ratio (width/height): (0.4, 2.5)\n* Dimensions (px): (300, 6000)\n* Size: Single image under 30 MB. Request body size does not exceed 64 MB. Do not use Base64 encoding for large files.\n* Image count:\n   * Image-to-Video (First Frame): 1 image\n   * Image-to-Video (First & Last Frame): 2 images\n   * Seedance 2.5 series Multimodal Reference-to-Video: 1-30 images\n   * Seedance 2.0 series Multimodal Reference-to-Video: 1-9 images"
              }
            }
          },
          "role": {
            "type": "string",
            "enum": [
              "first_frame",
              "last_frame",
              "reference_image"
            ],
            "description": "The position or purpose of the image. Conditionally required.\n\nNote:\n* Image-to-Video (First Frame), Image-to-Video (First & Last Frame), and Multimodal Reference-to-Video (including reference images, videos, and audio) are 3 mutually exclusive scenarios and cannot be mixed.\n* Multimodal Reference-to-Video: You can specify reference images as first/last frames through prompts to indirectly achieve \"First & Last Frame + Multimodal Reference\" effects. If you need strict consistency between the first/last frames and specified images, prioritize using Image-to-Video (First & Last Frame) with role set to first_frame/last_frame.\n\nImage-to-Video (First Frame):\n* Supported models: All models\n* Field role value: Requires 1 image_url object, with role set to first_frame or left empty.\n\nImage-to-Video (First & Last Frame):\n* Supported models: Seedance 2.5 series, Seedance 2.0 series, Seedance 1.5 pro, Seedance 1.0 pro\n* Field role value: Requires 2 image_url objects, and the role field is required.\n\n   * The role for the first frame image is: first_frame\n\n   * The role for the last frame image is: last_frame\n\nNote: The first and last frame images can be the same. If the aspect ratios of the first and last frame images differ, the first frame image takes priority, and the last frame image will be automatically cropped to fit.\n\nImage-to-Video (Reference Image):\n* Supported models: Seedance 2.5 series (1-30 images), Seedance 2.0 series (1-9 images)\n* Field role value: Required. The role for each reference image is: reference_image"
          }
        },
        "description": "Image information input to the model."
      },
      "VideoContent": {
        "title": "Video Content",
        "type": "object",
        "required": [
          "type",
          "video_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "video_url"
            ],
            "description": "The type of input content. This should be video_url."
          },
          "video_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "description": "The video object input to the model.",
            "properties": {
              "url": {
                "type": "string",
                "description": "Video URL or Asset ID.\n\n* Video URL: Enter the public URL of the video.\n* Asset ID: ID for preset assets and virtual avatar videos used in video generation, format: asset://<ASSET_ID>. Can be obtained from the Assets & Virtual Avatars Library.\n\nSingle video requirements:\n* Video format: mp4, mov. Supported codecs are listed below.\n* Resolution: 480p, 720p, 1080p, 4k\n* Duration:\n   * Seedance 2.5 series: Single video [2, 30] s, up to 10 reference videos, total duration must not exceed 30s.\n   * Seedance 2.0 series: Single video [2, 15] s, up to 3 reference videos, total duration must not exceed 15s.\n* Dimensions:\n   * Aspect ratio (width/height): [0.4, 2.5]\n   * Width/height (px): [300, 6000]\n   * Total pixels: [640x640=409600, 3326x2494=8295044], i.e., width x height must be within [409600, 8295044].\n* Size:\n   * Seedance 2.5 series: Single video must not exceed 200 MB.\n   * Seedance 2.0 series: Single video must not exceed 50 MB.\n* Frame rate (FPS): [24, 60]\n\nSupported codecs:\n| Container | Common Extensions | MIME | Supported Codecs |\n|---|---|---|---|\n| MP4 | .mp4 | video/mp4 | Video: H.264/AVC, H.265/HEVC; Audio: AAC, MP3 |\n| QuickTime | .mov | video/quicktime | Video: H.264/AVC, H.265/HEVC; Audio: AAC, MP3 |"
              }
            }
          },
          "role": {
            "type": "string",
            "enum": [
              "reference_video"
            ],
            "description": "The position or purpose of the video. Currently only supports reference_video. Required under certain conditions."
          }
        },
        "description": "Video information input to the model. Only Seedance 2.5 series and Seedance 2.0 series support video input."
      },
      "AudioContent": {
        "title": "Audio Content",
        "type": "object",
        "required": [
          "type",
          "audio_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "audio_url"
            ],
            "description": "The type of input content. This should be audio_url. Only Seedance 2.5 series and Seedance 2.0 series support audio input. Seedance 2.5 series supports audio-only input; Seedance 2.0 series does not support audio-only input and must include at least 1 reference video or image."
          },
          "audio_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "description": "The audio object input to the model. Only Seedance 2.5 series and Seedance 2.0 series support audio input.",
            "properties": {
              "url": {
                "type": "string",
                "description": "Audio URL, Audio Base64 encoding, or Asset ID.\n\n* Audio URL: Enter the public URL of the audio.\n* Base64 encoding: Convert a local file to a Base64-encoded string and submit it to the model. Format: data:audio/<audio_format>;base64,<Base64_encoding>. Note that <audio_format> must be lowercase, e.g., data:audio/wav;base64,{base64_audio}.\n* Asset ID: ID for virtual avatar audio assets used in video generation, format: asset://<ASSET_ID>. Can be obtained from the Assets & Virtual Avatars Library.\n\nSingle audio requirements:\n* Formats: wav, mp3\n* Duration:\n   * Seedance 2.5 series: Single audio [2, 30] s, up to 10 reference audio segments, total duration must not exceed 30s.\n   * Seedance 2.0 series: Single audio [2, 15] s, up to 3 reference audio segments, total duration must not exceed 15s.\n* Size: Single audio must not exceed 15 MB, request body size must not exceed 64 MB. Do not use Base64 encoding for large files."
              }
            }
          },
          "role": {
            "type": "string",
            "enum": [
              "reference_audio"
            ],
            "description": "The position or purpose of the audio. Currently only supports reference_audio. Required under certain conditions."
          }
        },
        "description": "Audio information input to the model. Only Seedance 2.5 series and Seedance 2.0 series support audio input. Seedance 2.5 series supports audio-only input; Seedance 2.0 series does not support audio-only input and must include at least 1 reference video or image."
      },
      "DraftTaskContent": {
        "title": "Draft Task Content",
        "type": "object",
        "required": [
          "type",
          "draft_task"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "draft_task"
            ],
            "description": "The type of input content. This should be draft_task."
          },
          "draft_task": {
            "type": "object",
            "required": [
              "id"
            ],
            "description": "Draft task object input to the model.",
            "properties": {
              "id": {
                "type": "string",
                "description": "Draft task ID. The platform will automatically reuse the user input from the Draft video (model, content.text, content.image_url, generate_audio, seed, ratio, duration, camera_fixed) to generate the final video. Other parameters can be specified; if not specified, the model defaults will be used.\n\nUsage is a two-step process: Step 1: Call this endpoint to generate a Draft video. Step 2: If the Draft video meets expectations, call this endpoint again with the Draft video task ID from Step 1 to generate the final video."
              }
            }
          }
        },
        "description": "Generate the final video based on the draft task ID. Only supported by Seedance 1.5 Pro."
      },
      "Tool": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "web_search"
            ],
            "description": "Specifies the type of tool to use.\n\n* web_search: Web search tool.\n\nNotes:\n* When web search is enabled, the model autonomously determines whether to search internet content (e.g., products, weather) based on the user prompt. This can improve the timeliness of generated videos but may increase latency.\n* The actual number of searches can be obtained from the usage.tool_usage.web_search field in the query video generation task API response. A value of 0 indicates no search was performed."
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Video generation task ID. Only stored for 7 days (from the `created_at` timestamp), then automatically deleted.\n\n* When draft: true, this is the Draft video task ID.\n* When draft: false, this is the normal video task ID.\n\nVideo generation is asynchronous. After obtaining the ID, use the query video generation task API to check the status. When successful, the API returns the generated video URL."
          }
        }
      }
    }
  }
}