{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedream 4.5 Image-to-Image",
    "version": "1.0.0",
    "description": "Seedream series image-to-image and multi-image reference documentation. The public unified endpoint is `/v1/images/generations`.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API server"
    }
  ],
  "tags": [
    {
      "name": "Seedream Image",
      "description": "Seedream series image generation capabilities"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "summary": "Seedream 4.5 Image-to-Image",
        "description": "Supported models include `seedream-4-5-251128`. This document covers image-to-image and multi-image reference generation scenarios. Public fields include `model`, `prompt`, `image`, `size`, `seed`, `sequential_image_generation`, `sequential_image_generation_options`, `response_format`, `watermark`.",
        "operationId": "byteplusImageToImage45",
        "tags": [
          "Seedream Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageToImageRequest"
              },
              "examples": {
                "image_to_image": {
                  "summary": "Basic Image-to-Image",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "prompt": "Transform the image into Studio Ghibli animation style",
                    "image": "https://example.com/input.jpg",
                    "size": "2048x2048"
                  }
                },
                "multi_image_reference": {
                  "summary": "Multi-Image Reference Generation",
                  "value": {
                    "model": "seedream-4-5-251128",
                    "prompt": "Combine the styles of these images to generate a new landscape",
                    "image": [
                      "https://example.com/ref1.jpg",
                      "https://example.com/ref2.jpg"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful call, returns image generation results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Parameter Error",
                    "value": {
                      "error": {
                        "message": "Invalid request body format or field value",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g., no token provided or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Insufficient Quota or Rate Limited",
                    "value": {
                      "error": {
                        "message": "Insufficient account quota, please retry later",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal Processing Failure",
                    "value": {
                      "error": {
                        "message": "Internal service processing failed, please retry later",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "ImageToImageRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "image"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedream-4-5-251128"
            ],
            "description": "Image generation model name. Supported models include `seedream-4-5-251128`."
          },
          "prompt": {
            "type": "string",
            "description": "The prompt used for image generation, supporting both Chinese and English. It is recommended not to exceed 300 Chinese characters or 600 English words. Too many words may cause information to be scattered, and the model may ignore details and focus only on key points, resulting in missing elements in the image.",
            "example": "A vibrant close-up editorial portrait of a model with sharp eyes, wearing a sculptural hat, rich color blocking."
          },
          "image": {
            "oneOf": [
              {
                "type": "string",
                "description": "Input image information, supports URL or Base64 encoding."
              },
              {
                "type": "array",
                "description": "Input multiple image information, supports URL or Base64 encoding.",
                "items": {
                  "type": "string"
                },
                "maxItems": 14
              }
            ],
            "description": "Input image information, supports URL or Base64 encoding. seedream 4.0 supports single or multiple image input.\n\n- Image URL: Ensure the image URL is accessible.\n- Base64 encoding: Follow the format `data:image/<image_format>;base64,<Base64_encoding>`. Note that `<image_format>` must be lowercase, e.g., `data:image/png;base64,<base64_image>`.\n\nNotes:\n- Single image requirements:\n  - Image formats: jpeg, png (seedream 4.0 adds support for webp, bmp, tiff, gif, heic, heif formats)\n  - Aspect ratio (width/height) range: [1/16, 16] (applicable model: seedream 4.0)\n  - Width and height (px) > 14\n  - Size: no more than 30MB\n  - Total pixels: no more than 6000×6000 = 36000000 px (this is a limit on the product of an image's width and height in pixels, not a limit on individual width or height values)\n- seedream 4.0 supports up to 14 reference images."
          },
          "size": {
            "type": "string",
            "x-enum": [
              "2K",
              "4K"
            ],
            "description": "Specifies the size information for the generated image. Different models support different sizing methods.\n\n**seedream-4-5-251128**:\n- Method 1 | Specify the resolution of the generated image. Available values: `2K`, `4K`\n- Method 2 | Specify the width and height pixel values of the generated image:\n  - Default: `2048x2048`\n  - Total pixel range: [`2560x1440=3686400`, `4096x4096=16777216`]\n  - Aspect ratio range: [`1/16`, `16`]\n\nRecommended width and height pixel values:\n\n| Resolution | Aspect Ratio | Width x Height Pixels |\n|---|---|---|\n| 2K | 1:1 | 2048x2048 |\n| | 4:3 | 2304x1728 |\n| | 3:4 | 1728x2304 |\n| | 16:9 | 2848x1600 |\n| | 9:16 | 1600x2848 |\n| | 3:2 | 2496x1664 |\n| | 2:3 | 1664x2496 |\n| | 21:9 | 3136x1344 |\n| 4K | 1:1 | 4096x4096 |\n| | 3:4 | 3520x4704 |\n| | 4:3 | 4704x3520 |\n| | 16:9 | 5504x3040 |\n| | 9:16 | 3040x5504 |\n| | 2:3 | 3328x4992 |\n| | 3:2 | 4992x3328 |\n| | 21:9 | 6240x2656 |",
            "default": "2K",
            "example": "2048x2048"
          },
          "response_format": {
            "type": "string",
            "enum": ["url", "b64_json"],
            "description": "Specifies the return format for the generated image. Supports the following two return methods:\n- `url`: Returns an image download link; the link is valid for 24 hours after image generation, please download the image promptly.\n- `b64_json`: Returns image data in JSON format as a Base64-encoded string.",
            "default": "url"
          },
          "seed": {
            "type": "integer",
            "description": "Random seed. Supported by some Seedream models. Value range [-1, 2147483647].",
            "default": -1,
            "minimum": -1,
            "maximum": 2147483647
          },
          "sequential_image_generation": {
            "type": "string",
            "enum": ["auto", "disabled"],
            "description": "Controls whether to disable the sequential image generation feature.\n- `auto`: Automatic mode. The model autonomously determines whether to return sequential images and how many images to include based on the prompt.\n- `disabled`: Disables sequential image generation. The model will only generate one image.\n\nOnly seedream 5.0/4.5/4.0 support this parameter.",
            "default": "disabled"
          },
          "sequential_image_generation_options": {
            "type": "object",
            "description": "Configuration for the sequential image generation feature. Only effective when `sequential_image_generation` is set to `auto`.\n\nOnly seedream 5.0/4.5/4.0 support this parameter.",
            "properties": {
              "max_images": {
                "type": "integer",
                "description": "Specifies the maximum number of images that can be generated for this request.\n- Value range: [1, 15]\n\nNote: The actual number of images generated is affected by `max_images` as well as the number of input reference images. Number of input reference images + number of final generated images ≤ 15.",
                "minimum": 1,
                "maximum": 15,
                "default": 15
              }
            }
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark to the generated image.\n- `false`: No watermark added.\n- `true`: Adds an \"AI-generated\" watermark label at the bottom right corner of the image.",
            "default": true
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp (seconds) of when the request was created."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            },
            "description": "List of generated images. May contain multiple images in sequential image generation scenarios."
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Image download link. Valid for 24 hours, please save it promptly."
          },
          "b64_json": {
            "type": "string",
            "description": "Base64-encoded image data."
          },
          "size": {
            "type": "string",
            "description": "Image dimensions (width x height). Only returned for seedream-5.0-lite/4.5/4.0."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}