{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedream 5.0 Pro Image-to-Image",
    "version": "1.0.0",
    "description": "Seedream series Image-to-Image and multi-image reference capability documentation. The public unified endpoint is `/v1/images/generations`.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Seedream Image",
      "description": "Seedream series image generation capabilities"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "summary": "Seedream 5.0 Pro Image-to-Image",
        "description": "Supported models include `dola-seedream-5-0-pro-260628`. This document covers Image-to-Image and Multi-Image Reference Generation scenarios. Public fields include `model`, `prompt`, `image`, `size`, `seed`, `sequential_image_generation`, `sequential_image_generation_options`, `response_format`, and `watermark`.",
        "operationId": "byteplusImageToImage50Pro",
        "tags": [
          "Seedream Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageToImageRequest"
              },
              "examples": {
                "image_to_image": {
                  "summary": "Basic Image-to-Image",
                  "value": {
                    "model": "dola-seedream-5-0-pro-260628",
                    "prompt": "Convert the image to Studio Ghibli animation style",
                    "image": "https://example.com/input.jpg",
                    "size": "2048x2048"
                  }
                },
                "multi_image_reference": {
                  "summary": "Multi-Image Reference Generation",
                  "value": {
                    "model": "dola-seedream-5-0-pro-260628",
                    "prompt": "Combine the styles of these images to generate a new landscape",
                    "image": [
                      "https://example.com/ref1.jpg",
                      "https://example.com/ref2.jpg"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, returns the image generation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid Parameters",
                    "value": {
                      "error": {
                        "message": "Request body format error or invalid field values",
                        "type": "invalid_request_error",
                        "code": "bad_request_body",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g., token not provided or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Quota Exceeded or Rate Limited",
                    "value": {
                      "error": {
                        "message": "Insufficient account quota, please try again later",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred during request processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal Processing Failed",
                    "value": {
                      "error": {
                        "message": "Internal service processing failed, please try again later",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "ImageToImageRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "image"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "dola-seedream-5-0-pro-260628"
            ],
            "description": "Image generation model name. Supported models include `dola-seedream-5-0-pro-260628`."
          },
           "prompt": {
            "type": "string",
            "description": "Prompt for image generation, supports Chinese and English. It is recommended not to exceed 300 Chinese characters or 600 English words. Too many words may disperse information, causing the model to ignore details and focus only on key points, resulting in missing elements in the image.",
            "example": "Dynamic close-up editorial portrait with sharp gaze, sculptural hat, rich color blocking."
          },
          "image": {
            "oneOf": [
              {
                "type": "string",
                "description": "Input image information, supports URL or Base64 encoding."
              },
              {
                "type": "array",
                "description": "Input multiple image information, supports URL or Base64 encoding.",
                "items": {
                  "type": "string"
                },
                "maxItems": 14
              }
            ],
            "description": "Input image information, supports URL or Base64 encoding. Seedream 5.0/4.5/4.0 supports single or multiple image inputs.\n\n- Image URL: Ensure the image URL is accessible.\n- Base64 encoding: Follow the format `data:image/<image_format>;base64,<Base64_encoded>`. Note that `<image_format>` should be lowercase, e.g., `data:image/png;base64,<base64_image>`.\n\nNotes:\n- Single image requirements:\n  - Format: jpeg, png (seedream 5.0/4.5/4.0 additionally supports webp, bmp, tiff, gif, heic, heif formats)\n  - Aspect ratio (width/height) range: [1/16, 16] (for seedream 5.0/4.5/4.0)\n  - Width/height (px) > 14\n  - Size: no more than 30MB\n  - Total pixels: no more than 6000×6000 = 36000000 px (limit on the product of width and height, not individual values)\n- Seedream 5.0/4.5/4.0 supports up to 14 reference images."
          },
          "size": {
            "type": "string",
            "x-enum": [
              "1K",
              "2K"
            ],
            "description": "Specifies the size of the generated image. Different models support different sizing methods.\n\n**dola-seedream-5-0-pro-260628**:\nSpecifies the size of the generated image, supports the following two methods, which cannot be mixed.\n\n* Method 1 | Specify width and height pixel values:\n  * Default: `2048x2048`\n  * Total pixel range: [`1280x720` (921600), `4096x4096` (16777216)]\n  * Aspect ratio range: [1/16, 16]\n\n  > Note: When using Method 1, both total pixel range and aspect ratio range must be satisfied. Total pixels refers to the product of width and height, not individual values.\n  > * Valid example: `1600x600`\n    Total pixels 1600x600=960000, within [921600, 16777216]; aspect ratio 1600/600=8/3, within [1/16, 16], so valid.\n  > * Invalid example: `800x800`\n    Total pixels 800x800=640000, below 921600 minimum; aspect ratio 800/800=1, within [1/16, 16], but fails due to total pixel requirement.\n\n* Method 2 | Specify resolution and describe aspect ratio in prompt:\n  * Options: `1K`, `2K`\n\n  Resolution to pixel reference:\n\n  | Resolution | Aspect Ratio | Pixel Dimensions |\n  |---|---|---|\n  | 1K | 1:1 | 1024x1024 |\n  | | 4:3 | 1152x864 |\n  | | 3:4 | 864x1152 |\n  | | 16:9 | 1280x720 |\n  | | 9:16 | 720x1280 |\n  | | 3:2 | 1248x832 |\n  | | 2:3 | 832x1248 |\n  | | 21:9 | 1512x648 |\n  | 2K | 1:1 | 2048x2048 |\n  | | 4:3 | 2304x1728 |\n  | | 3:4 | 1728x2304 |\n  | | 16:9 | 2848x1600 |\n  | | 9:16 | 1600x2848 |\n  | | 3:2 | 2496x1664 |\n  | | 2:3 | 1664x2496 |\n  | | 21:9 | 3136x1344 |\n\n",
            "default": "2K",
            "example": "2048x2048"
          },
          "response_format": {
            "type": "string",
            "enum": ["url", "b64_json"],
            "description": "Specifies the return format of the generated image. Supported options:\n- `url`: Returns image download URL; valid for 24 hours after generation.\n- `b64_json`: Returns image data as Base64 encoded JSON.",
            "default": "url"
          },
          "seed": {
            "type": "integer",
            "description": "Random seed. Supported by some Seedream models. Range: [-1, 2147483647].",
            "default": -1,
            "minimum": -1,
            "maximum": 2147483647
          },
          "sequential_image_generation": {
            "type": "string",
            "enum": ["auto", "disabled"],
            "description": "Controls whether sequential image generation is enabled.\n- `auto`: Auto mode, model determines whether to return sequential images and how many.\n- `disabled`: Disabled, model generates only one image.\n\nSupported by seedream 5.0/4.5/4.0 only.",
            "default": "disabled"
          },
          "sequential_image_generation_options": {
            "type": "object",
            "description": "Configuration for sequential image generation. Effective only when `sequential_image_generation` is `auto`.\n\nSupported by seedream 5.0/4.5/4.0 only.",
            "properties": {
              "max_images": {
                "type": "integer",
                "description": "Maximum number of images to generate.\n- Range: [1, 15]\n\nNote: The actual number of generated images is affected by both `max_images` and the number of input reference images. Input reference images + generated images ≤ 15.",
                "minimum": 1,
                "maximum": 15,
                "default": 15
              }
            }
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add watermark to generated images.\n- `false`: No watermark.\n- `true`: Add \"AI Generated\" watermark at bottom right corner.",
            "default": true
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp (seconds) of creation."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            },
            "description": "List of generated images. May contain multiple images in sequential generation scenarios."
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Image download URL. Valid for 24 hours, please save promptly."
          },
          "b64_json": {
            "type": "string",
            "description": "Base64 encoded image data."
          },
          "size": {
            "type": "string",
            "description": "Image dimensions (widthxheight). Returned by seedream-5.0-lite/4.5/4.0 only."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}