{
  "openapi": "3.0.1",
  "info": {
    "title": "mimo-v2.5",
    "version": "1.0.0",
    "description": "MIMO Chat Completions documentation",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API server endpoint"
    }
  ],
  "tags": [
    {
      "name": "MIMO Chat",
      "description": "MIMO text chat"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "mimo-v2.5",
        "description": "Invoke MIMO chat completions capability",
        "operationId": "mimoChatCompletions_mimo_v2_5_en",
        "tags": [
          "MIMO Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "default": {
                  "summary": "Basic text chat",
                  "value": {
                    "model": "mimo-v2.5",
                    "messages": [
                      {
                        "content": "You are MiMo",
                        "role": "system"
                      },
                      {
                        "content": "Introduce yourself",
                        "role": "user"
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "temperature": 1,
                    "top_p": 0.95,
                    "stream": false,
                    "frequency_penalty": 0,
                    "thinking": {
                      "type": "disabled"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Returns JSON in non-streaming mode; returns an SSE event stream in streaming mode.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Non-streaming success response",
                    "value": {
                      "id": "test",
                      "object": "chat.completion",
                      "created": 1782805310,
                      "model": "mimo-v2.5",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "Hello! I am MiMo"
                          },
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 10,
                        "completion_tokens": 5,
                        "total_tokens": 15
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE data stream. Each `data:` event can be parsed as a DeepSeek/OpenAI-compatible Chat Completions Chunk; the stream typically ends with `data: [DONE]`. When `stream_options.include_usage=true` is set, an additional chunk with `usage` is returned before the end."
                },
                "examples": {
                  "stream": {
                    "summary": "Streaming response chunk",
                    "value": "data: {\"id\":\"chatcmpl_bp_123\",\"object\":\"chat.completion.chunk\",\"created\":1742342400,\"model\":\"deepseek-v4-pro\",\"choices\":[{\"index\":0,\"delta\":{\"role\":\"assistant\",\"content\":\"Calling weather tool\"},\"finish_reason\":null}],\"usage\":{\"prompt_tokens\":48,\"completion_tokens\":6,\"total_tokens\":54}}\n\ndata: {\"id\":\"chatcmpl_bp_123\",\"object\":\"chat.completion.chunk\",\"created\":1742342401,\"model\":\"deepseek-v4-pro\",\"choices\":[{\"index\":0,\"delta\":{\"tool_calls\":[{\"index\":0,\"id\":\"call_weather\",\"type\":\"function\",\"function\":{\"name\":\"get_weather\",\"arguments\":\"{\\\"city\\\":\\\"Beijing\\\"}\"}}]},\"finish_reason\":\"tool_calls\"}],\"usage\":{\"prompt_tokens\":48,\"completion_tokens\":22,\"total_tokens\":70}}\n\ndata: [DONE]\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Parameter error",
                    "value": {
                      "error": {
                        "message": "messages is required",
                        "type": "invalid_request_error",
                        "param": "messages",
                        "code": "bad_request_body"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g. missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Insufficient quota or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient account quota, please retry later",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing failure",
                    "value": {
                      "error": {
                        "message": "Internal processing failed, please retry later",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "description": "MIMO chat completions request body.",
        "properties": {
          "model": {
            "type": "string",
            "description": "Model ID to use",
            "enum": [
              "mimo-v2.5"
            ],
            "example": "mimo-v2.5"
          },
          "messages": {
            "type": "array",
            "description": "A list of messages comprising the conversation so far.",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "frequency_penalty": {
            "type": "number",
            "nullable": true,
            "default": 0,
            "minimum": -2.0,
            "maximum": 2.0,
            "description": "A value between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, reducing the model's likelihood of repeating the same content."
          },
          "max_completion_tokens": {
            "type": "integer",
            "nullable": true,
            "description": "The upper limit of tokens that can be generated in the chat completion, including visible output tokens and reasoning tokens. Default is 32768 for mimo-v2.5. Range: [1, 131072]"
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "stop": {
            "description": "Up to 4 sequences where the API will stop generating further tokens when any of them is encountered. The returned text will not contain the stop sequences.",
            "nullable": true,
            "default": null,
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "maxItems": 4
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "If set to true, the model's response data will be streamed to the client via SSE (server-sent events) during generation."
          },
          "thinking": {
            "$ref": "#/components/schemas/ThinkingConfig"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1.5,
            "default": 1.0,
            "description": "Sampling temperature to use, between 0 and 1.5. Higher values (e.g., 0.8) make the output more random, while lower values (e.g., 0.2) make it more focused and deterministic. We generally recommend altering this or top_p but not both. In thinking mode, mimo-v2.5-pro and mimo-v2.5 do not support custom temperature. Even if passed, the model will force the recommended default value of 1.0."
          },
          "tool_choice": {
            "$ref": "#/components/schemas/ToolChoice"
          },
          "top_p": {
            "type": "number",
            "default": 0.95,
            "minimum": 0.01,
            "maximum": 1.0,
            "description": "Probability threshold for nucleus sampling, controlling the diversity of text generation. Higher top_p values produce more diverse text; lower values produce more deterministic text. Since both temperature and top_p control text diversity, it is recommended to adjust only one of them. In thinking mode, mimo-v2.5-pro and mimo-v2.5 do not support custom top_p. Even if passed, the model will force the recommended default value of 0.95."
          },
          "tools": {
            "type": "array",
            "description": "A list of tools the model may call. Currently, only function tools are supported. Note: In multi-round tool calls under thinking mode, the model returns the reasoning_content field along with tool_calls. To continue the conversation, it is recommended to retain all historical reasoning_content in the messages array of each subsequent request for optimal performance.",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            }
          }
        }
      },
      "Message": {
        "description": "A single message in the conversation. Depending on the role, it is divided into five message types: developer, system, user, assistant, and tool.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/DeveloperMessage"
          },
          {
            "$ref": "#/components/schemas/SystemMessage"
          },
          {
            "$ref": "#/components/schemas/UserMessage"
          },
          {
            "$ref": "#/components/schemas/AssistantRequestMessage"
          },
          {
            "$ref": "#/components/schemas/ToolMessage"
          }
        ]
      },
      "SystemMessage": {
        "title": "System message",
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "System message. The role of this message is system.",
        "properties": {
          "content": {
            "description": "The content of the system message.",
            "oneOf": [
              {
                "type": "string",
                "description": "Plain text content."
              },
              {
                "$ref": "#/components/schemas/TextContentPartArray"
              }
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "system"
            ],
            "description": "The role of the message author, which is system."
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant, provided to the model to distinguish between participants of the same role."
          }
        }
      },
      "UserMessage": {
        "title": "User message",
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "User message. The role of this message is user.",
        "properties": {
          "content": {
            "description": "The content of the user message.",
            "oneOf": [
              {
                "type": "string",
                "description": "Plain text content."
              },
              {
                "$ref": "#/components/schemas/ContentPartArray"
              }
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "The role of the message author, which is user."
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant, provided to the model to distinguish between participants of the same role."
          }
        }
      },
      "AssistantRequestMessage": {
        "title": "Assistant message",
        "type": "object",
        "required": [
          "role"
        ],
        "description": "Assistant message. The role of this message is assistant.",
        "properties": {
          "content": {
            "description": "The content of the assistant message.",
            "oneOf": [
              {
                "type": "string",
                "nullable": true,
                "description": "Plain text content."
              },
              {
                "$ref": "#/components/schemas/TextContentPartArray"
              }
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ],
            "description": "The role of the message author, which is assistant."
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant, provided to the model to distinguish between participants of the same role."
          },
          "prefix": {
            "type": "boolean",
            "description": "(Beta) Set this to true to force the model to start its response with the prefix content provided in this assistant message."
          },
          "reasoning_content": {
            "type": "string",
            "nullable": true,
            "description": "(Beta) Used in thinking mode under conversation prefix continuation, as input for the last assistant chain-of-thought content. When using this feature, the prefix parameter must be set to true."
          }
        }
      },
      "ToolMessage": {
        "title": "Tool message",
        "type": "object",
        "required": [
          "role",
          "content",
          "tool_call_id"
        ],
        "description": "Tool message. The role of this message is tool.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "tool"
            ],
            "description": "The role of the message author, which is tool."
          },
          "content": {
            "type": "string",
            "description": "The content of the tool message."
          },
          "tool_call_id": {
            "type": "string",
            "description": "The ID of the tool call that this message is responding to."
          }
        }
      },
      "ThinkingConfig": {
        "type": "object",
        "description": "Controls whether the model enables chain-of-thought (thinking) mode. Note: In multi-round tool calls under thinking mode, the model returns the reasoning_content field along with tool_calls. To continue the conversation, it is recommended to retain all historical reasoning_content in the messages array of each subsequent request for optimal performance. In thinking mode, mimo-v2.5-pro and mimo-v2.5 do not support custom temperature and top_p parameters. Even if passed, the model will force the recommended default values of 1.0 and 0.95 respectively.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "default": "enabled",
            "description": "Whether to enable chain-of-thought. For mimo-v2.5-pro and mimo-v2.5, the default value is enabled. Allowed values: enabled, disabled"
          }
        }
      },
      "StreamOptions": {
        "type": "object",
        "description": "Options for streaming output. This parameter can only be set when the stream parameter is true.",
        "properties": {
          "include_usage": {
            "type": "boolean",
            "description": "If set to true, an additional chunk will be transmitted just before the final `data: [DONE]` in the stream. The usage field on this chunk shows the token usage statistics for the entire request, while the choices field will always be an empty array. All other chunks will also include a usage field, but its value will be null."
          }
        }
      },
      "ToolDefinition": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "description": "Function tool definition.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "The type of the tool. Currently only function is supported."
          },
          "function": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the function to call. Must consist of a-z, A-Z, 0-9 characters, or include underscores (_) and hyphens (-), with a maximum length of 64 characters."
              },
              "description": {
                "type": "string",
                "description": "A description of what the function does, used by the model to understand when and how to call it."
              },
              "parameters": {
                "type": "object",
                "description": "The input parameters of the function, described as a JSON Schema object. Omitting parameters defines a function with an empty parameter list.",
                "additionalProperties": true
              },
              "strict": {
                "type": "boolean",
                "default": false,
                "description": "Whether to enable strict schema adherence when generating function calls. If set to true, the model will strictly follow the exact schema defined in the parameters field. When strict is true, only a subset of JSON Schema is supported."
              }
            }
          }
        }
      },
      "WebSearchUserLocation": {
        "type": "object",
        "required": [
          "type",
          "country"
        ],
        "description": "User geographical location for optimizing model output.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "approximate"
            ],
            "description": "Location type, must be approximate."
          },
          "country": {
            "type": "string",
            "description": "Country"
          },
          "region": {
            "type": "string",
            "description": "Region/State"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "district": {
            "type": "string",
            "description": "District"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude"
          }
        }
      },
      "WebSearchTool": {
        "type": "object",
        "required": [
          "type"
        ],
        "description": "Web search tool object. For details, please refer to Web Search documentation. Note: The web search plugin must be enabled before use.",
        "properties": {
          "user_location": {
            "$ref": "#/components/schemas/WebSearchUserLocation"
          },
          "type": {
            "type": "string",
            "enum": [
              "web_search"
            ],
            "description": "The type of the tool. Must be web_search."
          },
          "force_search": {
            "type": "string",
            "default": "false",
            "description": "Whether to force search. true forces search, false lets the model decide whether search is needed."
          },
          "max_keyword": {
            "type": "integer",
            "default": 5,
            "minimum": 1,
            "maximum": 50,
            "description": "Limits the maximum number of keywords that can be used in a single search turn."
          },
          "limit": {
            "type": "integer",
            "default": 5,
            "minimum": 1,
            "maximum": 50,
            "description": "Limits the maximum number of results returned per single search operation."
          }
        }
      },
      "ToolChoice": {
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "auto"
            ]
          }
        ],
        "description": "Controls how the model selects tools. Note: When tool_choice is set to a non-auto value, the backend will remove this field by default, and the model's response behavior will still be equivalent to auto mode (this logic may be subject to adjustment). Allowed values: auto"
      },
      "ResponseFormat": {
        "type": "object",
        "description": "An object specifying the format that the model must output.",
        "oneOf": [
          {
            "type": "object",
            "title": "Text",
            "description": "Default response format. Used for generating text responses.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text"
                ],
                "description": "The type of response format. Must be text."
              }
            },
            "required": [
              "type"
            ]
          },
          {
            "type": "object",
            "title": "JSON object",
            "description": "JSON object response format. Note: The model will not output JSON formatted content unless instructed to generate JSON in the system or user messages.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "json_object"
                ],
                "description": "The type of response format. Must be json_object."
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "ToolCallMessage": {
        "type": "object",
        "required": [
          "id",
          "type",
          "function"
        ],
        "description": "Tool call object within a message.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the tool call."
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "The type of the tool. Currently only function is supported."
          },
          "function": {
            "type": "object",
            "description": "The function the model called.",
            "required": [
              "name",
              "arguments"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the function the model called."
              },
              "arguments": {
                "type": "string",
                "description": "The arguments to call the function with, generated by the model as a JSON string. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined in your function schema. Validate these arguments in your code before calling the function."
              }
            }
          }
        }
      },
      "Annotation": {
        "type": "object",
        "description": "Annotations returned by web search, containing citation URLs.",
        "properties": {
          "logo_url": {
            "type": "string",
            "description": "Logo URL."
          },
          "publish_time": {
            "type": "string",
            "description": "Publish time."
          },
          "site_name": {
            "type": "string",
            "description": "Website name."
          },
          "summary": {
            "type": "string",
            "description": "Summary."
          },
          "title": {
            "type": "string",
            "description": "Title."
          },
          "type": {
            "type": "string",
            "description": "Type."
          },
          "url": {
            "type": "string",
            "description": "URL."
          }
        }
      },
      "AudioResponse": {
        "type": "object",
        "description": "If audio output is requested, this object contains data about the model's audio response.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this audio response."
          },
          "data": {
            "type": "string",
            "description": "Base64-encoded audio generated by the model, in the format specified in the request."
          },
          "expires_at": {
            "type": "number",
            "nullable": true,
            "description": "Unix timestamp (in seconds) when this audio response expires. Currently null."
          },
          "transcript": {
            "type": "string",
            "nullable": true,
            "description": "Transcript of the generated audio. Currently null."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "Chat response object (non-streaming).",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "object": {
            "type": "string",
            "description": "The type of the object, which is chat.completion."
          },
          "created": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) when the chat completion was created."
          },
          "model": {
            "type": "string",
            "description": "The name of the model that generated the completion."
          },
          "choices": {
            "type": "array",
            "description": "A list of completions generated by the model.",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ChatCompletionChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "The index of this completion in the list of choices."
          },
          "message": {
            "$ref": "#/components/schemas/AssistantResponseMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "The reason the model stopped generating tokens. stop if the model reached a natural stop point or a provided stop sequence; length if the maximum number of tokens specified in the request was reached; tool_calls if the model called a tool; content_filter if the content was blocked due to a filtering policy; repetition_truncation if the model detected repetition."
          }
        }
      },
      "AssistantResponseMessage": {
        "type": "object",
        "description": "The chat completion message generated by the model.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ],
            "description": "The role of the message author."
          },
          "content": {
            "type": "string",
            "description": "The content of the message."
          },
          "reasoning_content": {
            "type": "string",
            "description": "The reasoning content in the assistant message, preceding the final answer."
          },
          "tool_calls": {
            "type": "array",
            "description": "After a function call is initiated, the model returns the tools to be called along with the parameters required. This parameter may contain one or more tool response objects.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ToolCallMessage"
                }
              ]
            }
          },
          "annotations": {
            "type": "array",
            "description": "After web search, the model returns annotations for all cited URLs.",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            }
          },
          "error_message": {
            "type": "string",
            "description": "Error message for web search."
          },
          "audio": {
            "$ref": "#/components/schemas/AudioResponse"
          },
          "final_text_preview": {
            "type": "string",
            "description": "The final text after intelligent optimization and polishing for audio broadcasting. Only returned when the request parameter optimize_text_preview is set to true."
          }
        }
      },
      "ChatCompletionChunkChoice": {
        "type": "object",
        "description": "Chat response chunk object (streaming).",
        "properties": {
          "index": {
            "type": "integer",
            "description": "The index of this completion in the list of choices."
          },
          "delta": {
            "type": "object",
            "description": "The chat completion delta generated by the model in streaming mode.",
            "properties": {
              "role": {
                "type": "string",
                "enum": [
                  "assistant"
                ],
                "description": "The role of the message author."
              },
              "content": {
                "type": "string",
                "description": "The content of the chunk message."
              },
              "reasoning_content": {
                "type": "string",
                "description": "The reasoning content in the assistant message, preceding the final answer."
              },
              "tool_calls": {
                "type": "array",
                "description": "After a function call is initiated, the model returns the tools to be called along with the parameters required.",
                "items": {
                  "type": "object",
                  "properties": {
                    "index": {
                      "type": "integer",
                      "description": "The index of the tool call in the tool_calls list, starting from 0."
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the tool call."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "function"
                      ],
                      "description": "The type of the tool. Currently only function is supported."
                    },
                    "function": {
                      "type": "object",
                      "description": "The function being called.",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name of the function to call."
                        },
                        "arguments": {
                          "type": "string",
                          "description": "The arguments to call the function with, generated by the model as a JSON string."
                        }
                      }
                    }
                  }
                }
              },
              "annotations": {
                "type": "array",
                "description": "After web search, the model returns annotations for all cited URLs.",
                "items": {
                  "$ref": "#/components/schemas/Annotation"
                }
              },
              "error_message": {
                "type": "string",
                "description": "Error message for the web search chain."
              },
              "audio": {
                "$ref": "#/components/schemas/AudioResponse"
              },
              "final_text_preview": {
                "type": "string",
                "description": "The final text after intelligent optimization and polishing for audio broadcasting. Only returned when the request parameter optimize_text_preview is set to true."
              }
            }
          },
          "finish_reason": {
            "type": "string",
            "nullable": true,
            "description": "The reason the model stopped generating tokens. stop if the model reached a natural stop point or a provided stop sequence; length if the maximum number of tokens specified in the request was reached; tool_calls if the model called a tool; content_filter if the content was blocked due to a filtering policy; repetition_truncation if the model detected repetition."
          }
        }
      },
      "TextContentPart": {
        "type": "object",
        "title": "Text content part",
        "required": [
          "type",
          "text"
        ],
        "description": "A plain text content part within a message.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "The type of the content part, which is text."
          },
          "text": {
            "type": "string",
            "description": "The text content."
          }
        }
      },
      "TextContentPartArray": {
        "type": "array",
        "description": "An array of plain text content parts within a message.",
        "items": {
          "$ref": "#/components/schemas/TextContentPart"
        }
      },
      "ContentPartText": {
        "type": "object",
        "title": "Text content part",
        "required": [
          "type",
          "text"
        ],
        "description": "A plain text content part within a user message.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "The type of the content part, which is text."
          },
          "text": {
            "type": "string",
            "description": "The text content."
          }
        }
      },
      "ContentPartImage": {
        "type": "object",
        "title": "Image content part",
        "required": [
          "type",
          "image_url"
        ],
        "description": "An image content part within a user message.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "The type of the content part, which is image_url."
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "description": "The image URL. May be a public image URL or a Base64-encoded data URL.",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "A public image URL or a Base64-encoded data URL."
              },
              "detail": {
                "type": "string",
                "enum": [
                  "auto",
                  "low",
                  "high"
                ],
                "default": "auto",
                "description": "The level of effort spent processing the image. low uses low resolution; high uses high resolution; auto lets the model decide."
              }
            }
          }
        }
      },
      "ContentPartArray": {
        "type": "array",
        "description": "An array of content parts in a user message. May include text and images.",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/ContentPartText"
            },
            {
              "$ref": "#/components/schemas/ContentPartImage"
            }
          ]
        }
      },
      "DeveloperMessage": {
        "type": "object",
        "title": "Developer message",
        "required": [
          "role",
          "content"
        ],
        "description": "Developer message. Instructions provided by the developer that the model should follow, regardless of the messages sent by the user.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "developer"
            ],
            "description": "The role of the message author, which is developer."
          },
          "content": {
            "description": "The content of the developer message.",
            "oneOf": [
              {
                "type": "string",
                "description": "Plain text content."
              },
              {
                "$ref": "#/components/schemas/TextContentPartArray"
              }
            ]
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant, provided to the model to distinguish between participants of the same role."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Usage information for this chat completion request.",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Number of tokens used by the prompt."
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Number of tokens used by the model output."
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total number of tokens used in the request (prompt + completion)."
          },
          "completion_tokens_details": {
            "type": "object",
            "description": "Breakdown of tokens used in the completion.",
            "properties": {
              "reasoning_tokens": {
                "type": "integer",
                "description": "Number of tokens generated by the model for reasoning."
              }
            }
          },
          "prompt_tokens_details": {
            "type": "object",
            "description": "Breakdown of tokens used in the prompt.",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "Number of tokens that hit the cache."
              },
              "audio_tokens": {
                "type": "integer",
                "description": "Number of audio input tokens present in the prompt."
              },
              "image_tokens": {
                "type": "integer",
                "description": "Number of image input tokens present in the prompt."
              },
              "video_tokens": {
                "type": "integer",
                "description": "Number of video input tokens present in the prompt."
              }
            }
          },
          "web_search_usage": {
            "type": "object",
            "description": "Usage details for the web search API.",
            "properties": {
              "tool_usage": {
                "type": "integer",
                "description": "Number of web search API calls."
              },
              "page_usage": {
                "type": "integer",
                "description": "Number of web pages returned by the web search API."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error description."
          },
          "type": {
            "type": "string",
            "description": "Error type."
          },
          "param": {
            "type": "string",
            "description": "Associated field name."
          },
          "code": {
            "type": "string",
            "description": "Error code."
          }
        }
      }
    }
  }
}