{
  "openapi": "3.0.1",
  "info": {
    "title": "mimo-v2.5",
    "version": "1.0.0",
    "description": "MIMO Chat Completions documentation",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API server endpoint"
    }
  ],
  "tags": [
    {
      "name": "MIMO Chat",
      "description": "MIMO text chat"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "mimo-v2.5",
        "description": "Invoke MIMO chat completions capability",
        "operationId": "mimoChatCompletions_mimo_v2_5_en",
        "tags": [
          "MIMO Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "Basic Call": {
                  "summary": "Basic text chat",
                  "value": {
                    "model": "mimo-v2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are MiMo, an AI assistant developed by Xiaomi. Today is date: Tuesday, December 16, 2025. Your knowledge cutoff date is December 2024."
                      },
                      {
                        "role": "user",
                        "content": "please introduce yourself"
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "temperature": 1,
                    "top_p": 0.95,
                    "stream": false,
                    "stop": null,
                    "frequency_penalty": 0,
                    "presence_penalty": 0,
                    "thinking": {
                      "type": "disabled"
                    }
                  }
                },
                "Streaming Response": {
                  "summary": "Streaming chat response",
                  "value": {
                    "model": "mimo-v2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are MiMo, an AI assistant developed by Xiaomi. Today is date: Tuesday, December 16, 2025. Your knowledge cutoff date is December 2024."
                      },
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "please introduce yourself"
                          }
                        ]
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "stream": true
                  }
                },
                "Function Call": {
                  "summary": "Chat with function calling",
                  "value": {
                    "model": "mimo-v2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are MiMo, an AI assistant developed by Xiaomi. Today is date: Tuesday, December 16, 2025. Your knowledge cutoff date is December 2024."
                      },
                      {
                        "role": "user",
                        "content": "What is the weather like in Boston today?"
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_current_weather",
                          "description": "Get the current weather in a given location",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string",
                                "description": "The city and state, e.g. San Francisco, CA"
                              },
                              "unit": {
                                "type": "string",
                                "enum": [
                                  "celsius",
                                  "fahrenheit"
                                ]
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ],
                    "tool_choice": "auto"
                  }
                },
                "Web Search": {
                  "summary": "Chat with web search",
                  "value": {
                    "model": "mimo-v2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are MiMo, an AI assistant developed by Xiaomi. Today is date: Tuesday, December 16, 2025. Your knowledge cutoff date is December 2024."
                      },
                      {
                        "role": "user",
                        "content": "please introduce Jun Lei"
                      }
                    ],
                    "tools": [
                      {
                        "type": "web_search",
                        "max_keyword": 3,
                        "force_search": true,
                        "limit": 1,
                        "user_location": {
                          "type": "approximate",
                          "country": "China",
                          "region": "Hubei",
                          "city": "Wuhan"
                        }
                      }
                    ],
                    "max_completion_tokens": 1024,
                    "temperature": 1,
                    "top_p": 0.95,
                    "stream": false,
                    "stop": null,
                    "frequency_penalty": 0,
                    "presence_penalty": 0,
                    "thinking": {
                      "type": "disabled"
                    }
                  }
                },
                "Image Input": {
                  "summary": "Chat with image input",
                  "value": {
                    "model": "mimo-v2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are MiMo, an AI assistant developed by Xiaomi. Today is date: Tuesday, December 16, 2025. Your knowledge cutoff date is December 2024."
                      },
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://example-files.cnbj1.mi-fds.com/example-files/image/image_example.png"
                            }
                          },
                          {
                            "type": "text",
                            "text": "please describe the content of the image"
                          }
                        ]
                      }
                    ],
                    "max_completion_tokens": 1024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Returns JSON in non-streaming mode; returns an SSE event stream in streaming mode.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "Basic Call": {
                    "summary": "Non-streaming success response",
                    "value": {
                      "id": "8b51f9e0515949cb8207fbd35ea6ea5c",
                      "choices": [
                        {
                          "finish_reason": "stop",
                          "index": 0,
                          "message": {
                            "content": "Hello! I'm MiMo, Xiaomi's AI assistant created by the Xiaomi LLM-Core team. I'm here to chat, help answer questions, and assist with various tasks—whether it's providing information, brainstorming ideas, or just having a friendly conversation. Feel free to ask me anything, and I'll do my best to help! 😊",
                            "role": "assistant",
                            "tool_calls": null
                          }
                        }
                      ],
                      "created": 1776848906,
                      "model": "mimo-v2.5-pro",
                      "object": "chat.completion",
                      "usage": {
                        "completion_tokens": 72,
                        "prompt_tokens": 57,
                        "total_tokens": 129,
                        "completion_tokens_details": {
                          "reasoning_tokens": 0
                        },
                        "prompt_tokens_details": null
                      }
                    }
                  },
                  "Function Call": {
                    "summary": "Function calling response",
                    "value": {
                      "id": "8778784df68043e39a2df03258ddeaa5",
                      "choices": [
                        {
                          "finish_reason": "tool_calls",
                          "index": 0,
                          "message": {
                            "content": "",
                            "role": "assistant",
                            "tool_calls": [
                              {
                                "id": "call_b837e211b7764dab9b56f4d8",
                                "function": {
                                  "arguments": "{\"location\": \"Boston, MA\", \"unit\": \"celsius\"}",
                                  "name": "get_current_weather"
                                },
                                "type": "function"
                              }
                            ],
                            "reasoning_content": "The user is asking about the current weather in Boston. I should use the get_current_weather function to get this information. Boston could refer to Boston, MA. I'll call the function with location \"Boston, MA\" and use celsius as the unit since that's more commonly used in many places, but actually the user didn't specify a unit. Looking at the function parameters, I can choose celsius or fahrenheit. Since Boston is in the US, maybe fahrenheit would be more appropriate? Actually, I should just pick a default or ask. But the instructions say not to ask about optional parameters if there are defaults. There's no default specified in the schema, so I should choose one. I'll go with celsius as it's more standard internationally. Let me call the function."
                          }
                        }
                      ],
                      "created": 1776849125,
                      "model": "mimo-v2.5-pro",
                      "object": "chat.completion",
                      "usage": {
                        "completion_tokens": 196,
                        "prompt_tokens": 349,
                        "total_tokens": 545,
                        "completion_tokens_details": {
                          "reasoning_tokens": 161
                        },
                        "prompt_tokens_details": null
                      }
                    }
                  },
                  "Web Search": {
                    "summary": "Web search response",
                    "value": {
                      "id": "828d5db56ff748d8b4623d1972c8eca2",
                      "choices": [
                        {
                          "finish_reason": "stop",
                          "index": 0,
                          "message": {
                            "content": "Based on the search results, here is an introduction to Jun Lei (Lei Jun):\n\nJun Lei, also known as Lei Jun, is a renowned Chinese entrepreneur and technology industry leader. He has accumulated 30 years of entrepreneurial experience in the science and technology sector, making him a representative figure of China's internet and a well-known entrepreneur.\n\nLei Jun was born in 1969 in Xiantao, Hubei Province. He began his entrepreneurial journey early, participating in the founding of Kingsoft (Jinshan Software) in 1992 and later serving as its CEO in 1998. That same year, he also founded Excellence Network (Zhuoyue Wang). After Kingsoft went public in 2007, he stepped down as President and CEO to take on the role of Vice Chairman.\n\nIn the following years, Lei Jun actively engaged as an angel investor, backing numerous innovative enterprises such as Fanke Chengpin (Vancl), Duowan, and Youshi Technology (UCWeb). A pivotal moment came on April 6, 2010, when he decided to embark on a new venture, establishing Xiaomi Company. The first Xiaomi smartphone was officially released on August 16, 2011.\n\nFurthermore, Lei Jun returned to Kingsoft in July 2011 to oversee its online games and antivirus software divisions, and he officially assumed the position of Chairman of Kingsoft on July 11, 2011. His career also includes involvement in investment cases for companies like Shuiyang Shares, Edianyun, Yaoshibang, Cheche, and others.",
                            "role": "assistant",
                            "annotations": [
                              {
                                "type": "url_citation",
                                "url": "https://en.shunwei.com/team",
                                "title": "Team – Shunwei",
                                "summary": "Jun LEI Founding Partner & Chairman Mr. Lei Jun, with 30 years of entrepreneurial experience in the science and technology industry, is a representative of China's Internet and a well-known entrepreneShe has been involved in investment cases such as Shuiyang Shares (SZ:300740), Edianyun (HK:02416), Yaoshibang (HK:09885), Cheche, Shansong, Royal Xiaohu, Yangteng Innovation, Zhiketong, Yinghe, Chaya",
                                "site_name": "en.shunwei.com",
                                "publish_time": "2024-10-26T07:37:04+08:00",
                                "logo_url": "https://th.bochaai.com/favicon?domain_url=https://en.shunwei.com/team"
                              },
                              {
                                "type": "url_citation",
                                "url": "https://max.book118.com/html/2023/0519/7145010064005110.shtm",
                                "title": "小米公司介绍-20230519110336.pptx-原创力文档",
                                "summary": "小米公司介绍第1页/共25页小米创始人:雷军Millet founder: Lei Jun1969年出生于湖北仙桃,于1992年参与创办金山软件,1998年出任金山软件CEO,1998年创办了卓越网。1969 born in Hubei Xiantao, in 1992, and participated in the founding of Kingsoft, 1998 served as CEO of golden hill software. In 1998 founded the network of excellence.2007年,金山软件上市后,雷军卸任金山软件总裁兼CEO职务,担任副董事长。2007, Kingsoft listing, Kingsoft chairman and CEO Lei Juns office, served as vice chairman.之后几年,雷军作为天使投资人,投资了凡客诚品、多玩、优视科技等多家创新型企业。After a few years, Lei Jun as an angel investor, invested more, Eslite, superior technology and a number of innovative enterprises.2010年4月6日,雷军选择重新创业,建立了小米公司,并于2011年8月16日正式发布小米手机。In April 6, 2010, Lei choose to venture, a millet company, and officially released millet mobile phone in August 16, 2011.2011年7月,雷军重返金山执掌网游与毒霸;2011年7月11日,正式担任金山软件董事长。July 2011, Lei Ju",
                                "site_name": "原创力文档",
                                "publish_time": "2023-05-23T19:49:37+08:00",
                                "logo_url": "https://th.bochaai.com/favicon?domain_url=https://max.book118.com/html/2023/0519/7145010064005110.shtm"
                              }
                            ],
                            "tool_calls": null
                          }
                        }
                      ],
                      "created": 1776849240,
                      "model": "mimo-v2.5-pro",
                      "object": "chat.completion",
                      "usage": {
                        "completion_tokens": 387,
                        "prompt_tokens": 1222,
                        "total_tokens": 1609,
                        "completion_tokens_details": {
                          "reasoning_tokens": 0
                        },
                        "prompt_tokens_details": null,
                        "web_search_usage": {
                          "tool_usage": 3,
                          "page_usage": 2
                        }
                      }
                    }
                  },
                  "Image Input": {
                    "summary": "Image input response",
                    "value": {
                      "id": "e27ffa1d3e31434daa71d6b6a83f6e38",
                      "choices": [
                        {
                          "finish_reason": "length",
                          "index": 0,
                          "message": {
                            "content": "Based on the image provided, here is a detailed description of the content:\n\n**Overall Atmosphere**\nThe image depicts a serene, magical, and lush forest scene. It has an ethereal quality, likely enhanced by digital art techniques or AI generation, characterized",
                            "role": "assistant",
                            "tool_calls": null,
                            "reasoning_content": "Here's a thinking process that leads to the description:\n\n1.  **Analyze the Request:**\n*   **Input:** An image of a forest scene with a stream, sunlight, and trees.\n*   **Task:** Describe the content of the image.\n\n2.  **Initial Impression & Overall Mood:**\n*   The image depicts a serene, magical, and lush forest.\n*   The lighting is dramatic, with sunbeams filtering through the canopy.\n*   There's a sense of tranquility and nature in its undisturbed state.\n*   The style looks somewhat photorealistic but possibly enhanced or AI-generated due to the perfect lighting and composition.\n\n3.  **Break Down Visual Elements:**\n\n*   **Foreground:**\n*   *Left side:* Large, detailed ferns. They are vibrant green and look wet or dewy.\n*   *Bottom center/right:* A stream or small river flowing towards the viewer.\n*   *Water:* The water is clear but reflects the light, creating a shimmering effect. It flows over smooth, moss-covered rocks.\n*   *Rocks:* Several large, rounded stones are visible in the immediate foreground, covered in thick green moss.\n\n*   **Mid-ground:**\n*   *Trees:* Massive, ancient-looking trees with thick, gnarled trunks and exposed roots. The bark is textured and dark.\n*   *Vegetation:* More ferns, bushes, and mossy ground cover lining the banks of the stream.\n*   *Stream path:* The stream winds back into the forest, guiding the eye.\n\n*   **Background:**\n*   *Forest density:* The trees become denser and fade into a misty or foggy atmosphere.\n*   *Lighting:* This is the most striking feature. \"God rays\" or crepuscular rays are streaming down from the upper center/right, cutting through the mist and illuminating the scene.\n*   *Particles:* There are tiny specks floating in the light beams, looking like dust motes, pollen, or perhaps magical sparkles/fireflies.\n\n4.  **Structure the Description:**\n*   **Introduction:** General summary of the scene (misty forest, stream, sunlight).\n*   **The Lighting (Key Feature):** Describe the sunbeams and atmosphere.\n*   **The Vegetation (Flora):** Mention the ferns, moss, and ancient trees.\n*   **The Water (Hydrography):** Describe the stream, rocks, and reflections.\n*   **Composition/Atmosphere:** Conclude with the overall feeling (peaceful, ethereal).\n\n5.  **Drafting the Description (Iterative refinement):**\n\n*   *Draft 1 (Mental):* It's a forest with a river. Big trees on the sides. Sun is shining down in beams. There are ferns in the front left. The rocks are mossy. It looks magical.\n\n*   *Draft 2 (More detail):* A lush forest scene. A stream flows through the center over mossy rocks. On the left, there are large ferns. The trees are old with twisted branches. The sun is breaking through the canopy, creating bright rays of light. There is mist in the background. It looks like a fantasy setting.\n\n*   *Draft 3 (Polished & Descriptive - closer to final output):*\n*   Start with the atmosphere: \"This image depicts a serene and enchanting forest scene...\"\n*   Focus on the light: \"...dominated by dramatic shafts of sunlight (god rays) filtering through the dense canopy...\"\n*   Describe the water: \"A gentle stream flows through the center, winding over smooth, moss-covered stones...\"\n*   Describe the plants: \"Lush vegetation is everywhere, particularly large, detailed ferns in the foreground on the left...\"\n*   Describe the trees: \"Ancient trees with thick, gnarled trunks and exposed roots frame the scene...\"\n\n6.  **Final Polish (Reviewing against the image):**\n*   *Check:* Did I mention the moss? Yes.\n*   *Check:* Did I mention the floating particles? Yes, add that detail about the \"sparkles\" or dust motes.\n*   *Check:* Is the perspective correct? Yes, low angle looking up the stream.\n\n7.  **Final Output Generation:** (This matches the provided good response.)\n*   \"The image displays a breathtaking, ethereal forest scene...\"\n*   Break it down by lighting, vegetation, and water.\n*   Mention the color palette (greens, browns, golden light).\n\n8.  **Formatting:** Use bullet points or paragraphs for readability. (I will use a mix of general description and specific details)."
                          }
                        }
                      ],
                      "created": 1776849330,
                      "model": "mimo-v2.5",
                      "object": "chat.completion",
                      "usage": {
                        "completion_tokens": 1024,
                        "prompt_tokens": 1085,
                        "total_tokens": 2109,
                        "completion_tokens_details": {
                          "reasoning_tokens": 971
                        },
                        "prompt_tokens_details": {
                          "cached_tokens": 5,
                          "image_tokens": 1024
                        }
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE data stream. Each `data:` event can be parsed as a DeepSeek/OpenAI-compatible Chat Completions Chunk; the stream typically ends with `data: [DONE]`. When `stream_options.include_usage=true` is set, an additional chunk with `usage` is returned before the end."
                },
                "examples": {
                  "Streaming Response": {
                    "summary": "Streaming response with SSE events",
                    "value": "data: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"object\":\"chat.completion.chunk\",\"created\":1776849042,\"model\":\"mimo-v2.5-pro\",\"choices\":[{\"index\":0,\"delta\":{\"role\":\"assistant\",\"content\":\"\",\"reasoning_content\":null,\"tool_calls\":null},\"logprobs\":null,\"finish_reason\":null,\"matched_stop\":null}],\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[{\"delta\":{\"content\":null,\"role\":null,\"tool_calls\":null,\"reasoning_content\":\"Okay, the user\"},\"finish_reason\":null,\"index\":0}],\"created\":1776849042,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[{\"delta\":{\"content\":null,\"role\":null,\"tool_calls\":null,\"reasoning_content\":\" is asking\"},\"finish_reason\":null,\"index\":0}],\"created\":1776849042,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[{\"delta\":{\"content\":null,\"role\":null,\"tool_calls\":null,\"reasoning_content\":\" me\"},\"finish_reason\":null,\"index\":0}],\"created\":1776849042,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":null}\n\n...\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[{\"delta\":{\"content\":\"'m ready\",\"role\":null,\"tool_calls\":null,\"reasoning_content\":null},\"finish_reason\":null,\"index\":0}],\"created\":1776849044,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[{\"delta\":{\"content\":\" to help!\",\"role\":null,\"tool_calls\":null,\"reasoning_content\":null},\"finish_reason\":null,\"index\":0}],\"created\":1776849044,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"object\":\"chat.completion.chunk\",\"created\":1776849044,\"model\":\"mimo-v2.5-pro\",\"choices\":[{\"index\":0,\"delta\":{\"role\":null,\"content\":null,\"reasoning_content\":null,\"tool_calls\":null},\"logprobs\":null,\"finish_reason\":\"stop\",\"matched_stop\":151645}],\"usage\":null}\n\ndata: {\"id\":\"7ccecae1cc6445f395e0d41c85115663\",\"choices\":[],\"created\":1776849044,\"model\":\"mimo-v2.5-pro\",\"object\":\"chat.completion.chunk\",\"usage\":{\"completion_tokens\":123,\"prompt_tokens\":55,\"total_tokens\":178,\"completion_tokens_details\":{\"reasoning_tokens\":71},\"prompt_tokens_details\":null}}\n\ndata: [DONE]"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Parameter error",
                    "value": {
                      "error": {
                        "message": "messages is required",
                        "type": "invalid_request_error",
                        "param": "messages",
                        "code": "bad_request_body"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, e.g. missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "message": "Invalid token",
                        "type": "api_error",
                        "code": "access_denied",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit triggered or insufficient account quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "Insufficient quota or rate limited",
                    "value": {
                      "error": {
                        "message": "Insufficient account quota, please retry later",
                        "type": "api_error",
                        "code": "insufficient_user_quota",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal processing failure",
                    "value": {
                      "error": {
                        "message": "Internal processing failed, please retry later",
                        "type": "api_error",
                        "code": "gen_relay_info_failed",
                        "param": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "Pass `Authorization: Bearer <token>` in the request header."
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "description": "MIMO chat completions request body.",
        "properties": {
          "model": {
            "type": "string",
            "description": "Model ID to use",
            "enum": [
              "mimo-v2.5"
            ],
            "example": "mimo-v2.5"
          },
          "messages": {
            "type": "array",
            "description": "A list of messages comprising the conversation so far.",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "frequency_penalty": {
            "type": "number",
            "nullable": true,
            "default": 0,
            "minimum": -2,
            "maximum": 2,
            "description": "A value between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, reducing the model's likelihood of repeating the same content."
          },
          "max_completion_tokens": {
            "type": "integer",
            "nullable": true,
            "description": "The upper limit of tokens that can be generated in the chat completion, including visible output tokens and reasoning tokens. Default is 32768 for mimo-v2.5. Range: [1, 131072]"
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "stop": {
            "description": "Up to 4 sequences where the API will stop generating further tokens when any of them is encountered. The returned text will not contain the stop sequences.",
            "nullable": true,
            "default": null,
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "maxItems": 4
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "If set to true, the model's response data will be streamed to the client via SSE (server-sent events) during generation."
          },
          "thinking": {
            "$ref": "#/components/schemas/ThinkingConfig"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1.5,
            "default": 1,
            "description": "Sampling temperature to use, between 0 and 1.5. Higher values (e.g., 0.8) make the output more random, while lower values (e.g., 0.2) make it more focused and deterministic. We generally recommend altering this or top_p but not both. In thinking mode, mimo-v2.5-pro and mimo-v2.5 do not support custom temperature. Even if passed, the model will force the recommended default value of 1.0."
          },
          "tool_choice": {
            "$ref": "#/components/schemas/ToolChoice"
          },
          "top_p": {
            "type": "number",
            "default": 0.95,
            "minimum": 0.01,
            "maximum": 1,
            "description": "Probability threshold for nucleus sampling, controlling the diversity of text generation. Higher top_p values produce more diverse text; lower values produce more deterministic text. Since both temperature and top_p control text diversity, it is recommended to adjust only one of them. In thinking mode, mimo-v2.5-pro and mimo-v2.5 do not support custom top_p. Even if passed, the model will force the recommended default value of 0.95."
          },
          "tools": {
            "type": "array",
            "description": "A list of tools the model may call. Currently, both function tools and web_search tools are supported. Note: In multi-round tool calls under thinking mode, the model returns the reasoning_content field along with tool_calls. To continue the conversation, it is recommended to retain all historical reasoning_content in the messages array of each subsequent request for optimal performance.",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            }
          }
        }
      },
      "Message": {
        "description": "A single message in the conversation. Depending on the role, it is divided into five message types: developer, system, user, assistant, and tool.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/DeveloperMessage"
          },
          {
            "$ref": "#/components/schemas/SystemMessage"
          },
          {
            "$ref": "#/components/schemas/UserMessage"
          },
          {
            "$ref": "#/components/schemas/AssistantRequestMessage"
          },
          {
            "$ref": "#/components/schemas/ToolMessage"
          }
        ]
      },
      "SystemMessage": {
        "title": "System message",
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "System message. The role of this message is system.",
        "properties": {
          "content": {
            "description": "The content of the system message.",
            "oneOf": [
              {
                "type": "string",
                "description": "Plain text content."
              },
              {
                "$ref": "#/components/schemas/TextContentPartArray"
              }
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "system"
            ],
            "description": "The role of the message author, which is system."
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant, provided to the model to distinguish between participants of the same role."
          }
        }
      },
      "UserMessage": {
        "title": "User message",
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "description": "User message. The role of this message is user.",
        "properties": {
          "content": {
            "description": "The content of the user message.",
            "oneOf": [
              {
                "type": "string",
                "description": "Plain text content."
              },
              {
                "$ref": "#/components/schemas/ContentPartArray"
              }
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "The role of the message author, which is user."
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant, provided to the model to distinguish between participants of the same role."
          }
        }
      },
      "AssistantRequestMessage": {
        "title": "Assistant message",
        "type": "object",
        "required": [
          "role"
        ],
        "description": "Assistant message. The role of this message is assistant.",
        "properties": {
          "content": {
            "description": "The content of the assistant message.",
            "oneOf": [
              {
                "type": "string",
                "nullable": true,
                "description": "Plain text content."
              },
              {
                "$ref": "#/components/schemas/TextContentPartArray"
              }
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ],
            "description": "The role of the message author, which is assistant."
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant, provided to the model to distinguish between participants of the same role."
          },
          "prefix": {
            "type": "boolean",
            "description": "(Beta) Set this to true to force the model to start its response with the prefix content provided in this assistant message."
          },
          "reasoning_content": {
            "type": "string",
            "nullable": true,
            "description": "(Beta) Used in thinking mode under conversation prefix continuation, as input for the last assistant chain-of-thought content. When using this feature, the prefix parameter must be set to true."
          }
        }
      },
      "ToolMessage": {
        "title": "Tool message",
        "type": "object",
        "required": [
          "role",
          "content",
          "tool_call_id"
        ],
        "description": "Tool message. The role of this message is tool.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "tool"
            ],
            "description": "The role of the message author, which is tool."
          },
          "content": {
            "type": "string",
            "description": "The content of the tool message."
          },
          "tool_call_id": {
            "type": "string",
            "description": "The ID of the tool call that this message is responding to."
          }
        }
      },
      "ThinkingConfig": {
        "type": "object",
        "description": "Controls whether the model enables chain-of-thought (thinking) mode. Note: In multi-round tool calls under thinking mode, the model returns the reasoning_content field along with tool_calls. To continue the conversation, it is recommended to retain all historical reasoning_content in the messages array of each subsequent request for optimal performance. In thinking mode, mimo-v2.5-pro and mimo-v2.5 do not support custom temperature and top_p parameters. Even if passed, the model will force the recommended default values of 1.0 and 0.95 respectively.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "default": "enabled",
            "description": "Whether to enable chain-of-thought. For mimo-v2.5-pro and mimo-v2.5, the default value is enabled. Allowed values: enabled, disabled"
          }
        }
      },
      "StreamOptions": {
        "type": "object",
        "description": "Options for streaming output. This parameter can only be set when the stream parameter is true.",
        "properties": {
          "include_usage": {
            "type": "boolean",
            "description": "If set to true, an additional chunk will be transmitted just before the final `data: [DONE]` in the stream. The usage field on this chunk shows the token usage statistics for the entire request, while the choices field will always be an empty array. All other chunks will also include a usage field, but its value will be null."
          }
        }
      },
      "ToolDefinition": {
        "oneOf": [
          {
            "type": "object",
            "title": "Function tool",
            "required": [
              "type",
              "function"
            ],
            "description": "Function tool definition.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "function"
                ],
                "description": "The type of the tool. Currently function is supported."
              },
              "function": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the function to call. Must consist of a-z, A-Z, 0-9 characters, or include underscores (_) and hyphens (-), with a maximum length of 64 characters."
                  },
                  "description": {
                    "type": "string",
                    "description": "A description of what the function does, used by the model to understand when and how to call it."
                  },
                  "parameters": {
                    "type": "object",
                    "description": "The input parameters of the function, described as a JSON Schema object. Omitting parameters defines a function with an empty parameter list.",
                    "additionalProperties": true
                  },
                  "strict": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to enable strict schema adherence when generating function calls. If set to true, the model will strictly follow the exact schema defined in the parameters field. When strict is true, only a subset of JSON Schema is supported."
                  }
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/WebSearchTool"
          }
        ]
      },
      "WebSearchUserLocation": {
        "type": "object",
        "required": [
          "type",
          "country"
        ],
        "description": "User geographical location for optimizing model output.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "approximate"
            ],
            "description": "Location type, must be approximate."
          },
          "country": {
            "type": "string",
            "description": "Country"
          },
          "region": {
            "type": "string",
            "description": "Region/State"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "district": {
            "type": "string",
            "description": "District"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude"
          }
        }
      },
      "WebSearchTool": {
        "type": "object",
        "required": [
          "type"
        ],
        "description": "Web search tool object. For details, please refer to Web Search documentation. Note: The web search plugin must be enabled before use.",
        "properties": {
          "user_location": {
            "$ref": "#/components/schemas/WebSearchUserLocation"
          },
          "type": {
            "type": "string",
            "enum": [
              "web_search"
            ],
            "description": "The type of the tool. Must be web_search."
          },
          "force_search": {
            "type": "string",
            "default": "false",
            "description": "Whether to force search. true forces search, false lets the model decide whether search is needed."
          },
          "max_keyword": {
            "type": "integer",
            "default": 5,
            "minimum": 1,
            "maximum": 50,
            "description": "Limits the maximum number of keywords that can be used in a single search turn."
          },
          "limit": {
            "type": "integer",
            "default": 5,
            "minimum": 1,
            "maximum": 50,
            "description": "Limits the maximum number of results returned per single search operation."
          }
        },
        "title": "Web search tool"
      },
      "ToolChoice": {
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "auto"
            ]
          }
        ],
        "description": "Controls how the model selects tools. Note: When tool_choice is set to a non-auto value, the backend will remove this field by default, and the model's response behavior will still be equivalent to auto mode (this logic may be subject to adjustment). Allowed values: auto"
      },
      "ResponseFormat": {
        "type": "object",
        "description": "An object specifying the format that the model must output.",
        "oneOf": [
          {
            "type": "object",
            "title": "Text",
            "description": "Default response format. Used for generating text responses.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text"
                ],
                "description": "The type of response format. Must be text."
              }
            },
            "required": [
              "type"
            ]
          },
          {
            "type": "object",
            "title": "JSON object",
            "description": "JSON object response format. Note: The model will not output JSON formatted content unless instructed to generate JSON in the system or user messages.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "json_object"
                ],
                "description": "The type of response format. Must be json_object."
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "ToolCallMessage": {
        "type": "object",
        "required": [
          "id",
          "type",
          "function"
        ],
        "description": "Tool call object within a message.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the tool call."
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "The type of the tool. Currently only function is supported."
          },
          "function": {
            "type": "object",
            "description": "The function the model called.",
            "required": [
              "name",
              "arguments"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the function the model called."
              },
              "arguments": {
                "type": "string",
                "description": "The arguments to call the function with, generated by the model as a JSON string. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined in your function schema. Validate these arguments in your code before calling the function."
              }
            }
          }
        }
      },
      "Annotation": {
        "type": "object",
        "description": "Annotations returned by web search, containing citation URLs.",
        "properties": {
          "logo_url": {
            "type": "string",
            "description": "Logo URL."
          },
          "publish_time": {
            "type": "string",
            "description": "Publish time."
          },
          "site_name": {
            "type": "string",
            "description": "Website name."
          },
          "summary": {
            "type": "string",
            "description": "Summary."
          },
          "title": {
            "type": "string",
            "description": "Title."
          },
          "type": {
            "type": "string",
            "description": "Type."
          },
          "url": {
            "type": "string",
            "description": "URL."
          }
        }
      },
      "AudioResponse": {
        "type": "object",
        "description": "If audio output is requested, this object contains data about the model's audio response.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this audio response."
          },
          "data": {
            "type": "string",
            "description": "Base64-encoded audio generated by the model, in the format specified in the request."
          },
          "expires_at": {
            "type": "number",
            "nullable": true,
            "description": "Unix timestamp (in seconds) when this audio response expires. Currently null."
          },
          "transcript": {
            "type": "string",
            "nullable": true,
            "description": "Transcript of the generated audio. Currently null."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "Chat response object (non-streaming).",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "object": {
            "type": "string",
            "description": "The type of the object, which is chat.completion."
          },
          "created": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) when the chat completion was created."
          },
          "model": {
            "type": "string",
            "description": "The name of the model that generated the completion."
          },
          "choices": {
            "type": "array",
            "description": "A list of completions generated by the model.",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ChatCompletionChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "The index of this completion in the list of choices."
          },
          "message": {
            "$ref": "#/components/schemas/AssistantResponseMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "The reason the model stopped generating tokens. stop if the model reached a natural stop point or a provided stop sequence; length if the maximum number of tokens specified in the request was reached; tool_calls if the model called a tool; content_filter if the content was blocked due to a filtering policy; repetition_truncation if the model detected repetition."
          }
        }
      },
      "AssistantResponseMessage": {
        "type": "object",
        "description": "The chat completion message generated by the model.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ],
            "description": "The role of the message author."
          },
          "content": {
            "type": "string",
            "description": "The content of the message."
          },
          "reasoning_content": {
            "type": "string",
            "description": "The reasoning content in the assistant message, preceding the final answer."
          },
          "tool_calls": {
            "type": "array",
            "description": "After a function call is initiated, the model returns the tools to be called along with the parameters required. This parameter may contain one or more tool response objects.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ToolCallMessage"
                }
              ]
            }
          },
          "annotations": {
            "type": "array",
            "description": "After web search, the model returns annotations for all cited URLs.",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            }
          },
          "error_message": {
            "type": "string",
            "description": "Error message for web search."
          },
          "audio": {
            "$ref": "#/components/schemas/AudioResponse"
          },
          "final_text_preview": {
            "type": "string",
            "description": "The final text after intelligent optimization and polishing for audio broadcasting. Only returned when the request parameter optimize_text_preview is set to true."
          }
        }
      },
      "ChatCompletionChunkChoice": {
        "type": "object",
        "description": "Chat response chunk object (streaming).",
        "properties": {
          "index": {
            "type": "integer",
            "description": "The index of this completion in the list of choices."
          },
          "delta": {
            "type": "object",
            "description": "The chat completion delta generated by the model in streaming mode.",
            "properties": {
              "role": {
                "type": "string",
                "enum": [
                  "assistant"
                ],
                "description": "The role of the message author."
              },
              "content": {
                "type": "string",
                "description": "The content of the chunk message."
              },
              "reasoning_content": {
                "type": "string",
                "description": "The reasoning content in the assistant message, preceding the final answer."
              },
              "tool_calls": {
                "type": "array",
                "description": "After a function call is initiated, the model returns the tools to be called along with the parameters required.",
                "items": {
                  "type": "object",
                  "properties": {
                    "index": {
                      "type": "integer",
                      "description": "The index of the tool call in the tool_calls list, starting from 0."
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the tool call."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "function"
                      ],
                      "description": "The type of the tool. Currently only function is supported."
                    },
                    "function": {
                      "type": "object",
                      "description": "The function being called.",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name of the function to call."
                        },
                        "arguments": {
                          "type": "string",
                          "description": "The arguments to call the function with, generated by the model as a JSON string."
                        }
                      }
                    }
                  }
                }
              },
              "annotations": {
                "type": "array",
                "description": "After web search, the model returns annotations for all cited URLs.",
                "items": {
                  "$ref": "#/components/schemas/Annotation"
                }
              },
              "error_message": {
                "type": "string",
                "description": "Error message for the web search chain."
              },
              "audio": {
                "$ref": "#/components/schemas/AudioResponse"
              },
              "final_text_preview": {
                "type": "string",
                "description": "The final text after intelligent optimization and polishing for audio broadcasting. Only returned when the request parameter optimize_text_preview is set to true."
              }
            }
          },
          "finish_reason": {
            "type": "string",
            "nullable": true,
            "description": "The reason the model stopped generating tokens. stop if the model reached a natural stop point or a provided stop sequence; length if the maximum number of tokens specified in the request was reached; tool_calls if the model called a tool; content_filter if the content was blocked due to a filtering policy; repetition_truncation if the model detected repetition."
          }
        }
      },
      "TextContentPart": {
        "type": "object",
        "title": "Text content part",
        "required": [
          "type",
          "text"
        ],
        "description": "A plain text content part within a message.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "The type of the content part, which is text."
          },
          "text": {
            "type": "string",
            "description": "The text content."
          }
        }
      },
      "TextContentPartArray": {
        "type": "array",
        "description": "An array of plain text content parts within a message.",
        "items": {
          "$ref": "#/components/schemas/TextContentPart"
        }
      },
      "ContentPartText": {
        "type": "object",
        "title": "Text content part",
        "required": [
          "type",
          "text"
        ],
        "description": "A plain text content part within a user message.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "The type of the content part, which is text."
          },
          "text": {
            "type": "string",
            "description": "The text content."
          }
        }
      },
      "ContentPartImage": {
        "type": "object",
        "title": "Image content part",
        "required": [
          "type",
          "image_url"
        ],
        "description": "An image content part within a user message.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "The type of the content part, which is image_url."
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "description": "The image URL. May be a public image URL or a Base64-encoded data URL.",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "A public image URL or a Base64-encoded data URL."
              },
              "detail": {
                "type": "string",
                "enum": [
                  "auto",
                  "low",
                  "high"
                ],
                "default": "auto",
                "description": "The level of effort spent processing the image. low uses low resolution; high uses high resolution; auto lets the model decide."
              }
            }
          }
        }
      },
      "ContentPartArray": {
        "type": "array",
        "description": "An array of content parts in a user message. May include text and images.",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/ContentPartText"
            },
            {
              "$ref": "#/components/schemas/ContentPartImage"
            }
          ]
        }
      },
      "DeveloperMessage": {
        "type": "object",
        "title": "Developer message",
        "required": [
          "role",
          "content"
        ],
        "description": "Developer message. Instructions provided by the developer that the model should follow, regardless of the messages sent by the user.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "developer"
            ],
            "description": "The role of the message author, which is developer."
          },
          "content": {
            "description": "The content of the developer message.",
            "oneOf": [
              {
                "type": "string",
                "description": "Plain text content."
              },
              {
                "$ref": "#/components/schemas/TextContentPartArray"
              }
            ]
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant, provided to the model to distinguish between participants of the same role."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Usage information for this chat completion request.",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Number of tokens used by the prompt."
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Number of tokens used by the model output."
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total number of tokens used in the request (prompt + completion)."
          },
          "completion_tokens_details": {
            "type": "object",
            "description": "Breakdown of tokens used in the completion.",
            "properties": {
              "reasoning_tokens": {
                "type": "integer",
                "description": "Number of tokens generated by the model for reasoning."
              }
            }
          },
          "prompt_tokens_details": {
            "type": "object",
            "description": "Breakdown of tokens used in the prompt.",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "Number of tokens that hit the cache."
              },
              "audio_tokens": {
                "type": "integer",
                "description": "Number of audio input tokens present in the prompt."
              },
              "image_tokens": {
                "type": "integer",
                "description": "Number of image input tokens present in the prompt."
              },
              "video_tokens": {
                "type": "integer",
                "description": "Number of video input tokens present in the prompt."
              }
            }
          },
          "web_search_usage": {
            "type": "object",
            "description": "Usage details for the web search API.",
            "properties": {
              "tool_usage": {
                "type": "integer",
                "description": "Number of web search API calls."
              },
              "page_usage": {
                "type": "integer",
                "description": "Number of web pages returned by the web search API."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error description."
          },
          "type": {
            "type": "string",
            "description": "Error type."
          },
          "param": {
            "type": "string",
            "description": "Associated field name."
          },
          "code": {
            "type": "string",
            "description": "Error code."
          }
        }
      }
    }
  }
}